Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Update subnets for saas-l-p-amd64
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6592df5696874dc8b19b3e8da5e3dd6b3b8769f3
Due: none

feat(deps): update dependency thanos-io/thanos to v0.37.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency google-cloud-compute to v1.9.0
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update dependency google-cloud-storage to v1.54.0
  Gemfile.lock
Due: none

chore(deps): update docker docker tag to v27.4.0
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.32.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Add security scan SLI
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/sast-service.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-sli-aggregations.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  7011230b41b10b6daaf1075f9be56c72a3b6d620
Due: none

feat(deps): update terraform monorepo to v1.10.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.69.2
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(clickhouse): Add metrics-catalog definition for ClickHouse Cloud
  dashboards/clickhouse/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/clickhouse-cloud.jsonnet
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-component-aggregation.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-saturation-alerts.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-saturation-metadata.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-saturation.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-sli-aggregations.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-component-aggregation.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-saturation-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-saturation-metadata.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-saturation.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-sli-aggregations.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Add clickhouse to service-dependencies for GL web
  metrics-catalog/services/web.jsonnet
Due: none

Notes added by 'git notes add'
  b3a191f44ce47aa07aa70572be29c79166b7f4fc
Due: none

Add IDE-specific troubleshooting tips to Duo Chat Runbook
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

rename postgres02 dashboard
  dashboards/postgres-ai/NEW_postgres_ai_02.json
Due: none

Update file deploy.md
  docs/security-patching/linux-os/systems/deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make linter happy
  dashboards/postgres-ai/NEW_postgres_ai_02.json
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update PrimaryDatabaseCPUSaturation alert
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
Due: none

fix: fix confidence ratios for regional aggregations
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/websockets/autogenerated-gitlab-gprd-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/websockets/autogenerated-gitlab-gprd-websockets-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/websockets/autogenerated-gitlab-gstg-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/websockets/autogenerated-gitlab-gstg-websockets-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/websockets/autogenerated-gitlab-pre-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/websockets/autogenerated-gitlab-pre-websockets-service-level-alerts.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-regional_component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

noting ownership change to IT 2024
  docs/uncategorized/domain-registration.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make the linter happy and train me to not leave trailing whitespace
  docs/uncategorized/domain-registration.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  d9453c88edf511c414a2346ce34afad928d09375
Due: none

feat: Tune GET-Hybrid GraphQL alerts
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: markdownlint, validate-kibana-urls

Update health check link
  docs/duo/triage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add pg_table_size alerts
  libsonnet/alerts/pg-table-sizes-alerts.libsonnet
Due: test-periodic-queries

Add runbook for the rails middleware path traversal
  docs/web/rails-middleware-path-traversal.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update README file
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Make linters happy
  docs/web/README.md
  docs/web/rails-middleware-path-traversal.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: make update-feature-categories
  dashboards/product/gitlab_dedicated_error_budget.dashboard.jsonnet
  dashboards/product/gitlab_delivery_error_budget.dashboard.jsonnet
  dashboards/product/platforms_error_budget.dashboard.jsonnet
  dashboards/product/production_engineer_error_budget.dashboard.jsonnet
  dashboards/stage-groups/build.dashboard.jsonnet
  dashboards/stage-groups/delivery.dashboard.jsonnet
  dashboards/stage-groups/deploy.dashboard.jsonnet
  dashboards/stage-groups/development_analytics.dashboard.jsonnet
  dashboards/stage-groups/distribution_build.dashboard.jsonnet
  dashboards/stage-groups/distribution_deploy.dashboard.jsonnet
  dashboards/stage-groups/environment_automation.dashboard.jsonnet
  dashboards/stage-groups/foundations.dashboard.jsonnet
  dashboards/stage-groups/framework.dashboard.jsonnet
  dashboards/stage-groups/observability.dashboard.jsonnet
  dashboards/stage-groups/ops.dashboard.jsonnet
  dashboards/stage-groups/release.dashboard.jsonnet
  dashboards/stage-groups/runway.dashboard.jsonnet
  dashboards/stage-groups/scalability.dashboard.jsonnet
  dashboards/stage-groups/self_managed.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
Due: validate-service-mappings, check-stage-groups, validate-alerts

Notes added by 'git notes add'
  c331af881ca02f95bc0f47b65a22ad79d928f6ce
Due: none

Notes added by 'git notes add'
  933e7d2ef44f3912fd748e3f3f1f33a290e95963
Due: none

feat: Adding black box to SLI library
  metrics-catalog/gitlab-slis/library.libsonnet
Due: none

feat: Associating black box to web service
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
