Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Adding a missing path to Vault admin doc
  docs/vault/administration.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: use unified sli registry in dashboards
  metrics-catalog/gitlab-metrics-config.libsonnet
Due: none

fix: Update template to include screenshots
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6f/2fcbc22ec1f878b328efa75fee6a60c6568ce9
Due: none

Update playbook template to include team that owns the service
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Temporarily make monthly release status pick from the latest time
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  80/ddcff4655d0a84b27652e98c46b1b2d026d821
Due: none

Add alert definition section to alert playbook template
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add links to playbook definitions to playbook template
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Actions to Overview section of Alert Playbook Template
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: giving consul a feature flag
  reference-architectures/get-hybrid/src/services/all.jsonnet
Due: none

feat: add Reference Architecture monitoring of gitlab-sshd
  reference-architectures/README.md
  reference-architectures/default-overrides/gitlab-metrics-options.libsonnet
  reference-architectures/get-hybrid/src/services/gitlab-shell.jsonnet
Due: markdownlint, validate-kibana-urls

Update file daily-slas.queries.jsonnet
  periodic-queries/daily-slas.queries.jsonnet
Due: none

update recording rules to match monitor label
  libsonnet/recording-rules/sla-rules.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sla-target.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sla-target.yml
  periodic-queries/daily-slas.queries.jsonnet
Due: test-periodic-queries

adjust thanos rule
  thanos-rules/autogenerated-sla-target.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: allow overriding gitlab-metrics-config for application SLIs
  libsonnet/gitlab-slis/sli-definition.libsonnet
  libsonnet/gitlab-slis/sli-definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_definition_test.jsonnet
  metrics-catalog/gitlab-slis/aggregation-sets.libsonnet
  rules-jsonnet/application-slis.jsonnet
  thanos-rules-jsonnet/aggregation-set-recording-rules.jsonnet
Due: test-periodic-queries

chore: configure selective registry for regional key metrics
  thanos-rules-jsonnet/globally-evaluated-regional-key-metrics.jsonnet
Due: none

chore: make prometheus rule group generator respect config
  libsonnet/recording-rules/service-key-metrics-rule-files.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
Due: test-periodic-queries

fix: make combined metrics respect configured config
  libsonnet/servicemetrics/combined.libsonnet
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-feature_category-aggregation.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  e6/415b3295c11a7b8a09e300d617bb232eb2856b
Due: none

Add secret detection scanner metric
  metrics-catalog/services/secret-detection-scanner.jsonnet
Due: none

feat: add confidence intervals for SLO analysis
  dashboards/alerts/slo_analysis.shared.jsonnet
  dashboards/test-dashboard.sh
  jsonnetfile.json
  jsonnetfile.lock.json
  libsonnet/wilson-score/wilson-score.libsonnet
  libsonnet/wilson-score/wilson-score_test.jsonnet
  metrics-catalog/mimir-aggregation-sets.libsonnet
Due: test-periodic-queries

Add design of runner's networking archiecture v3
  docs/ci-runners/designs/linux/networking-architecture-v3.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  fc/3f2dd5882c7c78f83e920660ade03253eb6a03
Due: none

Add a new runbook for GKE CA rotation
  docs/api/README.md
  docs/console/README.md
  docs/kube/README.md
  docs/kube/kube-administration.md
  docs/ops-gitlab-net/README.md
  docs/vault/README.md
  docs/version/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix some typos and formatting issues in the Kube CA rotation runbook
  docs/kube/kube-administration.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Replace legacy Thanos links
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/gitlab.tmpl
Due: test-docker-image

Notes added by 'git notes add'
  1e/686282cbceff8c15ac3622e0c08cda1dc7f8a8
Due: none

adding consul validate to options
  libsonnet/reference-architecture-options/validate.libsonnet
Due: test-periodic-queries

fix: rucobop offenses
  scripts/registry_search.rb
  scripts/sidekiq/sq.rb
  scripts/storage_audit.rb
  scripts/storage_project_selector.rb
  scripts/storage_rebalance.rb
  scripts/storage_revert.rb
  scripts/storage_verifier.rb
  scripts/uploads_cleanup.rb
  scripts/validate-alerts
  spec/helpers/jsonnet_test_helper.rb
  spec/registry_search_spec.rb
  spec/storage_rebalance_spec.rb
  spec/storage_revert_spec.rb
  spec/uploads_cleanup_spec.rb
Due: rubocop, rspec

fix: read file encoded as UTF-8
  scripts/generate_grafana_datasource_id.rb
Due: rubocop, rspec

Notes added by 'git notes add'
  f3/014487ce03317adde3c1acb87e015e5a821250
Due: none

Add timeseries for new tunnel timeout metrics
  dashboards/kas/ci-tunnel.dashboard.jsonnet
Due: none

Potential tweaks for severity and escalation sections.
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency webmock to v3.23.1
  Gemfile.lock
Due: none

feat(deps): update dependency hashicorp/terraform to v1.8.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.8.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image
