Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Add product analytics alert channel
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

remove metamonitoring tenant dir until rules are added
  mimir-rules/metamonitoring/.gitkeep
Due: none

Update feature categories to 2024-01-24
  dashboards/product/engineering_product_error_budget.dashboard.jsonnet
  dashboards/product/unlisted_stage_error_budget.dashboard.jsonnet
  dashboards/stage-groups/contributor_success.dashboard.jsonnet
  dashboards/stage-groups/engineering_analytics.dashboard.jsonnet
  dashboards/stage-groups/engineering_productivity.dashboard.jsonnet
  dashboards/stage-groups/gdk.dashboard.jsonnet
  dashboards/stage-groups/infrastructure.dashboard.jsonnet
  dashboards/stage-groups/quality.dashboard.jsonnet
  dashboards/stage-groups/technical_writing.dashboard.jsonnet
  dashboards/stage-groups/ux_paper_cuts.dashboard.jsonnet
  lib/sync_dashboards.rb
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
Due: rubocop, validate-service-mappings, check-stage-groups, rspec, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Minor fixes to the Consul server upgrade documentation
  docs/consul/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Add InfraSec team for the alerts
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

chore: adding team to route the alert
  rules/wiz-runtime-sensor.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

fix: Missing spec to cover stage error budget dashboard with long name
  spec/fixtures/stage-group-mapping-fixtures.jsonnet
  spec/update_stage_error_budget_dashboards_spec.rb
Due: rubocop, rspec

chore: enable deploying mimir rules on changes
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  6a/92550e3dbe50fadaf001f00f724256ee9960b8
Due: none

Generate service dependencies based on request rates
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  scripts/generate-service-dependencies.jsonnet
  scripts/validate_services_dependencies.rb
Due: rubocop, rspec, test-periodic-queries

Run jsonnet compile in ruby script
  scripts/validate_services_dependencies.rb
Due: rubocop, rspec

temp
  scripts/validate_services_dependencies.rb
Due: rubocop, rspec

temp
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  scripts/validate_services_dependencies.rb
Due: rubocop, rspec, test-periodic-queries

Adds service catalog entry for mailgun
  dashboards/mailgun/main.dashboard.jsonnet
  docs/mailgun/README.md
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/mailgun.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-service-slos.yml
  rules/autogenerated-key-metrics-mailgun.yml
  rules/autogenerated-saturation.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-service-level-alerts-mailgun-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-mailgun-ops.yml
  thanos-rules/autogenerated-service-level-alerts-mailgun-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: remove marquee customer dashboard
  dashboards/marquee/customer.dashboard.jsonnet
Due: none

Update thresholds for code suggestions
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-service-slos.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

temp
  scripts/generate-service-dependencies.jsonnet
  scripts/generate_service_sli_dependencies.rb
  services/service_slis_with_emitted_by.json
Due: rubocop, validate-service-mappings, rspec, validate-alerts

Increase tolerated threshold for generations
  metrics-catalog/services/ai-gateway.jsonnet
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fixes env filter for mailgun
  dashboards/mailgun/main.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  d9/f3a35d3eaeecd0b6dfe9530e0ab501b0e61f1e
Due: none

chore: add runway_ingress to ignored components for code_creation
  services/teams.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Update the hostname for packages.pre.gke.gitlab.net
  docs/packagecloud/infrastructure.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add watcher for table that need locking
  elastic/managed-objects/log_gprd/watches/table_locks_needed.jsonnet
Due: update-elastic-watches:log-gprd

Change link
  elastic/managed-objects/log_gprd/watches/table_locks_needed.jsonnet
Due: update-elastic-watches:log-gprd

chore(deps): update docker docker tag to v25.0.2
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.18.2
  .pre-commit-config.yaml
Due: none

feat(deps): update dependency hashicorp/vault to v1.15.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.7.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.15.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency markdownlint-cli to v0.39.0
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e1/a70c4456e352f09cf7b66f99606ce0247aa5af
Due: none

Notes added by 'git notes add'
  90/a90703c3be76d78a67112e4db07d8976533351
Due: none

chore(mimir): Add recording rules for subnet sizes
  libsonnet/recording-rules/subnet-sizes.libsonnet
  mimir-rules-jsonnet/subnet-sizes.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-subnet-sizes.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-subnet-sizes.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-subnet-sizes.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-subnet-sizes.yml
  thanos-rules-jsonnet/subnet-sizes.jsonnet
Due: test-periodic-queries

Make `supportsDetails` hidden
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
Due: test-periodic-queries

Add the entry for istio.jsonnet to all.jsonnet
  dashboards/istio/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/istio.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/istio/autogenerated-gitlab-gprd-gprd-istio-kube-state-metrics.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/istio/autogenerated-gitlab-gstg-gstg-istio-kube-state-metrics.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-service-slos.yml
  mimir-rules/gitlab-ops/ops/istio/autogenerated-gitlab-ops-ops-istio-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-service-slos.yml
  mimir-rules/gitlab-pre/pre/istio/autogenerated-gitlab-pre-pre-istio-kube-state-metrics.yml
  rules/autogenerated-key-metrics-istio.yml
  rules/autogenerated-kube-state-metrics-recording-rules.yml
  rules/autogenerated-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-istio-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-istio-ops.yml
  thanos-rules/autogenerated-service-level-alerts-istio-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(mimir): Add rules for ignored components
  libsonnet/recording-rules/stage-group-ignored-components.libsonnet
  mimir-rules-jsonnet/stage-group-ignored-components.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-stage-group-ignored-components.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-stage-group-ignored-components.yml
  thanos-rules-jsonnet/stage-group-ignored-components.jsonnet
Due: test-periodic-queries

chore: Address shellcheck issues
  scripts/generate-jsonnet-rules.sh
Due: none

Implement regexpEscape method
  libsonnet/utils/strings.libsonnet
  libsonnet/utils/strings_test.jsonnet
Due: test-periodic-queries

Call regexpEscape while normalizing eq selector
  libsonnet/servicemetrics/sli_metric_descriptor.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
Due: test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
