Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Notes added by 'git notes add'
  b66ad05125e1f59035e76f6b26894e91f108941b
Due: none

Notes added by 'git notes add'
  e6c84834556a50940852c97f2ecaac54cc5dc852
Due: none

Notes added by 'git notes add'
  379055b87f51f324cdcf60273f5fc5665130b572
Due: none

Notes added by 'git notes add'
  ca9bc0c272ab95a39d0ef3e986015c20740a5a90
Due: none

Make the note on okta user id more obvious
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make linter happy
  dashboards/postgres-ai/[NEW][postgres.ai][03]-Postgres-single-query performance-analysis.json
Due: none

make linter happy
  dashboards/postgres-ai/NEW_postgres.ai_03-Postgres-single-query performance-analysis.json
Due: none

make linter happy
  dashboards/postgres-ai/EW_postgres.ai_03-Postgres-single-query-performance-analysis.json
Due: none

make linter happy
  dashboards/postgres-ai/NEW_postgres_ai_03-Postgres-single-query-performance-analysis.json
Due: none

make linter happy
  dashboards/postgres-ai/NEW_postgres_ai_03.json
Due: none

Notes added by 'git notes add'
  737e2bd81b82aea698cfcc172a64b57eeba98614
Due: none

Update dahsboard link
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update README.md
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add gameday schedule for FY26 and FY27
  docs/disaster-recovery/gameday-schedule.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add included teams and gameday types
  docs/disaster-recovery/gameday-schedule.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Run make generate
  docs/gitaly/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
  docs/runway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(sentry): Update docs with admin access and removing exceptions.
  docs/sentry/sentry.md
  docs/vault/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  218da72d92e513af7cd56342f9b75903a65f66e7
Due: none

burstable machines
  docs/uncategorized/snowplow/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove unused Sentry Kafka SLI
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

chore: silence sast-service false positive alerts
  metrics-catalog/services/sast-service.jsonnet
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-service-level-alerts.yml
Due: none

feat(sentry): Add apdex for events and also redis details.
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

Notes added by 'git notes add'
  eabead4839e139bdde75a51bc97904453acdacb8
Due: none

Update slack channel for authorization team
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Add pg_table_size saturation monitoring
  libsonnet/saturation-monitoring/pg_table_size.libsonnet
Due: test-periodic-queries

fix: use env instead of environment labels in sidekiq alerts
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  15e82c97a1b6b6cf27684fe222e5e758730ba6fa
Due: none

Update patching runbooks
  docs/security-patching/linux-os/linux-os-patching.md
  docs/security-patching/linux-os/systems/bastions.md
  docs/security-patching/linux-os/systems/haproxy.md
  docs/security-patching/linux-os/systems/runner-managers.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add registry background migrations doc
  docs/registry/background-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Extend utilization metrics for PG tables
  metrics-catalog/utilization/pg_table_size.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-utilization.yml
  mimir-rules/gitlab-gprd/patroni-embedding/autogenerated-gitlab-gprd-patroni-embedding-utilization.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-utilization.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-utilization.yml
  mimir-rules/gitlab-gprd/postgres-archive/autogenerated-gitlab-gprd-postgres-archive-utilization.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-utilization.yml
  mimir-rules/gitlab-gstg/patroni-embedding/autogenerated-gitlab-gstg-patroni-embedding-utilization.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-utilization.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-utilization.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-utilization.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-utilization.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-utilization.yml
Due: none

Add auto generated docs
  docs/registry/README.md
  docs/sentry/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
