Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Add pointer to postgres pg_stat_activity logs in the long running transaction runbook.
  docs/patroni/alerts/PatroniLongRunningTransactionsDetected.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency mixlib-shellout to v3.3.4
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat(deps): update dependency prometheus/prometheus to v2.55.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency json to v2.8.1
  Gemfile.lock
Due: none

chore(deps): update python docker tag to v3.13
  .gitlab-ci.yml
Due: test-docker-image

fix: ChefClientError alert description
  mimir-rules/gitlab-gprd/chefs.yml
  mimir-rules/gitlab-gstg/chefs.yml
Due: none

Notes added by 'git notes add'
  16d111734d77d2ef5ecebeacb4cca001cc14a9fa
Due: none

Notes added by 'git notes add'
  ab578393b0fd7233efb2586a60f559be0904f287
Due: none

chore(deps): update ruby-version-patch to v3.3.6
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

feat: remove shellcheck and shfmt from the Docker image
  .gitlab-ci.yml
  Dockerfile
Due: test-docker-image

feat(deps): update dependency go to v1.23.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

Notes added by 'git notes add'
  05e45e3b5e00dbfc451dacb6ab9a1cf89c0c68bc
Due: none

Notes added by 'git notes add'
  8ce1d0ef9575f5ed8f05f573f3aacc1b1089f564
Due: none

chore(deps): update dependency rubocop to v1.68.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

Downgrade Python image to 3.12
  .gitlab-ci.yml
  requirements.txt
Due: test-docker-image

feat(deps): update dependency shfmt to v3.10
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  e1ea88dea9ce7559583344c06ae4949e50db133b
Due: none

Add new offenses to be looked at but pass rubocop job
  .rubocop_todo.yml
Due: none

Ignore rubocop Style/HashSyntax offense
  .rubocop_todo.yml
Due: none

Updates service catalog for Practices re-org
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, test-periodic-queries

docs(http-router): add the sentry information in the logging.md
  docs/http-router/logging.md
  docs/sentry/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix typo
  docs/http-router/logging.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: fix tests after ruby upgrade
  spec/update_stage_groups_feature_categories_spec.rb
Due: rubocop, rspec

feat: separate postgres memory saturation monitoring
  libsonnet/saturation-monitoring/memory.libsonnet
  libsonnet/saturation-monitoring/pg_memory.libsonnet
  metrics-catalog/saturation/all.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni-embedding/autogenerated-gitlab-gprd-patroni-embedding-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-embedding/autogenerated-gitlab-gprd-patroni-embedding-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-embedding/autogenerated-gitlab-gprd-patroni-embedding-saturation.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni-embedding/autogenerated-gitlab-gstg-patroni-embedding-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-embedding/autogenerated-gitlab-gstg-patroni-embedding-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-embedding/autogenerated-gitlab-gstg-patroni-embedding-saturation.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  388f16b8ddcb4b25f9dad26f69748ae665a656d1
Due: none

Add spamcheck to the service catalog
  docs/spamcheck/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/spamcheck.jsonnet
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-component-aggregation.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-saturation-alerts.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-saturation-metadata.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-saturation.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-service-anomaly-detection-alerts.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-service-level-alerts.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-service_anomaly_detection.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-sli-aggregations.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-spamcheck-service-slos.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-transformed-service-aggregation.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
  services/teams.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Updates from make generate
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-service-anomaly-detection-alerts.yml
  mimir-rules/runway/spamcheck/autogenerated-runway-spamcheck-service_anomaly_detection.yml
Due: none

Run make generate
  dashboards/spamcheck/main.dashboard.jsonnet
  docs/spamcheck/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  8c7abf022d62da5822d8d3820b7cb4375667f3b7
Due: none

Update file code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
  docs/runway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update sidekiq queueing SLI log links
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/elasticlinkbuilder/elasticsearch_links_test.jsonnet
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
Due: test-periodic-queries

Update the Cloudflare logging runbook to use the existing external tables instead of loading data manually
  docs/cloudflare/logging.md
  docs/cloudflare/schema-http.json
  scripts/cloudflare_logs.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  f65f0201c8a9bf24fe98cd287775b759a07eadfe
Due: none

feat(CI Runners): document CIDR for migrating the private shard to a new network ref: https://gitlab.com/gitlab-com/gl-infra/scalability/-/issues/3868
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add rootly alertmanager route for gstg
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none

Notes added by 'git notes add'
  6ee87555057d8321d58c879750d5f8d61308728b
Due: none

feat(logging): Update admin access docs for Elastic.
  docs/elastic/README.md
  docs/elastic/img/elasticcloud.png
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Lint.
  docs/elastic/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  b03837dc8c20bb29abdde067a77e7b4d433f5f0c
Due: none

Revert "Merge branch 'sshah/rootly-connect' into 'master'"
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none
