Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat: add pam docs for runway
  docs/console/README.md
  docs/runway/README.md
  docs/runway/privileged_access_management.md
  docs/search/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file README.md
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add entry for avoid_exposing_member_is_using_seat
  docs/frontend/grouo-members-page-time-out.md
Due: markdownlint, validate-kibana-urls, validate-alerts

lint
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix lint errors
  docs/frontend/grouo-members-page-time-out.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Remove the settings error message.
  .mise.toml
Due: none

Modify ai-gateway inference and selector match
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

fix the following regex expression
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

fix: autogenerated mimir rules changed
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-feature_category-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-regional_component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-sli-aggregations.yml
Due: none

Add background text
  docs/runway/privileged_access_management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update NAT Gateway PORT allocation alert
  libsonnet/saturation-monitoring/nat_gateway_port_allocation.libsonnet
  mimir-rules/gitlab-gprd/nat/autogenerated-gitlab-gprd-nat-saturation-alerts.yml
  mimir-rules/gitlab-gprd/nat/autogenerated-gitlab-gprd-nat-saturation.yml
  mimir-rules/gitlab-gstg/nat/autogenerated-gitlab-gstg-nat-saturation-alerts.yml
  mimir-rules/gitlab-gstg/nat/autogenerated-gitlab-gstg-nat-saturation.yml
Due: test-periodic-queries

chore: add "who can escalate" section
  docs/runway/privileged_access_management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: remove whitespace
  docs/runway/privileged_access_management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: editorconfig pre-commit what
  .editorconfig
Due: none

Fix sidekiq stackprof profiling instructions for sidekiq-cluster
  docs/uncategorized/ruby-profiling.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  1ab3b98ebfb556012ff553496b72cb75dfb74859
Due: none

Add note on resolving kafka exporter errors to product analytics SSL runbook
  docs/product_analytics/ssl-troubleshooting.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add logging links to http-router
  docs/http-router/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  3162fbbc3ad15d32b1a30cce4168f3d11372ea24
Due: none

Notes added by 'git notes add'
  e02244c0bc10c53a1c126182dddd54f01ffbf6b6
Due: none

fix: handle missing files when iterating over wildcard
  elastic/managed-objects/lib/update-scripts-functions.sh
Due: none

Notes added by 'git notes add'
  181f7f3bd366ef314f7ece995966a683fe62b7ec
Due: none

Notes added by 'git notes add'
  345a2168a33da2e1681ae31a4e62baccdbb3adcb
Due: none

feat: add runway job dashboard
  dashboards/runway/job.dashboard.jsonnet
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

fix: Disabling the catch all case for ci-runners
  metrics-catalog/services/ci-runners.jsonnet
Due: none

chore: protect rate limiting WIP dashboard
  dashboards/protected-grafana-dashboards.jsonnet
Due: none

Notes added by 'git notes add'
  0f3e1542c59a85340c16d408d2c11eb980dc1de2
Due: none

Linux patching
  docs/security-patching/linux-os/img/gke-update.png
  docs/security-patching/linux-os/linux-os-patching.md
  docs/security-patching/linux-os/systems/bastions.md
  docs/security-patching/linux-os/systems/console.md
  docs/security-patching/linux-os/systems/deploy.md
  docs/security-patching/linux-os/systems/gitaly.md
  docs/security-patching/linux-os/systems/gke.md
  docs/security-patching/linux-os/systems/haproxy.md
  docs/security-patching/linux-os/systems/patroni.md
  docs/security-patching/linux-os/systems/pgbouncer.md
  docs/security-patching/linux-os/systems/redis.md
  docs/security-patching/linux-os/systems/runner-managers.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update pipeline security slack channels
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat: adjust metrics with regex expressions for v1/v2 chat agent
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-feature_category-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-regional_component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

kas: use git_ref instead of version
  dashboards/kas/misc.dashboard.jsonnet
Due: none

Support specifying color mode for heatmaps
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

Support specifying color scheme for heatmaps
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

kas: use spectrum color mode for better visibility
  dashboards/kas/ci-tunnel.dashboard.jsonnet
  dashboards/kas/misc.dashboard.jsonnet
Due: none

kas: add Redis I/O batch size heatmap
  dashboards/kas/ci-tunnel.dashboard.jsonnet
Due: none

fix: force update for gprd elastic watches
  elastic/managed-objects/log_gprd/watches/sidekiq_db_ci_duration_p95.jsonnet
  elastic/managed-objects/log_gprd/watches/sidekiq_db_main_duration_p95.jsonnet
Due: update-elastic-watches:log-gprd

chore(deps): update docker docker tag to v27.2.1
  .gitlab-ci.yml
Due: test-docker-image

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
