Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(saturation): Add kube_container_throttling
  libsonnet/saturation-monitoring/kube_container_throttling.libsonnet
  metrics-catalog/saturation/all.libsonnet
  rules/autogenerated-saturation.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  6b/540764c0d4f603d9185b0bef724c0c963265bc
Due: none

Update Gitaly service owner to reflect current setup
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: Reverts erroneous change to ref arch generation script
  scripts/generate-reference-architecture-config.sh
Due: none

Notes added by 'git notes add'
  a7/97a5c84e252d0ee58314c5ca57267a1c10f751
Due: none

chore: add osquery and wiz dashboard to execption list
  dashboards/protected-grafana-dashboards.jsonnet
Due: none

Add Wiz Sensor OOM Alert
  rules/wiz-runtime-sensor.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

fix: yaml lint errors
  rules/wiz-runtime-sensor.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Add contact person for gitaly service
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Mimir filenames as namespace
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files.libsonnet
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files_test.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-service-slos.yml
Due: test-periodic-queries

Update YubiKey README
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Implement review feedback, remove labels and add deprecation warning
  docs/cloudflare/managing-traffic.md
Due: markdownlint, validate-kibana-urls, validate-alerts

lint fixes
  docs/cloudflare/managing-traffic.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/api/README.md
  docs/logging/README.md
  docs/waf/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/logging/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Adds docker tag for default branch
  .gitlab-ci.yml
  README.md
Due: test-docker-image, markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  44/9a98728f01fe6fef6395311139d5abaffcb930
Due: none

chore(deps): update docker docker tag to v25.0.1
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency terraform to v1.7.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency google-cloud-storage to v1.48.1
  Gemfile.lock
Due: none

fix: Enable bloat metrics to be consumed by RDS
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/src/services/aws-rds.jsonnet
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  ee/262ec2d533d8ec854a6e08b16c2b38a53a7233
Due: none

Notes added by 'git notes add'
  1f/e51f0a2aa6c59cf0a8d1181fb30a41d5816327
Due: none

Add guidance on CustomerDot DB access
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  92/b64ee68e0aa7bb1745f600d3c0f0bc91c715c0
Due: none

remove trailing whitespace
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: set generated attribute for autogenerated files
  .gitattributes
Due: none

chore: clean up selector for redis-cluster-shared-state
  metrics-catalog/services/redis-cluster-shared-state.jsonnet
  rules/autogenerated-key-metrics-redis-cluster-shared-state.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-shared-state-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-shared-state-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-shared-state-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  5b/c3e37b6b3319a1c853ad3debbc7ab5d691ec2c
Due: none

chore: document where the alertmanager secrets are
  alertmanager/README.md
Due: markdownlint, validate-kibana-urls

Fixed a typo at the end of the file
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.5.0
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency thanos-io/thanos to v0.34.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  b9/1034c73541c2f7230c8bc22169a0effe05c1fe
Due: none

docs: Improve instrutions on using the YubiKey for commit signing.
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: Fix indentation so Markdown handles nested lists correctly.
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
