Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

update cells docs related to rollbacks
  docs/cells/README.md
  docs/cells/auto-deploy.md
  docs/git/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update PatroniScrapeFailure alert runbook
  docs/patroni/alerts/PatroniScrapeFailures.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add alert for failing prometheus scrapes against Patroni instances
  docs/patroni/alerts/PatroniScrapeFailures.md
  mimir-rules/gitlab-gprd/patroni/patroni.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Change LFK alert to rely on partition count over processed count
  mimir-rules/gitlab-gprd/loose-foreign-keys-queues.yml
Due: none

Notes added by 'git notes add'
  5c3c4f1dd2a22964332577866f24791816449da9
Due: none

chore(deps): update dependency rubocop to v1.69.2
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

adds docs on auto-deploy graduations in rings
  docs/cells/README.md
  docs/cells/auto-deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

mklint
  docs/cells/auto-deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update grafana/mimirtool docker tag to v2.15.0
  Dockerfile
Due: test-docker-image

Run generate
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency prometheus/prometheus to v3.1.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  52c29dcbd40e4296705040a76986076bfef86901
Due: none

Fix anchor name
  docs/web/rails-middleware-path-traversal.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: broken master
  .gitlab-ci.yml
  spec/jsonnet_test_helper_spec.rb
  spec/periodic_queries/query_spec.rb
Due: test-docker-image, rubocop, rspec

Notes added by 'git notes add'
  404fd1fd2009d47e531fd631f875387b9323725b
Due: none

fix: pager noise for HTTP Router CPU saturation
  libsonnet/saturation-monitoring/http_router_cpu.libsonnet
  mimir-rules/gitlab-ops/http-router/autogenerated-gitlab-ops-http-router-saturation-alerts.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  23baed1f521c4f2d51685b8373b0e7cba4f53206
Due: none

SLIs for User Journeys
  metrics-catalog/gitlab-slis/README.md
  metrics-catalog/gitlab-slis/black_box_sli_increments.png
  metrics-catalog/gitlab-slis/black_box_sli_initialized.png
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  16701107a62a178deb47f6a060e86a31e73f3dad
Due: none

Expose the `env` label to patroni scrape failure alerts
  mimir-rules/gitlab-gprd/patroni/patroni.yml
Due: none

Address comments regarding example MR and approval rules.
  docs/cells/auto-deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix whitespace
  docs/cells/auto-deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

markdown linter caught me yet again
  docs/cells/auto-deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(sla-dashboard): use the correct expansion for weighted panel
  dashboards/general/slas.dashboard.jsonnet
Due: none

fix(sla-dashboard): Add back template labels
  dashboards/general/slas.dashboard.jsonnet
Due: none

chore(sla-dashboard): remove slo_observation_status fallback
  dashboards/general/slas.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  cee34a84231ab1a215ca55f30f480b3eeedc18bb
Due: none

chore: Pointing user journey documentation to the o11y docs hub
  metrics-catalog/gitlab-slis/README.md
Due: markdownlint, validate-kibana-urls

docs: Add guidance on enabling Application rate limits in dry run mode
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update Chef troubleshooting documentation
  docs/config_management/chef-troubleshooting.md
Due: markdownlint, validate-kibana-urls, validate-alerts

New ASH dashboard
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

chore(deps): update dependency gitlab-dangerfiles to v4.8.1
  Gemfile.lock
Due: none

Transfer ownership of GCS
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix(runway): update runway redis archetype for tamland tracking
  libsonnet/service-archetypes/runway-redis-archetype.libsonnet
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation-alerts.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation-metadata.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation.yml
Due: test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
