Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore: update some slack channels after renames
  libsonnet/service-catalog/service-catalog_test.jsonnet
  libsonnet/service-catalog/stages_test.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, test-periodic-queries

Add registry DB load balancing alerts
  docs/registry/README.md
  docs/registry/alerts/ContainerRegistryDBLoadBalancerReplicaPoolSize.md
  docs/registry/alerts/PatroniRegistryServiceDnsLookupsApdexSLOViolation.md
  docs/registry/db-load-balancing.md
  libsonnet/alerts/registry-database-alerts.libsonnet
  metrics-catalog/services/patroni-registry.jsonnet
  mimir-rules-jsonnet/registry-alerts.jsonnet
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-component-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-patroni-registry-service-slos.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-registry-database-alerts.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-service-level-alerts.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-sli-aggregations.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-component-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-patroni-registry-service-slos.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-registry-database-alerts.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-service-level-alerts.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-sli-aggregations.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, test-periodic-queries

Improve registry DB LB docs
  docs/registry/db-load-balancing.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix generate
  docs/logging/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove cluster selector from registry DB detail dashboard
  dashboards/registry/database.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  7f5a5b313a10175301d2188339d69ff11e3431ff
Due: none

move the disable-http-router to its own file
  docs/atlantis/README.md
  docs/cloudflare/README.md
  docs/http-router/README.md
  docs/http-router/deployments.md
  docs/http-router/disable-http-router.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: use correct network naming. ref: https://gitlab.com/gitlab-org/gitlab/-/issues/501423
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6e5b1e7a338581b7b7d5beb01f070c004c11f510
Due: none

Notes added by 'git notes add'
  e3002a54b6cc0b65ddd9c6520d439ce9838f06cd
Due: none

Update Duo Chat runbook with staging instructions
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add options for overriding by shard
  dashboards/redis-runway-managed/main.dashboard.jsonnet
  metrics-catalog/services/redis-runway-managed.jsonnet
Due: none

Apply 1 suggestion(s) to 1 file(s)
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

feat: introduce a runway-redis-archetype
  libsonnet/service-archetypes/runway-redis-archetype.libsonnet
  metrics-catalog/services/redis-runway-managed.jsonnet
Due: test-periodic-queries

chore: add exception explanations for maturity level
  docs/redis-runway-managed/README.md
  metrics-catalog/services/redis-runway-managed.jsonnet
  metrics-catalog/services/redis-sidekiq.jsonnet
Due: markdownlint, validate-kibana-urls, validate-alerts

fixup! update tenant to runway
  dashboards/redis-runway-managed/main.dashboard.jsonnet
  docs/redis-runway-managed/README.md
  metrics-catalog/services/redis-runway-managed.jsonnet
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-component-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-redis-runway-managed-service-slos.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-service-level-alerts.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-sli-aggregations.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-component-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-component_shard-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-redis-runway-managed-service-slos.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-service-anomaly-detection-alerts.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-service-level-alerts.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-service_anomaly_detection.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-sli-aggregations.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-transformed-service-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-transformed-stage_groups-aggregation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

fix lint failures
  docs/redis-runway-managed/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

fix lint
  docs/redis-runway-managed/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Use auto-generated dashboard file
  dashboards/redis-runway-managed/main.dashboard.jsonnet
  dashboards/runway/redis.dashboard.jsonnet
Due: none

Define redis-runway-managed service and dashboard
  dashboards/redis-runway-managed/main.dashboard.jsonnet
  dashboards/runway/redis.dashboard.jsonnet
  docs/redis-runway-managed/README.md
  libsonnet/grafana/templates.libsonnet
  libsonnet/saturation-monitoring/open_fds.libsonnet
  libsonnet/saturation-monitoring/redis_memory.libsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/redis-runway-managed.jsonnet
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-component-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-redis-runway-managed-service-slos.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-service-level-alerts.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-sli-aggregations.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/redis-runway-managed/autogenerated-gitlab-gprd-redis-runway-managed-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-component-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-redis-runway-managed-service-slos.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-service-level-alerts.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-sli-aggregations.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/redis-runway-managed/autogenerated-gitlab-gstg-redis-runway-managed-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, test-periodic-queries

fix: ai-gateway server_code_completions noisy apdex
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

feat: add confidence ratios to regional_component aggregation
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/websockets/autogenerated-gitlab-gprd-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/websockets/autogenerated-gitlab-gprd-websockets-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/websockets/autogenerated-gitlab-gstg-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/websockets/autogenerated-gitlab-gstg-websockets-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/websockets/autogenerated-gitlab-pre-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/websockets/autogenerated-gitlab-pre-websockets-service-level-alerts.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-regional_component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

feat: create runway redis common graphs
  dashboards/redis-runway-managed/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/runway_redis_common_graphs.libsonnet
  libsonnet/saturation-monitoring/open_fds.libsonnet
  libsonnet/saturation-monitoring/redis_memory.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  491664305ceba1bcf721ab097bfbed1c033375e4
Due: none

Notes added by 'git notes add'
  a1b781182bdb3e6256d0157c80ba677794dd2635
Due: none

Adding Cells performance dashboard
  dashboards/cells/main.dashboard.jsonnet
Due: none

Fixing minor typo in section header
  README.md
Due: markdownlint, validate-kibana-urls

Change AI Sidekiq shard to urgent deployment
  metrics-catalog/services/lib/sidekiq-helpers.libsonnet
Due: none

Rename redis service and type to match actual example
  dashboards/example-basic-redis/main.dashboard.jsonnet
  docs/runway-redis-example/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/runway-redis-example.jsonnet
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-component-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-component_shard-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-example-basic-redis-service-slos.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-service-anomaly-detection-alerts.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-service-level-alerts.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-service_anomaly_detection.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-sli-aggregations.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-transformed-service-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-component-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-component_shard-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-service_anomaly_detection.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-transformed-service-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/redis-runway-managed/autogenerated-runway-redis-runway-managed-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

fix: set example service as non user impacting
  metrics-catalog/services/runway-redis-example.jsonnet
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-service-level-alerts.yml
Due: none

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.16.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

fix: standardize service name and type
  dashboards/runway-redis-example/main.dashboard.jsonnet
  metrics-catalog/services/runway-redis-example.jsonnet
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-component-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-component_shard-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-service_anomaly_detection.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-transformed-service-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/example-basic-redis/autogenerated-runway-example-basic-redis-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-component-aggregation.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-component_shard-aggregation.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-runway-redis-example-service-slos.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-service-anomaly-detection-alerts.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-service-level-alerts.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-service_anomaly_detection.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-sli-aggregations.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-transformed-service-aggregation.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: run make generate
  docs/runway-redis-example/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Improve duo chat runbook
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs(http-router): add information around the missing metrics
  docs/api/README.md
  docs/cloudflare/README.md
  docs/http-router/README.md
  docs/http-router/missing-metrics.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add ss for missing metrics and add links and notes for CF token
  docs/http-router/missing-metrics.md
  docs/http-router/missing_metrics.png
Due: markdownlint, validate-kibana-urls, validate-alerts

docs(teleport): update the teleport docs to workaround the ssh agent error
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  47936bb7be2adefeab2c832d1b34d48dc3bccdd5
Due: none

Add back reference architecture files
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
Due: none
