Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Support aggregating all source metrics
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/recording-rules/sli-recording-rule-set-generator.libsonnet
  libsonnet/servicemetrics/apdex/error_counter_apdex.libsonnet
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/apdex/success_counter.libsonnet
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/custom_rate_query.libsonnet
  libsonnet/servicemetrics/gauge_metric.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
  libsonnet/servicemetrics/recording-rule-registry.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
Due: test-periodic-queries

Add getMetricNamesAndLabels() to gauge metric
  libsonnet/servicemetrics/gauge_metric.libsonnet
Due: test-periodic-queries

Remove check for requestRate in SLI definition
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
Due: test-periodic-queries

Add check on supportsReflection on SLI metrics
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
Due: test-periodic-queries

Refactor to expose both metric names and labels
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition_test.jsonnet
Due: test-periodic-queries

Apply 2 suggestion(s) to 1 file(s)
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
Due: test-periodic-queries

Implement collectMetricNamesAndSelectors by unioning selectors to oneOf
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper_test.jsonnet
Due: test-periodic-queries

Support metricNamesAndLabels() for combined SLI definition
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
Due: test-periodic-queries

Add metricNamesAndSelectors() to combined SLI definition
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
Due: test-periodic-queries

Abstract out metrics methods to mixin
  libsonnet/servicemetrics/apdex/error_counter_apdex.libsonnet
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/apdex/success_counter.libsonnet
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/custom_rate_query.libsonnet
  libsonnet/servicemetrics/gauge_metric.libsonnet
  libsonnet/servicemetrics/metrics-mixin.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
Due: test-periodic-queries

Handle nested selector
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper_test.jsonnet
Due: test-periodic-queries

Revert changes for supporting aggregateAllSourceMetrics
  libsonnet/recording-rules/sli-recording-rule-set-generator.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  libsonnet/servicemetrics/recording-rule-registry.libsonnet
Due: test-periodic-queries

Refactor the APIs as its own object
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/metrics-mixin.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper_test.jsonnet
Due: test-periodic-queries

Merge labels only if they exist in both selectors
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper_test.jsonnet
Due: test-periodic-queries

Add package cloud monitoring and extra links
  docs/packagecloud/README.md
  docs/packagecloud/infrastructure.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix linter errors on pkg cloud readme
  docs/packagecloud/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix whitespace after list marker
  docs/packagecloud/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency bigdecimal to v3.1.6
  Gemfile.lock
Due: none

chore(deps): update dependency io-console to v0.7.2
  Gemfile.lock
Due: none

feat(deps): update dependency prometheus/prometheus to v2.49.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.7.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update docker docker tag to v25
  .gitlab-ci.yml
Due: test-docker-image

Remove catchall tenant for mimir-rules
  metrics-catalog/gitlab-metrics-config.libsonnet
  mimir-rules/gitlab-others/others/autogenerated-service-slos.yml
Due: none

Notes added by 'git notes add'
  2f/8518367296fc3acacb3913d125d26bac12d7f1
Due: none

Rename files and remove unused imports
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
Due: test-periodic-queries

Remove redundant config in editorconfig
  .editorconfig
Due: none

chore: adding mimirtool as a dependency
  .tool-versions
  scripts/install-asdf-plugins.sh
Due: test-docker-image

fix: missing CI env var
  .gitlab-ci-asdf-versions.yml
Due: test-docker-image

Notes added by 'git notes add'
  60/e3196854d59dccc1f6d239a3e4f6b52562468c
Due: none

feat: Add labeled container_cpu_cfs_throttled_seconds_total
  libsonnet/kube-state-metrics/recording-rules.libsonnet
  libsonnet/saturation-monitoring/kube_container_throttling.libsonnet
  mimir-rules/gprd/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/ops/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/other/autogenerated-kube-state-metrics-recording-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  rules/autogenerated-kube-state-metrics-recording-rules.yml
  thanos-rules/autogenerated-kube-state-metrics-recording-rules-gprd.yml
  thanos-rules/autogenerated-kube-state-metrics-recording-rules-ops.yml
  thanos-rules/autogenerated-kube-state-metrics-recording-rules-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Update Pages Certificate Information
  docs/certificates/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix make generate script
  scripts/generate-reference-architecture-config.sh
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.4.2
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency rubocop to v1.60.1
  Gemfile.lock
Due: none

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.12.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  76/3e15223f9788a797638c05fe8cef15351e397f
Due: none

Notes added by 'git notes add'
  78/3fc8e806063d30cfa0357a904668b680d9b34f
Due: none

Notes added by 'git notes add'
  e0/d011954d32121b87b3b2e2c51a6da214638786
Due: none

chore: Remove incorrect and unused saturation point
  libsonnet/saturation-monitoring/kube_container_throttling.libsonnet
Due: test-periodic-queries

fix(alerts): ai-gateway igress error ratio
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-service-slos.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
