Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Add gcp_quota_limit Alert Playbook
  docs/uncategorized/alerts/gcp_quota_limit.md
  docs/uncategorized/img/gcp_quota_limit-firing.png
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
Due: markdownlint, validate-kibana-urls, validate-alerts, test-periodic-queries

feat: Fix the alert for incident 18330.
  mimir-rules/gitlab-gprd/search/gitlab-com-search.yml
Due: none

Notes added by 'git notes add'
  3e/4d7cc77d89c3c0ae6edf1573cebf2fa06dcd3f
Due: none

Add CloudSQLDatabaseDown Alert Playbook
  docs/cloud-sql/alerts/CloudSQLDatabaseDown.md
  docs/cloud-sql/img/example_couldsqldatabase_down.png
  legacy-prometheus-rules/cloud_sql.yml
  mimir-rules/gitlab-ops/cloud_sql.yml
  mimir-rules/gitlab-pre/cloud_sql.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Add pgbouncer_single_core Alert Playbook
  docs/pgbouncer/alerts/pgbouncer_single_core.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Adds dashboard for monitoring psql upgrades
  dashboards/postgresql/pg-upgrade.dashboard.jsonnet
Due: none

Add Loki architecture diagram
  docs/loki/README.md
  docs/loki/loki-architecture.jpg
Due: markdownlint, validate-kibana-urls, validate-alerts

Update role name change for Connect_to_Rails_Console_via_Teleport.md
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add AlertmanagerNotificationsFailing Alert Playbook
  docs/monitoring/alerts/AlertmanagerNotificationsFailing.md
  mimir-rules/gitlab-ops/alertmanager.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Spelling correction in bypass-policy.md
  docs/rate-limiting/bypass-policy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency hashicorp/terraform to v1.9.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.9.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.22.2
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency rubocop to v1.65.0
  Gemfile.lock
Due: none

chore(deps): update docker docker tag to v27.1.1
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency node to v20.16.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.16.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  cd/c65b2634982886b48e55ee6c0f03208cd3c6b9
Due: none

Add parallel generate script
  Makefile
  scripts/ensure-mixtool.sh
  scripts/generate-jsonnet-rules.sh
  scripts/generate-reference-architecture-config.sh
  scripts/generate.sh
Due: none

chore: Update vault docs for reading access token in CI jobs
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add alerts for Registry notifications
  docs/registry/README.md
  docs/registry/webhook-notifications.md
  mimir-rules/gitlab-gprd/registry/registry-notifications.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Add alerts for staging as well
  mimir-rules/gitlab-gstg/registry/registry-notifications.yml
Due: none

Add custom TERM instructions
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add heatmap for ScanPipelineService execution duration
  dashboards/stage-groups/security_policies.dashboard.jsonnet
Due: none

Add secondary cache
  .gitlab-ci.yml
Due: test-docker-image

Add parallel API calls in generate script
  dashboards/generate-service-health-dashboards-metadata-json.sh
Due: none

Apply 4 suggestion(s) to 2 file(s)
  docs/registry/webhook-notifications.md
  mimir-rules/gitlab-gprd/registry/registry-notifications.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Address feedback from MR
  docs/registry/webhook-notifications.md
  mimir-rules/gitlab-gstg/registry/registry-notifications.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Generate readmes automatically
  docs/api/README.md
  docs/cloudflare/README.md
  docs/mimir/README.md
  docs/registry/README.md
  docs/sentry/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: remove the explicit datasource setting in the CI-runners runbook
  docs/ci-runners/ci-apdex-violating-slo.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Statically adding dimensions to gcp quota saturation points
  legacy-prometheus-rules/autogenerated-saturation.yml
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  mimir-rules/gitlab-gprd/monitoring/autogenerated-gitlab-gprd-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-gprd/monitoring/autogenerated-gitlab-gprd-monitoring-saturation.yml
  mimir-rules/gitlab-gstg/monitoring/autogenerated-gitlab-gstg-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-gstg/monitoring/autogenerated-gitlab-gstg-monitoring-saturation.yml
  mimir-rules/gitlab-ops/monitoring/autogenerated-gitlab-ops-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-ops/monitoring/autogenerated-gitlab-ops-monitoring-saturation.yml
  mimir-rules/gitlab-pre/monitoring/autogenerated-gitlab-pre-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-pre/monitoring/autogenerated-gitlab-pre-monitoring-saturation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-saturation.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

Notes added by 'git notes add'
  5f24df6ba1aee387ad8eba748b01f4e76e816eb5
Due: none

Add AiGatewayServiceRunwayIngressTrafficCessationRegional Alert Playbook
  docs/ai-gateway/README.md
  docs/ai-gateway/alerts/AiGatewayServiceRunwayIngressTrafficCessationRegional.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add GitalyServiceGoserverTrafficCessationSingleNode Alert playbook
  docs/gitaly/README.md
  docs/gitaly/alerts/GitalyServiceGoserverTrafficCessationSingleNode.md
  docs/gitaly/img/GitalyServiceGoserverTrafficCessationSingleNode.png
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Update runbook links in alert definitions
  legacy-prometheus-rules/blackbox_alerts.yml
  legacy-prometheus-rules/patroni-snapshot.yml
  mimir-rules/gitlab-gprd/blackbox_alerts.yml
  mimir-rules/gitlab-gprd/patroni/patroni-snapshot.yml
  mimir-rules/gitlab-gstg/patroni/patroni-snapshot.yml
Due: none

Notes added by 'git notes add'
  5ea94ea03f74288ef335652594b2d1c38ab30274
Due: none

Add CF deprovisioning steps
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Specify global search alerts channel
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/registry/registry-notifications.yml
Due: none

Add PostgresSplitBrain Alert Playbook
  docs/patroni/alerts/PostgresSplitBrain.md
  legacy-prometheus-rules/patroni.yml
  mimir-rules/gitlab-gprd/patroni/patroni.yml
  mimir-rules/gitlab-gstg/patroni/patroni.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
