Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Notes added by 'git notes add'
  0d79ff94d6a651e4cb19eedd6c68afe6f542c9b3
Due: none

Notes added by 'git notes add'
  b8f3acd6c4672180f473c3497961f01944aba41b
Due: none

Notes added by 'git notes add'
  3974b9cf1dc6bcf8c0ecd612140c63100036f3bf
Due: none

Add new GitLab package hosting infrastructure
  docs/packaging/infrastructure.md
Due: markdownlint, validate-kibana-urls, validate-alerts

rename to index.md per procedure
  docs/packaging/index.md
  docs/packaging/infrastructure.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: add docs for mixin
  mixins-monitoring/README.md
Due: markdownlint, validate-kibana-urls

Add content
  docs/packaging/index.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file teams.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  2b2b13dad6e5e4142a363f761d89b1ba2272930e
Due: none

Answer secure coding guidelines question
  docs/packaging/index.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update private package data classification;
  docs/packaging/index.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add secrets data classification
  docs/packaging/index.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update secrets data classification
  docs/packaging/index.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Explain firewall
  docs/packaging/index.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Change LFK alert to rely on partition count over processed count
  mimir-rules/gitlab-gprd/loose-foreign-keys-queues.yml
Due: none

add new dashboard [NEW][postgres.ai][03]-Postgres-single-query performance-analysis
  dashboards/postgres-ai/[NEW][postgres.ai][03]-Postgres-single-query performance-analysis.json
Due: none

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/loose-foreign-keys-queues.yml
Due: none

feat(deps): update dependency nodejs/node to v22.12.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency mikefarah/yq to v4.44.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  b0e623d5026371c82bc9b210aee7e0fa736d4bdd
Due: none

Notes added by 'git notes add'
  fc2b4da667d393136478e9d8fdd4a4a49881010b
Due: none
