Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Notes added by 'git notes add'
  41ee537687fd6c1fe7c1b2b8ebf52cc8c10956ac
Due: none

feat(deps): update dependency prometheus/prometheus to v3.2.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

fix(deps): lock file maintenance
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
Due: none

Notes added by 'git notes add'
  4e3661a2e94743dda7bb5ef6faf591dea19ff674
Due: none

Revert "Merge branch 'sh-use-workhorse-route-id' into 'master'"
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

fix: revert Workhorse conversion from route to route_id
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

Notes added by 'git notes add'
  04eb106563fa1659af56d69ea33a33f02dcc73be
Due: none

chore(clickhouse): Add ClickHouse read failures alert
  mimir-rules/gitlab-gprd/clickhouse/clickhouse.yml
  mimir-rules/gitlab-gstg/clickhouse/clickhouse.yml
Due: none

chore: Add CiRunnuerJobsApdexSLOViolationSingleShard alert playbook
  docs/ci-runners/README.md
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
  docs/ci-runners/img/ci_runner_apdex_recovering.png
  docs/ci-runners/img/ci_runner_cpu_saturation.png
  docs/ci-runners/img/ci_runner_jobs_sli.png
  docs/ci-runners/img/ci_runner_logs.png
  docs/ci-runners/img/ci_runner_queuing.png
Due: markdownlint, validate-kibana-urls, validate-alerts

Add PagerDuty service to team service catalog
  services/incident-io-importer.jsonnet
  services/service-catalog-schema.json
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Fix Kibana parameters
  metrics-catalog/services/web.jsonnet
Due: none

make generate updates
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Due: none

Add alerts for the middleware path traversal
  metrics-catalog/services/web.jsonnet
Due: none

Update all requests selector
  metrics-catalog/services/web.jsonnet
Due: none

Update description
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Due: none

Update generated files
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Due: none

Apply review feedback
  metrics-catalog/services/web.jsonnet
Due: none

Re-create generated files
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
Due: none

Run another generation pass
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Due: none

Add escalation path field to the incident.io catalog
  services/incident-io-importer.jsonnet
Due: validate-service-mappings, validate-alerts

Add catalog syncing jobs to CI
  .gitlab-ci.yml
Due: test-docker-image

Override entrypoint for catalog-sync
  .gitlab-ci.yml
Due: test-docker-image

Change manager of Gitaly team to John Cai
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  9d3a68d76b5b6f9654babbe0733ac73b48294910
Due: none

fix: revert Workhorse conversion from route to route_id"
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

Notes added by 'git notes add'
  bd310a51ed792828f9ff8f0471a470a0d674a9e7
Due: none

fix: some minior fixes
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/logging.libsonnet
  mixins-monitoring/hosted-runners/dashboards/main.libsonnet
  mixins-monitoring/hosted-runners/lib/alerts-generator.libsonnet
  mixins-monitoring/hosted-runners/lib/logging.libsonnet
  mixins-monitoring/hosted-runners/lib/rules-generator.libsonnet
  mixins-monitoring/hosted-runners/overrides/gitlab-metrics-config.libsonnet
Due: none

chore(clickhouse): Temporarily bump monitoring thresholds to 100%
  metrics-catalog/services/clickhouse-cloud.jsonnet
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
Due: none

bug(clickhouse): Fix reads SLI to only account for SELECT queries
  metrics-catalog/services/clickhouse-cloud.jsonnet
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-component-aggregation.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-sli-aggregations.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-component-aggregation.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-sli-aggregations.yml
Due: none

Add alerts for the middleware path traversal
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Due: none

chore: Resolve markdown warnings
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove obsolete Zuora panel
  dashboards/customersdot/main.dashboard.jsonnet
Due: none

chore: set up alerts for RepoXray worker errors exceeded threshold
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
Due: test-periodic-queries

Fix missing quotes and add env args to sum
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
Due: test-periodic-queries

Fix make error and autogenerate config files
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Due: test-periodic-queries

Adds selector and regenerate config files
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  eec3c5659a3a9e285a6e52b55fde47697b9a6556
Due: none

Add alerts for zoekt task processing queue
  mimir-rules/gitlab-gprd/search/zoekt.yml
  mimir-rules/gitlab-gstg/search/zoekt.yml
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
