Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

feat(deps): update dependency thanos-io/thanos to v0.35.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  8c/155712320db6fd45ee5d3d74f66ba553af2b56
Due: none

fix: missing labels in handcrafted rules
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gprd/gprd/node.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/node.yml
  mimir-rules/gitlab-ops/ops/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-ops/ops/node.yml
  mimir-rules/gitlab-pre/pre/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-pre/pre/node.yml
Due: none

Notes added by 'git notes add'
  36/c5da19c2f8427eaaac675319293edecaac01a7
Due: none

feat: update inference SLI
  libsonnet/toolinglinks/kibana.libsonnet
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-sli-aggregations.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-gprd.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-ops.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-other.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

fix: add mising env labels from aggregations
  mimir-rules/gitlab-gprd/gprd/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gprd/gprd/redis/redis.yml
  mimir-rules/gitlab-gprd/gprd/workhorse.yml
  mimir-rules/gitlab-gstg/gstg/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gstg/gstg/redis/redis.yml
  mimir-rules/gitlab-gstg/gstg/workhorse.yml
  mimir-rules/gitlab-ops/ops/redis/redis.yml
  mimir-rules/gitlab-pre/pre/redis/redis.yml
  mimir-rules/gitlab-pre/pre/workhorse.yml
Due: none

Notes added by 'git notes add'
  08/ba309f6688e0bd4b9cf4fac657c85f856111e4
Due: none

feat: Updated service catalogue for Mimir.
  docs/mimir/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update link to tsh CLI documentation
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: add bootstrap warning
  scripts/redis-reconfigure.sh
Due: none

Notes added by 'git notes add'
  20/3b7acc267ce5d7f25b1d2fdc3193c406fd77a0
Due: none

Use only Vault instead of gcloud when deploying Prometheus rules
  .gitlab-ci-asdf-versions.yml
  .gitlab-ci.yml
  .tool-versions
  Dockerfile
Due: test-docker-image

Notes added by 'git notes add'
  84/83f0aed772d1230d693570ba1143ee9ed657c8
Due: none

Fix GKE auth for update-alertmanager job
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  b4/da3a14126577fdc28a3eee36876ae1fde0ac6d
Due: none

chore: add missing aggregation labels for handcrafted rules
  mimir-rules/gitlab-gprd/gprd/google-cloud.yml
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gprd/gprd/node.yml
  mimir-rules/gitlab-gprd/gprd/redis/redis.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/node.yml
  mimir-rules/gitlab-gstg/gstg/redis/redis.yml
  mimir-rules/gitlab-ops/ops/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-ops/ops/node.yml
  mimir-rules/gitlab-ops/ops/redis/redis.yml
  mimir-rules/gitlab-pre/pre/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-pre/pre/node.yml
  mimir-rules/gitlab-pre/pre/redis/redis.yml
Due: none

feat: override default dashboard data source per service
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/basic.libsonnet
  libsonnet/grafana/templates.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  11/c9dc9e60dcdcedd6bca559b38504380091c4b9
Due: none

Update command to run rails console on staging-environment
  docs/uncategorized/staging-environment.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  2d/f4809f42b7f72020c4d78e95516de203a88bec
Due: none

feat(runway): Split the "request count" dashboard into "by status" and "by region".
  dashboards/runway/service.dashboard.jsonnet
Due: none

feat(runway): Add graphs for error ratio.
  dashboards/runway/service.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  44/6aab513091197e92494a07dff6f7122aba54e1
Due: none

Notes added by 'git notes add'
  19/9f333c026e30bcc97e1cc1103c2d9d488c255f
Due: none

fix(runway): Use `backend_scope` to select metrics by region.
  dashboards/runway/loadbalancer.dashboard.jsonnet
Due: none

feat(runway): Improve the loadbalancer dashboard.
  dashboards/runway/loadbalancer.dashboard.jsonnet
Due: none

chore: add dataplane v2 cluster to list of clusters in gprd
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/services/redis-pubsub.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-assisted/autogenerated-gitlab-gprd-gprd-ai-assisted-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/camoproxy/autogenerated-gitlab-gprd-gprd-camoproxy-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/google-cloud-storage/autogenerated-gitlab-gprd-gprd-google-cloud-storage-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/kas/autogenerated-gitlab-gprd-gprd-kas-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/logging/autogenerated-gitlab-gprd-gprd-logging-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/mailroom/autogenerated-gitlab-gprd-gprd-mailroom-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/monitoring/autogenerated-gitlab-gprd-gprd-monitoring-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/nginx/autogenerated-gitlab-gprd-gprd-nginx-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/plantuml/autogenerated-gitlab-gprd-gprd-plantuml-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-cache-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-chat-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-chat-cache-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-feature-flag/autogenerated-gitlab-gprd-gprd-redis-cluster-feature-flag-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-queues-meta/autogenerated-gitlab-gprd-gprd-redis-cluster-queues-meta-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-ratelimiting/autogenerated-gitlab-gprd-gprd-redis-cluster-ratelimiting-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-repo-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-repo-cache-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-shared-state/autogenerated-gitlab-gprd-gprd-redis-cluster-shared-state-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-db-load-balancing/autogenerated-gitlab-gprd-gprd-redis-db-load-balancing-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-pubsub/autogenerated-gitlab-gprd-gprd-redis-pubsub-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-registry-cache/autogenerated-gitlab-gprd-gprd-redis-registry-cache-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-sessions/autogenerated-gitlab-gprd-gprd-redis-sessions-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-sidekiq/autogenerated-gitlab-gprd-gprd-redis-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis-tracechunks/autogenerated-gitlab-gprd-gprd-redis-tracechunks-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/redis/autogenerated-gitlab-gprd-gprd-redis-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/registry/autogenerated-gitlab-gprd-gprd-registry-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/search/autogenerated-gitlab-gprd-gprd-search-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/web-pages/autogenerated-gitlab-gprd-gprd-web-pages-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/woodhouse/autogenerated-gitlab-gprd-gprd-woodhouse-sli-aggregations.yml
Due: none

chore: add job selector on ci-runners SLI
  metrics-catalog/services/ci-runners.jsonnet
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-sli-aggregations.yml
  rules/autogenerated-feature-category-metrics-ci-runners.yml
  rules/autogenerated-key-metrics-ci-runners.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: Moved new handcrafted alert rule to work in Mimir too.
  mimir-rules/gitlab-gprd/gprd/saml_login.yml
Due: none

Correct minor typo
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: remove emittedBy from googleLoadBalancer SLI
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/lib/google_load_balancer_components.libsonnet
  mimir-rules/gitlab-gprd/gprd/camoproxy/autogenerated-gitlab-gprd-gprd-camoproxy-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/google-cloud-storage/autogenerated-gitlab-gprd-gprd-google-cloud-storage-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/logging/autogenerated-gitlab-gprd-gprd-logging-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/monitoring/autogenerated-gitlab-gprd-gprd-monitoring-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/plantuml/autogenerated-gitlab-gprd-gprd-plantuml-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/registry/autogenerated-gitlab-gprd-gprd-registry-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/camoproxy/autogenerated-gitlab-gstg-gstg-camoproxy-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/google-cloud-storage/autogenerated-gitlab-gstg-gstg-google-cloud-storage-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/logging/autogenerated-gitlab-gstg-gstg-logging-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/monitoring/autogenerated-gitlab-gstg-gstg-monitoring-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/plantuml/autogenerated-gitlab-gstg-gstg-plantuml-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/registry/autogenerated-gitlab-gstg-gstg-registry-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/atlantis/autogenerated-gitlab-ops-ops-atlantis-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/monitoring/autogenerated-gitlab-ops-ops-monitoring-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/packagecloud/autogenerated-gitlab-ops-ops-packagecloud-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/vault/autogenerated-gitlab-ops-ops-vault-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/camoproxy/autogenerated-gitlab-pre-pre-camoproxy-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/monitoring/autogenerated-gitlab-pre-pre-monitoring-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/packagecloud/autogenerated-gitlab-pre-pre-packagecloud-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/vault/autogenerated-gitlab-pre-pre-vault-sli-aggregations.yml
Due: test-periodic-queries

chore: remove irrelevant labels
  metrics-catalog/services/logging.jsonnet
  metrics-catalog/services/nat.jsonnet
  mimir-rules/gitlab-gprd/gprd/logging/autogenerated-gitlab-gprd-gprd-logging-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/logging/autogenerated-gitlab-gstg-gstg-logging-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-service-level-alerts.yml
  rules/autogenerated-key-metrics-nat.yml
  thanos-rules/autogenerated-service-level-alerts-nat-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-nat-ops.yml
  thanos-rules/autogenerated-service-level-alerts-nat-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Add Grafana datasource ID injection to Mimir rules
  .gitlab-ci.yml
  alertmanager/templates/gitlab.tmpl
Due: test-docker-image

chore: add mimir job label for runners metrics
  libsonnet/saturation-monitoring/saas_runners.libsonnet
  libsonnet/stage-groups/verify-runner/dashboard_filters.libsonnet
  libsonnet/stage-groups/verify-runner/deployment_details.libsonnet
  libsonnet/stage-groups/verify-runner/resources_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/saturation_graphs.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-saturation.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-saturation.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-saturation.yml
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

chore: add monitor=global to stage group availability
  libsonnet/recording-rules/stage-group-monthly-availability.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-stage-group-monthly-availability.yml
  thanos-rules/autogenerated-stage-group-monthly-availability-gprd.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: add type="kube" label to fix kube_node_ips saturation
  libsonnet/recording-rules/subnet-sizes.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-subnet-sizes.yml
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-ops/ops/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-pre/pre/kube/kubernetes-mixin.yml
  rules/kubernetes-mixin.yml
  thanos-rules/autogenerated-subnet-sizes-gprd.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries
