Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(deps): update dependency kubectl to v1.31.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.31.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Exclude v14 backups from staging checks and upgraded gprd v14 hosts from backup checks
  mimir-rules/gitlab-gprd/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gstg/patroni/gitlab-walg-backups.yml
Due: none

Notes added by 'git notes add'
  1a30aa33fafc669fb0e9593530e926eaec73cd88
Due: none

Notes added by 'git notes add'
  6d1250acc013ab0e37fd374b7bf72fe03e8b58cc
Due: none

chore(deps): update dependency rubocop to v1.66.1
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.37
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

Notes added by 'git notes add'
  38545a1a249a28f1eda12020d5c97572145ff5b2
Due: none

make generate
  docs/mimir/README.md
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.yaml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.yaml
Due: markdownlint, validate-kibana-urls, validate-alerts

cleanup un-used var in dangerfile
  Dangerfile
Due: none

remove redundant ci config
  .gitlab-ci.yml
Due: test-docker-image

cleanup un-used spec files
  spec/kubernetes_rules/create_spec.rb
  spec/kubernetes_rules/validate_spec.rb
Due: rubocop, rspec

Apply 1 suggestion(s) to 1 file(s)
  docs/frontend/grouo-members-page-time-out.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update CC/Duo runbooks
  docs/cloud_connector/README.md
  docs/duo/triage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(runway): Add runway job slack alerts
  mimir-rules/gitlab-gprd/runway-jobs.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

plc
  incidents/production_change_locks.md
Due: markdownlint, validate-kibana-urls

docs: clean up rate limiting runbook
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: remove registry rate limiting information
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: leaving only bypass and how-to rate-limiting info
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: remove broken log link from patroni alert
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-patroni-cause-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-patroni-cause-alerts.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  546ba84045bbe340f5741522e4a34bdd847b56e1
Due: none

Updating dead links
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Turning on useResourceLabelsAsMaxAggregationLabels
  libsonnet/saturation-monitoring/kube_persistent_volume_claim_disk_space.libsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-saturation.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-saturation.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-saturation.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-saturation.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

feat: Adding saturation_dimension_dynamic_lookup_query
  libsonnet/saturation-monitoring/kube_persistent_volume_claim_disk_space.libsonnet
Due: test-periodic-queries

update duo chat runbook
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/runway-jobs.yml
Due: none

Notes added by 'git notes add'
  cb9806eb8fec6a0e1a18730cfd4f60026b6e8981
Due: none

Update topology service to use runway service id for type
  dashboards/topology-rest/main.dashboard.jsonnet
  docs/topology-rest/README.md
  metrics-catalog/services/topology-service-rest.jsonnet
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-component-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-regional_component-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-service-level-alerts.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-service_anomaly_detection.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-service-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-service_regional-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-component-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-regional_component-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-metadata.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-service-anomaly-detection-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-service-level-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-service_anomaly_detection.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-sli-aggregations.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-topology-rest-service-slos.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-transformed-service-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-transformed-service_regional-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

refactor: Removing shard mapping
  metrics-catalog/saturation/tamland.jsonnet
Due: none

Apply 3 suggestion(s) to 1 file(s)
  incidents/production_change_locks.md
Due: markdownlint, validate-kibana-urls

Add recent Gitaly timing updates
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update with useConfidenceLevelForSLIAlerts
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-feature_category-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-regional_component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-sli-aggregations.yml
Due: none

Fix whitespace issue
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

Fix: Replace broken links
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore: add env into alert query
  mimir-rules/gitlab-gprd/runway-jobs.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

refactor: move file to mimir-rules/runway folder
  mimir-rules/runway/jobs.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
