Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore: install mixtool in dev setups
  scripts/prepare-dev-env.sh
Due: none

Notes added by 'git notes add'
  5f4cf1977ba82522a9101d823668016ed91dd67b
Due: none

fix: update charts to use microseconds
  libsonnet/gitlab-dashboards/runway_redis_common_graphs.libsonnet
Due: test-periodic-queries

Apply 1 suggestion(s) to 1 file(s)
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: update query for delta
  libsonnet/gitlab-dashboards/runway_redis_common_graphs.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  664095337f3a13c12aace8da9da4bcd9df1cb0a7
Due: none

chore(deps): update dependency gitlab-styles to v13.0.2
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

Add some docs about blocking things
  docs/cloudflare/managing-traffic.md
  docs/frontend/README.md
  docs/frontend/ban-netblocks-on-haproxy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(runway): define saturation monitoring for memorystore
  libsonnet/saturation-monitoring/memorystore_redis_cpu.libsonnet
  libsonnet/saturation-monitoring/memorystore_redis_memory.libsonnet
  libsonnet/saturation-monitoring/memorystore_redis_system_memory.libsonnet
  metrics-catalog/saturation/all.libsonnet
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation-alerts.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation-metadata.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation.yml
Due: test-periodic-queries

Send alerts and error budget to slack for Code Review
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Allocate new unique CIDRs for `gitlab-r-saas-l-m-amd64-gitlab-org` ephemeral runner
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Less reactive saturation forecasting
  libsonnet/saturation-monitoring/disk_maximum_capacity.libsonnet
Due: test-periodic-queries

feat(sentry): Add nginx SLI to the sentry dashboards.
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

feat(deps): update dependency prometheus/prometheus to v3.0.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency json-schema-for-humans to v1.3.2
  requirements.txt
Due: none

feat(deps): update dependency thanos-io/thanos to v0.37.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Add ClickHouse to teams.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  e231e357f6ba9a9955345f94a8223c69a84b70cc
Due: none

Notes added by 'git notes add'
  163e5fdf9060b2ee162ff03b4b364b782b088ca7
Due: none

Notes added by 'git notes add'
  a6da763e74132204a338d7057efc49cefd53ac94
Due: none

chore(deps): update dependency rubocop to v1.69.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore: remove comment about Python 3.13 not supported from CI config
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  bd13cc968a00250025900d374c78bc5a1d95f1b1
Due: none

feat(CI AMD64 GPU): reserve new CIDRs ref: https://gitlab.com/gitlab-com/gl-infra/production-engineering/-/issues/26013
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(CI AMD64 GPU): use correct network ID ref: https://gitlab.com/gitlab-com/gl-infra/production-engineering/-/issues/26013
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  182d349e1bae5687b06f6dec56fe57f294e735e1
Due: none

Add missing runner managers placeholder
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update feature categories to 2024-12-02
  dashboards/product/developer_experienc_error_budget.dashboard.jsonnet
  dashboards/stage-groups/developer_tooling.dashboard.jsonnet
  dashboards/stage-groups/gdk.dashboard.jsonnet
  elastic/query-perf/run.rb
  metrics-catalog/services/ext-pvs.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  scripts/validate-service-catalog.rb
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, validate-alerts

feat: Add QueueTooLarge alerting for LooseForeignKey cleanup worker
  docs/monitoring/alerts_manual.md
  mimir-rules/gitlab-gprd/loose-foreign-keys-queues.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  21c50b1ec08f3028fa7f08170b160c7f8ef8b820
Due: none

Notes added by 'git notes add'
  6ee1139b3d1191b5c300a97ae14657eb76c59e23
Due: none

Notes added by 'git notes add'
  ca99063bfe49f27cf92966c79dc3f7480d850c6a
Due: none
