Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Notes added by 'git notes add'
  0df5f62959e813330c572465b20879b07b886f46
Due: none

feat: route all customers dot alerts to fulfillment_platform
  metrics-catalog/services/customersdot.jsonnet
  mimir-rules/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-customersdot-service-level-alerts.yml
Due: none

Update Gameday Timing Information
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Atlantis Web Documentation
  docs/atlantis/README.md
  docs/atlantis/webui.md
  docs/vault/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update ssh instructions to include ec2 connect
  docs/uncategorized/snowplow/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove Elasticsearch page
  docs/docs.gitlab.com/elasticsearch.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add sidekiq concurrency dashboard
  dashboards/sidekiq/concurrency.dashboard.jsonnet
Due: none

Saturation dimensions as objects
  libsonnet/capacity-planning/validator.libsonnet
  libsonnet/capacity-planning/validator_test.jsonnet
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  metrics-catalog/services/ci-runners.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
Due: test-periodic-queries

fix: Tamland saturation dimensions' examples
  metrics-catalog/saturation/tamland.md
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  a2fa531bd6f315125904cd381eaf18d9f6f731bf
Due: none

Update notes for timing data from GPRD Gitaly Gameday
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  fba0ce1376a064b41f03c62c2f6acbe5c34fb015
Due: none

Notes added by 'git notes add'
  c2b3120768a7e4a290094435b96e60aed5919d19
Due: none

Adding sast-scanner-service to service catalog
  dashboards/sast-scanner-service/main.dashboard.jsonnet
  docs/sast-scanner-service/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/sast-scanner-service.jsonnet
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-component-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-feature_category-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-sast-scanner-service-service-slos.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-saturation-alerts.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-saturation-metadata.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-saturation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-service-anomaly-detection-alerts.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-service-level-alerts.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-service_anomaly_detection.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-sli-aggregations.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-transformed-service-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
  services/teams.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Add note about unusual metric number
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/topology-service-rest.jsonnet
Due: test-periodic-queries

doc: update sidekiq sharding doc
  docs/logging/README.md
  docs/sidekiq/README.md
  docs/sidekiq/creating-a-shard.md
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fixup! markdown lint fixes
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add reference video link
  dashboards/README.md
Due: markdownlint, validate-kibana-urls

feat(http-router): fix live logging links and add for production
  docs/http-router/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

fix: rename sast-scanner-service to sast-service
  dashboards/sast-service/main.dashboard.jsonnet
  docs/sast-service/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/sast-service.jsonnet
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-component-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-service_anomaly_detection.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-transformed-service-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/sast-scanner-service/autogenerated-runway-sast-scanner-service-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-component-aggregation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-feature_category-aggregation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-sast-service-service-slos.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-metadata.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-service-anomaly-detection-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-service-level-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-service_anomaly_detection.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-sli-aggregations.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-transformed-service-aggregation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Add primary DB node CPU alerting
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Add newline to end of yml file
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
Due: none

Add labels to alert and fix validation script
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
  scripts/validate-alerts
Due: none

Notes added by 'git notes add'
  2050aaeb672b546e25eb9aecc9672199f499827a
Due: none

Add incident.io alertmanager route for gstg
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
Due: none

Add incident.io to test conditions
  alertmanager/routing-tests.jsonnet
Due: none

Revert "Merge branch 'amh-incident-io-gstg' into 'master'"
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none

Integrating incident.io with alertmanager
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none

Notes added by 'git notes add'
  8f9368621be7fb4210c43a542cbc5389756291a0
Due: none

fix: Remove shardMapping from Tamland manifest
  metrics-catalog/saturation/tamland.jsonnet
  reference-architectures/get-hybrid/src/tamland/tamland.jsonnet
Due: none

fix: Remove shardMapping from Tamland manifest
  metrics-catalog/saturation/tamland.jsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/tamland/tamland.jsonnet
Due: none

Add issue log to Duo Triage runbook
  docs/duo/triage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  aa8b002cd473b8214cfb0a158678ce3097a524f2
Due: none

chore: Clarify Grafana token docs
  dashboards/README.md
Due: markdownlint, validate-kibana-urls

chore: Remove credential script
  dashboards/README.md
  dashboards/load-creds.sh
Due: markdownlint, validate-kibana-urls

format -> percentunit
  libsonnet/gitlab-dashboards/patroni-panels.libsonnet
Due: test-periodic-queries

Fix rate interval
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
Due: none

chore(deps): update dependency git to v2.3.1
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat(deps): update dependency kubectl to v1.31.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency prometheus/prometheus to v2.55.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image
