Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

fix: Saturation dimensions should be optional
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

Notes added by 'git notes add'
  d286a8b36428a4a4333bf88207ddbe693122b1ed
Due: none

Update Alert Playbook Template - Second Iteration
  .gitlab/merge_request_templates/alert-playbook-template.md
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

[teleport] Update disater recovery runbook for Teleport
  docs/about/README.md
  docs/api/README.md
  docs/atlantis/README.md
  docs/blackbox/README.md
  docs/console/README.md
  docs/mailgun/README.md
  docs/monitoring/README.md
  docs/teleport/teleport_disaster_recovery.md
  docs/vault/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove broken neocat-cal-heatmap-panel from general-slas dashboard
  dashboards/general/slas.dashboard.jsonnet
  libsonnet/gitlab-dashboards/occurrence-sla-dashboard.libsonnet
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
Due: test-periodic-queries

make generate (update reference-architectures)
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
Due: none

add wiz-sensor dashboards
  dashboards/wiz-runtime-sensor/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/wiz-runtime-sensor.jsonnet
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-kube-cause-alerts.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-kube-state-metrics.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-service-ops-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-wiz-runtime-sensor-service-slos.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-kube-cause-alerts.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-kube-state-metrics.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-service-ops-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-wiz-runtime-sensor-service-slos.yml
Due: none

feat(deps): update dependency yannh/kubeconform to v0.6.7
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.24.0
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency rubocop to v1.65.1
  Gemfile.lock
Due: none

chore(deps): update pre-commit-dependencies
  .gitlab-ci-asdf-versions.yml
  .pre-commit-config.yaml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency pre-commit to v3.8.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency thanos-io/thanos to v0.36.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Add playbooks for new alerts
  docs/registry/alerts/ContainerRegistryNotificationsErrorCountTooHigh.md
  docs/registry/alerts/ContainerRegistryNotificationsFailedStatusCode.md
  docs/registry/alerts/ContainerRegistryNotificationsPendingCountTooHigh.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix formatting issues
  docs/registry/alerts/ContainerRegistryNotificationsErrorCountTooHigh.md
  docs/registry/alerts/ContainerRegistryNotificationsFailedStatusCode.md
  docs/registry/alerts/ContainerRegistryNotificationsPendingCountTooHigh.md
Due: markdownlint, validate-kibana-urls, validate-alerts

move alerts out of #feed_alerts-general
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

redis_trace_cmd: add redis-pubsub patterns
  lib/redis_trace/key_pattern.rb
  scripts/redis_trace_cmd.rb
Due: rubocop, rspec

Switch plantuml from kube_container_memory to kube_container_rss saturation point
  libsonnet/saturation-monitoring/kube_container_rss.libsonnet
  metrics-catalog/services/ai-assisted.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/git.jsonnet
  metrics-catalog/services/internal-api.jsonnet
  metrics-catalog/services/plantuml.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/web.jsonnet
  metrics-catalog/services/websockets.jsonnet
  mimir-rules/gitlab-gprd/plantuml/autogenerated-gitlab-gprd-plantuml-saturation-alerts.yml
  mimir-rules/gitlab-gprd/plantuml/autogenerated-gitlab-gprd-plantuml-saturation-metadata.yml
  mimir-rules/gitlab-gprd/plantuml/autogenerated-gitlab-gprd-plantuml-saturation.yml
  mimir-rules/gitlab-gstg/plantuml/autogenerated-gitlab-gstg-plantuml-saturation-alerts.yml
  mimir-rules/gitlab-gstg/plantuml/autogenerated-gitlab-gstg-plantuml-saturation-metadata.yml
  mimir-rules/gitlab-gstg/plantuml/autogenerated-gitlab-gstg-plantuml-saturation.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-saturation.yml
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/services/sidekiq.jsonnet
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

rubocop
  .rubocop.yml
  scripts/storage_audit.rb
  scripts/storage_rebalance.rb
  scripts/validate-alerts
Due: rubocop, rspec

docs: update duo chat playbook
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Revise: more information.
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update alert playbooks and add links
  docs/registry/alerts/ContainerRegistryNotificationsErrorCountTooHigh.md
  docs/registry/alerts/ContainerRegistryNotificationsFailedStatusCode.md
  docs/registry/alerts/ContainerRegistryNotificationsPendingCountTooHigh.md
  mimir-rules/gitlab-gprd/registry/registry-notifications.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  df5c0c5f4ca84956e2ab655e06021ade0a58a250
Due: none

Notes added by 'git notes add'
  6cc667e1870907d7dd59c261f1f6a9c19328a3aa
Due: none

refactor: Modify anomaly alert generator to be generic
  libsonnet/alerts/service-anomaly-detection-alerts.libsonnet
  mimir-rules-jsonnet/service-anomaly-detection-alerts.jsonnet
Due: test-periodic-queries

chore: Rename anomaly alerts rules file to be generic
  libsonnet/alerts/service-anomaly-detection-alerts.libsonnet
  mimir-rules-jsonnet/service-anomaly-detection-alerts.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  01f5831cbc9d6e8ddbf35d8b47fff68d8772718b
Due: none

fix: Update ErrorSLOViolation general alert
  docs/alerts/ErrorSLOViolation.md
  docs/alerts/image/image.png
  docs/alerts/image/logs.png
  docs/frontend/README.md
  docs/git/README.md
  docs/mimir/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/sidekiq/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  f481db2d5eeb41068c0c58fd60d57a2f44ec2512
Due: none

fix ops-gitlab-net back to kube_container_rss
  metrics-catalog/services/ops-gitlab-net.jsonnet
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-saturation.yml
Due: none

The saturation_dimensions field can be absent
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  libsonnet/utils/validator.libsonnet
  libsonnet/utils/validator_test.jsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

fix: Avoid branch conflicts while updating feature categories
  .gitlab-ci.yml
  scripts/commit-and-push-feature-categories-update.sh
Due: test-docker-image

Notes added by 'git notes add'
  6e09738fa9363054f02ed6b2e2ed069042d6590c
Due: none

style: improvements to environment state panels
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

feat: add panels showing auto deploy package states
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

Document recent Patroni GPRD provisioning test timing
  docs/disaster-recovery/recovery-measurements.md
  docs/registry/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: exclude container registry blobs
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
