Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat: enable time series panel support for runway dashboards
  dashboards/runway/job.dashboard.jsonnet
  dashboards/runway/loadbalancer.dashboard.jsonnet
  dashboards/runway/service.dashboard.jsonnet
Due: none

feat: enable time series panel support for sentry dashboards
  dashboards/sentry/events.dashboard.jsonnet
  dashboards/sentry/main-kube.dashboard.jsonnet
Due: none

feat: enable time series panel support for kas dashboards
  dashboards/kas/ci-tunnel.dashboard.jsonnet
  dashboards/kas/gitops.dashboard.jsonnet
  dashboards/kas/kube.shared.jsonnet
  dashboards/kas/misc.dashboard.jsonnet
  dashboards/kas/pod.dashboard.jsonnet
  dashboards/kas/redis.dashboard.jsonnet
Due: none

feat: enable time series panel support for gitaly dashboards
  dashboards/gitaly/feature-status.dashboard.jsonnet
  dashboards/gitaly/host-detail.dashboard.jsonnet
  dashboards/gitaly/multi-project-move.jsonnet
  dashboards/gitaly/rebalancing.dashboard.jsonnet
  dashboards/kas/ci-tunnel.dashboard.jsonnet
  dashboards/kas/redis.dashboard.jsonnet
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/gatekeeper.dashboard.jsonnet
  dashboards/registry/notifications.dashboard.jsonnet
  dashboards/registry/redis.dashboard.jsonnet
  libsonnet/gitlab-dashboards/gitaly/adaptive_limit.libsonnet
  libsonnet/gitlab-dashboards/gitaly/cgroup.libsonnet
  libsonnet/gitlab-dashboards/gitaly/command_stats.libsonnet
  libsonnet/gitlab-dashboards/gitaly/pack_objects.libsonnet
  libsonnet/gitlab-dashboards/gitaly/per_rpc.libsonnet
  libsonnet/gitlab-dashboards/saturation_detail.libsonnet
Due: test-periodic-queries

feat: enable time series panel support for general dashboards
  dashboards/general/application-demand.dashboard.jsonnet
  dashboards/general/availability-indicator.dashboard.jsonnet
  dashboards/general/egress_ingress.dashboard.jsonnet
  dashboards/general/fs.dashboard.jsonnet
  dashboards/general/incident-budget-explorer.dashboard.jsonnet
  dashboards/general/kubernetes_version.dashboard.jsonnet
  dashboards/general/mtbf.dashboard.jsonnet
  dashboards/general/occurence-slas.jsonnet
  dashboards/general/slas.dashboard.jsonnet
  dashboards/general/triage.dashboard.jsonnet
  dashboards/google-cloud-storage/artifacts-cdn.dashboard.jsonnet
  dashboards/importers/github-importer.dashboard.jsonnet
  dashboards/monitoring/prometheus-cardinality.dashboard.jsonnet
  dashboards/nat/detail.dashboard.jsonnet
  dashboards/patroni/marginalia-sampler.dashboard.jsonnet
  dashboards/postgresql/pg-upgrade.dashboard.jsonnet
  dashboards/search/zoekt.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
  libsonnet/gitlab-dashboards/node_metrics.libsonnet
  libsonnet/gitlab-dashboards/occurrence-sla-dashboard.libsonnet
  libsonnet/gitlab-dashboards/rails_controller_common.libsonnet
  libsonnet/grafana/time-series/override.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

fix: exclude workhorse from service aggregation in the GET-hybrid
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

chore: add runway staging and production to kubernetes clusters list
  kubernetes/clusters.json
Due: none

feat: Add postgres IDs sequence capacity saturation monitoring
  libsonnet/saturation-monitoring/pg_id_sequences.libsonnet
  metrics-catalog/saturation/all.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: test-periodic-queries

chore(deps): update dependency json to v2.10.2
  Gemfile.lock
Due: none

chore(deps): update grafana/mimirtool docker tag to v2.15.1
  Dockerfile
Due: test-docker-image

feat(deps): update dependency kubectl to v1.32.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.32.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update terraform monorepo to v1.11.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency google-cloud-resource_manager to v1
  scripts/disaster-recovery/Gemfile.lock
Due: none

Add glql_query sli definition
  metrics-catalog/gitlab-slis/library.libsonnet
Due: none

Apply feedback
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, test-periodic-queries

chore: typo fixed + make generate
  metrics-catalog/services/api.jsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Due: none

Add rails_glql to index catalog
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
Due: test-periodic-queries

Update api.jsonnet
  metrics-catalog/services/api.jsonnet
Due: none

Add missing comma
  metrics-catalog/services/api.jsonnet
Due: none

Update GLQL SLI definition description and run make generate
  metrics-catalog/gitlab-slis/library.libsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
Due: none

Run make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Due: none

Import matching libsonnet and rename glql_query to glql
  metrics-catalog/services/api.jsonnet
Due: none

Make changes to comments
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
Due: none

Run make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
Due: none

remove references to old env aws-snowplow
  docs/uncategorized/snowplow/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

disable tenant alerts
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
Due: none

cleanup indendation
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

docs: Add documentation for the cells render-debug.sh script
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update mimir metamonitoring rules
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

Run generate steps
  docs/amp/README.md
  docs/cells/infra-development.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply MR formatting suggestions
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add more detail on the mermaid diagram and steps.
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove extra newlines
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add link for CI abuse by user
  docs/ci-runners/ci-abuse-handling.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update based on MR feedback
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add pg-decomp dashboard based on pg-upgrade dashboard
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Fixup generated docs
  docs/gitaly/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enable time series panel support for general dashboards
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
