Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Apply 1 suggestion(s) to 1 file(s)
  docs/patroni/query-analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

changed title
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/logging/README.md
  docs/monitoring/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(runway): fix csql query for alert routing
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

make generate
  docs/patroni-registry/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update the alert condition of the Chat Redis instance
  docs/duo-chat/README.md
  docs/redis/redis-survival-guide-for-sres.md
  metrics-catalog/services/redis-cluster-chat-cache.jsonnet
  mimir-rules/gitlab-gprd/redis-cluster-chat-cache/autogenerated-gitlab-gprd-redis-cluster-chat-cache-service-level-alerts.yml
  mimir-rules/gitlab-gstg/redis-cluster-chat-cache/autogenerated-gitlab-gstg-redis-cluster-chat-cache-service-level-alerts.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  cb76ee5933e76960f273dc9cee336e82a650ab0d
Due: none

chore: Increased outlier time frame for gitaly goroutines saturation
  metrics-catalog/services/gitaly.jsonnet
Due: none

feat: Remove cold and frozen tier from ILM policies.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

Notes added by 'git notes add'
  facbc5cea21c9e9a54e2b4138a1741013c080776
Due: none

feat: Try to turn off force merge for lower volume indices.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

Add zoekt task queue to dashboard
  dashboards/search/zoekt.dashboard.jsonnet
Due: none

Update docs for registry post deployment migrations
  docs/patroni-registry/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  08bcd4db4d7b7161c69fe4b09246fd5b957e2252
Due: none

fix(runway): tweak threshold for csql restore alerts
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
Due: none

fix: add observability team label
  mimir-rules/gitlab-gprd/logging/elastic-clusters.yml
  mimir-rules/gitlab-gstg/logging/elastic-clusters.yml
Due: none

Notes added by 'git notes add'
  e38830685b88dad11de7491b87c7465958b018a9
Due: none

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
Due: none

describe disabling ClickHouse in detail
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix markdown
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency kubectl to v1.32.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.32.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update ruby-version-patch to v3.4.2
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

chore(deps): update dependency google-cloud-storage to v1.55.0
  Gemfile.lock
Due: none

feat(deps): update dependency go to v1.24.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update node.js to v22.14.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

change expression for elasticsearch cluster health
  mimir-rules/gitlab-gprd/logging/elastic-clusters.yml
Due: none

Notes added by 'git notes add'
  86ce2ca3e2067771c28d0e395b679db28a403eef
Due: none

Notes added by 'git notes add'
  8fe96955dbd204fc34a6a15478c550a7d0705249
Due: none

Notes added by 'git notes add'
  a68dad0622b73feb2e00cd61edf37c79445debc8
Due: none

Notes added by 'git notes add'
  36f99901723d3fc135167999f871be81a922193b
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.57
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore: make generate
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
Due: none

Notes added by 'git notes add'
  81e506cf997ec849c46d103794d9f9c324053d77
Due: none

chore: redis-sidekiq saturation dimensions
  metrics-catalog/services/redis-sidekiq.jsonnet
Due: none

fix: update Workhorse matchers to use route instead of route_id
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
