Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix: add empty location label to ai-gateway traffic cessation alert
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

fix: include autogenerated rules
  mimir-rules/runway/runway/ai-gateway/autogenerated-runway-runway-ai-gateway-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  3c/de6f174128bbfcfb1f232955263f2a75ff992e
Due: none

fix: patch release status to reflect the latest status
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  10/64c1ad2bc9c5f2b8f7a21b3e55905fdaaf7066
Due: none

chore(deps): update ruby-version-patch to v3.3.2
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

feat(deps): update dependency thanos-io/thanos to v0.35.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency google-cloud-storage to v1.52.0
  Gemfile.lock
Due: none

feat(deps): update dependency nodejs/node to v20.14.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Revert "chore(semantic-release): remove override"
  .gitlab-ci.yml
Due: test-docker-image

Revert "chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.10.0"
  .gitlab-ci.yml
Due: test-docker-image

feat: Add placeholders for redis-cluster-registry-rl service
  dashboards/redis-cluster-registry-rl/main.dashboard.jsonnet
  metrics-catalog/services/redis-cluster-registry-rl.jsonnet
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Notes added by 'git notes add'
  c5/b1280c91b62e3f9043a169702fc7dffdf2c881
Due: none

fix(alert): make Gitaly Version Mismatch non-paging
  rules/gitaly.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  ad/d52bb833033062932093c9532ddab6451c8f2e
Due: none

chore: add new GCP projects relates gl-infra/scalability#3543
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove GCPLoadBalancerImbalancedBackends alert
  mimir-rules/gitlab-gprd/gprd/google-cloud.yml
  rules/google-cloud.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat(deps): update dependency vault to v1.16.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.10.0
  .gitlab-ci.yml
Due: test-docker-image

feat(periodic-queries): define tenant_id in periodic query definition
  lib/periodic_queries/prometheus_api.rb
  lib/periodic_queries/query.rb
  metrics-catalog/services/lib/mimir-helpers.libsonnet
  periodic-queries/cloud-cost-spend.queries.jsonnet
  periodic-queries/daily-database-table-size.queries.jsonnet
  periodic-queries/daily-haproxy-bytes.queries.jsonnet
  periodic-queries/daily-slas.queries.jsonnet
  periodic-queries/error-budgets-performance-indicator.queries.jsonnet
  periodic-queries/gitaly-rps.queries.jsonnet
  periodic-queries/periodic-query.libsonnet
  periodic-queries/periodic-query_test.jsonnet
  periodic-queries/stage-group-7d-error-budgets.queries.jsonnet
  periodic-queries/stage-group-error-budgets.queries.jsonnet
  scripts/perform-periodic-queries.rb
  spec/periodic_queries/prometheus_api_spec.rb
  spec/periodic_queries/query_spec.rb
  spec/periodic_queries/topic_spec.rb
Due: rubocop, rspec, test-periodic-queries

Notes added by 'git notes add'
  b9/18e0ae55421e54f61d2b42ef7884b261a7678d
Due: none

feat: add visualization for confidence intervals
  dashboards/gitaly/host-detail.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
  libsonnet/key-metric-panels/apdex-panel.libsonnet
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/sli_promql.libsonnet
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  metrics-catalog/prom-thanos-aggregation-sets.libsonnet
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  thanos-rules/autogenerated-service-level-alerts-websockets-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-websockets-ops.yml
  thanos-rules/autogenerated-service-level-alerts-websockets-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Update Zoekt README.md
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update PatroniLongRunningTransactionsDetected Playbook with new template
  docs/patroni/alerts/PatroniLongRunningTransactionsDetected.md
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-patroni-cause-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-patroni-cause-alerts.yml
  thanos-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-rules/autogenerated-patroni-cause-alerts-other.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

docs: Add walgBaseBackupDelayed with new template
  docs/patroni/alerts/walgBaseBackupDelayed.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: Correct formatting
  docs/patroni/alerts/walgBaseBackupDelayed.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: Update to full URL for related alerts
  docs/patroni/alerts/walgBaseBackupDelayed.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update links for walgBaseBackupDelayed to the new playbook
  mimir-rules/gitlab-gprd/gprd/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gstg/gstg/patroni/gitlab-walg-backups.yml
  rules/gitlab-walg-backups.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

ignore kube-system namespace from KubePodRestart alerts
  rules/kubernetes.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Added the @gitlab-org/scalability/observability team as the CODEOWNERS of legacy-prometheus-rules*/*
  CODEOWNERS
Due: none

Updated references to new 'legacy-prometheus-rules' and 'legacy-prometheus-rules-jsonnet' directories
  .gitlab-ci.yml
  Dangerfile
  Makefile
  bin/create_kubernetes_rules.rb
  docs/api/README.md
  docs/certificates/README.md
  docs/ci-runners/service-ci-runners.md
  docs/elastic/troubleshooting/README.md
  docs/gitaly/README.md
  docs/mimir/auditing-metrics.md
  docs/monitoring/README.md
  docs/monitoring/alerts_manual.md
  docs/monitoring/definition-service-error-rate.md
  docs/monitoring/definition-service-ops-rate.md
  docs/monitoring/thanos-rule.md
  docs/patroni/alerts/walgBaseBackupDelayed.md
  docs/redis/README.md
  docs/registry/app-db-conn-pool-saturation.md
  docs/registry/online-gc-high-overdue-tasks.md
  docs/sidekiq/README.md
  docs/sidekiq/large-sidekiq-queue.md
  docs/thanos/README.md
  docs/uncategorized/osquery.md
  docs/uncategorized/wiz-runtime-sensor.md
  scripts/generate-jsonnet-rules.sh
  scripts/prometheus.yml
  services/service-catalog.yml
Due: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, rspec, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules

Notes added by 'git notes add'
  83/494e7ea36572318a1d3e50c607fd59d052b764
Due: none

update rule directory for prometheus rules
  lib/kubernetes_rules/create.rb
Due: rubocop, rspec

push prometheus rules
  legacy-prometheus-rules/kubernetes.yml
Due: none

feat: SLI status panels use confidence for status
  dashboards/alerts/slo_analysis.shared.jsonnet
  dashboards/gitaly/host-detail.dashboard.jsonnet
  dashboards/test-dashboard.sh
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
  libsonnet/key-metric-panels/apdex-panel.libsonnet
  libsonnet/key-metric-panels/error-ratio-panel.libsonnet
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/sli_promql.libsonnet
  libsonnet/key-metric-panels/status_description.libsonnet
  libsonnet/key-metric-panels/status_description_test.jsonnet
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

Notes added by 'git notes add'
  8a/502eb1cf4d71f65bff172f41fe10628c5d5815
Due: none

feat: all Reference Architecture SLIs use Confidence Intervals
  libsonnet/servicemetrics/service_definition.libsonnet
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/gitaly.jsonnet
  reference-architectures/get-hybrid/src/services/gitlab-shell.jsonnet
  reference-architectures/get-hybrid/src/services/praefect.jsonnet
  reference-architectures/get-hybrid/src/services/redis.jsonnet
  reference-architectures/get-hybrid/src/services/registry.jsonnet
  reference-architectures/get-hybrid/src/services/sidekiq.jsonnet
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: test-periodic-queries
