Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix: rule changes due to the updated git endpoint exclusions from workhose apdex
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-regional_component-aggregation.yml
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  rules/autogenerated-key-metrics-web.yml
  thanos-rules/autogenerated-service-level-alerts-web-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-web-ops.yml
  thanos-rules/autogenerated-service-level-alerts-web-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Apply 2 suggestions
  docs/uncategorized/subnet-allocations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Added updated blackbox alerts to mimir.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
  mimir-rules/gitlab-gstg/gstg/blackbox_alerts.yml
Due: none

chore: Added a few more labels.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
Due: none

feat: Moved and scoped gitlab-com-search alerts.
  mimir-rules/gitlab-gprd/gprd/search/gitlab-com-search.yml
  mimir-rules/gitlab-gstg/gstg/search/gitlab-com-search.yml
Due: none

Update rate-limiting runbook
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Moved and scoped kubernetes alerts.
  mimir-rules/alerts/kubernetes.yml
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes.yml
Due: none

feat: Removed unused pages alerts.
  mimir-rules/alerts/pages-gitlab-io-status.yml
  rules/pages-gitlab-io-status.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Linting.
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes.yml
Due: none

feat: Move and scope registry-db alerts.
  mimir-rules/gitlab-gprd/gprd/registry/registry-db.yml
  mimir-rules/gitlab-gstg/gstg/registry/registry-db.yml
Due: none

fix: Too many quotes.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
Due: none

fix: Quotes are a problem.
  mimir-rules/gitlab-gprd/gprd/registry/registry-db.yml
Due: none

chore(deps): update dependency json to v2.7.2
  Gemfile.lock
Due: none

feat(deps): update dependency go to v1.22.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update dependency hashicorp/vault to v1.16.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency node to v20.12.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.12.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.16.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rake to v13.2.1
  Gemfile.lock
Due: none

chore(deps): update dependency rubocop to v1.62.1
  Gemfile.lock
Due: none

chore(deps): update grafana/mimirtool docker tag to v2.12.0
  Dockerfile
Due: test-docker-image

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.6.0
  .pre-commit-config.yaml
Due: none

Notes added by 'git notes add'
  2b/62b2b5aad9872cda841d75442a7f48d3558c46
Due: none

Notes added by 'git notes add'
  a0/ba6982af51a9af54d130baec3f964b0bf467a2
Due: none

chore: Remove the gcp_quota_limit_s4 saturation point
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-metadata.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Update config-mgmt URLs for the default branch change to main
  docs/certificates/cloudflare.md
  docs/cloudflare/README.md
  docs/cloudflare/managing-traffic.md
  docs/contributors/contributors-dashboard.md
  docs/customersdot/overview.md
  docs/disaster-recovery/README.md
  docs/external-dns/README.md
  docs/forum/discourse-forum.md
  docs/git/README.md
  docs/gitaly/gitaly-os-upgrade.md
  docs/gitlab-com-artifact-registry/overview.md
  docs/gitlab-com-pkgs/overview.md
  docs/mimir/README.md
  docs/mimir/getting-started.md
  docs/monitoring/prometheus-snitch.md
  docs/packagecloud/infrastructure.md
  docs/patroni/os_upgrade_reference_architecture.md
  docs/patroni/scale-down-patroni.md
  docs/patroni/scale-up-patroni.md
  docs/patroni/unhealthy_patroni_node_handling.md
  docs/rate-limiting/README.md
  docs/runway/README.md
  docs/teleport/teleport_admin.md
  docs/uncategorized/gcp-project.md
  docs/uncategorized/terraform-broken-main.md
  docs/uncategorized/terraform-broken-master.md
  docs/vault/access.md
  docs/vault/administration.md
  docs/vault/usage.md
  docs/vault/vault.md
  libsonnet/saturation-monitoring/nat_gateway_port_allocation.libsonnet
Due: markdownlint, validate-kibana-urls, validate-alerts, test-periodic-queries

Update link to Tamland
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix Zoekt disk usage graph
  dashboards/search/zoekt.dashboard.jsonnet
Due: none

chore: Ignore latest jump down in saturation
  metrics-catalog/services/gitaly.jsonnet
Due: none

chore: SLA rules in mimir
  libsonnet/recording-rules/sla-rules.libsonnet
  mimir-rules-jsonnet/sla-rules.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sla-rules.yml
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sla-target.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sla-rules.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sla-target.yml
  thanos-rules-jsonnet/sla-rules.jsonnet
Due: test-periodic-queries

chore: Stage group monthly availability rules in Mimir
  libsonnet/recording-rules/stage-group-monthly-availability.libsonnet
  mimir-rules-jsonnet/stage-group-monthly-availability.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-stage-group-monthly-availability.yml
Due: test-periodic-queries

chore: add location resource label for runway
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  libsonnet/saturation-monitoring/runway_utilization.libsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation.yml
  mimir-rules/gitlab-gprd/gprd/ext-pvs/autogenerated-gitlab-gprd-gprd-ext-pvs-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ext-pvs/autogenerated-gitlab-gprd-gprd-ext-pvs-saturation.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ext-pvs/autogenerated-gitlab-gstg-gstg-ext-pvs-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ext-pvs/autogenerated-gitlab-gstg-gstg-ext-pvs-saturation.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Update feature categories to 2024-04-08
  dashboards/product/service_management_error_budget.dashboard.jsonnet
  dashboards/stage-groups/custom_models.dashboard.jsonnet
  dashboards/stage-groups/hosted_runners.dashboard.jsonnet
  dashboards/stage-groups/runner_saas.dashboard.jsonnet
  dashboards/stage-groups/secret_detection.dashboard.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-catalog-schema, validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: Removed gstg as all metrics are recorded in production.
  mimir-rules/gitlab-gstg/gstg/blackbox_alerts.yml
Due: none

Notes added by 'git notes add'
  64/8210e137790adae3c917a8732ee516e74afba9
Due: none

Notes added by 'git notes add'
  5a/60bd84f76b8739547510f13b0594670f81fab0
Due: none

fix: increase time range for release information dashboard
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none
