Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-alertmanager, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, docker_image_test, alertmanager_test, check-stage-groups

Path conditions:
  update-alertmanager: any of: alertmanager/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  docker_image_test: any of: Dockerfile
  alertmanager_test: any of: alertmanager/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet

feat: saturation monitoring gitaly repo cgroup
  libsonnet/saturation-monitoring/cgroup_memory.libsonnet
  rules/autogenerated-saturation.yml
Due: none

Update Airflow alert rule
  rules/airflow.yml
Due: none

refactor: show top 20 repository cgroups
  dashboards/gitaly/host-detail.dashboard.jsonnet
Due: none

praefect: raise apdex threshold for VoteTransaction RPC
  libsonnet/service-archetypes/helpers/gitaly.libsonnet
  metrics-catalog/services/praefect.jsonnet
  rules/autogenerated-feature-category-metrics-praefect.yml
  rules/autogenerated-key-metrics-praefect.yml
  thanos-rules/autogenerated-service-level-alerts-praefect.yml
Due: none

Add details for wal-g backup-list
  docs/patroni/postgresql-backups-wale-walg.md
Due: none

Invert match to only match 20.04 hosts
  rules/postgresqls.yml
Due: none

Move kube-state rules to Thanos
  thanos-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  thanos-rules/autogenerated-kube-state-metrics-recording-rules.yml
Due: none

Move the kube-state-metrics rules for Ingress to Thanos
  libsonnet/kube-state-metrics/recording-rules.libsonnet
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
  rules/autogenerated-kube-state-metrics-recording-rules.yml
  thanos-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  thanos-rules/autogenerated-kube-state-metrics-recording-rules.yml
Due: none

Revert "Merge branch 'pguinoiseau/ingress-kube-state-metrics-rules-to-thanos' into 'master'"
  libsonnet/kube-state-metrics/recording-rules.libsonnet
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
  rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  rules/autogenerated-kube-state-metrics-recording-rules.yml
  thanos-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  thanos-rules/autogenerated-kube-state-metrics-recording-rules.yml
Due: none

docs: key size estimation steps update
  docs/git/README.md
  docs/redis/redis.md
Due: none

Add global search apdex SLI to gitlab-slis library
  metrics-catalog/gitlab-slis/library.libsonnet
  rules/autogenerated-gitlab-application-slis.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v1.45.3
  .gitlab-ci.yml
Due: none

Adds ir.gitlab.com to Pingdom checks
  pingdom/pingdom.yml
Due: none

Added billing_and_subscription_management team
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/customersdot.jsonnet
  rules/autogenerated-feature-category-metrics-customersdot.yml
  rules/autogenerated-gitlab-application-slis.yml
  services/teams.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics.yml
  thanos-rules/autogenerated-service-level-alerts-customersdot.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v1.46.0
  .gitlab-ci.yml
Due: none

fix: logging alerts fall under monitoring service
  rules/logging.yml
Due: none

Notes added by 'git notes add'
  a5/f1d77e244c5d4719daab1d225536a132937fc8
Due: none

Always expand all services a saturation point applies to
  libsonnet/saturation-monitoring/open_fds.libsonnet
  libsonnet/servicemetrics/metrics-catalog.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  libsonnet/servicemetrics/utilization_metric.libsonnet
  rules/autogenerated-saturation.yml
Due: none

Update balancing docs
  docs/gitaly/storage-rebalancing.md
Due: none

chore(deps): update dependency hashicorp/terraform to v1.2.9
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: none

Fix compatibility with Grafana v9.1.3 snapshot API
  dashboards/grafana-tools.lib.sh
Due: none

Update gke-audit index mappings
  elastic/managed-objects/lib/index_mappings/gke-audit.jsonnet
Due: update_elastic_log_gprd_index_templates, update_elastic_nonprod-log_index_templates

Adds doc for ir.gitlab.com
  docs/blackbox/README.md
  docs/ir.gitlab.com/overview.md
Due: none

Update feature categories for 2022-09-08
  dashboards/product/secure_error_budget.dashboard.jsonnet
  rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: check-stage-groups

Apply 1 suggestion(s) to 1 file(s)
  docs/ir.gitlab.com/overview.md
Due: none

Elastic set total_shards_per_node to int
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-infra-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm, update_elastic_nonprod-log_ilm

Fix the job label for Vault metrics after switching to a ServiceMonitor
  metrics-catalog/services/vault.jsonnet
  rules/autogenerated-key-metrics-vault.yml
Due: none

Set regional labels for sidekiq and redis sidekiq
  libsonnet/saturation-monitoring/sidekiq_shard_workers.libsonnet
  metrics-catalog/aggregation-sets.libsonnet
  metrics-catalog/services/redis-sidekiq.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  rules-jsonnet/sidekiq-completion-rate-metrics.jsonnet
  rules/autogenerated-completion-rate-metrics-sidekiq.yml
  rules/autogenerated-key-metrics-redis-sidekiq.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  rules/autogenerated-saturation.yml
  thanos-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-rules/autogenerated-service-slos.yml
  thanos-rules/autogenerated-sidekiq-alerts.yml
Due: none

Update dependency mikefarah/yq to v4.27.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: none

Update dependency gitlab-styles to v9
  Gemfile
  Gemfile.lock
Due: none

ES already sets the tier preference for us
  elastic/managed-objects/nonprod-log/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-infra-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Due: update_elastic_nonprod-log_ilm

Replace max_size with max_primary_shard_size and remove require "data: warm"
  elastic/managed-objects/nonprod-log/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-chatops-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-events-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-infra-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Due: update_elastic_nonprod-log_ilm

Remove setting tier_preference ourselves
  elastic/managed-objects/lib/settings_nonprod.libsonnet
Due: update_elastic_nonprod-log_index_templates

Remove 'require.data: null' since this does not work
  elastic/managed-objects/nonprod-log/ILM/gitlab-infra-ilm-policy.jsonnet
Due: update_elastic_nonprod-log_ilm

Set max_primary_shard_size to 10gb
  elastic/managed-objects/nonprod-log/ILM/gitlab-infra-ilm-policy.jsonnet
Due: update_elastic_nonprod-log_ilm

Run rubocop -A and fix spec file path
  .rubocop.yml
  scripts/deprecated_project_import.rb
  scripts/storage_project_selector.rb
  scripts/storage_rebalance.rb
  spec/libsonnet/servicemetrics/dependencies_definition_spec.rb
Due: none

feat: page EOC when elastic is close to disk saturation
  docs/api/README.md
  docs/console/README.md
  docs/elastic/disk_space_saturation.md
  docs/elastic/img/dev_console_cluster_health.png
  docs/elastic/img/disk_saturation.png
  docs/elastic/troubleshooting/README.md
  docs/gitaly/README.md
  docs/logging/README.md
  docs/pubsub/README.md
  libsonnet/saturation-monitoring/elastic_disk_space.libsonnet
  rules/autogenerated-saturation.yml
Due: none

I don't know what infra_owner is, sre_observability is missing in the teams.yml
  services/service-catalog.yml
Due: none

assing redis clusters to scalability team
  services/service-catalog.yml
Due: none

assign services owned by SRE
  services/service-catalog.yml
Due: none
