Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

adding redecuerFunction='mean'
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

swtich to basic.statPanel and add reducerFunction
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

adds auto deploy package and env status dashboard
  dashboards/delivery/auto_deploy_package_environment_status.dashboard.jsonnet
Due: none

Add ChefClientErrorCritical Alert Playbook
  docs/config_management/alerts/ChefClientErrorCritical.md
  legacy-prometheus-rules/chefs.yml
  mimir-rules/gitlab-gprd/gprd/chefs.yml
  mimir-rules/gitlab-gstg/gstg/chefs.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Update the GitLab project TF module parameters for v5 in the Vault runbook
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Added auto deploy packages table
  dashboards/delivery/auto_deploy_package_env_status.dashboard.jsonnet
  dashboards/delivery/auto_deploy_package_environment_status.dashboard.jsonnet
Due: none

chore: reduce elasticsearch_indexing SLI severity
  metrics-catalog/services/search.jsonnet
  mimir-rules/gitlab-gprd/gprd/search/autogenerated-gitlab-gprd-gprd-search-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/search/autogenerated-gitlab-gstg-gstg-search-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-search-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-search-ops.yml
  thanos-rules/autogenerated-service-level-alerts-search-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: generate rules for fulfillment-platform tenant
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/services/customersdot.jsonnet
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-component-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-customersdot-service-slos.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-feature_category-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-saturation-alerts.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-saturation-metadata.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-saturation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-service-anomaly-detection-alerts.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-service-level-alerts.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-service_ops_anomaly_detection.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-sli-aggregations.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-transformed-service-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-saturation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-customersdot-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-transformed-stage_groups-aggregation.yml
Due: none

Add metric definition and link
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated impact
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update impact
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Added useful script
  docs/monitoring/alerts/PrometheusUnreachable.md
  docs/monitoring/alerts/db_host.png
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Add details on VM ingestion for Mimir.
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update customdot rules to use the correct mimir tenant
  jsonnetfile.lock.json
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/services/customersdot.jsonnet
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-component-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-customersdot-service-slos.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-feature_category-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-saturation-alerts.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-saturation-metadata.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-saturation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-service-anomaly-detection-alerts.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-service-level-alerts.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-service_ops_anomaly_detection.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-sli-aggregations.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-transformed-service-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/fulfillment-platform/fulfillment-platform/customersdot/autogenerated-fulfillment-platform-fulfillment-platform-customersdot-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-saturation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-customersdot-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-transformed-stage_groups-aggregation.yml
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
  scripts/generate-mixins.sh
Due: none

reset unrelated changes
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

Set default datasource for customerdot
  dashboards/customersdot/main.dashboard.jsonnet
Due: none

add option to supply a datasource value from the dashboard definition
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
Due: test-periodic-queries

remove unused import
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
Due: test-periodic-queries

refactor: defaultPrometheusDatasource derived from tenants
  dashboards/delivery/deployment_slo.dashboard.jsonnet
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/dataingestion.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  dashboards/observability/gatekeeper.dashboard.jsonnet
  dashboards/observability/ingress.dashboard.jsonnet
  dashboards/observability/tracing.dashboard.jsonnet
  dashboards/runway/loadbalancer.dashboard.jsonnet
  dashboards/runway/service.dashboard.jsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/mimir-helpers/mimir-helpers.libsonnet
  libsonnet/mimir-helpers/mimir-helpers_test.jsonnet
  libsonnet/service-archetypes/runway-archetype.libsonnet
  libsonnet/servicemetrics/aggregation-set.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  libsonnet/utils/validator.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/services/errortracking.jsonnet
  metrics-catalog/services/lib/mimir-helpers.libsonnet
  metrics-catalog/services/mimir.jsonnet
  metrics-catalog/services/runway.jsonnet
  metrics-catalog/services/tracing.jsonnet
  mimir-rules/gitlab-gprd/gprd/runway/autogenerated-gitlab-gprd-gprd-runway-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-runway-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-saturation.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-service_ops_anomaly_detection.yml
  mimir-rules/runway/runway/runway/autogenerated-runway-runway-runway-runway-service-slos.yml
  mimir-rules/runway/runway/runway/autogenerated-runway-runway-runway-saturation-alerts.yml
  mimir-rules/runway/runway/runway/autogenerated-runway-runway-runway-saturation-metadata.yml
  mimir-rules/runway/runway/runway/autogenerated-runway-runway-runway-saturation.yml
  mimir-rules/runway/runway/runway/autogenerated-runway-runway-runway-service-anomaly-detection-alerts.yml
  mimir-rules/runway/runway/runway/autogenerated-runway-runway-runway-service_ops_anomaly_detection.yml
  periodic-queries/periodic-query.libsonnet
Due: test-periodic-queries

move mimir-helpers back to metrics-catalog/
  dashboards/delivery/deployment_slo.dashboard.jsonnet
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/dataingestion.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  dashboards/observability/gatekeeper.dashboard.jsonnet
  dashboards/observability/ingress.dashboard.jsonnet
  dashboards/observability/tracing.dashboard.jsonnet
  dashboards/runway/loadbalancer.dashboard.jsonnet
  dashboards/runway/service.dashboard.jsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/services/lib/mimir-helpers.libsonnet
  metrics-catalog/services/lib/mimir-helpers_test.jsonnet
Due: test-periodic-queries

fix: use default prom datasource for services aux dashboards
  libsonnet/gitlab-dashboards/capacity_review_dashboard.libsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
Due: test-periodic-queries

refactor: move mimirTenants to config
  libsonnet/mimir-helpers/mimir-helpers.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  periodic-queries/periodic-query.libsonnet
Due: test-periodic-queries

feat(utils): add title function
  libsonnet/utils/strings.libsonnet
  libsonnet/utils/strings_test.jsonnet
Due: test-periodic-queries

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.17.0
  .gitlab-ci.yml
Due: test-docker-image

refactor: move defaultDatasource to its own file
  libsonnet/gitlab-dashboards/capacity_review_dashboard.libsonnet
  libsonnet/gitlab-dashboards/datasource.libsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  a0/22b4cc337b083774775e77a61736d34db4b0e3
Due: none

Fix alert template parsing issue
  alertmanager/templates/gitlab.tmpl
Due: none

Add alert template tests
  .gitlab-ci.yml
  Makefile
  alertmanager/templates/go.mod
  alertmanager/templates/go.sum
  alertmanager/templates/template_test.go
  alertmanager/templates/testdata/gitlab.text_mimir-success.txt
  alertmanager/templates/testdata/mimir-payload.json
Due: test-docker-image

fix: Set default data source as ops for release info dashboard
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Adds first draft for regional recovery to DR runbook
  docs/disaster-recovery/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  42/8c923cc9a04885b388fe9fc188488bf1457140
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Updated with example of labels.
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Resetting my 'hours before lint errors' counter.
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  17/19107a2d82661a38a9e54e850e95d6a91b15c5
Due: none

Added SAML Login SLI to web service
  legacy-prometheus-rules/autogenerated-feature-category-metrics-web.yml
  legacy-prometheus-rules/autogenerated-key-metrics-web.yml
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-web-service-slos.yml
  thanos-rules/autogenerated-service-level-alerts-web-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-web-ops.yml
  thanos-rules/autogenerated-service-level-alerts-web-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat(sat-manifest): Add tenantMapping in sat manifest
  metrics-catalog/saturation/tamland.jsonnet
Due: none

Update SidekiqQueueTooLarge alert playbook
  docs/sidekiq/alerts/SidekiqQueueTooLarge.md
  docs/sidekiq/sidekiq-queue-not-being-processed.md
  legacy-prometheus-rules/sidekiq-queues.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/sidekiq-queues.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Romove handcrafted SAML Login SLI
  mimir-rules/gitlab-gprd/gprd/saml_login.yml
Due: none
