Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix: fix broken jsonnet test in rspec
  .gitlab-ci.yml
  spec/libsonnet/servicemetrics/service_definition_spec.rb
Due: test-docker-image, rubocop, rspec

Notes added by 'git notes add'
  b7/3183477cf150bf8b95f9d3dc8f21765eee3fcf
Due: none

Periodic Mimir queries
  .gitlab-ci.yml
  Gemfile
  Gemfile.lock
  README.md
  lib/periodic_queries/prometheus_api.rb
  periodic-queries/.nix/patches/provider-path-0_15.patch
  periodic-queries/README.md
  periodic-queries/cloud-cost-spend.queries.jsonnet
  periodic-queries/daily-database-table-size.queries.jsonnet
  periodic-queries/daily-haproxy-bytes.queries.jsonnet
  periodic-queries/daily-slas.queries.jsonnet
  periodic-queries/error-budgets-performance-indicator.queries.jsonnet
  periodic-queries/gitaly-rps.queries.jsonnet
  periodic-queries/periodic-query.libsonnet
  periodic-queries/periodic-query_test.jsonnet
  periodic-queries/stage-group-7d-error-budgets.queries.jsonnet
  periodic-queries/stage-group-error-budgets.queries.jsonnet
  scripts/perform-periodic-queries.rb
Due: test-docker-image, markdownlint, rubocop, rspec, validate-kibana-urls, test-periodic-queries

feat: use rails_requests application-defined SLI for rails
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/gitlab-application-slis.libsonnet
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: markdownlint, validate-kibana-urls

docs: yubikey setup instructions
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: surface periodic query errors early
  lib/periodic_queries/query.rb
  scripts/perform-periodic-queries.rb
  spec/periodic_queries/query_spec.rb
Due: rubocop, rspec, test-periodic-queries

feat: adding periodic query authorization token
  lib/periodic_queries/prometheus_api.rb
  scripts/perform-periodic-queries.rb
Due: rubocop, rspec, test-periodic-queries

chore: getting mimir secrets from vault
  .gitlab-ci.yml
  lib/periodic_queries/prometheus_api.rb
  scripts/perform-periodic-queries.rb
Due: test-docker-image, rubocop, rspec, test-periodic-queries

chore: renaming auth token to auth header
  .gitlab-ci.yml
  lib/periodic_queries/prometheus_api.rb
  scripts/perform-periodic-queries.rb
Due: test-docker-image, rubocop, rspec, test-periodic-queries

fix: build correct URI when base url has a Pathname
  lib/periodic_queries/prometheus_api.rb
Due: rubocop, rspec, test-periodic-queries

chore: use the .id-tokens variable to get to vault
  .gitlab-ci.yml
Due: test-docker-image

fix: renaming auth_token to auth_header
  lib/periodic_queries/prometheus_api.rb
  scripts/perform-periodic-queries.rb
Due: rubocop, rspec, test-periodic-queries

fix: adding new env variables to the periodic query help message
  scripts/perform-periodic-queries.rb
Due: rubocop, rspec

fix: add .vault-rw to the extends section
  .gitlab-ci.yml
Due: test-docker-image

Revert "fix: add .vault-rw to the extends section"
  .gitlab-ci.yml
Due: test-docker-image

fix: prom_auth_header
  scripts/perform-periodic-queries.rb
Due: rubocop, rspec

Notes added by 'git notes add'
  5d/088dc27e9bce1c04b44f86feecfd455884f91b
Due: none

feat: Remove ops-gitlab-net rule from periodic queries.
  .gitlab-ci.yml
Due: test-docker-image

Add colon support to Slack alert template
  alertmanager/templates/gitlab.tmpl
Due: none

feat: Add option for configuring minimum SLO samples
  reference-architectures/README.md
  reference-architectures/default-overrides/gitlab-metrics-options.libsonnet
  reference-architectures/get-hybrid/src/rules/slo-alerting-rules.libsonnet
Due: markdownlint, validate-kibana-urls

fix: Use the right variable for the auth header.
  .gitlab-ci.yml
Due: test-docker-image

update autogenerated rules for mimir
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-component-aggregation.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-sli-aggregations.yml
Due: none

escape route values for mimir slis
  metrics-catalog/services/mimir.jsonnet
Due: none

Notes added by 'git notes add'
  84/7c969b1b69ffa43b62e38db7394ca4bd8ca11c
Due: none

update thresholds for mimir slis
  metrics-catalog/services/mimir.jsonnet
Due: none

update autogenerated rules for mimir
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-component-aggregation.yml
Due: none

fix mimir sli route escaping
  metrics-catalog/services/mimir.jsonnet
Due: none

fix the le values for the mimir metrics
  metrics-catalog/services/mimir.jsonnet
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-component-aggregation.yml
Due: none

fix generate-grafana-datasource-id script name
  scripts/generate-grafana-datasource-id.rb
Due: rubocop, rspec

fix to snake case
  scripts/generate-jsonnet-rules.sh
  scripts/generate_grafana_datasource_id.rb
Due: rubocop, rspec

feat: add bootstrap check
  scripts/redis-reconfigure.sh
Due: none

fix: correct filepath in gen jsonnet rules script
  scripts/generate-jsonnet-rules.sh
Due: none

fix: pipeline is broken, :eyetwitch:, fix it
  scripts/generate-jsonnet-rules.sh
  scripts/generate_grafana_datasource_id.rb
Due: rubocop, rspec

Notes added by 'git notes add'
  a9/e8b1af01b6fe84ea4d744ded04ab7db05f5588
Due: none
