Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Notes added by 'git notes add'
  ec/9b4c3074a0dfa40a2e639a4f759674cc52ff9b
Due: none

fix: validation for empty groups should fail job
  scripts/validate-recording-rule-groups
Due: none

chore: remove empty rule groups in mimir
  mimir-rules-jsonnet/mimir-aggregations.jsonnet
  mimir-rules/gitlab-gprd/gprd/cloud-sql/autogenerated-gitlab-gprd-gprd-cloud-sql-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/external-dns/autogenerated-gitlab-gprd-gprd-external-dns-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/memorystore/autogenerated-gitlab-gprd-gprd-memorystore-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/runway/autogenerated-gitlab-gprd-gprd-runway-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/cloud-sql/autogenerated-gitlab-gstg-gstg-cloud-sql-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/external-dns/autogenerated-gitlab-gstg-gstg-external-dns-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/memorystore/autogenerated-gitlab-gstg-gstg-memorystore-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/external-dns/autogenerated-gitlab-ops-ops-external-dns-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/memorystore/autogenerated-gitlab-ops-ops-memorystore-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/runway/autogenerated-gitlab-ops-ops-runway-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/external-dns/autogenerated-gitlab-pre-pre-external-dns-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/memorystore/autogenerated-gitlab-pre-pre-memorystore-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/runway/autogenerated-gitlab-pre-pre-runway-component-aggregation.yml
Due: none

chore: remove existing empty rule files
  libsonnet/recording-rules/service-key-metrics-rule-files.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  rules/autogenerated-key-metrics-cloud-sql.yml
  rules/autogenerated-key-metrics-external-dns.yml
  rules/autogenerated-key-metrics-memorystore.yml
  rules/autogenerated-key-metrics-runway.yml
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules/autogenerated-service-level-alerts-cloud-sql-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-cloud-sql-ops.yml
  thanos-rules/autogenerated-service-level-alerts-cloud-sql-other.yml
  thanos-rules/autogenerated-service-level-alerts-external-dns-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-external-dns-ops.yml
  thanos-rules/autogenerated-service-level-alerts-external-dns-other.yml
  thanos-rules/autogenerated-service-level-alerts-memorystore-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-memorystore-ops.yml
  thanos-rules/autogenerated-service-level-alerts-memorystore-other.yml
  thanos-rules/autogenerated-service-level-alerts-nginx-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-nginx-ops.yml
  thanos-rules/autogenerated-service-level-alerts-nginx-other.yml
  thanos-rules/autogenerated-service-level-alerts-runway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-runway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-runway-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  6c/2bfa4d2dce5b512f0387e4f53210ba39cdb146
Due: none

Support TCP pingdom checks for kas.gitlab.com
  Gemfile
  Gemfile.lock
  docs/uncategorized/pingdom.md
  pingdom/README.md
  pingdom/pingdom.go
  pingdom/pingdom.yml
Due: markdownlint, validate-kibana-urls, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts

revert gemfile updates
  Gemfile
  Gemfile.lock
Due: none

fix: Mimir doesn't support partial response.
  mimir-rules/gitlab-gprd/gprd/gcp-snapshots.yml
  mimir-rules/gitlab-gstg/gstg/gcp-snapshots.yml
  mimir-rules/gitlab-ops/ops/gcp-snapshots.yml
Due: none

Notes added by 'git notes add'
  1f/0b5353eb963305d03e1caa6d9fd79f8f050770
Due: none

feat: Move vault alerts to mimir.
  mimir-rules/gitlab-ops/ops/vault/vault.yml
  mimir-rules/gitlab-pre/pre/vault/vault.yml
Due: none

feat: Add websocket custome alerts in mimir.
  mimir-rules/gitlab-gprd/gprd/websockets/websockets-custom.yml
  mimir-rules/gitlab-gstg/gstg/websockets/websockets-custom.yml
  mimir-rules/gitlab-pre/pre/websockets/websockets-custom.yml
Due: none

fix: Forgot about partial_response_strategy again.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
  mimir-rules/gitlab-ops/ops/vault/vault.yml
  mimir-rules/gitlab-pre/pre/vault/vault.yml
Due: none

formatting fix
  docs/patroni/pg_minor_upgrade.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  42/0a59b79d4dfecdf31c5ba8f6773db1b354556c
Due: none

Notes added by 'git notes add'
  53/27cb7b572689b11b27e985c3db331767db9523
Due: none

fix: Removed the extra file.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
Due: none

Notes added by 'git notes add'
  06/32a1ecd15cf8a53f90e184281e995b3414584b
Due: none

Notes added by 'git notes add'
  08/8c595ea2ba549e9ee1d24ed8de7792217968a4
Due: none

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.14.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  92/a57403614ee01253b31024a5df6a2b2519c193
Due: none

Notes added by 'git notes add'
  85/2209b1a7033a0029f310fbc5353c9d76d3411c
Due: none

maint: remove gcp snapshots alert from mimir for now
  mimir-rules/gitlab-ops/ops/gcp-snapshots.yml
  shell.nix
Due: none

Notes added by 'git notes add'
  11/37ff342a3e5751247ffa73d4220227ebd9b0f5
Due: none

fix(commonAnnotations): Provide the service name as an argument to `deploymentsForRunway`.
  dashboards/runway/service.dashboard.jsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/common_annotations.libsonnet
Due: test-periodic-queries

Update the correct links for Kibana logs and dashboard
  docs/ci-runners/providers/gcp/quotas.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  d6/e5d2c9c5fd1983e70274d26a6d8a06cd665df3
Due: none

Use emittedBy only as list of types
  libsonnet/servicemetrics/recording-rule-registry/unified-registry.libsonnet
  metrics-catalog/services/lib/haproxy_components.libsonnet
  mimir-rules/gitlab-gprd/gprd/web-pages/autogenerated-gitlab-gprd-gprd-web-pages-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/web-pages/autogenerated-gitlab-gstg-gstg-web-pages-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/web-pages/autogenerated-gitlab-ops-ops-web-pages-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/web-pages/autogenerated-gitlab-pre-pre-web-pages-sli-aggregations.yml
Due: test-periodic-queries

feat(mimir): Add to service catalogue.
  dashboards/mimir/main.dashboard.jsonnet
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/mimir.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-component-aggregation.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-kube-state-metrics.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-saturation-alerts.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-saturation-metadata.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-saturation.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-sli-aggregations.yml
  rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  rules-jsonnet/service-key-metrics.jsonnet
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

fix: Name nit.
  metrics-catalog/services/mimir.jsonnet
Due: none

Notes added by 'git notes add'
  f7/62f4b68b3ec802d4adb29b6e5f4e9b8a5a93d3
Due: none

Update packagecloud gpg key address
  docs/packaging/manage-package-signing-keys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Use armor for export, also no password
  docs/packaging/manage-package-signing-keys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Adding cloudflare service definition
  dashboards/cloudflare/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/cloudflare.jsonnet
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: Cloudflare added to service catalog
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts
