Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Notes added by 'git notes add'
  55/28ecf4b6d1f4193bd3e73e2398d321730f8e2f
Due: none

chore: Remove `GCPLoadBalancerImbalancedBackends` alert
  mimir-rules/gitlab-gprd/gprd/google-cloud.yml
Due: none

chore: Extend wait time for `PatroniConsulMultipleMaster` alert
  mimir-rules/gitlab-gprd/gprd/patroni/patroni.yml
Due: none

docs: update the Vault runbooks to no longer suggest to override VAULT_AUTH_ROLE in protected branches
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Playbook updates
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update contributing factors
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update saas_linux_runner_image_pull_failures SLI definition
  metrics-catalog/services/ci-runners.jsonnet
Due: none

Use new dedicated runner metric as the SLI source
  metrics-catalog/saturation/tamland.jsonnet
  metrics-catalog/services/ci-runners.jsonnet
Due: none

Regenerate autogenerated rule files
  legacy-prometheus-rules/autogenerated-feature-category-metrics-ci-runners.yml
  legacy-prometheus-rules/autogenerated-key-metrics-ci-runners.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-sli-aggregations.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Update HAProxyServerDown
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add possible resolutions to haproxyserverdown alert
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add information about mimir retention
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.15.1
  .gitlab-ci.yml
Due: test-docker-image

test
  a
Due: none

Add error budget weekly for knowledge
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Fix broken yml file
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Added screenshots and metric details
  docs/monitoring/alerts/PrometheusUnreachable.md
  docs/monitoring/alerts/ideal.png
  docs/monitoring/alerts/recovery.png
Due: markdownlint, validate-kibana-urls, validate-alerts

Added prometheus link
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: copier update
  .copier-answers.yml
  .copier-version
  scripts/install-asdf-plugins.sh
  scripts/prepare-dev-env.sh
  scripts/update-asdf-version-variables.sh
Due: none

feat: create dashboard to monitor CI partitions
  dashboards/ci-partitioning/main.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  ca/bdd84ded3fa46c3670b859fc8876480d393553
Due: none

Zoekt service definition in metrics catalog
  dashboards/zoekt/main.dashboard.jsonnet
  legacy-prometheus-rules/autogenerated-kube-state-metrics-recording-rules.yml
  legacy-prometheus-rules/autogenerated-saturation.yml
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/web.jsonnet
  metrics-catalog/services/zoekt.jsonnet
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-kube-cause-alerts.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-kube-state-metrics.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-saturation.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gprd/gprd/zoekt/autogenerated-gitlab-gprd-gprd-zoekt-zoekt-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-kube-cause-alerts.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-kube-state-metrics.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-saturation.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gstg/gstg/zoekt/autogenerated-gitlab-gstg-gstg-zoekt-zoekt-service-slos.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.18.4
  .pre-commit-config.yaml
Due: none

chore(deps): update ruby-version-patch to v3.3.3
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubectl to v1.30.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.30.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.64.1
  Gemfile.lock
Due: none

feat(deps): update dependency hashicorp/vault to v1.17.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.17.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.15.2
  .gitlab-ci.yml
Due: test-docker-image

Remove availability-update script
  bin/availability-update
Due: none

Notes added by 'git notes add'
  cc/385702ab4e0254114abffc90ae4355ebd2f335
Due: none

Notes added by 'git notes add'
  dd/71e7f864e631451cffc467b9d337c7bd91a92d
Due: none

Notes added by 'git notes add'
  c2/d6b35fcd88a4de7da2ceac6d853d9f34f303e7
Due: none

feat(deps): update dependency yq to v4.44.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  29/aa1fe08b665232180e0947a26f2285af4b2c77
Due: none

adds percentage of time dashboards for env states
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
