Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(deps): update dependency yq to v4.43.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat: monitor redis-sidekiq by shard
  metrics-catalog/services/redis-sidekiq.jsonnet
  mimir-rules/gitlab-gprd/gprd/redis-sidekiq/autogenerated-gitlab-gprd-gprd-redis-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/redis-sidekiq/autogenerated-gitlab-gprd-gprd-redis-sidekiq-redis-sidekiq-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/redis-sidekiq/autogenerated-gitlab-gstg-gstg-redis-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/redis-sidekiq/autogenerated-gitlab-gstg-gstg-redis-sidekiq-redis-sidekiq-service-slos.yml
  rules/autogenerated-key-metrics-redis-sidekiq.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  67/e504cd4e820bdee31e4dbc2eca0a8781ec2f5d
Due: none

Notes added by 'git notes add'
  32/fc614a562ca3e5b30c65c04a7f69b1d0ab09ea
Due: none

Use friendly name instead of service name for markdown header
  scripts/generate-docs
Due: none

Remove pvs from the indices array
  elastic/managed-objects/indices/indices-array.sh
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

feat: Add SSL errors metric to product analytics alerts
  mimir-rules/product-analytics/analytics-stack/alerts.yml
Due: none

Notes added by 'git notes add'
  22/869ca3ced1393a199669b3b553dd22bc9d285f
Due: none

Notes added by 'git notes add'
  9b/e41fdf6e54548f6182bb6046af56d11d30f603
Due: none

BREAKING CHANGE: Split Ref. Arch rule files
  reference-architectures/README.md
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/availability-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/kube-state-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/sli-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  e7/5071b452faa6e0db5bddb8f81fb1ec24570dd6
Due: none

Update foundations team
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Remove reference to PVS indices
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
Due: test-periodic-queries

Update mlops mappings to current set of fields
  dashboards/generate-dashboards.sh
  elastic/managed-objects/lib/index_mappings/mlops.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Correct mlops mappings for long and ip fields
  elastic/managed-objects/lib/index_mappings/mlops.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Add alert for analytics stack consumer group lag
  mimir-rules/product-analytics/analytics-stack/alerts.yml
Due: none

feat: add the node-service aggregation
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/servicemetrics/aggregation-set.libsonnet
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules-jsonnet/mimir-aggregation-transformations.jsonnet
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-transformed-service_node-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-transformed-service_node-aggregation.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  73/dfc6cca14561779a4588f2ba96804f640a2397
Due: none

Update silent project exports doc
  docs/api/README.md
  docs/console/README.md
  docs/git/README.md
  docs/sidekiq/silent-project-exports.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(ai-gateway): fix histogram apdex thresholds to refer to existing buckets
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-regional_component-aggregation.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Apply 4 suggestion(s) to 1 file(s)
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix Formatting
  docs/console/README.md
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix Formatting
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix linters
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix markdown linter
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix formatting
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  0c/f6580a97c30bedee6016548f76e8027cf8cf15
Due: none

Updating Rate Limiting docs
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(gitaly): select the job-label used in mimir
  metrics-catalog/services/gitaly.jsonnet
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-sli-aggregations.yml
  rules/autogenerated-feature-category-metrics-gitaly.yml
  rules/autogenerated-key-metrics-gitaly.yml
  thanos-rules/autogenerated-service-level-alerts-gitaly-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-gitaly-ops.yml
  thanos-rules/autogenerated-service-level-alerts-gitaly-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Reduce apex for registry server_route_manifest_writes
  metrics-catalog/services/lib/registry-custom-route-slis.libsonnet
  mimir-rules/gitlab-gprd/gprd/registry/autogenerated-gitlab-gprd-gprd-registry-registry-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/registry/autogenerated-gitlab-gstg-gstg-registry-registry-service-slos.yml
  thanos-rules/autogenerated-service-level-alerts-registry-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-registry-ops.yml
  thanos-rules/autogenerated-service-level-alerts-registry-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  85/a2c4f19164341f559392cea73326bfe6dd1404
Due: none

Allocate new unique CIDRs for ephemeral runners
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(ci-runners): reserve medium and large arm64 subnetworks ref: - https://gitlab.com/gitlab-org/gitlab/-/issues/388320 - https://gitlab.com/gitlab-org/gitlab/-/issues/365300
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update ci-runners linux new shard quota docs
  docs/ci-runners/linux/new-shards.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update teleport runbook to refer to teleport-requests slack channel
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add initial indexing queue alert for ES
  mimir-rules/alerts/gitlab-com-search.yml
  rules/gitlab-com-search.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  e6/1cc633f662a30f07484237bab4d9e419a359fc
Due: none

Add ci-runners job queuing overview dashboard
  dashboards/ci-runners/queuing-overview.dashboard.jsonnet
  libsonnet/stage-groups/verify-runner/job_queue_graphs.libsonnet
Due: test-periodic-queries

docs: add PoC of alert playbooks
  docs/patroni/playbooks/PatroniLongRunningTransactionsDetected.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
