Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

refactor: Adding more details about user journey and SLI
  metrics-catalog/gitlab-slis/README.md
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  d67d9295a5751cfb1569c2f7fdf5eb7c8932886c
Due: none

Apply review feedback
  docs/web/rails-middleware-path-traversal.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Aggregating tamland shard for capacity planning
  metrics-catalog/services/ci-runners.jsonnet
Due: none

chore(CI CIDRs): remove ephemera-runners obsolete network ranges ref: https://gitlab.com/gitlab-com/gl-infra/production-engineering/-/issues/26049
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  69a4a02a6270ba0d027061afd1cb3b9d36f3535c
Due: none

feat: table of content
  metrics-catalog/gitlab-slis/README.md
Due: markdownlint, validate-kibana-urls

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/loose-foreign-keys-queues.yml
Due: none

chore(deps): update dependency json to v2.9.1
  Gemfile.lock
Due: none

chore(deps): update docker docker tag to v27.4.1
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency hashicorp/vault to v1.18.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.18.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update terraform monorepo to v1.10.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  405791bac9166f41ba6a53855c1bdbe806ca9b6c
Due: none

Notes added by 'git notes add'
  865b64dd31652ffefe8573a1c35c7e94618a511e
Due: none

Notes added by 'git notes add'
  d74b4b86e7e36492f65e369f656189ce0fe6c3aa
Due: none

chore(deps): update dependency rubocop to v1.69.2
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat: Updated soft SLO for elastic single node disk space.
  libsonnet/saturation-monitoring/elastic_single_node_disk_space.libsonnet
  mimir-rules/gitlab-gprd/logging/autogenerated-gitlab-gprd-logging-saturation-metadata.yml
  mimir-rules/gitlab-gprd/search/autogenerated-gitlab-gprd-search-saturation-metadata.yml
  mimir-rules/gitlab-gstg/logging/autogenerated-gitlab-gstg-logging-saturation-metadata.yml
  mimir-rules/gitlab-gstg/search/autogenerated-gitlab-gstg-search-saturation-metadata.yml
Due: test-periodic-queries

chore(deps): update dependency bigdecimal to v3.1.9
  Gemfile.lock
Due: none

chore(deps): update dependency pry to v0.15.2
  Gemfile.lock
Due: none

chore(deps): update ruby-version-minor to v3.4.1
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

Replace gitlab_version_info with gitlab_build_info
  dashboards/gitaly/host-detail.dashboard.jsonnet
Due: none

Move networking information into own file
  docs/ci-runners/README.md
  docs/ci-runners/ci-runner-networking.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add ci runner introductions
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Resolve markdown errors
  docs/ci-runners/ci-runner-networking.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add network components as part of high level
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update runner details
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add more details about CI gateway
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update links
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update cells docs related to rollbacks
  docs/cells/README.md
  docs/cells/auto-deploy.md
  docs/git/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

markdownlint is not part of make which is super dumb
  docs/cells/README.md
  docs/cells/auto-deploy.md
Due: markdownlint, validate-kibana-urls, validate-alerts

MacOs runs on both staging and prod
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Run generate
  docs/about/README.md
  docs/api/README.md
  docs/design/README.md
  docs/frontend/README.md
  docs/git/README.md
  docs/monitoring/README.md
  docs/thanos/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

refactor: Excluding single_node_cpu from capacity planning
  libsonnet/saturation-monitoring/single_node_cpu.libsonnet
  mimir-rules/gitlab-gprd/redis-cluster-database-lb/autogenerated-gitlab-gprd-redis-cluster-database-lb-saturation-alerts.yml
  mimir-rules/gitlab-gprd/redis-cluster-database-lb/autogenerated-gitlab-gprd-redis-cluster-database-lb-saturation-metadata.yml
  mimir-rules/gitlab-gprd/redis-cluster-database-lb/autogenerated-gitlab-gprd-redis-cluster-database-lb-saturation.yml
  mimir-rules/gitlab-gprd/redis-cluster-sessions/autogenerated-gitlab-gprd-redis-cluster-sessions-saturation-alerts.yml
  mimir-rules/gitlab-gprd/redis-cluster-sessions/autogenerated-gitlab-gprd-redis-cluster-sessions-saturation-metadata.yml
  mimir-rules/gitlab-gprd/redis-cluster-sessions/autogenerated-gitlab-gprd-redis-cluster-sessions-saturation.yml
  mimir-rules/gitlab-gstg/redis-cluster-database-lb/autogenerated-gitlab-gstg-redis-cluster-database-lb-saturation-alerts.yml
  mimir-rules/gitlab-gstg/redis-cluster-database-lb/autogenerated-gitlab-gstg-redis-cluster-database-lb-saturation-metadata.yml
  mimir-rules/gitlab-gstg/redis-cluster-database-lb/autogenerated-gitlab-gstg-redis-cluster-database-lb-saturation.yml
  mimir-rules/gitlab-gstg/redis-cluster-sessions/autogenerated-gitlab-gstg-redis-cluster-sessions-saturation-alerts.yml
  mimir-rules/gitlab-gstg/redis-cluster-sessions/autogenerated-gitlab-gstg-redis-cluster-sessions-saturation-metadata.yml
  mimir-rules/gitlab-gstg/redis-cluster-sessions/autogenerated-gitlab-gstg-redis-cluster-sessions-saturation.yml
  mimir-rules/gitlab-pre/redis-cluster-database-lb/autogenerated-gitlab-pre-redis-cluster-database-lb-saturation-alerts.yml
  mimir-rules/gitlab-pre/redis-cluster-database-lb/autogenerated-gitlab-pre-redis-cluster-database-lb-saturation-metadata.yml
  mimir-rules/gitlab-pre/redis-cluster-database-lb/autogenerated-gitlab-pre-redis-cluster-database-lb-saturation.yml
  mimir-rules/gitlab-pre/redis-cluster-sessions/autogenerated-gitlab-pre-redis-cluster-sessions-saturation-alerts.yml
  mimir-rules/gitlab-pre/redis-cluster-sessions/autogenerated-gitlab-pre-redis-cluster-sessions-saturation-metadata.yml
  mimir-rules/gitlab-pre/redis-cluster-sessions/autogenerated-gitlab-pre-redis-cluster-sessions-saturation.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

Add alert for failing prometheus scrapes of Patroni instances
  docs/patroni/alerts/PatroniScrapeFailures.md
  mimir-rules/gitlab-gprd/patroni/patroni.yml
Due: markdownlint, validate-kibana-urls, validate-alerts
