Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

refactor: Production Engineering stage
  docs/monitoring/mixins.md
  docs/security-patching/linux-os/linux-os-patching.md
  libsonnet/service-catalog/service-catalog_test.jsonnet
  metrics-catalog/services/cloudflare.jsonnet
  metrics-catalog/services/kube.jsonnet
  metrics-catalog/services/mimir.jsonnet
  metrics-catalog/services/ops-gitlab-net.jsonnet
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-service-level-alerts.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-service-level-alerts.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-service-level-alerts.yml
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/autogenerated-metamonitoring-mimir-service-level-alerts.yml
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
  scripts/validate-service-catalog.rb
  services/service-catalog.yml
  services/teams.yml
Due: markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, rspec, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, test-periodic-queries

chore: Delivery stage
  alertmanager/alertmanager.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gprd/blackbox_alerts.yml
  mimir-rules/gitlab-gprd/kube/kubernetes.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/kube/kubernetes.yml
  mimir-rules/gitlab-ops/release-management/deploy-pressure.yml
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore: Dedicated stage
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore: Disambiguating doe-ops and production-engineering:ops
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore: Adding development_analytics
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

fix: tests
  libsonnet/service-catalog/service-catalog_test.jsonnet
  services/stage-group-mapping-with-overrides_test.jsonnet
Due: validate-service-mappings, validate-alerts, test-periodic-queries

refactor: Keep only dashboards for groups containing categories
  dashboards/stage-groups/contributor_success.dashboard.jsonnet
  dashboards/stage-groups/database_operations.dashboard.jsonnet
  dashboards/stage-groups/deploy.dashboard.jsonnet
  dashboards/stage-groups/developer_tooling.dashboard.jsonnet
  dashboards/stage-groups/development_analytics.dashboard.jsonnet
  dashboards/stage-groups/engineering_productivity.dashboard.jsonnet
  dashboards/stage-groups/framework.dashboard.jsonnet
  dashboards/stage-groups/infrastructure.dashboard.jsonnet
  dashboards/stage-groups/quality.dashboard.jsonnet
  dashboards/stage-groups/runway.dashboard.jsonnet
  dashboards/stage-groups/security_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/security_platform_managemen.dashboard.jsonnet
  dashboards/stage-groups/technical_writing.dashboard.jsonnet
  dashboards/stage-groups/ux_paper_cuts.dashboard.jsonnet
  scripts/update_stage_groups_dashboards.rb
Due: rubocop, rspec

chore: make generate
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
Due: none

Add alert for high build pressure
  docs/gitaly/README.md
  docs/kas/README.md
  docs/monitoring/README.md
  docs/omnibus/README.md
  docs/release-management/build_pressure.md
  docs/version/README.md
  mimir-rules/gitlab-ops/release-management/build-pressure.yml
  mimir-rules/gitlab-ops/release-management/deploy-pressure.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Display build pressure panel on release management dashboard
  dashboards/delivery/release_management.dashboard.jsonnet
Due: none

feat: Prometheus alerting rule for CloudflareCloudConnectorRateLimitExhaustion
  mimir-rules/gitlab-ops/cloudflare-cloud-connector.yml
Due: none

Edit README.md
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Set chart value to all
  dashboards/distribution/helm_exporter.json
Due: none

Notes added by 'git notes add'
  cc16def328bee5b1d2712e6cde32721ca0e5c772
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dashboards/registry/database.dashboard.jsonnet
Due: none

Add incident.io service catalog importer configuration
  services/incident-io-importer.jsonnet
Due: validate-service-mappings, validate-alerts

Runbook for Cells DNS Setup
  docs/cells/dns.md
  docs/cloudflare/README.md
  docs/ops-gitlab-net/README.md
  docs/vault/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  015001651cf3ec1bbaed212e5e461dc89302f5a2
Due: none

remove dashboard uid
  dashboards/distribution/helm_exporter.json
Due: none

Add distribution helm-exporter dashboard
  dashboards/distribution/helm_exporter.json
Due: none

docs: Add Donna and Devin to the Cloudflare Okta provisioning step
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add timezones
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: change dangling alert label from team: delivery to team: release
  mimir-rules/gitlab-ops/release-management/build-pressure.yml
Due: none

chore(deps): update docker docker tag to v27.5.1
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency node to v22.13.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v22.13.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update terraform monorepo to v1.10.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  2d7f4fe44a865cd6722dce9f46775d6f38f20cf4
Due: none

Notes added by 'git notes add'
  dfe3e9dd8900238ed8720c6169b0f5e6cd25629c
Due: none

fix: render saturation series without a stage
  dashboards/alerts/saturation_alerts.libsonnet
Due: none

Notes added by 'git notes add'
  34f85cd3009e981f37e8615c8893392df15f22bf
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/cells/dns.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 6 suggestion(s) to 1 file(s)
  docs/cells/dns.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add instructions for enabling Cloudflare DNS for a cells tenant
  docs/cells/dns.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Add env=ops to cloud_connector's alert matching labels
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  3fbbad633c6b3aba3db71a58991b01468d07eec5
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
