Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Escape with 4 \\\\
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
  libsonnet/utils/strings.libsonnet
  libsonnet/utils/strings_test.jsonnet
Due: test-periodic-queries

Separate escaping backslash in its own function
  libsonnet/servicemetrics/sli_metric_descriptor.libsonnet
  libsonnet/utils/strings.libsonnet
  libsonnet/utils/strings_test.jsonnet
Due: test-periodic-queries

fix: Robust cache invalidation using realpath
  scripts/generate-jsonnet-rules.sh
Due: none

chore(mimir): Separate subnet size rules by env
  libsonnet/recording-rules/subnet-sizes.libsonnet
  mimir-rules-jsonnet/subnet-sizes.jsonnet
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-subnet-sizes.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-subnet-sizes.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-subnet-sizes.yml
  thanos-rules-jsonnet/subnet-sizes.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  eb/8a5147f1b01692d3bf61be26ac919e2ede796d
Due: none

feat(mimir): Feature category mapping rules
  libsonnet/recording-rules/feature-category-mapping.libsonnet
  mimir-rules-jsonnet/stage-group-feature-category-mapping-rules.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-stage-group-feature-category-mapping.yml
  thanos-rules-jsonnet/stage-group-feature-category-mapping-rules.jsonnet
Due: test-periodic-queries

Apply 1 suggestion(s) to 1 file(s)
  reference-architectures/get-hybrid/README.md
Due: markdownlint, validate-kibana-urls

fix: Adjusts the contract for dynamic configurations
  libsonnet/saturation-monitoring/aws_rds_db.libsonnet
  libsonnet/saturation-monitoring/aws_rds_memory.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: markdownlint, validate-kibana-urls, test-periodic-queries

fix: update query with label requirement
  libsonnet/saturation-monitoring/aws_rds_db.libsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

make generate!
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: none

bolster documentation, fix broken query, use exiting metric for db connections
  libsonnet/saturation-monitoring/aws_rds_db.libsonnet
  libsonnet/saturation-monitoring/aws_rds_memory.libsonnet
  reference-architectures/get-hybrid/README.md
Due: markdownlint, validate-kibana-urls, test-periodic-queries

fix: don't require a recording rule to use RDS monitoring rules
  libsonnet/saturation-monitoring/aws_rds_db.libsonnet
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  libsonnet/saturation-monitoring/aws_rds_memory.libsonnet
  reference-architectures/default-overrides/gitlab-metrics-options.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

update documentation to match our newly constructed rulesets
  libsonnet/saturation-monitoring/aws_rds_db.libsonnet
  reference-architectures/get-hybrid/README.md
Due: markdownlint, validate-kibana-urls, test-periodic-queries

chore: remove obsolete commit-worker alerting rule
  rules/commit-workers.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

fix: fix markdown linting errors
  docs/monitoring/README.md
  docs/patroni/postgresql-locking.md
  docs/uncategorized/granting-rails-or-db-access.md
  docs/uncategorized/job_completion.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6c/fcca2d715cd54c012464385995cfb0ddb3a7a3
Due: none

chore:rerun generate-docs
  docs/glgo/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

perf(glgo): add observability support for glgo runway service
  docs/glgo/README.md
  metrics-catalog/services/glgo.jsonnet
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

chore(glgo): change team to container_registry
  metrics-catalog/services/glgo.jsonnet
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Apply 3 suggestion(s) to 1 file(s)
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

feat(mimir): Patroni cause alerts for Mimir
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  mimir-rules-jsonnet/patroni-cause-alerts.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-patroni-cause-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-patroni-cause-alerts.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-patroni-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-patroni-cause-alerts.yml
  thanos-rules-jsonnet/patroni-cause-alerts.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  38/5c98ff74866ff71d234883aa956b5279e3c6ed
Due: none

feat: add dead man's snitch meta alerts to mimir
  alertmanager/dummy-secrets.jsonnet
  mimir-rules/metamonitoring/metamon.yml
Due: none

fix: remove partial response strategy
  mimir-rules/metamonitoring/metamon.yml
Due: none

maint: update location for adding/updating snitches
  docs/monitoring/prometheus-snitch.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  08/0022eeab4ea5b2b14ca33b2e7c9ec79eaf195b
Due: none

Notes added by 'git notes add'
  ac/023273afe22a0cc64ba950cfd996119b7d5598
Due: none

fix: Lower severity of ai-gateway server component
  metrics-catalog/services/ai-gateway.jsonnet
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  92/f04721b8e90d8a1be0221b74bdadc371521476
Due: none

Add Runway address space allocations
  docs/uncategorized/subnet-allocations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Make generate happy
  docs/runway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(glgo): address feedbcak
  dashboards/glgo/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/glgo.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-service-slos.yml
  thanos-rules/autogenerated-key-metrics-glgo.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-ops.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Update runbook for custom ssl certificates in Cloudflare
  .tool-versions
  docs/certificates/cloudflare.md
  docs/console/README.md
  docs/ops-gitlab-net/README.md
  docs/vault/README.md
  docs/version/README.md
Due: test-docker-image, markdownlint, validate-kibana-urls, validate-alerts

Update file teams.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  af/9be2709b9f7d578ff1800c75ee432c55822585
Due: none

kas: k8s_api_proxy_routing_duration_seconds_bucket -> tunnel_routing_duration_seconds_bucket
  dashboards/kas/ci-tunnel.dashboard.jsonnet
  metrics-catalog/services/kas.jsonnet
  rules/autogenerated-feature-category-metrics-kas.yml
  rules/autogenerated-key-metrics-kas.yml
  thanos-rules/autogenerated-service-level-alerts-kas-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-kas-ops.yml
  thanos-rules/autogenerated-service-level-alerts-kas-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

kas: k8s_api_proxy_routing_timeout_total -> tunnel_routing_timeout_total
  dashboards/kas/ci-tunnel.dashboard.jsonnet
Due: none

chore(deps): update docker docker tag to v25.0.3
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency go to v1.21.7
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
