Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Notes added by 'git notes add'
  d64a694863458344e89d65abc3359e8cc8246126
Due: none

Remove patroni-embedding and pgbouncer-embedding docs from runbooks
  docs/patroni-embedding/README.md
  docs/pgbouncer-embedding/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove metrics-catalog/services/patroni-embedding.jsonnet
  metrics-catalog/services/patroni-embedding.jsonnet
Due: none

Remove metrics-catalog for pgbouncer-embedding
  metrics-catalog/services/pgbouncer-embedding.jsonnet
Due: none

Remove dashboard references for patroni and pgbouncer embedding
  dashboards/patroni-embedding/main.dashboard.jsonnet
  dashboards/pgbouncer-embedding/main.dashboard.jsonnet
Due: none

Remove embedding references from services/service-catalog.yml
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Remove embedding references from metrics-catalog/services/all.jsonnet
  metrics-catalog/services/all.jsonnet
Due: none

Remove embedding references from pgbouncer_stats_queries_pooled_total in docs/patroni/patroni-management.md
  docs/patroni/patroni-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove embedding references on alerts of walgBackupDelayed
  libsonnet/alerts/walg-backups-alerts.libsonnet
Due: test-periodic-queries

Remove embedding references for security patching docs
  docs/security-patching/linux-os/systems/patroni.md
  docs/security-patching/linux-os/systems/pgbouncer.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove patroni and pgbouncer embedding references from libsonnnet saturation-monitoring
  libsonnet/saturation-monitoring/pgbouncer_client_connections.libsonnet
Due: test-periodic-queries

Fix the wrong link to advanced search runbook
  README.md
Due: markdownlint, validate-kibana-urls

chore: Add a troubleshooting page
  docs/ci-runners/remove-broken-runners.md
  docs/ci-runners/runners_manager_is_down.md
  docs/ci-runners/troubleshooting-guide.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: the sequence and update instruction to get the MR merged in cell provisioning
  docs/cells/provisioning.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  433d3fb7dd85344c9efb15dba8f804f00fe25b98
Due: none

Update web IDE doc and tooling links
  docs/gitlab-static/web-ide-assets.md
  metrics-catalog/services/gitlab-static.jsonnet
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: update the development process to be simpler, and add validation docs
  docs/cells/infra-development.md
  docs/cells/validate.md
  docs/gitaly/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add a note about the instrumentor review requirements and remove the mid thought comment
  docs/cells/infra-development.md
  docs/cells/validate.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: make sure the prometheus datastore uses the default for the service
  libsonnet/gitlab-dashboards/platform_links.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

chore: removing Ai::RepositoryXray::ScanDependenciesWorker specific alert
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Due: test-periodic-queries

feat: custom error rate per worker
  libsonnet/recording-rules/sidekiq-jobs-slos.libsonnet
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Due: test-periodic-queries

chore: remove basic.graphPanel usage
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
  dashboards/delivery/auto_deploy_packages.jsonnet
  dashboards/delivery/delivery_metrics.jsonnet
  dashboards/delivery/deployment_health.dashboard.jsonnet
  dashboards/delivery/deployment_slo.dashboard.jsonnet
  dashboards/delivery/rollback_info.dashboard.jsonnet
  dashboards/general/egress_ingress.dashboard.jsonnet
  dashboards/general/kubernetes_version.dashboard.jsonnet
  dashboards/general/triage.dashboard.jsonnet
  dashboards/logging/main.dashboard.jsonnet
  dashboards/monitoring/main.dashboard.jsonnet
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
  dashboards/postgresql/pg-upgrade.dashboard.jsonnet
  dashboards/registry/notifications.dashboard.jsonnet
  dashboards/registry/redis.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/node_metrics.libsonnet
  libsonnet/key-metric-panels/apdex-panel.libsonnet
  libsonnet/key-metric-panels/error-ratio-panel.libsonnet
  libsonnet/key-metric-panels/operation-rate-panel.libsonnet
  libsonnet/key-metric-panels/utilization-rates-panel.libsonnet
Due: test-periodic-queries

review suggestion for the style
  docs/cells/infra-development.md
  docs/cells/validate.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  9ec1509ac82667b20d6419386ef581592c476d1b
Due: none

docs: add a note about requiring approval
  docs/cells/breakglass.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

run generate docs
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/availability-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/kube-state-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/sli-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: none

a
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/availability-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/kube-state-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/sli-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: none

Edit code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

new version of postgres-ai dashboards for exporter version 3_41_0
  dashboards/postgres-ai/NEW_postgres_ai_02.json
  dashboards/postgres-ai/NEW_postgres_ai_03.json
  dashboards/postgres-ai/NEW_postgres_ai_04.json
  dashboards/postgres-ai/node-performance-overview.json
Due: none

chore(deps): update dependency optimist to v3.2.1
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update docker docker tag to v28.0.2
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency pre-commit to v4.2.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
