Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Default gaugeMetric selector as object
  libsonnet/servicemetrics/gauge_metric.libsonnet
Due: test-periodic-queries

fix: add some nix components
  flake.lock
  flake.nix
  periodic-thanos-queries/.nix/patches/provider-path-0_15.patch
  scripts/generate-docs
  shell.nix
Due: none

fix: config?
  libsonnet/saturation-monitoring/go_memory.libsonnet
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  shell.nix
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Cache jsonnet compilation via jsonnet-deps sha256sum
  .gitignore
  .gitlab-ci.yml
  dashboards/grafana-tools.lib.sh
  jsonnetfile.json
  jsonnetfile.lock.json
  scripts/generate-all-reference-architecture-configs.sh
  scripts/generate-jsonnet-rules.sh
  scripts/generate-reference-architecture-config.sh
Due: test-docker-image

fix: revert this
  scripts/generate-docs
Due: none

fix: Just use the damn CI image
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
  docs/consul/README.md
  docs/frontend/README.md
  docs/git/README.md
  docs/gitaly/README.md
  docs/kube/README.md
  docs/omnibus/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
  docs/redis-sessions/README.md
  docs/redis-sidekiq/README.md
  docs/redis-tracechunks/README.md
  docs/redis/README.md
  docs/registry/README.md
  docs/search/README.md
  docs/sidekiq/README.md
  docs/thanos/README.md
  docs/version/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

undo jsonnetfile change
  jsonnetfile.json
  jsonnetfile.lock.json
Due: none

Revert "undo jsonnetfile change"
  jsonnetfile.json
  jsonnetfile.lock.json
Due: none

jb update
  jsonnetfile.lock.json
Due: none

fix: make generate *again*
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: none

chore: Migrating from rtx to mise
  scripts/install-asdf-plugins.sh
  scripts/prepare-dev-env.sh
Due: none

Add runbook for docs.gitlab.com
  docs/docs.gitlab.com/docsWebsite.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  fb/43cdc50cd78c9d2dcd934458b33d779670c474
Due: none

chore: Removing pg_dead_tup_rate_tuples
  metrics-catalog/utilization/all.libsonnet
  metrics-catalog/utilization/pg_dead_tup_rate.libsonnet
  rules/autogenerated-utilization.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

fix: remove those weird newlines
  libsonnet/saturation-monitoring/go_memory.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

feat(deps): update dependency go to v1.21.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

chore(deps): update dependency google-cloud-storage to v1.47.0
  Gemfile.lock
Due: none

chore(deps): update pre-commit hook compilerla/conventional-pre-commit to v3.1.0
  .pre-commit-config.yaml
Due: none

feat(deps): update dependency node to v20.11.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.11.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  5b/c4ea26dea41aca5d3936c5f416636fef255bf2
Due: none

Notes added by 'git notes add'
  cc/cca242736cc1e2d75f13db77fbcb23b9e01e0f
Due: none

Notes added by 'git notes add'
  b3/1e1f73fe89bee05e5ef77815459e5eb5a5e57f
Due: none

Add CI to check and deploy mimir rules
  .gitlab-ci.yml
  Makefile
  mimir-rules/gitlab-gprd/.gitkeep
  mimir-rules/gitlab-gstg/.gitkeep
  mimir-rules/gitlab-ops/.gitkeep
  mimir-rules/gitlab-pre/.gitkeep
  mimir-rules/metamonitoring/.gitkeep
  mimir-rules/metamonitoring/mimir/production/alerts.yaml
  mimir-rules/metamonitoring/mimir/production/rules.yaml
Due: test-docker-image

Add missing value
  .gitlab-ci.yml
Due: test-docker-image

satisfy the lint police
  .gitlab-ci.yml
  Makefile
Due: test-docker-image

seriously
  .gitlab-ci.yml
Due: test-docker-image

disable CI until we confirm jsonnet config
  .gitlab-ci.yml
  mimir-rules/gprd/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/metamonitoring/mimir/production/alerts.yaml
  mimir-rules/metamonitoring/mimir/production/rules.yaml
  mimir-rules/ops/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/other/autogenerated-kube-state-metrics-recording-rules.yml
Due: test-docker-image

remove mixin generated rules
  mimir-rules/metamonitoring/mimir/production/alerts.yaml
  mimir-rules/metamonitoring/mimir/production/rules.yaml
Due: none

remove partial response strategy from mimir rules
  mimir-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  mimir-rules/gprd/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/ops/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/other/autogenerated-kube-state-metrics-recording-rules.yml
Due: none

limit mimir tenant lookup to top level dirs only
  .gitlab-ci.yml
Due: test-docker-image

update makefile for mimir rules dir
  .gitlab-ci.yml
  Makefile
Due: test-docker-image

remove trailing slash from dirname
  .gitlab-ci.yml
  Makefile
Due: test-docker-image

Implement separateMimirRecordingFiles helper
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files.libsonnet
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files_test.jsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
Due: test-periodic-queries

fix: drop all mimir-related alerts
  alertmanager/alertmanager.jsonnet
Due: none

chore: copier update
  .copier-answers.yml
  .copier-version
  scripts/install-asdf-plugins.sh
  scripts/prepare-dev-env.sh
Due: none

set mindepth
  .gitlab-ci.yml
  Makefile
Due: test-docker-image

Apply 1 suggestion(s) to 1 file(s)
  Makefile
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
