Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

feat: handle Wilson Score Boundary Conditions better
  libsonnet/wilson-score/wilson-score.libsonnet
  libsonnet/wilson-score/wilson-score_test.jsonnet
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/websockets/autogenerated-gitlab-pre-pre-websockets-component-aggregation.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  40/54b3ca06b6b84561b1894caa18724b020e37e2
Due: none

chore: replace hardcoded `sli_aggregations:` with recordingRuleRegistry
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  dashboards/sidekiq/shard-detail.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  45/5376ae0edcd6cf9f0216ca5acccc43a37a5683
Due: none

fix(runway): Remove the `rate()` function from metrics that are already rates.
  dashboards/runway/loadbalancer.dashboard.jsonnet
  dashboards/runway/service.dashboard.jsonnet
Due: none

chore: disable traffic cessation alerts for runway non-us
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/runway/ai-gateway/autogenerated-runway-runway-ai-gateway-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

docs: update capacity planning forecast link
  docs/api/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  c2/6ba8fd0a20897c963a14feb9db9dab49566895
Due: none

feat: Removed unused alerts directory.
  mimir-rules/alerts/logging.yml
  mimir-rules/alerts/registry-gc-queues.yml
  mimir-rules/alerts/sidekiq-queues.yml
Due: none

Notes added by 'git notes add'
  e4/255279f8ad9aa338489c2272967d0d96931dd6
Due: none

feat(mimir): Move default data source and final servces to Mimir.
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/services/errortracking.jsonnet
  metrics-catalog/services/tracing.jsonnet
Due: none

chore(ext-pvs): enable traffic cessation alerts and bump sev
  metrics-catalog/services/ext-pvs.jsonnet
  mimir-rules/runway/runway/ext-pvs/autogenerated-runway-runway-ext-pvs-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: rerun make generate
  mimir-rules/runway/runway/ext-pvs/autogenerated-runway-runway-ext-pvs-service-level-alerts.yml
Due: none

Notes added by 'git notes add'
  19/d51afc778ca17145a4f93656fc3de2a7840e1e
Due: none

chore(deps): update dependency gitlab-styles to v12
  Gemfile
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  51/7e89e2e324371e0a835c9395a4f02cc6f351fc
Due: none

Zoekt runbook update application setting
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.9.1
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update docker docker tag to v26.1.3
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency kubectl to v1.30.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.30.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.63.5
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  eb/67e5ad95deea37c7c4b34ad34ac294f8b5e5f7
Due: none

Notes added by 'git notes add'
  c1/0c0cf93a7bba85d3255e0f8a4276087aab5b19
Due: none

Notes added by 'git notes add'
  67/2ac206203353c89d1459390c9e9213d7f25fce
Due: none

updates mimir links to long version
  docs/mimir/README.md
  docs/mimir/cardinality-management.md
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: use mimir aggregation sets by default
  libsonnet/servicemetrics/recording-rule-registry/unified-registry.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  metrics-catalog/prom-thanos-aggregation-sets.libsonnet
  mimir-rules-jsonnet/mimir-aggregation-transformations.jsonnet
  mimir-rules-jsonnet/mimir-aggregations.jsonnet
  mimir-rules-jsonnet/service-component-alerts.jsonnet
  mimir-rules-jsonnet/service-ops-anomaly-detection.jsonnet
  mimir-rules-jsonnet/service-slo-observance.jsonnet
  rules-jsonnet/service-key-metrics.jsonnet
  thanos-rules-jsonnet/aggregation-set-recording-rules.jsonnet
  thanos-rules-jsonnet/globally-evaluated-regional-key-metrics.jsonnet
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules-jsonnet/service-key-metrics.jsonnet
Due: test-periodic-queries

chore: improve confidence interval alert warning
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
Due: test-periodic-queries

Add script used for quickly locating all gitaly instances by IP address
  scripts/gitaly-ips
Due: none

Notes added by 'git notes add'
  0c/618e68dbac110fa4912e096e7f2cd671d1de65
Due: none

feat: Set correct data source for observability dashboards.
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/dataingestion.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  dashboards/observability/gatekeeper.dashboard.jsonnet
  dashboards/observability/ingress.dashboard.jsonnet
  dashboards/observability/tracing.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  f1/a9eb01e3bcd48046a4e1062f52c967a2b67751
Due: none

update hardcoded datasources to mimir
  dashboards/general/pagespeed.json
  dashboards/istio/istio_control_plane.json
  dashboards/istio/istio_service.json
Due: none

feat: Fix delivery SLO dashboard data source.
  dashboards/delivery/deployment_slo.dashboard.jsonnet
Due: none

feat: Updated URLs as well.
  dashboards/delivery/deployment_health.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  b9/587947b9dc5d75717bc6f86a978033a0862e16
Due: none

update the triage anomaly panel to use 5m rate
  dashboards/general/triage.dashboard.jsonnet
Due: none

fix(dashboard): stat panels not loading
  libsonnet/grafana/basic.libsonnet
  libsonnet/key-metric-panels/status_description.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

Notes added by 'git notes add'
  d2/e0cc180a70a95b87ea38286fce9fc446b954c2
Due: none
