Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix heading levels
  docs/disaster-recovery/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  f1/e5ed43fc5b8dd7e950121b3f907b36f3141a91
Due: none

chore(deps): update dependency rubocop to v1.64.1
  Gemfile.lock
Due: none

feat(deps): update dependency node to v20.15.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.15.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency prometheus/prometheus to v2.53.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  2f/b2ddaa9a65bceb1d72244e1c66ed729a3b6384
Due: none

Notes added by 'git notes add'
  39/0e34cc70798659a3ebdab2c5ad5c47119fcc7f
Due: none

feat: add GraphQL error ratio SLI
  legacy-prometheus-rules/autogenerated-feature-category-metrics-api.yml
  legacy-prometheus-rules/autogenerated-key-metrics-api.yml
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-sli-aggregations.yml
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-rules/autogenerated-service-level-alerts-api-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-api-ops.yml
  thanos-rules/autogenerated-service-level-alerts-api-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  f1/7659f2ce8e98b42d65a7a7f43a29bff868cbb5
Due: none

adds links to templates
  docs/disaster-recovery/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  40/6cecf9882e8ccc58f13d5f31206859867d0f0e
Due: none

Update Pipeline Security group name
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat: Add and use a nodegroup CPU saturation metric for GET CNH metrics
  libsonnet/saturation-monitoring/node_group_cpu.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/src/services/all.jsonnet
  reference-architectures/get-hybrid/src/services/kube.jsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

fix: generate
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  libsonnet/saturation-monitoring/node_group_cpu.libsonnet
Due: test-periodic-queries

docs: add Here-Be-Dragons comment
  libsonnet/saturation-monitoring/node_group_cpu.libsonnet
Due: test-periodic-queries

chore: rebase + conflict fix
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: none

fix: mark the frontend service as stageless
  legacy-prometheus-rules/autogenerated-key-metrics-frontend.yml
  metrics-catalog/services/frontend.jsonnet
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-component-aggregation.yml
Due: none

fix: add the env GCPScheduledSnapshotsFailed alerts
  mimir-rules/gitlab-gprd/gprd/gcp-snapshots.yml
  mimir-rules/gitlab-gstg/gstg/gcp-snapshots.yml
  mimir-rules/gitlab-ops/ops/gcp-snapshots.yml
Due: none

Notes added by 'git notes add'
  99/a007307c98f3c3ef0aba2e236e6e3c85ff2c63
Due: none

Notes added by 'git notes add'
  44/c06b4c472b28db00647bdc246f4fc01f23201f
Due: none

improve osquery runbook
  docs/about/README.md
  docs/console/README.md
  docs/uncategorized/osquery.md
  docs/version/README.md
  legacy-prometheus-rules/osquery.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(periodic-query): query multiple tenants in periodic queries
  lib/periodic_queries/prometheus_api.rb
  lib/periodic_queries/query.rb
  periodic-queries/periodic-query.libsonnet
  periodic-queries/periodic-query_test.jsonnet
  scripts/perform-periodic-queries.rb
  spec/periodic_queries/prometheus_api_spec.rb
  spec/periodic_queries/query_spec.rb
  spec/periodic_queries/topic_spec.rb
Due: rubocop, rspec, test-periodic-queries

Update feature categories 2024 06 20
  legacy-prometheus-rules/autogenerated-feature-category-metrics-google-cloud-storage.yml
  metrics-catalog/services/google-cloud-storage.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gprd/gprd/google-cloud-storage/autogenerated-gitlab-gprd-gprd-google-cloud-storage-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/google-cloud-storage/autogenerated-gitlab-gprd-gprd-google-cloud-storage-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/gstg/google-cloud-storage/autogenerated-gitlab-gstg-gstg-google-cloud-storage-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/google-cloud-storage/autogenerated-gitlab-gstg-gstg-google-cloud-storage-service-level-alerts.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-service-level-alerts-google-cloud-storage-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-google-cloud-storage-ops.yml
  thanos-rules/autogenerated-service-level-alerts-google-cloud-storage-other.yml
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

DR Timing Data for Gamedays
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove trailing space
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add some definitions and rename one measurement
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add more definitions and specificity
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: query tenants with stage group in error budget periodic queries
  metrics-catalog/gitlab-metrics-config.libsonnet
  periodic-queries/stage-group-7d-error-budgets.queries.jsonnet
  periodic-queries/stage-group-error-budgets.queries.jsonnet
Due: none

fix: feature category mapping and stage groups availability rules
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files.libsonnet
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files_test.jsonnet
  mimir-rules-jsonnet/stage-group-feature-category-mapping-rules.jsonnet
  mimir-rules-jsonnet/stage-group-monthly-availability.jsonnet
  mimir-rules/fulfillment-platform/autogenerated-fulfillment-platform-stage-group-feature-category-mapping.yml
  mimir-rules/fulfillment-platform/autogenerated-fulfillment-platform-stage-group-monthly-availability.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-monthly-availability.yml
  mimir-rules/runway/autogenerated-runway-stage-group-feature-category-mapping.yml
  mimir-rules/runway/autogenerated-runway-stage-group-monthly-availability.yml
Due: test-periodic-queries

make generate
  docs/gitaly/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  f6/ede4b03083bea1c700f82f5380a7e2284734e0
Due: none

chore: Remove pointless emittedBy
  reference-architectures/get-hybrid/src/services/kube.jsonnet
Due: none

Add informatino on thanos historical data
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Dependency Proxy SLI
  legacy-prometheus-rules/autogenerated-feature-category-metrics-web.yml
  legacy-prometheus-rules/autogenerated-key-metrics-web.yml
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-web-service-slos.yml
  thanos-rules/autogenerated-service-level-alerts-web-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-web-ops.yml
  thanos-rules/autogenerated-service-level-alerts-web-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix indentation
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

update
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none
