Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

docs: link service runbooks
  docs/ai-assisted/README.md
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update grafana/mimirtool docker tag to v2.11.0
  Dockerfile
Due: test-docker-image

feat(deps): update dependency thanos-io/thanos to v0.33.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

fix: Add autogenerated patroni-cause-alerts thanos rules
  thanos-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-rules/autogenerated-patroni-cause-alerts-other.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Enforce metrics selector as object
  libsonnet/servicemetrics/apdex/error_counter_apdex.libsonnet
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/apdex/success_counter.libsonnet
  libsonnet/servicemetrics/gauge_metric.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
  libsonnet/servicemetrics/validation.libsonnet
  metrics-catalog/services/ai-assisted.jsonnet
  metrics-catalog/services/frontend.jsonnet
  metrics-catalog/services/internal-api.jsonnet
  metrics-catalog/services/jaeger.jsonnet
  metrics-catalog/services/logging.jsonnet
  rules/autogenerated-key-metrics-ai-assisted.yml
  rules/autogenerated-key-metrics-frontend.yml
  rules/autogenerated-key-metrics-internal-api.yml
  rules/autogenerated-key-metrics-jaeger.yml
  thanos-rules/autogenerated-service-level-alerts-ai-assisted-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-assisted-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-assisted-other.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-ops.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-other.yml
  thanos-rules/autogenerated-service-level-alerts-internal-api-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-internal-api-ops.yml
  thanos-rules/autogenerated-service-level-alerts-internal-api-other.yml
  thanos-rules/autogenerated-service-level-alerts-jaeger-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-jaeger-ops.yml
  thanos-rules/autogenerated-service-level-alerts-jaeger-other.yml
  thanos-rules/autogenerated-service-level-alerts-logging-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-logging-ops.yml
  thanos-rules/autogenerated-service-level-alerts-logging-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Slice saturation points in manifest
  metrics-catalog/saturation/tamland.jsonnet
Due: none

Reuse the "selector" variable on libsonnet/alerts/patroni-cause-alerts.libsonnet
  libsonnet/alerts/patroni-cause-alerts.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  ab/6d4b213c1c53da3d94a737a8ce97aa100e9ed3
Due: none

chore(deps): update ruby-version-minor to v3.3.0
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

Exclude REINDEX from long xact alert
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  thanos-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-rules/autogenerated-patroni-cause-alerts-other.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Beautify regexps
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  thanos-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-rules/autogenerated-patroni-cause-alerts-other.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Update selectors for redis-cluster-shared-state
  metrics-catalog/services/redis-cluster-shared-state.jsonnet
  rules/autogenerated-key-metrics-redis-cluster-shared-state.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-shared-state-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-shared-state-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-shared-state-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat: Copying kube-state-metrics to mimir-rules directory
  mimir-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  mimir-rules/gprd/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/ops/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/other/autogenerated-kube-state-metrics-recording-rules.yml
  scripts/generate-jsonnet-rules.sh
Due: none

Notes added by 'git notes add'
  47/49e291d91df5f4e7e0f105182a662b5f1c5855
Due: none

Enable paging for ai-gateway degredations
  metrics-catalog/services/ai-gateway.jsonnet
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Tune ai-gateway alerting
  metrics-catalog/services/ai-gateway.jsonnet
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Apdex to 0.9
  metrics-catalog/services/ai-gateway.jsonnet
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Revert back to 0.98
  metrics-catalog/services/ai-gateway.jsonnet
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Add namespace eviction to the Zoekt runbook
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Remove rule build and push for thanos-staging.
  .gitlab-ci.yml
  Makefile
  scripts/generate-jsonnet-rules.sh
  scripts/generate-prometheus-crd.rb
Due: test-docker-image, rubocop, rspec

fix: Missed a staging reference in CI.
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency rubocop to v1.59.0
  Gemfile.lock
Due: none

chore: Git service auth API started going through internal-api in 2023-12-12
  metrics-catalog/services/internal-api.jsonnet
Due: none

redis_trace_cmd: Skip empty findx files
  scripts/redis_trace_cmd.rb
Due: rubocop, rspec

redis_trace_cmd: Update docs to include JSON output mode
  docs/redis/redis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  05/89bfa6017158c1612ef19b4175cc63c82ab63c
Due: none

fix: Install jsonnet-deps and jsonnet-lint into runbooks container image
  Dockerfile
Due: test-docker-image

Notes added by 'git notes add'
  0b/9109a488bebaea9e4ab2dfdfd2c1677f131aef
Due: none

rule generation
  Makefile
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
  docs/consul/README.md
  docs/frontend/README.md
  docs/git/README.md
  docs/gitaly/README.md
  docs/kube/README.md
  docs/omnibus/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
  docs/redis-sessions/README.md
  docs/redis-sidekiq/README.md
  docs/redis-tracechunks/README.md
  docs/redis/README.md
  docs/registry/README.md
  docs/search/README.md
  docs/sidekiq/README.md
  docs/thanos/README.md
  docs/version/README.md
  docs/web/README.md
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
  thanos-staging-rules/autogenerated-saturation-gprd.yml
  thanos-staging-rules/autogenerated-saturation-ops.yml
  thanos-staging-rules/autogenerated-saturation-other.yml
  thanos-staging-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: formatting
  libsonnet/saturation-monitoring/go_memory.libsonnet
Due: test-periodic-queries

fix: autogenerated rules again..
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.2.0
  .gitlab-ci.yml
Due: test-docker-image

Update feature categories to 2024-01-02
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(saturation): Just use max instead
  libsonnet/saturation-monitoring/go_memory.libsonnet
Due: test-periodic-queries

fix: autogenerate
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Slice saturation points in Tamland manifest for GET
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/tamland/tamland.jsonnet
Due: none

Add runbook for release environment's bastion host setup
  docs/bastions/db-benchmarking-bastions.md
  docs/bastions/ops-bastions.md
  docs/bastions/pre-bastions.md
  docs/bastions/release-bastions.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add healthcheck charts to Runway service dashboard
  dashboards/runway/service.dashboard.jsonnet
Due: none

Refactor selector validation in servicemetrics
  libsonnet/servicemetrics/apdex/error_counter_apdex.libsonnet
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/apdex/success_counter.libsonnet
  libsonnet/servicemetrics/gauge_metric.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
  libsonnet/servicemetrics/validation.libsonnet
Due: test-periodic-queries
