Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Notes added by 'git notes add'
  c3/1e1ce7ad41e6400578c651a86153359f412634
Due: none

fix: kube service apdex confidence
  metrics-catalog/services/kube.jsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-component-aggregation.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-service-level-alerts.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-component-aggregation.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-component-aggregation.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-component-aggregation.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-service-level-alerts.yml
Due: none

Update staging URL in Connect_to_Rails_Console_via_Teleport.md
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix dead handbook links in IMOC Checklist
  incidents/general_incidents.md
Due: markdownlint, validate-kibana-urls

Adds metric catalog entry for woodhouse-slack
  dashboards/woodhouse-slack/main.dashboard.jsonnet
  docs/woodhouse-slack/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/woodhouse-slack.jsonnet
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-component-aggregation.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-saturation-alerts.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-saturation-metadata.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-saturation.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-service-level-alerts.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-service-ops-anomaly-detection-alerts.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-service_ops_anomaly_detection.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-sli-aggregations.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-transformed-service-aggregation.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/woodhouse-slack/autogenerated-runway-woodhouse-slack-woodhouse-slack-service-slos.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Add Error Budget Report for Global Search
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Add previous incidents
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update componentresourcerunningout_disk_space alert template
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file patroni-management.md
  docs/patroni/patroni-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: add Remove long-term maintenace from a Replica
  docs/patroni/patroni-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: markdown lint
  docs/patroni/patroni-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add legacy metrics to dangerfile
  Dangerfile
Due: none

Update file build_cluster_from_snapshot.md
  docs/patroni/build_cluster_from_snapshot.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Removed unused or erroring watches.
  elastic/managed-objects/log_gprd/watches/gitaly_abuse_dashboards.json
  elastic/managed-objects/log_gprd/watches/incident_3370_early_warning.jsonnet
  elastic/managed-objects/log_gprd/watches/rails_scanning_by_ip.jsonnet
Due: update-elastic-watches:log-gprd

fix: updated docs/registry/README.md
  docs/registry/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: update teleport database roles
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  ab/899f5b31d76e37541c6f740b84617662c771f0
Due: none

chore: Add metric to disable apdex anomaly alerts & rules
  libsonnet/recording-rules/service-mapping-rule-set-generator.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/services/kube.jsonnet
  metrics-catalog/services/mimir.jsonnet
  metrics-catalog/services/monitoring.jsonnet
  metrics-catalog/services/search.jsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-kube-service-slos.yml
  mimir-rules/gitlab-gprd/monitoring/autogenerated-gitlab-gprd-monitoring-monitoring-service-slos.yml
  mimir-rules/gitlab-gprd/search/autogenerated-gitlab-gprd-search-search-service-slos.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-kube-service-slos.yml
  mimir-rules/gitlab-gstg/monitoring/autogenerated-gitlab-gstg-monitoring-monitoring-service-slos.yml
  mimir-rules/gitlab-gstg/search/autogenerated-gitlab-gstg-search-search-service-slos.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-kube-service-slos.yml
  mimir-rules/gitlab-ops/monitoring/autogenerated-gitlab-ops-monitoring-monitoring-service-slos.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-kube-service-slos.yml
  mimir-rules/gitlab-pre/monitoring/autogenerated-gitlab-pre-monitoring-monitoring-service-slos.yml
  mimir-rules/metamonitoring/mimir/autogenerated-metamonitoring-mimir-mimir-service-slos.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  c3/9a8e811c58a2c7e6e4d20dccd7f74fad787182
Due: none

Add docs for handling BufferMapping lightweight lock contention in Postgres
  docs/patroni/README.md
  docs/patroni/postgresql-buffermapping-lwlock-contention.md
  docs/pgbouncer/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Kube PVC disk space alert playbook
  docs/kube/alerts/kube_persistent_volume_claim_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Re-word disk usage on a service
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Change troubleshooting section
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update Teleport runbooks
  docs/about/README.md
  docs/console/README.md
  docs/customersdot/README.md
  docs/registry/README.md
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
  docs/teleport/README.md
  docs/teleport/teleport_admin.md
  docs/teleport/teleport_approval_workflow.md
  docs/teleport/teleport_disaster_recovery.md
  docs/version/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update Cloudflare provisioning instructions to include Dedicated
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix link to related alerts
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update HAProxyServerDown
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add link to severity handbook
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update bar chart query and remove axis min in trend graph
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

feat: support mixtool for dedicated
  .gitlab-ci.yml
  Dockerfile
  mixins-monitoring/generate-mixin.sh
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/hosted-runner.libsonnet
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
Due: test-docker-image

Notes added by 'git notes add'
  d5/8fc231892677f743e5ba579175d85afbe6246b
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts
