Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore: Disable capacity planning
  libsonnet/saturation-monitoring/node_schedstat_waiting.libsonnet
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

Update AI gateway SLIs
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-component-aggregation.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

docs: clarify announced release status explanation
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  1b/e7d09a95337d2015b29c74f537aeacd0679456
Due: none

Notes added by 'git notes add'
  88/752e8bad284a58717beb12a21720af435874a2
Due: none

refactor: source aggreation sets can list SLIs
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/servicemetrics/aggregation-set.libsonnet
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules-jsonnet/mimir-aggregation-transformations.jsonnet
Due: test-periodic-queries

feat: add node-component aggregation
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules-jsonnet/mimir-aggregations.jsonnet
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-component_node-aggregation.yml
Due: none

Notes added by 'git notes add'
  ff/6f75a4c141a5fb839a3727ea38234b57de5311
Due: none

feat: record reginalComponentSLIs aggregations
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/consul/autogenerated-gitlab-gprd-gprd-consul-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/nginx/autogenerated-gitlab-gprd-gprd-nginx-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/registry/autogenerated-gitlab-gprd-gprd-registry-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web-pages/autogenerated-gitlab-gprd-gprd-web-pages-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/consul/autogenerated-gitlab-gstg-gstg-consul-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/internal-api/autogenerated-gitlab-gstg-gstg-internal-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/nginx/autogenerated-gitlab-gstg-gstg-nginx-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/registry/autogenerated-gitlab-gstg-gstg-registry-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web-pages/autogenerated-gitlab-gstg-gstg-web-pages-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-regional_component-aggregation.yml
Due: none

Notes added by 'git notes add'
  ef/1fb5c639ebd400c3231a34ce992d90f496201a
Due: none

feat: add the shardComponentSLIs aggregation
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-component_shard-aggregation.yml
Due: none

feat: record service SLO observance rules in Mimir
  mimir-rules-jsonnet/service-slo-observance.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-assisted/autogenerated-gitlab-gprd-gprd-ai-assisted-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/registry/autogenerated-gitlab-gprd-gprd-registry-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/web-pages/autogenerated-gitlab-gprd-gprd-web-pages-service-slo-observance.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/ai-assisted/autogenerated-gitlab-gstg-gstg-ai-assisted-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/internal-api/autogenerated-gitlab-gstg-gstg-internal-api-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/registry/autogenerated-gitlab-gstg-gstg-registry-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/web-pages/autogenerated-gitlab-gstg-gstg-web-pages-service-slo-observance.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-service-slo-observance.yml
Due: none

Notes added by 'git notes add'
  07/e3c918a8163bffdf4b1830b8f43a71065c0e78
Due: none

fix: monthly release info transformation query
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  3b/3ef47f9af95690be935360f02f25e8f11efa1b
Due: none

feat(deps): update dependency go to v1.22.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

chore(deps): update dependency gitlab-dangerfiles to v4.7.0
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  16/3e83d2bdbdafdcb5d9a57142606a7d6e3e08ba
Due: none

chore(deps): update dependency rubocop to v1.62.1
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  5b/d95cc3094123043089247994db81c939baf2bd
Due: none

Notes added by 'git notes add'
  79/6eeb4b151edb65af474a292e9f50d5ac89263d
Due: none

Notes added by 'git notes add'
  8e/bf4789127cd35f10cd5e45bf14093f1718d52f
Due: none

Update pending jobs queue size in runner dashbaords
  dashboards/ci-runners/deployment.dashboard.jsonnet
  libsonnet/stage-groups/verify-runner/job_queue_graphs.libsonnet
Due: test-periodic-queries

Change database query graph on ci-runners incident database
  dashboards/ci-runners/incident-database.dashboard.jsonnet
  libsonnet/stage-groups/verify-runner/database_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/panels.libsonnet
Due: test-periodic-queries

chore: Update link to ci_pending_builds runbook
  README.md
Due: markdownlint, validate-kibana-urls

chore(deps): update dependency bigdecimal to v3.1.7
  Gemfile.lock
Due: none

feat(deps): update dependency terraform to v1.7.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

fix: Use more generic tag for Postgres Vacuum Monitoring
  libsonnet/saturation-monitoring/pg_vacuum_activity.libsonnet
  reference-architectures/get-hybrid/src/services/aws-rds.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  71/422d5f57220cf0aed32c73f45be33355ea2b5c
Due: none

fix: avoid generating rule-files with 0 groups
  mimir-rules-jsonnet/sli_aggregations.jsonnet
Due: none

Notes added by 'git notes add'
  ab/4b9aaedc3a5d05ab72f16e1e1c76ea0285afa8
Due: none

Update Mailgun events documentation
  docs/api/README.md
  docs/console/README.md
  docs/mailgun/mailgunevents.md
  docs/token-rotation-management/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update/consolidate ext-pvs documentation
  docs/ext-pvs/README.md
  docs/pipeline-validation-service/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts
