Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Notes added by 'git notes add'
  9f/817059575cc10923eaa8b92c0e80acd766a50b
Due: none

Remove Individual SME names from Alert Playbooks
  .gitlab/merge_request_templates/alert-playbook-template.md
  docs/kube/alerts/KubeContainersWaitingInError.md
  docs/patroni/alerts/PatroniLongRunningTransactionsDetected.md
  docs/patroni/alerts/walgBaseBackupDelayed.md
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix auth credentials env var setup
  docs/sidekiq/silent-project-exports.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: bump this to reflect the change in https://ops.gitlab.net/gitlab-com/gl-infra/config-mgmt/-/merge_requests/8583
  libsonnet/saturation-monitoring/nat_gateway_port_allocation.libsonnet
Due: test-periodic-queries

fix: regenerate docs
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
  docs/consul/README.md
  docs/frontend/README.md
  docs/git/README.md
  docs/gitaly/README.md
  docs/kube/README.md
  docs/mailgun/README.md
  docs/omnibus/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
  docs/redis-sessions/README.md
  docs/redis-sidekiq/README.md
  docs/redis-tracechunks/README.md
  docs/redis/README.md
  docs/registry/README.md
  docs/search/README.md
  docs/sidekiq/README.md
  docs/thanos/README.md
  docs/vault/README.md
  docs/version/README.md
  docs/web/README.md
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-saturation.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-saturation.yml
  rules/autogenerated-saturation.yml
  shell.nix
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: Add docs for scaling out redis-cluster
  docs/console/README.md
  docs/redis-cluster-ratelimiting/README.md
  docs/redis/README.md
  docs/redis/scaling-redis-cluster.md
  docs/registry/README.md
  docs/search/README.md
  docs/vault/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Update thresholds for nat_gateway_port_allocation
  legacy-prometheus-rules/autogenerated-saturation.yml
  libsonnet/saturation-monitoring/nat_gateway_port_allocation.libsonnet
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-saturation.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-saturation.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  ec/b8394c3093b361771ad7f0ff28d20f000e8d73
Due: none

chore(semantic-release): remove override
  .gitlab-ci.yml
Due: test-docker-image

Apply 1 suggestion(s) to 1 file(s)
  docs/redis/scaling-redis-cluster.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 2 suggestion(s) to 1 file(s)
  docs/redis/scaling-redis-cluster.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: incorporate feedback gathered on the MR
  docs/redis/scaling-redis-cluster.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: fix application SLI violations dashboard for mimir
  dashboards/general/application-sli-violations.dashboard.jsonnet
  libsonnet/grafana/templates.libsonnet
Due: test-periodic-queries

Add Ingress related troubleshooting to PA runbook
  docs/product_analytics/ssl-troubleshooting.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update teams file for Environments owned domain
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-ignored-components.yml
  services/teams.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(deps): update docker docker tag to v26.1.4
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency go to v1.22.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update dependency hashicorp/terraform to v1.8.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.8.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.11.0
  .gitlab-ci.yml
Due: test-docker-image

removes legacy prometheus metamon alert
  legacy-prometheus-rules/default/prometheus-metamons.yml
Due: none

Create HAProxyServerDown alert doc
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update HAProxyServerDown alert doc
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add service details [skip ci]
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

remove legacy prometheus snitch heartbeat
  legacy-prometheus-rules/default/prometheus-metamons.yml
Due: none

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.18.3
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency rubocop to v1.64.1
  Gemfile.lock
Due: none

removes the thanos ruler snitch heartbeat
  thanos-rules/metamon.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  9b/02ebbf759c638cfefbde2b625ed644b68ef84e
Due: none

Fix help for availability script
  bin/availability-update
Due: none

refactor: Reduce the time range of release info dashboard to 24h
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Update HAProxyServerDown alert template
  docs/frontend/alerts/HAProxyServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  77/c85a3877263cda31dcf8608f24428573d4e8e7
Due: none

Fix alert template expr double encoding
  alertmanager/templates/gitlab.tmpl
Due: none

Add information about kubernetes cluster
  docs/product_analytics/ssl-troubleshooting.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Commit and push feature categories update
  .gitlab-ci.yml
  scripts/commit-and-push-feature-categories-update.sh
Due: test-docker-image

Add playbook update
  docs/monitoring/alerts/PrometheusUnreachable.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update db backup retention details
  docs/patroni/postgresql-backups-wale-walg.md
  docs/postgres-dr-delayed/postgres-dr-replicas.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update CI configuration to use VAULT_AUTH_ROLE directly
  .gitlab-ci.yml
Due: test-docker-image

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
