Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Apply markdownlint fixes
  docs/ext-pvs/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add extra panels into ext-pvs dashboard
  dashboards/ext-pvs/main.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  f7/2d059854e566942c5e3cdf378ef864dfe451c0
Due: none

Ignore non-numeric characters in kubectl minor version string
  bin/kube
Due: none

chore: add region to vertex saturation resources
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-alerts.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: add region to SLIs
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/ext-pvs/autogenerated-gitlab-gprd-gprd-ext-pvs-ext-pvs-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-glgo-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ext-pvs/autogenerated-gitlab-gstg-gstg-ext-pvs-ext-pvs-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-glgo-service-slos.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ext-pvs.yml
  thanos-rules/autogenerated-key-metrics-glgo.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-other.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-ops.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: add region aux dashboard
  dashboards/ai-gateway/aux.shared.jsonnet
Due: none

chore: add region to service metrics dashboard
  dashboards/runway/service.dashboard.jsonnet
Due: none

chore: add region to saturation resources
  libsonnet/saturation-monitoring/runway_utilization.libsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation.yml
  mimir-rules/gitlab-gprd/gprd/ext-pvs/autogenerated-gitlab-gprd-gprd-ext-pvs-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ext-pvs/autogenerated-gitlab-gprd-gprd-ext-pvs-saturation.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ext-pvs/autogenerated-gitlab-gstg-gstg-ext-pvs-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ext-pvs/autogenerated-gitlab-gstg-gstg-ext-pvs-saturation.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: add region to applicable SLIs
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

chore: optionally set regional field
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ext-pvs/autogenerated-gitlab-gprd-gprd-ext-pvs-ext-pvs-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-glgo-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ext-pvs/autogenerated-gitlab-gstg-gstg-ext-pvs-ext-pvs-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-glgo-service-slos.yml
  thanos-rules/autogenerated-key-metrics-ext-pvs.yml
  thanos-rules/autogenerated-key-metrics-glgo.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-other.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-ops.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

refactor: add runway archetype helper
  libsonnet/service-archetypes/helpers/runway.libsonnet
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/ai-gateway.jsonnet
Due: test-periodic-queries

State that we do have basic alerting in place
  docs/ext-pvs/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Improve wording
  docs/ext-pvs/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove all legacy PVS config
  alertmanager/routing-tests.jsonnet
  dashboards/autogenerated-service-health-dashboards.json
  dashboards/pvs/main.dashboard.jsonnet
  libsonnet/saturation-monitoring/pvs_cloudrun_container_instances.libsonnet
  metrics-catalog/saturation/all.libsonnet
  metrics-catalog/saturation/tamland.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/ext-pvs.jsonnet
  metrics-catalog/services/git.jsonnet
  metrics-catalog/services/pvs.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-pvs-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-saturation.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/pvs/autogenerated-gitlab-gprd-gprd-pvs-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-pvs-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-saturation.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/pvs/autogenerated-gitlab-gstg-gstg-pvs-transformed-stage_groups-aggregation.yml
  rules/autogenerated-key-metrics-pvs.yml
  rules/autogenerated-saturation.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-service-level-alerts-pvs-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-pvs-ops.yml
  thanos-rules/autogenerated-service-level-alerts-pvs-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore(deps): update docker docker tag to v25.0.5
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  11/cdd0e8a5870222b990cabae113026427e89371
Due: none

Notes added by 'git notes add'
  8c/1ebf2631aa550f340ef4e74b767be69fbddaab
Due: none

chore: add max txn duration fields to sidekiq index
  elastic/managed-objects/lib/index_mappings/sidekiq.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

chore: update redis-cluster-repo-cache rails selector
  metrics-catalog/services/redis-cluster-repo-cache.jsonnet
  mimir-rules/gitlab-gprd/gprd/redis-cluster-repo-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-repo-cache-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/redis-cluster-repo-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-repo-cache-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/redis-cluster-repo-cache/autogenerated-gitlab-gstg-gstg-redis-cluster-repo-cache-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/redis-cluster-repo-cache/autogenerated-gitlab-gstg-gstg-redis-cluster-repo-cache-sli-aggregations.yml
  rules/autogenerated-key-metrics-redis-cluster-repo-cache.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.6.0
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency koalaman/shellcheck to v0.10.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency shellcheck to v0.10.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  8f/1b6ced236f1323a6ad197c8afe1710d86359d2
Due: none

Notes added by 'git notes add'
  bf/54ce1dd55282e5427ccb9c3ebe58fcc47783a8
Due: none

fix: sort monthly release info by latest created time instead of version
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Update file postgres-checkup.md
  docs/patroni/postgres-checkup.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  3c/b5863eabc0561d3d156cc53065b034778203a5
Due: none

feat: add redis-sidekiq-catchall-a service
  dashboards/redis-sidekiq-catchall-a/main.dashboard.jsonnet
  docs/redis-sidekiq-catchall-a/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/redis-sidekiq-catchall-a.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/web.jsonnet
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

chore: add autogenerated files
  mimir-rules/gitlab-gprd/gprd/redis-sidekiq/autogenerated-gitlab-gprd-gprd-redis-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/redis-sidekiq/autogenerated-gitlab-gprd-gprd-redis-sidekiq-kube-state-metrics.yml
  mimir-rules/gitlab-gprd/gprd/redis-sidekiq/autogenerated-gitlab-gprd-gprd-redis-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/redis-sidekiq/autogenerated-gitlab-gstg-gstg-redis-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/redis-sidekiq/autogenerated-gitlab-gstg-gstg-redis-sidekiq-kube-state-metrics.yml
  mimir-rules/gitlab-gstg/gstg/redis-sidekiq/autogenerated-gitlab-gstg-gstg-redis-sidekiq-sli-aggregations.yml
  rules/autogenerated-key-metrics-redis-sidekiq.yml
  rules/autogenerated-kube-state-metrics-recording-rules.yml
  rules/autogenerated-saturation.yml
  rules/autogenerated-utilization.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: set s4 severity
  metrics-catalog/services/redis-sidekiq-catchall-a.jsonnet
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  69/d68225d9f85d4f52dfb3f2f8a6bc13911ae68e
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.6.1
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency prometheus/prometheus to v2.51.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update docker docker tag to v26
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency mikefarah/yq to v4.43.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image
