Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

fix: adjust friendly name
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: name according to metric catalog
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore(deps): update dependency git to v2.3.0
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  866f413b95b2eb8b409f9f2f9c0ed3e947a15550
Due: none

Add runbook for Gitaly restore on Ops
  docs/console/README.md
  docs/git/README.md
  docs/gitaly/README.md
  docs/kube/README.md
  docs/ops-gitlab-net/database-dump.md
  docs/ops-gitlab-net/gitaly-restore.md
  docs/redis/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Revert old changes and modify docs to add linux sensor details
  docs/wiz-runtime-sensor-k8s/README.md
  docs/wiz-runtime-sensor-linux/README.md
  docs/wiz-runtime-sensor/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

fix: reference link
  docs/wiz-runtime-sensor/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: update cookbook link
  docs/wiz-runtime-sensor/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: markdown format
  docs/wiz-runtime-sensor/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: remove double feature category validation
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
Due: test-periodic-queries

Put ReclaimPolicy check before scale down of Gitaly
  docs/ops-gitlab-net/gitaly-restore.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add separate service metrics for qa runners
  metrics-catalog/services/ci-runners.jsonnet
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-ci-runners-service-slos.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-sli-aggregations.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat: Elastic watchers for Sidekiq DB primary duration
  elastic/managed-objects/log_gprd/watches/sidekiq_db_ci_duration_p95.jsonnet
  elastic/managed-objects/log_gprd/watches/sidekiq_db_main_duration_p95.jsonnet
Due: update-elastic-watches:log-gprd

Apply 17 suggestion(s) to 1 file(s)
  docs/wiz-runtime-sensor/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/wiz-runtime-sensor/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  5e3a39de657236b8f6d7526fe7876a1b12d4f086
Due: none

Adds documentation where we fall short on infra dev on cells
  docs/cells/infra-development.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update the prometheus-agent link in helmfiles to reflect the renamed path
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Fix broker links and query for PatroniLongRunningTransactionsDetected
  docs/patroni/alerts/PatroniLongRunningTransactionsDetected.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Prevent updating important keys in app config
  scripts/disaster-recovery/gitaly-replace-nodes.rb
Due: rubocop, rspec

Send GCP snapshot delayed alert up to Pagerduty
  mimir-rules/gitlab-gprd/gcp-snapshots.yml
Due: none

Add note about situations with lack of logs for sidekiq and ai-gateway indices
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Refine rate limits alerts for Cloud Connector
  docs/cloud_connector/README.md
  docs/cloud_connector/alerts/CloudflareCloudConnectorRateLimitExhaustion.md
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  56486c6ed8b1d56ea2e65c73e29ee54d49f35321
Due: none

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.21.0
  .copier-answers.yml
Due: none

feat: Adding saturation_dimensions_keep_aggregate flag
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  b16559c9363ceb8e243b829c79d16263b303d60d
Due: none

refactor: Adding shards as saturation dimensions to ci-runners service definition
  metrics-catalog/services/ci-runners.jsonnet
  metrics-catalog/services/lib/ci-runners-helpers.libsonnet
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

improve latest step
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update ruby-version-patch to v3.3.5
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

feat(deps): update dependency go to v1.23.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

Notes added by 'git notes add'
  8ffb401054bb9ed80caa1d24e34fc2176971ca30
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.35
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

chore: Update feature categories to 2024-09-09
  dashboards/product/foundations_error_budget.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
Due: validate-service-mappings, check-stage-groups, validate-alerts

docs: cells infra development happy path
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Modify ai-gateway inference and selector match
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
