Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore(deps): update dependency markdownlint-cli to v0.44.0
  package-lock.json
  package.json
Due: none

Add release-management Slack channel
  alertmanager/alertmanager.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Add text panels to release management dashboard
  dashboards/delivery/release_management.dashboard.jsonnet
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.53
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

feat(deps): update dependency pre-commit to v4.1.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency pre-commit/pre-commit to v4.1.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  package-lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  0652e36508e5ca5f8161558ba57ade0fdeffdaa9
Due: none

Notes added by 'git notes add'
  ed6d93274e7b4d33d3e2ecb32f10a1d7aa6185be
Due: none

fix(deps): lock file maintenance
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  package-lock.json
Due: none

Notes added by 'git notes add'
  e38239877326159519898658df9575921865873e
Due: none

Improve alerts on sidekiq deferred jobs
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
Due: test-periodic-queries

Add note to safely rotate secrets
  docs/redis/provisioning-redis-cluster.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Test build pressure alert by setting threshold to very low value
  mimir-rules/gitlab-ops/release-management/build-pressure.yml
Due: none

Notes added by 'git notes add'
  c5a6243d27c9d69dd438a345966d126b15b89e41
Due: none

Revert "Merge branch 'rp/test-build-pressure' into 'master'"
  mimir-rules/gitlab-ops/release-management/build-pressure.yml
Due: none

chore: remove s4 from the SLIs
  metrics-catalog/services/redis-cluster-database-lb.jsonnet
Due: none

chore: remove redis-db-load-balancing dependency
  metrics-catalog/services/web.jsonnet
Due: none

make generate
  mimir-rules/gitlab-gprd/redis-cluster-database-lb/autogenerated-gitlab-gprd-redis-cluster-database-lb-service-level-alerts.yml
  mimir-rules/gitlab-gstg/redis-cluster-database-lb/autogenerated-gitlab-gstg-redis-cluster-database-lb-service-level-alerts.yml
  mimir-rules/gitlab-pre/redis-cluster-database-lb/autogenerated-gitlab-pre-redis-cluster-database-lb-service-level-alerts.yml
Due: none

fix: update the support slack channel for opstrace
  docs/errortracking/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add panel displaying history of build pressure
  dashboards/delivery/release_management.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  16fbada2c973ac3d28f2edb49ef2c1cdb0fa1167
Due: none

Include `env` label in aggregate query
  mimir-rules/gitlab-gprd/chefs.yml
  mimir-rules/gitlab-gstg/chefs.yml
Due: none

Title and description should not be identical
  mimir-rules/gitlab-gprd/chefs.yml
  mimir-rules/gitlab-gstg/chefs.yml
Due: none

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.17.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  71efd948b659279c5937debaedd345093639ac95
Due: none

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore: Update rate-limiting runbook How-Tos
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 2 suggestion(s) to 1 file(s)
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  aafe394696220efbe7556ad61356b220f6a92b34
Due: none

fix: Redis Cluster Redirection broken panel
  libsonnet/gitlab-dashboards/redis_common_graphs.libsonnet
Due: test-periodic-queries

chore: Update formating
  docs/ci-runners/alerts/CICDNamespaceWithConstantNumberOfLongRunningRepeatedJobs.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update alert defination
  docs/ci-runners/alerts/CICDNamespaceWithConstantNumberOfLongRunningRepeatedJobs.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update the failover solution document
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update generate doc
  docs/runway/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update markdown format
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
