Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

update markdown format
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add patroni-sec dashboard configuration
  dashboards/patroni-sec/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/patroni-sec.jsonnet
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-component-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-patroni-sec-service-slos.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-saturation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service-level-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-sli-aggregations.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-utilization.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-component-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-patroni-sec-service-slos.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-saturation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service-level-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-sli-aggregations.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-utilization.yml
Due: none

remove uid
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

Update docs-website project URLs
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Update service-catalog.yml and add generated patroni-sec doc.
  docs/patroni-sec/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update Teleport license upgrade docs to mention refreshInterval pitfall
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Include both env and environment in the aggregation labels
  mimir-rules/gitlab-gprd/chefs.yml
  mimir-rules/gitlab-gstg/chefs.yml
Due: none

Fix Cloud Connector rate limit alert layout
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
Due: none

Apply 7 suggestion(s) to 1 file(s)
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Move CC alert links into runbook
  docs/cloud_connector/alerts/CloudflareCloudConnectorRateLimitExhaustion.md
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 2 suggestion(s) to 2 file(s)
  docs/cloud_connector/alerts/CloudflareCloudConnectorRateLimitExhaustion.md
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

FIX: issue with variables in new ASH dashboard
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

Add patch command instructions for modifying tenant model
  docs/cells/dns.md
Due: markdownlint, validate-kibana-urls, validate-alerts

added links and short description for ASH
  docs/patroni/postgres.md
  docs/patroni/query-analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

added runbook for ASH
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Increase CC alert threshold to 5 events/sec
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
Due: none

Add panels showing percentile durations of packager pipelines
  dashboards/delivery/deployment_slo.dashboard.jsonnet
Due: none

feat: Add ILM policy for cold and frozen tiers.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

removed hardcoded uids
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

Add rate limit specific troubleshooting tips to Duo Chat Runbook
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  a0bfdb57d04ab62aa3ae31e3af6bdfb56196b6a6
Due: none

fix: Add forcemerge to hot phase at recommendation of Elastic.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

fix: Add 3 days of frozen to verify that we can't cache all of it.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

feat(service-archetypes): runway postgres
  dashboards/runway-db-example/main.dashboard.jsonnet
  docs/runway-db-example/README.md
  libsonnet/service-archetypes/runway-postgres-archetype.libsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/runway-db-example.jsonnet
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-runway-db-example-service-slos.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation-alerts.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation-metadata.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-service-anomaly-detection-alerts.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-service_anomaly_detection.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, test-periodic-queries

feat(metrics-catalog): runway postgres
  libsonnet/service-archetypes/runway-postgres-archetype.libsonnet
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-component-aggregation.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-runway-db-example-service-slos.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation-alerts.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation-metadata.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-service-level-alerts.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-sli-aggregations.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-transformed-service-aggregation.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-transformed-stage_groups-aggregation.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  ec41f8e6dfe6e46e0923a21247dd45d32eba99a1
Due: none

Update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.54
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

chore(lint): ignore existing gitleaks false-positives
  .gitleaksignore
Due: none

attempt to make linter happer
  docs/patroni/query-analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts
