Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(deps): update dependency pre-commit/pre-commit to v4.2.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Updating EoC checklist
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  0b7d0031cce019ca54fe9b037807b4c9977a8608
Due: none

Notes added by 'git notes add'
  5c1d4626786809dca4167485210ac335a9d364f1
Due: none

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.27.2
  .copier-answers.yml
Due: none

chore(deps): update dependency rubocop to v1.74.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

Fixing typos
  docs/cells/validate.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix
  docs/gitaly/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/cells/validate.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update ci runner troubleshooting guide
  docs/ci-runners/ci-abuse-handling.md
  docs/ci-runners/ci-runner-timeouts.md
  docs/ci-runners/ci_runner_manager_errors.md
  docs/ci-runners/service-ci-runners.md
  docs/ci-runners/shared-runners-cost-factors.md
  docs/ci-runners/troubleshooting-guide.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(saturation): add the tokens per minute saturation point
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-saturation-alerts.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-saturation-metadata.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-saturation.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  c43fbd55b9a0f06467cb41e6a27d91d5498c05a6
Due: none

chore: Remove group by disk_id
  mimir-rules/gitlab-gprd/gcp-snapshots.yml
Due: none

cleanup
  dashboards/postgres-ai/NEW_postgres_ai_03.json
  dashboards/postgres-ai/NEW_postgres_ai_04.json
  dashboards/postgres-ai/node-performance-overview.json
Due: none

cleanup
  dashboards/postgres-ai/NEW_postgres_ai_03.json
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

cleanup
  dashboards/postgres-ai/NEW_postgres_ai_02.json
Due: none

cleanup
  dashboards/postgres-ai/NEW_postgres_ai_02.json
  dashboards/postgres-ai/node-performance-overview.json
Due: none

fixup: Remove job label from nat port saturation queries
  libsonnet/saturation-monitoring/nat_gateway_port_allocation.libsonnet
  libsonnet/saturation-monitoring/nat_host_port_allocation.libsonnet
  mimir-rules/gitlab-gprd/nat/autogenerated-gitlab-gprd-nat-saturation-alerts.yml
  mimir-rules/gitlab-gprd/nat/autogenerated-gitlab-gprd-nat-saturation.yml
  mimir-rules/gitlab-gstg/nat/autogenerated-gitlab-gstg-nat-saturation-alerts.yml
  mimir-rules/gitlab-gstg/nat/autogenerated-gitlab-gstg-nat-saturation.yml
Due: test-periodic-queries

Make db_sec*_duration_s log fields float not long
  elastic/managed-objects/lib/index_mappings/rails.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

feat: update rails mapping to support flattened params
  elastic/managed-objects/lib/index_mappings/rails.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

chore: Remove group by `disk_id` for `GCPScheduledSnapshotsDelayed` alert
  mimir-rules/gitlab-gprd/gcp-snapshots.yml
Due: none

feat: add duo-workflow service catalog
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

feat: add duo-workflow runway metrics
  dashboards/duo-workflow/main.dashboard.jsonnet
  docs/duo-workflow/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/duo-workflow.jsonnet
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-component-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-duo-workflow-service-slos.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-occurrence-sla-availability.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-saturation-alerts.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-saturation-metadata.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-saturation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-service-anomaly-detection-alerts.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-service-level-alerts.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-service_anomaly_detection.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-sli-aggregations.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-transformed-service-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-transformed-stage_groups-aggregation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add custom error/request rates for duo-workflow
  metrics-catalog/services/duo-workflow.jsonnet
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-component-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-duo-workflow-service-slos.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-feature_category-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-service-level-alerts.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-sli-aggregations.yml
Due: none

chore: fix CODEOWNERS rules for folders
  CODEOWNERS
Due: none

feat: modify thresholds, severity and channels
  metrics-catalog/services/duo-workflow.jsonnet
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-duo-workflow-service-slos.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-service-level-alerts.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat: append slis and add confidence level
  metrics-catalog/services/duo-workflow.jsonnet
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-component-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-duo-workflow-service-slos.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-feature_category-aggregation.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-service-level-alerts.yml
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-sli-aggregations.yml
Due: none

chore: add grpc significant labels
  metrics-catalog/services/duo-workflow.jsonnet
  mimir-rules/runway/duo-workflow/autogenerated-runway-duo-workflow-sli-aggregations.yml
Due: none

Update livepatch alert
  mimir-rules/gitlab-gprd/canonical-livepatch.yml
Due: none

Update livepatch docs
  docs/security-patching/alerts/UbuntuLivepatch.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix slack group name
  docs/disaster-recovery/alerts/GCPScheduledSnapshots.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  9ade314409a45723479763f7f1924d6dc307947a
Due: none

Notes added by 'git notes add'
  a0773d5f37add80a7e0ef3b250ccbb0fad64ea2f
Due: none

Revert "feat: remove patroni-embedding and pgbouncer embedding from the services catalog"
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/patroni-embedding.jsonnet
  metrics-catalog/services/pgbouncer-embedding.jsonnet
Due: none

feat: remove from expr in the walgBackupDelayed alert
  libsonnet/alerts/walg-backups-alerts.libsonnet
Due: test-periodic-queries

feat: make generate after - remove from expr in the walgBackupDelayed alert
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-walg-backups-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-walg-backups-alerts.yml
Due: none

feat: remove patroni-embedding and pgbouncer embedding from the services catalog
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/patroni-embedding.jsonnet
  metrics-catalog/services/pgbouncer-embedding.jsonnet
Due: none

update autogenerated-gitlab-gstg-walg-backups-alerts
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-walg-backups-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-walg-backups-alerts.yml
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
