Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore(observability): Data ingestion analytics dashboard, initial commit
  dashboards/observability/dataingestion.dashboard.jsonnet
Due: none

chore(observability): Add env selector to top-k metrics on data ingestion dashboards
  dashboards/observability/dataingestion.dashboard.jsonnet
Due: none

fix(runway): Only add regional labels when needed
  libsonnet/service-archetypes/helpers/runway.libsonnet
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-sli-aggregations.yml
Due: test-periodic-queries

fix(runway): Add location label to the runway dashboard
  dashboards/runway/service.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  93/db03b2d5f1207af2a72a453fe24cd2fafcd3f1
Due: none

Add doc on AWS certificates
  docs/certificates/aws.md
  docs/console/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Clarify that only the staging cert is fully managed
  docs/certificates/aws.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Removed non-functional haproxy alert.
  mimir-rules/gitlab-gprd/gprd/haproxy.yml
  rules/haproxy.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  ea/21e8e93274cc4c6e52ad3a99dff1d5625f83d7
Due: none

chore: Lint.
  rules/haproxy.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  00/60b21645d5cee7a0ce4892ef4570faf12fdb1e
Due: none

feat: Updated kubernetes-mixin.yml for Mimir.
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-ops/ops/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-pre/pre/kube/kubernetes-mixin.yml
Due: test-periodic-queries

Send pipeline security alerts to alerts channel
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

chore: Lint fix.
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-ops/ops/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-pre/pre/kube/kubernetes-mixin.yml
Due: none

feat: Moved and scoped rails.yml
  mimir-rules/gitlab-gprd/gprd/rails.yml
  mimir-rules/gitlab-gstg/gstg/rails.yml
  mimir-rules/gitlab-ops/ops/rails.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

chore: More lint.
  mimir-rules/gitlab-pre/pre/kube/kubernetes-mixin.yml
Due: none

Notes added by 'git notes add'
  f2/f58446b34ef8d548e06c31cc2af258a3309182
Due: none

fix(dashboards): runway load balancer dashboard filter
  dashboards/runway/loadbalancer.dashboard.jsonnet
Due: none

feat(dashboards): runway service dashboard filter
  dashboards/runway/service.dashboard.jsonnet
Due: none

chore(deps): update docker docker tag to v26.0.1
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency node to v20.12.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.12.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.8.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Add pre Gitaly service to metrics catalogue
  metrics-catalog/services/gitaly.jsonnet
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-component_node-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-gitaly-service-slos.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-saturation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-transformed-service_node-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-transformed-stage_groups-aggregation.yml
Due: none

Add pre and ops Gitlab Static service to metrics catalogue
  metrics-catalog/services/gitlab-static.jsonnet
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-gitlab-static-service-slos.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-gitlab-static-service-slos.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-transformed-stage_groups-aggregation.yml
Due: none

Add pre Internal API service to metrics catalogue
  metrics-catalog/services/internal-api.jsonnet
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-internal-api-service-slos.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-saturation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-service-slo-observance.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-transformed-stage_groups-aggregation.yml
Due: none

Add pre Kas service to metrics catalogue
  metrics-catalog/services/kas.jsonnet
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-kas-service-slos.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-saturation.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-transformed-stage_groups-aggregation.yml
Due: none

Add pre and ops Kube service to metrics catalogue
  metrics-catalog/services/kube.jsonnet
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-kube-service-slos.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-kube-state-metrics.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-saturation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-utilization.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-kube-service-slos.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-saturation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-utilization.yml
Due: none

Notes added by 'git notes add'
  3f/b498a893c60052f7d5527f5f00a0553a3bd38b
Due: none

Notes added by 'git notes add'
  c0/d99525ed08e63fb4ebb471facd80a66e0c436f
Due: none

Notes added by 'git notes add'
  fb/5174d190d8c160b612151edef5c362317ccb91
Due: none

Fix URL for tsh installation
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add global search team as zoekt/elasic docs codeowners
  CODEOWNERS
Due: none

fix(dashboards): selector matching
  dashboards/runway/service.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  f8/c8a64eeceb65994eb3875b72aaab5df7ff9511
Due: none

Add pre Nginx service to metrics catalogue
  metrics-catalog/services/nginx.jsonnet
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-nginx-service-slos.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-saturation.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/nginx/autogenerated-gitlab-pre-pre-nginx-transformed-stage_groups-aggregation.yml
Due: none

remove bogus rules
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-gprd-gprd-redis-repository-cache-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/consul/autogenerated-gitlab-gstg-gstg-redis-repository-cache-service-level-alerts.yml
Due: none

make generate
  mimir-rules/gitlab-ops/ops/atlantis/autogenerated-gitlab-gstg-gstg-atlantis-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/atlantis/autogenerated-gitlab-ops-ops-atlantis-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/consul/autogenerated-gitlab-ops-ops-consul-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/camoproxy/autogenerated-gitlab-pre-pre-camoproxy-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/consul/autogenerated-gitlab-pre-pre-consul-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/gitlab-static/autogenerated-gitlab-pre-pre-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/kas/autogenerated-gitlab-pre-pre-kas-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-service-level-alerts.yml
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
