Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-alertmanager, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, docker_image_test, alertmanager_test, check-stage-groups

update-alertmanager:
  stage: alertmanager
  environment: ops
  tags:
  - release
  script:
  - make test-alertmanager
  - cd alertmanager
  - ./update.sh
  variables:
    CLUSTER: ops-gitlab-gke
    REGION: us-east1

update_elastic_log_gprd_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/ILM/update-ilm.sh

update_elastic_log_gprd_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/watches/update-watches.sh

update_elastic_log_gprd_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/index-templates/update-index-templates.sh

update_elastic_log_gprd_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/cluster-settings/update-cluster-settings.sh

update_elastic_nonprod-log_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/watches/update-watches.sh

update_elastic_nonprod-log_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/ILM/update-ilm.sh

update_elastic_nonprod-log_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/index-templates/update-index-templates.sh

update_elastic_nonprod-log_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/cluster-settings/update-cluster-settings.sh

update_elastic_monitoring-es7_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/monitoring-es7/cluster-settings/update-cluster-settings.sh

update_elastic_monitoring-es7_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/monitoring-es7/ILM/update-ilm.sh

docker_image_test:
  image: docker:stable
  services:
  - docker:dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  stage: test
  script:
  - docker build .

alertmanager_test:
  stage: test
  script:
  - make test-alertmanager

check-stage-groups:
  stage: test
  script:
  - scripts/update-stage-groups-feature-categories
  - git diff --exit-code

correct team name
  metrics-catalog/services/waf.jsonnet
  thanos-rules/autogenerated-service-level-alerts-waf.yml
Due: none

chore: small Cloudflare improvements
  dashboards/waf/main.dashboard.jsonnet
  metrics-catalog/services/waf.jsonnet
  rules/autogenerated-key-metrics-waf.yml
  thanos-rules/autogenerated-service-level-alerts-waf.yml
Due: none

fix: Adjust limits on number of fields queried for ad-hoc full-text searches
  elastic/managed-objects/log_gprd/cluster-settings/cluster-settings.jsonnet
  elastic/managed-objects/nonprod-log/cluster-settings/cluster-settings.jsonnet
Due: update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_cluster_settings

Cleaning up codeowners for people who are no longer at GitLab
  CODEOWNERS
Due: none

Notes added by 'git notes add'
  bb/32a3fde3611a41448905a64241170f5579f6a8
Due: none

fix: Quote max_clause_count parameter
  elastic/managed-objects/log_gprd/cluster-settings/cluster-settings.jsonnet
  elastic/managed-objects/nonprod-log/cluster-settings/cluster-settings.jsonnet
Due: update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_cluster_settings

Notes added by 'git notes add'
  a1/9192467fd4fb924aadfeee1d00af8fcaa2ce2c
Due: none

Revert "fix: Quote max_clause_count parameter"
  elastic/managed-objects/log_gprd/cluster-settings/cluster-settings.jsonnet
  elastic/managed-objects/nonprod-log/cluster-settings/cluster-settings.jsonnet
Due: update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_cluster_settings

Revert "fix: Adjust limits on number of fields queried for ad-hoc full-text searches"
  elastic/managed-objects/log_gprd/cluster-settings/cluster-settings.jsonnet
  elastic/managed-objects/nonprod-log/cluster-settings/cluster-settings.jsonnet
Due: update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_cluster_settings

feat: Clean up docs that are outdated, inaccurate, or unused
  README.md
  certificates/README.md
  docs/git/gitter/mongodb-operations.md
  docs/git/gitter/renew-certificates.md
  docs/redis/README.md
  docs/registry/README.md
  docs/sidekiq/README.md
  docs/uncategorized/tweeting-guidelines.md
  docs/version/README.md
Due: none

Notes added by 'git notes add'
  1e/bdd82c12edb32c2824f43d24663509a1113530
Due: none

chore(deps): update docker docker tag to v23.0.3
  .gitlab-ci.yml
Due: none

Update secondsLostBetweenRetries query to filter out > days
  dashboards/delivery/release_management_toil.jsonnet
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v1.67.0
  .gitlab-ci.yml
Due: none

chore(deps): update dependency rubocop to v1.49.0
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  51/a3e145a6832dba161b3b98f91e48c379d98d5b
Due: none

add dedicated index for thanos
  elastic/managed-objects/indices/indices-array.sh
  elastic/managed-objects/lib/nonprod-log_index_template.libsonnet
Due: update_elastic_log_gprd_index_templates, update_elastic_nonprod-log_index_templates

Improve CustomersDot monitoring
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/customersdot.jsonnet
  thanos-rules/autogenerated-service-level-alerts-customersdot.yml
  thanos-rules/autogenerated-service-slos.yml
Due: none

Add sidekiq to public availability measurement.
  metrics-catalog/services/sidekiq.jsonnet
  rules/autogenerated-external-availability.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-rules/autogenerated-sla-rules.yml
Due: none

Remove trailing .yml from filename
  thanos-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-rules/autogenerated-sidekiq-alerts-gprd.yml
  thanos-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-rules/autogenerated-sidekiq-alerts-other.yml
Due: none

observability: Add dashboard for monitoring ClickHouse telemetry
  dashboards/observability/clickhouse.dashboard.jsonnet
Due: none

Add table with labels for thanos components
  docs/thanos/README.md
Due: none

add end of file newline to make linter happy
  docs/thanos/README.md
Due: none

trailing whitespace cleanup too
  docs/thanos/README.md
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v1.68.1
  .gitlab-ci.yml
Due: none

feat(deps): update dependency pre-commit/pre-commit to v3.2.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: none

Notes added by 'git notes add'
  15/2250668d00c408be06cc0174c07b497968e58f
Due: none

Remove intermediate rules and increase interval
  libsonnet/servicemetrics/aggregation-set.libsonnet
  libsonnet/servicemetrics/apdex/error_counter_apdex.libsonnet
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/apdex/lib/counter-apdex-attribution-query.libsonnet
  libsonnet/servicemetrics/apdex/lib/resolve-rate-query.libsonnet
  libsonnet/servicemetrics/apdex/success_counter.libsonnet
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  metrics-catalog/aggregation-sets.libsonnet
  rules/autogenerated-feature-category-metrics-api.yml
  rules/autogenerated-feature-category-metrics-ci-runners.yml
  rules/autogenerated-feature-category-metrics-customersdot.yml
  rules/autogenerated-feature-category-metrics-git.yml
  rules/autogenerated-feature-category-metrics-gitaly.yml
  rules/autogenerated-feature-category-metrics-google-cloud-storage.yml
  rules/autogenerated-feature-category-metrics-internal-api.yml
  rules/autogenerated-feature-category-metrics-kas.yml
  rules/autogenerated-feature-category-metrics-praefect.yml
  rules/autogenerated-feature-category-metrics-redis-tracechunks.yml
  rules/autogenerated-feature-category-metrics-registry.yml
  rules/autogenerated-feature-category-metrics-search.yml
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  rules/autogenerated-feature-category-metrics-web-pages.yml
  rules/autogenerated-feature-category-metrics-web.yml
  rules/autogenerated-feature-category-metrics-websockets.yml
Due: none

Adding alerts for CI mirrored tables inconsistencies
  docs/decomposition/ci-mirrored-tables.md
  rules/decomposed-database.yml
Due: none

fix(alert): KubeContainersWaitingInError
  rules-jsonnet/kube-cause-alerts.jsonnet
  rules/autogenerated-kube-cause-alerts.yml
Due: none

Updated to weight of 0 for a period of time.
  services/service-catalog.yml
Due: none

Re-ran make generate.
  rules/autogenerated-external-availability.yml
  thanos-rules/autogenerated-sla-rules.yml
Due: none

fix: Change graphql.complexity type to integer
  elastic/managed-objects/lib/index_mappings/rails.jsonnet
Due: update_elastic_log_gprd_index_templates, update_elastic_nonprod-log_index_templates

Notes added by 'git notes add'
  a2/e52ccc9529481faf8be0abf92caa9c6350d9d4
Due: none

Fix Prometheus rules deployment and alertmanager for the new staging-ref GKE cluster
  .gitlab-ci.yml
  alertmanager/dummy-secrets.jsonnet
Due: update-alertmanager, alertmanager_test

Update feature categories to 2023-04-11
  dashboards/stage-groups/analytics_instrumentation.dashboard.jsonnet
  dashboards/stage-groups/ide.dashboard.jsonnet
  libsonnet/recording-rules/feature-category-mapping.libsonnet
  libsonnet/utils/objects.libsonnet
  libsonnet/utils/objects_test.jsonnet
  metrics-catalog/services/kas.jsonnet
  rules/autogenerated-feature-category-metrics-kas.yml
  rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
  thanos-rules/autogenerated-service-level-alerts-kas.yml
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: check-stage-groups

feat(deps): update dependency hashicorp/terraform to v1.4.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: none

feat(deps): update dependency mikefarah/yq to v4.33.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: none

feat(deps): update dependency nodejs/node to v18.16.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: none

Remove Sean from Renovate reviewers
  renovate.json
Due: none

Path conditions:
  update-alertmanager: any of: alertmanager/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  docker_image_test: any of: Dockerfile
  alertmanager_test: any of: alertmanager/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
