Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

feat(deps): update dependency hashicorp/terraform to v1.8.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency prometheus/prometheus to v2.51.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.8.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.8.0
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency google-cloud-storage to v1.50.0
  Gemfile.lock
Due: none

chore(deps): update dependency redis to '~> 5.2.0'
  Gemfile
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  03/f0e360842bcb9766c3fef2751a8bbdb8bdf8b3
Due: none

Notes added by 'git notes add'
  28/6e1f8957eb54c426d88c9a1ded1607fe15dca4
Due: none

Add pre Patroni CI service to metrics catalogue
  metrics-catalog/services/patroni-ci.jsonnet
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-utilization.yml
Due: none

Add pre Patroni service to metrics catalogue
  metrics-catalog/services/patroni.jsonnet
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-saturation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-utilization.yml
Due: none

Add pre Redis Cluster Cache service to metrics catalogue
  metrics-catalog/services/redis-cluster-cache.jsonnet
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-redis-cluster-cache-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-cache/autogenerated-gitlab-pre-pre-redis-cluster-cache-utilization.yml
Due: none

Add pre Redis Cluster Feature Flag service to metrics catalogue
  metrics-catalog/services/redis-cluster-feature-flag.jsonnet
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-redis-cluster-feature-flag-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-feature-flag/autogenerated-gitlab-pre-pre-redis-cluster-feature-flag-utilization.yml
Due: none

Add pre Redis Cluster Queues Meta service to metrics catalogue
  metrics-catalog/services/redis-cluster-queues-meta.jsonnet
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-redis-cluster-queues-meta-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-utilization.yml
Due: none

Add pre Redis Cluster Rate Limiting service to metrics catalogue
  metrics-catalog/services/redis-cluster-ratelimiting.jsonnet
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-redis-cluster-ratelimiting-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-ratelimiting/autogenerated-gitlab-pre-pre-redis-cluster-ratelimiting-utilization.yml
Due: none

Add pre Redis Cluster Repo Cache service to metrics catalogue
  metrics-catalog/services/redis-cluster-repo-cache.jsonnet
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-redis-cluster-repo-cache-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-utilization.yml
Due: none

Add pre Redis Cluster Shared State service to metrics catalogue
  metrics-catalog/services/redis-cluster-shared-state.jsonnet
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-redis-cluster-shared-state-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-shared-state/autogenerated-gitlab-pre-pre-redis-cluster-shared-state-utilization.yml
Due: none

Add pre and ops Redis DB Load Balancing service to metrics catalogue
  metrics-catalog/services/redis-db-load-balancing.jsonnet
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-kube-state-metrics.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-redis-db-load-balancing-service-slos.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-saturation.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/ops/redis-db-load-balancing/autogenerated-gitlab-ops-ops-redis-db-load-balancing-utilization.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-redis-db-load-balancing-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-db-load-balancing/autogenerated-gitlab-pre-pre-redis-db-load-balancing-utilization.yml
Due: none

Add pre Redis PubSub service to metrics catalogue
  metrics-catalog/services/redis-pubsub.jsonnet
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-redis-pubsub-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-pubsub/autogenerated-gitlab-pre-pre-redis-pubsub-utilization.yml
Due: none

Add pre Redis Sessions service to metrics catalogue
  metrics-catalog/services/redis-sessions.jsonnet
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-redis-sessions-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sessions/autogenerated-gitlab-pre-pre-redis-sessions-utilization.yml
Due: none

Add pre Redis Tracechunks service to metrics catalogue
  metrics-catalog/services/redis-tracechunks.jsonnet
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-redis-tracechunks-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-tracechunks/autogenerated-gitlab-pre-pre-redis-tracechunks-utilization.yml
Due: none

Add pre Redis Sidekiq service to metrics catalogue
  metrics-catalog/services/redis-sidekiq.jsonnet
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-redis-sidekiq-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-saturation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis-sidekiq/autogenerated-gitlab-pre-pre-redis-sidekiq-utilization.yml
Due: none

Add pre Redis service to metrics catalogue
  metrics-catalog/services/redis.jsonnet
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-redis-service-slos.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-saturation.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/redis/autogenerated-gitlab-pre-pre-redis-utilization.yml
Due: none

kas: update Redis client dashboard
  dashboards/kas/redis.dashboard.jsonnet
Due: none

Add pre Registry service to metrics catalogue
  metrics-catalog/services/registry.jsonnet
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-kube-state-metrics.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-registry-service-slos.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-saturation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-service-slo-observance.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-transformed-service_regional-aggregation.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-transformed-stage_groups-aggregation.yml
Due: none

Add doco on break-glass procedure for SSH
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: bump redis-cluster-chat-cache to s2 severity
  metrics-catalog/services/redis-cluster-chat-cache.jsonnet
  mimir-rules/gitlab-gprd/gprd/redis-cluster-chat-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-chat-cache-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/redis-cluster-chat-cache/autogenerated-gitlab-gstg-gstg-redis-cluster-chat-cache-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-chat-cache-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-chat-cache-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-chat-cache-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

refactor: cleaning fake service definition
  mimir-rules-jsonnet/saturation.jsonnet
  mimir-rules-jsonnet/utilization.jsonnet
Due: none

chore: bump severity for redis-cluster-repo-cache
  metrics-catalog/services/redis-cluster-repo-cache.jsonnet
  mimir-rules/gitlab-gprd/gprd/redis-cluster-repo-cache/autogenerated-gitlab-gprd-gprd-redis-cluster-repo-cache-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/redis-cluster-repo-cache/autogenerated-gitlab-gstg-gstg-redis-cluster-repo-cache-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/redis-cluster-repo-cache/autogenerated-gitlab-pre-pre-redis-cluster-repo-cache-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

docs: Update broken links
  docs/ci-runners/ci-apdex-violating-slo.md
  docs/cloudflare/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  ae/63911d7e9d25e7dbbddb697c3399311e76df72
Due: none

feat: Moved and scoped gitaly rules and alerts.
  mimir-rules/gitlab-gprd/gprd/gitaly/gitaly.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/gitaly.yml
  mimir-rules/gitlab-pre/pre/gitaly/gitaly.yml
Due: none

chore: bump severity for redis-cluster-queues-meta
  metrics-catalog/services/redis-cluster-queues-meta.jsonnet
  mimir-rules/gitlab-gprd/gprd/redis-cluster-queues-meta/autogenerated-gitlab-gprd-gprd-redis-cluster-queues-meta-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/redis-cluster-queues-meta/autogenerated-gitlab-gstg-gstg-redis-cluster-queues-meta-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-queues-meta-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-queues-meta-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-queues-meta-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: rerun make generate after rebase
  mimir-rules/gitlab-pre/pre/redis-cluster-queues-meta/autogenerated-gitlab-pre-pre-redis-cluster-queues-meta-service-level-alerts.yml
Due: none

fix: add monitor label to feature category mapping
  libsonnet/recording-rules/feature-category-mapping.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  2d/cf7d6d045ccce5f21cead2196d6ce3750183f8
Due: none

Include service account information
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Decrease forecast horizon for gitaly disk space
  libsonnet/saturation-monitoring/gitaly_active_node_available_space.libsonnet
Due: test-periodic-queries

feat: add client_database_transaction SLIs
  metrics-catalog/gitlab-slis/library.libsonnet
  rules/autogenerated-gitlab-application-slis.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Apply 2 suggestion(s) to 1 file(s)
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

space
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts
