Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Update 2 files
  docs/duo/code_suggestion_failover.md
  img/aigw_code_gen_log.png
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

generate
  docs/pubsub/README.md
  docs/registry/README.md
  docs/search/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/about/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update SAST Slack channels
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

fix(ci): fix the path-rule for validate-alerts job
  .gitlab-ci.yml
Due: test-docker-image

feat: cells infrastructure alerts
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  2c47eac3edb580538bb9b5e069a5eb744b5d159b
Due: none

Update thresholds
  elastic/managed-objects/log_gprd/watches/global_search_searchcontroller_high_db_count.jsonnet
  elastic/managed-objects/log_gprd/watches/rails_sql_n_plus_1_p95.jsonnet
  elastic/managed-objects/log_gprd/watches/rails_sql_n_plus_1_p95_ci.jsonnet
Due: update-elastic-watches:log-gprd

generate
  docs/duo/code_suggestion_failover.md
  img/aigw_code_completion_log.png
  img/aigw_code_gen_log.png
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  987a1ad316d9cd4bf64a718c85aa358d43bc596c
Due: none

Update security insights slack channel
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat: Set http-router alerts to trigger
  libsonnet/saturation-monitoring/http_router_cpu.libsonnet
  metrics-catalog/services/http-router.jsonnet
  mimir-rules/gitlab-ops/http-router/autogenerated-gitlab-ops-http-router-saturation-alerts.yml
  mimir-rules/gitlab-ops/http-router/autogenerated-gitlab-ops-http-router-service-level-alerts.yml
Due: test-periodic-queries

Update logging references for topology service
  docs/topology-rest/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update Global Search part of Elastic runbook
  docs/elastic/README.md
  docs/elastic/advanced-search-in-gitlab.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  9dd95c4a4fba3a5db4eb4b502b3f1083e0a545a4
Due: none

fix(watches): fix the timerange
  elastic/managed-objects/log_gprd/watches/watcher.libsonnet
Due: update-elastic-watches:log-gprd

Remove legacy unreview project from ai-gateway runbook
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Revert "Merge branch 'update-ilm-force-merge' into 'master'"
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

fix: saturation monitoring for total elastic_disk_space
  libsonnet/saturation-monitoring/elastic_disk_space.libsonnet
  mimir-rules/gitlab-gprd/logging/autogenerated-gitlab-gprd-logging-saturation-alerts.yml
  mimir-rules/gitlab-gprd/logging/autogenerated-gitlab-gprd-logging-saturation.yml
  mimir-rules/gitlab-gprd/search/autogenerated-gitlab-gprd-search-saturation-alerts.yml
  mimir-rules/gitlab-gprd/search/autogenerated-gitlab-gprd-search-saturation.yml
  mimir-rules/gitlab-gstg/logging/autogenerated-gitlab-gstg-logging-saturation-alerts.yml
  mimir-rules/gitlab-gstg/logging/autogenerated-gitlab-gstg-logging-saturation.yml
  mimir-rules/gitlab-gstg/search/autogenerated-gitlab-gstg-search-saturation-alerts.yml
  mimir-rules/gitlab-gstg/search/autogenerated-gitlab-gstg-search-saturation.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  91caa161b41627e2f4848b1e0e2ed6bf33395b82
Due: none

Update Woodhouse and Woodhouse-slack documentation
  docs/api/README.md
  docs/runway/README.md
  docs/woodhouse-slack/README.md
  docs/woodhouse-slack/images/Woodhouse-Slack-Redeploy.png
  docs/woodhouse-slack/overview.md
  docs/woodhouse/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Linting repairs
  docs/woodhouse-slack/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency git to v2.3.2
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update dependency markdownlint-cli to v0.43.0
  package-lock.json
  package.json
Due: none

Fix tenant-observability/config-manager image tag in Dockerfile
  Dockerfile
Due: test-docker-image

feat: Add runbook disabling `http-router` routing
  docs/http-router/deployments.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency hashicorp/vault to v1.18.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.31.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.18.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update python docker tag to v3.13
  .gitlab-ci.yml
Due: test-docker-image

chore: Remove tenant-observability-config-manager
  Dockerfile
Due: test-docker-image

Add cidrs for small hosted runners on Linux Arm
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update registry.gitlab.com/gitlab-com/gl-infra/observability/tenant-observability/config-manager docker tag to v1.8.3
  Dockerfile
Due: test-docker-image

Notes added by 'git notes add'
  0b0da5155366d2d842b39c751cb7e36c21aaa3c1
Due: none

Notes added by 'git notes add'
  11f7183960f7f0eefa00f87c86139464f0d17821
Due: none
