Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

no bare urls
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Adds Redis Client monitoring for Dedicated
  libsonnet/saturation-monitoring/aws_elasticache_clients.libsonnet
  reference-architectures/README.md
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/src/services/all.jsonnet
  reference-architectures/get-hybrid/src/services/redis.jsonnet
  reference-architectures/get-hybrid/src/services/registry.jsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

Notes added by 'git notes add'
  b8/ac6db87ff76b330a1b336fc03f5504a01d0475
Due: none

lint
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add patch release information panels to release information dashboard
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  c3/823d50997817cdb319ab600cab2abf8f5b0f40
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Corrected job label.
  mimir-rules/gitlab-gprd/gprd/gitaly/gitaly.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/gitaly.yml
  mimir-rules/gitlab-pre/pre/gitaly/gitaly.yml
Due: none

fix: Removed extra noise.
  mimir-rules/gitlab-gprd/gprd/gitaly/gitaly.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/gitaly.yml
  mimir-rules/gitlab-pre/pre/gitaly/gitaly.yml
Due: none

feat: Moved and scoped gitlab-com-ci.
  mimir-rules/gitlab-gprd/gprd/ci-runners/gitlab-com-ci.yml
Due: none

Notes added by 'git notes add'
  84/21a42daac4555f907d3ad2cd5995e35e9ecf6f
Due: none

feat: add database txn SLI to patroni rails
  libsonnet/service-archetypes/patroni-rails-archetype.libsonnet
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-sli-aggregations.yml
  rules/autogenerated-gitlab-application-slis.yml
  rules/autogenerated-key-metrics-patroni-ci.yml
  rules/autogenerated-key-metrics-patroni.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ci-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ci-ops.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ci-other.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ops.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  94/fe3b989b8ac17b93a33506cebfbe94a9416bda
Due: none

Notes added by 'git notes add'
  02/043277f2e04964acdc3dc1652c9181fe6f3cdd
Due: none

Notes added by 'git notes add'
  c6/38945ae397a674c86633bfebcb3ce3ee6f455b
Due: none

Update file access.md
  docs/vault/access.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Remove extra scrape from gitaly alerts.
  mimir-rules/gitlab-gprd/gprd/gitaly/gitaly.yml
  rules/gitaly.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  3a/404a2b37116aa5a0d43bf2a0b2d1003a577691
Due: none

refactor(metrics-catalog): gcp load balancer componenents for runway
  metrics-catalog/services/lib/google_load_balancer_components.libsonnet
Due: none

chore(metrics-catalog): disable runway_lb for ext-pvs
  metrics-catalog/services/ext-pvs.jsonnet
Due: none

chore(runbooks): make generate
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-glgo-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-glgo-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-sli-aggregations.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-gprd.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-ops.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-other.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-glgo.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-ops.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat(metrics-catalog): add runway_lb SLI to runway-archetype
  libsonnet/service-archetypes/runway-archetype.libsonnet
Due: test-periodic-queries

chore(metrics-catalog): remove unused imports for ext-pvs
  metrics-catalog/services/ext-pvs.jsonnet
Due: none

refactor(metrics-catalog): baseSelector argument for gcp load balancer components
  libsonnet/service-archetypes/runway-archetype.libsonnet
  metrics-catalog/services/lib/google_load_balancer_components.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  39/365c54c5e566247cdaacce6eec307ebe764622
Due: none

chore: adjust client-database-transaction threshold to 0.995
  libsonnet/service-archetypes/patroni-rails-archetype.libsonnet
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-patroni-ci-service-slos.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-patroni-service-slos.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ci-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ci-ops.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ci-other.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-ops.yml
  thanos-rules/autogenerated-service-level-alerts-patroni-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: add high level overview of migration plan
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: markdownlint warnings
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(ARM64 runners): Document new subnetwork ranges to accommodate for VMs in region ref: https://gitlab.com/groups/gitlab-org/-/epics/8442
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6d/c21af061c4da30c9ce89742e31047c6b6a2d31
Due: none

chore: add example
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: add sharded sidekiq setup diagram and minor docs change
  docs/sidekiq/img/sharded-sidekiq.png
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  98/dd826ddfdc012a5393c86e3aecef0ef2dabf58
Due: none

fix: saas_runner_queues shouldnt be scoped by emittedBy
  metrics-catalog/services/ci-runners.jsonnet
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-sli-aggregations.yml
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
