Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

fix: run make generate
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
Due: none

fix: Update TrafficAbsent general alert
  docs/alerts/TrafficAbsent.md
  docs/alerts/image/traffic-absent.png
  docs/api/README.md
  docs/gitaly/README.md
  docs/kas/README.md
  docs/monitoring/README.md
  docs/registry/README.md
  docs/sidekiq/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  10499320a5000a33d2b169425ffe58389c3aaa9d
Due: none

fix: broken link in traffic absent alert
  docs/alerts/TrafficAbsent.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  4052ce7124dd4f20f08d24591f1e4643d21e3ef7
Due: none

runbook: Create gitaly feature status dashboard
  dashboards/gitaly/feature-status.dashboard.jsonnet
Due: none

chore: copier update
  .copier-answers.yml
  .copier-version
  .gitlab-ci.yml
  .mise.toml
  .pre-commit-config.yaml
  renovate.json
  scripts/install-asdf-plugins.sh
  scripts/prepare-dev-env.sh
Due: test-docker-image

Notes added by 'git notes add'
  c962a2dcdbfa67263d073e791ae2e9d395313cf8
Due: none

Notes added by 'git notes add'
  af77e5b23721aa8317fe84353fb65b761122b490
Due: none

Address feedback regarding adding additional sections for debugging the playbook with issues
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix lint issues
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix indentation in teleport db docs
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

ApdexSLOViolation general alert playbook
  docs/alerts/ApdexSLOViolation.md
  docs/alerts/image/PatroniCiServiceRailsReplicaSqlApdexSLOViolation.png
  docs/ci-runners/README.md
  docs/gitaly/README.md
  docs/mimir/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/sidekiq/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Make walg alerts non-paging
  legacy-prometheus-rules/gitlab-walg-backups.yml
  mimir-rules/gitlab-gprd/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gstg/patroni/gitlab-walg-backups.yml
Due: none

fix: show all shards for ci-runner SLIS
  dashboards/ci-runners/main.dashboard.jsonnet
  libsonnet/grafana/templates.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  c8885c3261e568176d1dc3068195b05300a62791
Due: none

Added recovery time for GSTG Patroni Zonal Outage Gameday
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency go to v1.22.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update dependency hashicorp/terraform to v1.9.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency hashicorp/vault to v1.17.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.9.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.17.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.65.1
  Gemfile.lock
Due: none

feat(deps): update dependency prometheus/prometheus to v2.54.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  2f60311695d25d387f5dcebc432d7934d1fb2f76
Due: none

Notes added by 'git notes add'
  4d0469e4e1b3dd5cdf976a3cdcac78a4f78f3850
Due: none

feat(deps): update dependency mikefarah/yq to v4.44.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency yq to v4.44.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  dba5801457178d1ff40fba3c2e1960f9337e5a73
Due: none

Notes added by 'git notes add'
  f46b0465851093697f73f7c4155585e326555bb1
Due: none

chore: remove extra-rule-set-generator
  libsonnet/recording-rules/extra-recording-rule-set-generator.libsonnet
  libsonnet/recording-rules/recording-rules.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: test-periodic-queries

Update feature categories 2024-08-05
  dashboards/product/5-min-app_error_budget.dashboard.jsonnet
  dashboards/stage-groups/5-min-app.dashboard.jsonnet
  dashboards/stage-groups/remote_development.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, check-stage-groups, validate-alerts

Indexing alerts should check pause indexing setting
  mimir-rules/gitlab-gprd/search/gitlab-com-search.yml
  mimir-rules/gitlab-gstg/search/gitlab-com-search.yml
Due: none

Add info for PVC disk alerts to zoekt runbook
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Runbook to debug GitLab Duo Chat issues
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Add redis_cluster_size reduction alert for detecting hung up nodes
  mimir-rules/gitlab-gprd/redis/redis.yml
Due: none

feat: Add initial cells breakglass documentation
  docs/cells/breakglass.md
  docs/cells/img/cells_dev_org_switcher.png
  docs/cells/img/cells_prod_org_switcher.png
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Add flowchart for breakglass acess
  docs/cells/breakglass.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
