Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Notes added by 'git notes add'
  23/641f1babe830776174e7a8540bb50df897eef1
Due: none

fix: SLA rules should record from `slo:observation_status`
  mimir-rules-jsonnet/sla-rules.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sla-rules.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sla-rules.yml
Due: none

chore: create sidekiq per worker alerts in mimir
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules-jsonnet/sidekiq-queue-rules.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sidekiq-alerts.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  thanos-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-rules/autogenerated-sidekiq-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: Add enqueued jobs SLI
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-sli-aggregations.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: incorrect metric names
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sidekiq-alerts.yml
  thanos-rules/autogenerated-sidekiq-alerts-gprd.yml
  thanos-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-rules/autogenerated-sidekiq-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

chore: Replace gitlab_background_jobs:ops in dashboards
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
Due: test-periodic-queries

chore: Remove sidekiq worker aggregation sets
  metrics-catalog/aggregation-sets.libsonnet
  metrics-catalog/services/lib/sidekiq-per-worker-recording-rules.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/gprd/redis-repository-cache/autogenerated-gitlab-gprd-gprd-redis-repository-cache-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/redis-repository-cache/autogenerated-gitlab-gstg-gstg-redis-repository-cache-sli-aggregations.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  rules/sidekiq.yml
  thanos-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-rules/autogenerated-sidekiq-alerts-gprd.yml
  thanos-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-rules/autogenerated-sidekiq-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

remove deleted rules from master
  mimir-rules/gitlab-gprd/gprd/redis-repository-cache/autogenerated-gitlab-gprd-gprd-redis-repository-cache-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/redis-repository-cache/autogenerated-gitlab-gstg-gstg-redis-repository-cache-sli-aggregations.yml
Due: none

make generate
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: Create anti abuse alerts in Mimir
  libsonnet/alerts/ci-runners-anti-abuse-alerts.libsonnet
  mimir-rules-jsonnet/anti-abuse-alerts.jsonnet
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-anti-abuse-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-anti-abuse-alerts.yml
  mimir-rules/gitlab-ops/ops/ci-runners/autogenerated-gitlab-ops-ops-ci-runners-anti-abuse-alerts.yml
  mimir-rules/gitlab-pre/pre/ci-runners/autogenerated-gitlab-pre-pre-ci-runners-anti-abuse-alerts.yml
  rules-jsonnet/anti-abuse-alerts.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  e7/f907b49153b187f42c791e0c11e823630b83a7
Due: none

refactor: having recordingRuleRegistry configurable on gitlab-slis/aggregation-sets
  metrics-catalog/gitlab-slis/aggregation-sets.libsonnet
Due: none

feat(mimir): application slis aggregated by tenants
  mimir-rules-jsonnet/application-slis.jsonnet
Due: none

feat(mimir): application sli metrics
  mimir-rules-jsonnet/application-slis.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-aggregated-application-sli-metrics.yml
Due: none

refactor: ignoring empty rule groups
  mimir-rules-jsonnet/application-slis.jsonnet
Due: none

chore: make generate
  mimir-rules/gitlab-gprd/gprd/ai-assisted/autogenerated-gitlab-gprd-gprd-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/ai-assisted/autogenerated-gitlab-gstg-gstg-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/internal-api/autogenerated-gitlab-gstg-gstg-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-aggregated-application-sli-metrics.yml
Due: none

Notes added by 'git notes add'
  45/80dbb7954ee87989078cbbdc865a9deb577457
Due: none

chore: using unified-registry on mimir application-slis
  mimir-rules-jsonnet/application-slis.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-assisted/autogenerated-gitlab-gprd-gprd-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/internal-api/autogenerated-gitlab-gstg-gstg-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-aggregated-application-sli-metrics.yml
Due: none

feat(mimir): thanos compatible static labels to application slis
  metrics-catalog/gitlab-slis/aggregation-sets.libsonnet
  mimir-rules-jsonnet/application-slis.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-assisted/autogenerated-gitlab-gprd-gprd-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/ai-assisted/autogenerated-gitlab-gstg-gstg-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/internal-api/autogenerated-gitlab-gstg-gstg-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-aggregated-application-sli-metrics.yml
Due: none

Notes added by 'git notes add'
  f7/b2968397f5067afb780ca16363266507d3a746
Due: none

chore: attempt of using mimir-aggregation-sets for application-slis
  metrics-catalog/mimir-aggregation-sets.libsonnet
  mimir-rules-jsonnet/application-slis.jsonnet
Due: none

feat: Moved and scoped sidekiq-queues alert.
  mimir-rules/gitlab-gprd/gprd/sidekiq/sidekiq-queues.yml
Due: none

Added suggestions.
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
Due: test-periodic-queries

fix: Fixed the rest of the dashboards.
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  7f/6cd75d4ba34d582226eb4a07b3b0378cf3db3b
Due: none

fix: Add monitor: global static label to sla rules
  libsonnet/recording-rules/sla-rules.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sla-rules.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sla-rules.yml
  thanos-rules/autogenerated-sla-rules-gprd.yml
  thanos-rules/autogenerated-sla-rules-ops.yml
  thanos-rules/autogenerated-sla-rules-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

feat: Add token rotation catalog entry
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Notes added by 'git notes add'
  10/316a77b91e42ee01f9fad70e38f52577cc9081
Due: none

fix: Ensure consistent make generation with existing docs
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: Use generated file output
  docs/token-rotation-management/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Use friendly name in output
  docs/token-rotation-management/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: Add empty logging item to pass pipeline
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Notes added by 'git notes add'
  5a/d904fb69b6cf5133a1f1126aacc75f6f5236af
Due: none

Notes added by 'git notes add'
  5c/637e85bf25e2e86ad6a0dd60c429b0bf3bdbb4
Due: none

feat: Adding cloudflare service definition
  dashboards/cloudflare/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/cloudflare.jsonnet
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-utilization.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-cloudflare-service-slos.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-saturation-alerts.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-saturation-metadata.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-saturation.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-service-anomaly-detection-alerts.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-service_ops_anomaly_detection.yml
  mimir-rules/metamonitoring/metamonitoring/cloudflare/autogenerated-metamonitoring-metamonitoring-cloudflare-utilization.yml
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: Cloudflare added to service catalog
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

feat: skip saturation rules
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/services/cloudflare.jsonnet
  mimir-rules-jsonnet/saturation.jsonnet
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-saturation.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare/autogenerated-gitlab-gstg-gstg-cloudflare-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare/autogenerated-gitlab-gstg-gstg-cloudflare-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare/autogenerated-gitlab-gstg-gstg-cloudflare-saturation.yml
Due: test-periodic-queries

refactor: simplifying code a little
  mimir-rules-jsonnet/saturation.jsonnet
Due: none
