Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore(ci): use the default common-ci-tasks job definitions for Danger and Renovate
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  a31351492646086c091e24c7e41bb79fd6645315
Due: none

Notes added by 'git notes add'
  412a581224ff390a2fd7857108da8ae14bc9269e
Due: none

chore: bump common-ci-tasks to v2.31 to fix the broken Renovate job
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.18.0
  .copier-answers.yml
  .copier-version
  .editorconfig
  .gitlab-ci.yml
  .goreleaser.yml
  .mise.toml
  .pre-commit-config.yaml
  .yamllint.yaml
  go.mod
  go.sum
  main.go
  renovate.json
  scripts/install-asdf-plugins.sh
  scripts/prepare-dev-env.sh
Due: test-docker-image

chore(deps): update .editorconfig
  .editorconfig
Due: none

chore(deps): use standard.yml from common-ci-tasks
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): merge yamllint config
  .yamllint.yaml
Due: none

fix(jsonnet): mark this repository as one using jsonnet
  .copier-answers.yml
Due: none

chore(deps): update pre-commit-config to use common-ci-tasks
  .pre-commit-config.yaml
Due: none

chore(deps): includ the truncated versions renovate config
  renovate.json
Due: none

fix(shellcheck): enable shellcheck
  .gitlab-ci.yml
  bin/gitaly
  bin/vault
  dashboards/grafana-tools.lib.sh
  scripts/find-bootstrap-duration.sh
  scripts/generate-reference-architecture-config.sh
  scripts/gitaly-ips
  scripts/reset-yubikey.sh
Due: test-docker-image

chore(deps): update instal-asdf-plugins.sh
  scripts/install-asdf-plugins.sh
Due: none

fix(golang): this is not a golang project
  .copier-answers.yml
  .gitlab-ci.yml
  .goreleaser.yml
  go.mod
  go.sum
  main.go
Due: test-docker-image

Notes added by 'git notes add'
  6a10e55bc368b1933b6e7df48bfe5842251c04e5
Due: none

How to find AI Gateway error logs
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Added recovery time for GSTG Gitaly Restore/Test Gameday
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.19.2
  .copier-answers.yml
Due: none

set vm to true
  metrics-catalog/services/wiz-runtime-sensor.jsonnet
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation.yml
Due: none

add tenants and groupname
  metrics-catalog/services/wiz-runtime-sensor.jsonnet
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-kube-state-metrics.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-service_anomaly_detection.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-wiz-runtime-sensor-service-slos.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-kube-cause-alerts.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-kube-state-metrics.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-service_anomaly_detection.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-wiz-runtime-sensor-service-slos.yml
Due: none

Update EoC Checklist
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Service definition shards
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/saturation/tamland.jsonnet
  metrics-catalog/saturation/tamland_test.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
Due: test-periodic-queries

kas: update CI tunnel dashboard
  dashboards/kas/ci-tunnel.dashboard.jsonnet
Due: none

fix: Do not generate unnecessary grafana thresholds
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

fix: add more workhorse apdex exclusions
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: markdownlint, validate-kibana-urls

docs: update the Artifact Registry runbook about the new cleanup policies
  docs/gitlab-com-artifact-registry/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add cloud.gitlab.com rate limit alert
  legacy-prometheus-rules/cloudflare.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

doc: add SRE instructions for accessing customer-dot VMs
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix markdown job
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add cloud.gitlab.com zone to CF service dashboard
  metrics-catalog/services/cloudflare.jsonnet
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-cloudflare-service-slos.yml
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-component-aggregation.yml
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-service-level-alerts.yml
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-sli-aggregations.yml
  scripts/ensure-mixtool.sh
Due: none

can't markdown catch all errors at once? :@
  docs/customersdot/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency prometheus/prometheus to v2.54.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Move Cloudflare alerts to mimir-rules
  mimir-rules/gitlab-ops/cloudflare/cloudflare.yml
Due: none

fix: Reduce soft SLO to 70%
  libsonnet/saturation-monitoring/pg_primary_cpu.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-embedding/autogenerated-gitlab-gprd-patroni-embedding-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-registry/autogenerated-gitlab-gprd-patroni-registry-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-metadata.yml
  mimir-rules/gitlab-gprd/postgres-archive/autogenerated-gitlab-gprd-postgres-archive-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-embedding/autogenerated-gitlab-gstg-patroni-embedding-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-registry/autogenerated-gitlab-gstg-patroni-registry-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-metadata.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-metadata.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-metadata.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  5f8f673823c51938b3452de09d494c2935b4b4e7
Due: none

Update Cloudflare dashboard descriptions
  metrics-catalog/services/cloudflare.jsonnet
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-service-level-alerts.yml
Due: none

chore(ci): update common-ci-tasks to v2.33
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

Sidekiq service can now include shards as saturation_dimensions
  metrics-catalog/services/sidekiq.jsonnet
Due: none

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.20.0
  .copier-answers.yml
Due: none

Fix syntax for feature flag chatops
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts
