Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat: Added some more details for cloudflare.
  docs/about/README.md
  docs/api/README.md
  docs/cloudflare/README.md
  docs/cloudflare/intro.md
  docs/monitoring/README.md
  docs/waf/README.md
  docs/web/README.md
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  metrics-catalog/services/cloudflare.jsonnet
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/cloudflare/autogenerated-gitlab-gprd-gprd-cloudflare-saturation.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare/autogenerated-gitlab-gstg-gstg-cloudflare-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare/autogenerated-gitlab-gstg-gstg-cloudflare-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare/autogenerated-gitlab-gstg-gstg-cloudflare-saturation.yml
  rules/autogenerated-saturation.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

update gpg email
  docs/packaging/manage-package-signing-keys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: update index mapping for db txn fields
  elastic/managed-objects/lib/index_mappings/sidekiq.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.14.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  56/e8df74d6a75932e880bd44d226357824412e5a
Due: none

chore: remove the feature category ratios
  metrics-catalog/README.md
  metrics-catalog/aggregation-sets.libsonnet
  thanos-rules/autogenerated-aggregated-feature-category-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-feature-category-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-feature-category-metrics-other.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Reenable SLA for Internal-API in service catalog
  rules/autogenerated-external-availability.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-sla-rules-gprd.yml
  thanos-rules/autogenerated-sla-rules-ops.yml
  thanos-rules/autogenerated-sla-rules-other.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  56/cf480dcfd4b3bb7af1aaeb52d099c7556fdbf5
Due: none

feat: create release info dashboard with monthly release status panels
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

fix: support white font color in light mode
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

add zonal outage recovery scenario
  docs/gamedays/scenarios/zonal-outage-recovery.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Validate type selectors against emittedBy
  libsonnet/servicemetrics/recording-rule-registry/unified-registry.libsonnet
Due: test-periodic-queries

fix: clickhouse broken dashboards link
  docs/clickhouse/backup-restore.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: adjust runway apdex threshold for AI-gateway
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-component-aggregation.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: shorten link
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

Revert Gitaly active node ratio to 0.20
  libsonnet/saturation-monitoring/gitaly_active_node_available_space.libsonnet
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-saturation.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-saturation.yml
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

feat: split reflected ratios in component metrics
  libsonnet/promql/selectors.libsonnet
  libsonnet/promql/selectors_test.jsonnet
  libsonnet/recording-rules/aggregation-set-apdex-ratio-reflected-rule-set.libsonnet
  libsonnet/recording-rules/aggregation-set-apdex-ratio-reflected-rule-set_test.jsonnet
  libsonnet/recording-rules/aggregation-set-error-ratio-reflected-rule-set.libsonnet
  libsonnet/recording-rules/aggregation-set-error-ratio-reflected-rule-set_test.jsonnet
  libsonnet/recording-rules/aggregation-set-reflected-ratio-rule-set.libsonnet
  libsonnet/recording-rules/aggregation-set-reflected-ratio-rule-set_test.jsonnet
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/recording-rules/recording-rules.libsonnet
  libsonnet/servicemetrics/aggregation-set-transformer.libsonnet
  libsonnet/servicemetrics/aggregation-set-transformer_test.jsonnet
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
Due: test-periodic-queries

document gitalyctl
  docs/api/README.md
  docs/gitaly/gitalyctl.md
  docs/vault/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Practices to own Sidekiq
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Make generate-reference-architecture-config.sh compatible with bash 3
  scripts/generate-reference-architecture-config.sh
Due: none

chore: Add alerts for `qa-runners`
  libsonnet/saturation-monitoring/saas_runners.libsonnet
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/ci-runners/autogenerated-gitlab-gstg-gstg-ci-runners-saturation.yml
  rules/autogenerated-saturation.yml
  rules/node.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

Mimir kube cause alerts
  libsonnet/alerts/kube-cause-alerts.libsonnet
  mimir-rules-jsonnet/kube-cause-alerts.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-kube-cause-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-kube-cause-alerts.yml
  rules-jsonnet/kube-cause-alerts.jsonnet
Due: test-periodic-queries

fix: Address feedback + adjust panel alignment
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

fix: reword status text panel
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  5a/e855cb473b6ef3fc439edd61cadf612d14b411
Due: none

feat(deps): update dependency hashicorp/vault to v1.15.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.15.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency webmock to v3.23.0
  Gemfile.lock
Due: none

feat(deps): update dependency prometheus/alertmanager to v0.27.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.61.0
  Gemfile.lock
Due: none

fix: drop selectors when collecting them in sliMetricsDescriptor
  libsonnet/servicemetrics/sli_metric_descriptor.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
Due: test-periodic-queries

refactor: Move type selectors and emittedBy validation to SLI definition
  libsonnet/servicemetrics/recording-rule-registry/unified-registry.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
Due: test-periodic-queries

feat: support array expressions in normalizeSelectorExpression
  libsonnet/servicemetrics/sli_metric_descriptor.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  fd/1e1837c886d36f4b3e79eb0bbff131b0f10373
Due: none

Notes added by 'git notes add'
  39/c06f61ae81828d9b39dc49694299a704aaa8b1
Due: none

feat(deps): update dependency mikefarah/yq to v4.42.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency yq to v4.42.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  03/b4e09236bdf27bac5327fd193a7c2cf03d68f2
Due: none

Notes added by 'git notes add'
  7f/46d75f14f91e7e5e2a6d15b1cf4b53c32dad79
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
