Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Refine Cloud Connector key rotation runbook
  docs/cloud_connector/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update GLQL SLI definition description and run make generate
  metrics-catalog/gitlab-slis/library.libsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
Due: none

Notes added by 'git notes add'
  ab8862bf4595d504b8ad30dc59067d48aa484369
Due: none

remove references to old env aws-snowplow
  docs/uncategorized/snowplow/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add decomp dashboard based on upgrade dashboard
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Fix version regex
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Missed table filters on target
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Add read metrics for decomp table list
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Apply version template
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Add tuple ins/upd/del panels filtered on sec tables
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Apply 1 suggestion(s) to 1 file(s)
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

expanding s% anfdd standard format to all instances of tablelist
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

[] syntax error
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

json formatting
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Removing trailing whitespace
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Make changes to comments
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
Due: none

Run make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
Due: none

Update runbook to reflect gitaly oncall
  docs/gitaly/gitaly-oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: Add documentation for the cells render-debug.sh script
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply MR formatting suggestions
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Run generate steps
  docs/amp/README.md
  docs/cells/infra-development.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add more detail on the mermaid diagram and steps.
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update mimir metamonitoring rules
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

cleanup indendation
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

disable tenant alerts
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
Due: none

Remove extra newlines
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enable time series panel support for observiability dashboards
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/dataingestion.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  dashboards/observability/gatekeeper.dashboard.jsonnet
  dashboards/observability/ingress.dashboard.jsonnet
  dashboards/observability/tracing.dashboard.jsonnet
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
Due: test-periodic-queries

feat: enable time series panel support for web-pages dashboards
  dashboards/web-pages/haproxy-rejections.dashboard.jsonnet
  dashboards/web-pages/pod.dashboard.jsonnet
  libsonnet/gitlab-dashboards/aux_dashboards.libsonnet
  libsonnet/gitlab-dashboards/capacity_review_dashboard.libsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
  libsonnet/gitlab-dashboards/saturation_detail.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

feat: enable time series panel support for sidekiq, alerts and ai-gateway dashboards
  dashboards/ai-gateway/language.dashboard.jsonnet
  dashboards/alerts/saturation_alerts.libsonnet
  dashboards/sidekiq/app.dashboard.jsonnet
  dashboards/sidekiq/concurrency.dashboard.jsonnet
  dashboards/sidekiq/pod.dashboard.jsonnet
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  libsonnet/gitlab-dashboards/container_common_graphs.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

feat: enable time series panel support for registry dashboards
  dashboards/registry/app.dashboard.jsonnet
  dashboards/registry/database.dashboard.jsonnet
  dashboards/registry/gc.dashboard.jsonnet
  dashboards/registry/notifications.dashboard.jsonnet
  dashboards/registry/pod.dashboard.jsonnet
  dashboards/registry/rails.dashboard.jsonnet
  dashboards/registry/redis.dashboard.jsonnet
  dashboards/registry/storage.dashboard.jsonnet
  libsonnet/gitlab-dashboards/container_common_graphs.libsonnet
  libsonnet/gitlab-dashboards/container_registry_graphs.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

Update based on MR feedback
  docs/cells/infra-development.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fixup generated docs
  docs/gitaly/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add index reads per decomp tables
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Add pg-decomp dashboard based on pg-upgrade dashboard
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
Due: none

Add link for CI abuse by user
  docs/ci-runners/ci-abuse-handling.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enable time series panel support for sidekiq dashboards
  dashboards/sidekiq/bitbucket-importer.dashboard.jsonnet
  dashboards/sidekiq/bitbucket-server-importer.dashboard.jsonnet
  dashboards/sidekiq/loose-foreign-keys.dashboard.jsonnet
  dashboards/sidekiq/shard-detail.dashboard.jsonnet
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries
