Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore(deps): update dependency rubocop to v1.64.0
  Gemfile.lock
Due: none

chore(deps): update dependency markdownlint-cli to v0.41.0
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  75/798025f35aa6238927398efe75d7196ea0fd00
Due: none

add cloudflare periodic query
  periodic-queries/cloudflare-metrics.queries.jsonnet
Due: none

chore: make update-feature-categories
  dashboards/stage-groups/design_system.dashboard.jsonnet
  dashboards/stage-groups/personal_productivity.dashboard.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gprd/gprd/ci-runners/autogenerated-gitlab-gprd-gprd-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/gstg/camoproxy/autogenerated-gitlab-gstg-gstg-camoproxy-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/jaeger/autogenerated-gitlab-gstg-gstg-jaeger-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/logging/autogenerated-gitlab-gstg-gstg-logging-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/cloudflare/autogenerated-gitlab-ops-ops-cloudflare-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops/gitlab-static/autogenerated-gitlab-ops-ops-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-service-level-alerts.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-service-level-alerts.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

refactor: dependecy_proxy category rename
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  services/stage-group-mapping-crossover.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
Due: validate-service-mappings, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

refactor: foundations group renamed to personal_productivity
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat: kube_persistent_volume_claim_disk_space_zoekt
  libsonnet/saturation-monitoring/kube_persistent_volume_claim_disk_space.libsonnet
Due: test-periodic-queries

fix: Validator method should be public
  scripts/validate-alerts
Due: none

fix: drop invalid chars when generating grafana datasource_id
  scripts/generate_grafana_datasource_id.rb
Due: rubocop, rspec

chore: make generate
  mimir-rules/gitlab-gprd/gprd/kube/autogenerated-gitlab-gprd-gprd-kube-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/kube/autogenerated-gitlab-gprd-gprd-kube-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/kube/autogenerated-gitlab-gprd-gprd-kube-saturation.yml
  mimir-rules/gitlab-gstg/gstg/kube/autogenerated-gitlab-gstg-gstg-kube-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/kube/autogenerated-gitlab-gstg-gstg-kube-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/kube/autogenerated-gitlab-gstg-gstg-kube-saturation.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops/kube/autogenerated-gitlab-ops-ops-kube-saturation.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/kube/autogenerated-gitlab-pre-pre-kube-saturation.yml
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: Add PVC saturation metrics to get-hybrid refarch
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: markdownlint, validate-kibana-urls

fix: empty result from some of periodic queries
  periodic-queries/daily-database-table-size.queries.jsonnet
  periodic-queries/daily-slas.queries.jsonnet
Due: none

Notes added by 'git notes add'
  15/9967f10d4f288cc69061f73564afa68d586e38
Due: none

Notes added by 'git notes add'
  31/7bef57bcc0632ac8c6f45357d27bfa944bf5ad
Due: none

missing comma
  libsonnet/reference-architecture-options/validate.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  ce/be7866662a9c92e9e76da32b448d7d548e8b8f
Due: none

Update file build_cluster_from_snapshot.md
  docs/patroni/build_cluster_from_snapshot.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update WAL GCS prefix to the current main-v14 cluster
  docs/patroni/build_cluster_from_snapshot.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Test toc on md template
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updating teleport readme with new slack channel
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.10.0
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  ed/332131a67c2fc1f367091fb5723e6a3328c3a4
Due: none

chore(semantic-release): remove override
  .gitlab-ci.yml
Due: test-docker-image

docs: Add comment about not using cpu_requests
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: none

feat: Remove kube_pool_cpu from get-hybrid saturation metrics
  libsonnet/saturation-monitoring/kube_container_cpu_limits.libsonnet
  libsonnet/saturation-monitoring/kube_container_cpu_requests.libsonnet
  metrics-catalog/saturation/all.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/metadata-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

chore: generate after rebase
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: none

Notes added by 'git notes add'
  7b/ccfe66575dc431e969c3b800a885c3c81b6c59
Due: none

Update DR steps for zonal outage
  docs/disaster-recovery/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add mise to teleport troubleshooting docs
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update alert playbook template formatting of unedited lines
  docs/template-alert-playbook.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Set alert templates as MR templates
  .gitlab/merge_request_templates/alert-playbook-template.md
  .gitlab/merge_request_templates/service-overview-template.md
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  85/989e5818a74e4ba009ad9e03d52245d0981590
Due: none

Revert "Merge branch 'make-alert-template-as-issue-template' into 'master'"
  docs/template-alert-playbook.md
  docs/template-service-overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Use checklist for the alert description template
  .gitlab/merge_request_templates/alert-playbook-template.md
  .gitlab/merge_request_templates/service-overview-template.md
  docs/template-alert-playbook.md
  docs/template-service-overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
