Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

fix: Updated to scope for cluster correctly.
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
Due: none

Notes added by 'git notes add'
  72/1c5940a803b6544d68df17e0201faee1aac435
Due: none

fix: Repaired k8s-mixin for ops too.
  mimir-rules/gitlab-ops/ops/kube/kubernetes-mixin.yml
Due: none

Notes added by 'git notes add'
  b4/c65400d3be8c21d7a2efb86a725897508a0128
Due: none

docs(runway): multi-region
  docs/runway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix broken Cardinality Overview dashboard link
  docs/mimir/README.md
  docs/mimir/cardinality-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

optimize the gitlay bucket rules
  mimir-rules/gitlab-gprd/gprd/gitaly/gitaly.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/gitaly.yml
  mimir-rules/gitlab-pre/pre/gitaly/gitaly.yml
Due: none

fix: Updated postgres:databases label.
  mimir-rules/gitlab-gprd/gprd/patroni/postgresql.yml
  mimir-rules/gitlab-gstg/gstg/patroni/postgresql.yml
Due: none

Update HAProxy logging runbook
  docs/api/README.md
  docs/frontend/haproxy-logging.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Auditing Metrics documentation
  docs/api/README.md
  docs/frontend/README.md
  docs/kube/README.md
  docs/mimir/README.md
  docs/mimir/auditing-metrics.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: create redis-reconfigure script for gitlab-redis deployments
  docs/omnibus/README.md
  docs/redis/redis-survival-guide-for-sres.md
  scripts/omnibus-redis-reconfigure.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: fix if-else statement and remove bootstrap test
  scripts/redis-reconfigure.sh
Due: none

Notes added by 'git notes add'
  16/18813cc0696f0fa576b9832e2a8bbcba284257
Due: none

Update the Vault administration documentation for adding Kubernetes clusters
  docs/vault/administration.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Increase the replicas count by 20%
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update README.md
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix alert to point to prod
  rules/wiz-runtime-sensor.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Update feature categories to 2024-05-02
  dashboards/stage-groups/ci_platform.dashboard.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-feature-category-mapping.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
Due: validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Update Connect_to_Database_Console_via_Teleport.md
  docs/customersdot/README.md
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix node recording rules for mimir
  mimir-rules/gitlab-gprd/gprd/node.yml
  mimir-rules/gitlab-gstg/gstg/node.yml
  mimir-rules/gitlab-ops/ops/node.yml
  mimir-rules/gitlab-pre/pre/node.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

revert unintended file commit
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

clean up hand made rails rules for mimir
  mimir-rules/gitlab-gprd/gprd/rails.yml
  mimir-rules/gitlab-gstg/gstg/rails.yml
  mimir-rules/gitlab-ops/ops/rails.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

fix: add restart_redis function
  scripts/redis-reconfigure.sh
Due: none

remove rules from deleted dashboard
  mimir-rules/gitlab-gprd/gprd/rails.yml
  mimir-rules/gitlab-gstg/gstg/rails.yml
  mimir-rules/gitlab-ops/ops/rails.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

re-add missing dependant rule
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

re-add missing dependant rule
  mimir-rules/gitlab-gprd/gprd/rails.yml
  mimir-rules/gitlab-gstg/gstg/rails.yml
  mimir-rules/gitlab-ops/ops/rails.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

optimize recording rules
  mimir-rules/gitlab-gprd/gprd/rails.yml
  mimir-rules/gitlab-gstg/gstg/rails.yml
  mimir-rules/gitlab-ops/ops/rails.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

fix formating
  mimir-rules/gitlab-gprd/gprd/rails.yml
  mimir-rules/gitlab-gstg/gstg/rails.yml
  mimir-rules/gitlab-ops/ops/rails.yml
  mimir-rules/gitlab-pre/pre/rails.yml
Due: none

fix: missing application SLIs in mimir
  libsonnet/servicemetrics/aggregation-set-transformer.libsonnet
  mimir-rules-jsonnet/application-slis.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-assisted/autogenerated-gitlab-gprd-gprd-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/internal-api/autogenerated-gitlab-gprd-gprd-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/patroni-ci/autogenerated-gitlab-gprd-gprd-patroni-ci-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/patroni/autogenerated-gitlab-gprd-gprd-patroni-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/search/autogenerated-gitlab-gprd-gprd-search-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/ai-assisted/autogenerated-gitlab-gstg-gstg-ai-assisted-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/internal-api/autogenerated-gitlab-gstg-gstg-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/patroni-ci/autogenerated-gitlab-gstg-gstg-patroni-ci-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/patroni/autogenerated-gitlab-gstg-gstg-patroni-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/search/autogenerated-gitlab-gstg-gstg-search-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/internal-api/autogenerated-gitlab-pre-pre-internal-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/patroni-ci/autogenerated-gitlab-pre-pre-patroni-ci-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/patroni/autogenerated-gitlab-pre-pre-patroni-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/sidekiq/autogenerated-gitlab-pre-pre-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/websockets/autogenerated-gitlab-pre-pre-websockets-aggregated-application-sli-metrics.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  46/a10ef0d57e6c05fe66885ed335b79342237c2d
Due: none

Notes added by 'git notes add'
  4d/b9147e162f924e50f2da7a0365a6d2549732cb
Due: none

refactor(metrics-catalog): GCP LB service aggregation
  metrics-catalog/services/lib/google_load_balancer_components.libsonnet
Due: none

fix(metrics-catalog): runway LB service aggregation
  libsonnet/service-archetypes/runway-archetype.libsonnet
Due: test-periodic-queries

chore(metrics-catalog): make generate
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/glgo/autogenerated-gitlab-gprd-gprd-glgo-glgo-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/glgo/autogenerated-gitlab-gstg-gstg-glgo-glgo-service-slos.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-glgo.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.8.1
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update docker docker tag to v26.1.1
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency markdownlint-cli to v0.40.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rubocop to v1.63.4
  Gemfile.lock
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
