Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Fix: Markdown lint
  docs/cells/breakglass.md
Due: markdownlint, validate-kibana-urls, validate-alerts

MR Feedback
  docs/cells/breakglass.md
  docs/console/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove the accidental duplicate of the flowchart
  docs/cells/breakglass.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  7f4b8f4ae582fb22c4a8d080fe72a638063b1d64
Due: none

feat: Move sentry to the right tenant.
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-component-aggregation.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-saturation-alerts.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-saturation.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-sli-aggregations.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/sentry/autogenerated-gitlab-gprd-sentry-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-saturation-metadata.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-service-level-alerts.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/sentry/autogenerated-gitlab-gstg-sentry-utilization.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation-metadata.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service_anomaly_detection.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-utilization.yml
Due: none

Notes added by 'git notes add'
  325c8fdd762b610bb87ea1ddd23a645145b93360
Due: none

Update gcp snapshot delayed alert
  docs/disaster-recovery/alerts/GCPScheduledSnapshots.md
  mimir-rules/gitlab-gprd/gcp-snapshots.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Update sentry-events to use the right metrics.
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-kube-state-metrics.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation-metadata.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-saturation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

Remove fallback cache key
  .gitlab-ci.yml
Due: test-docker-image

docs: rework commands for breakglass
  docs/cells/breakglass.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: gcp_quota_limit_vertex_ai_code_gecko typo
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  f3f26b9e83080497974500cfb4f22baa95ed5ffa
Due: none

Document ownership of Duo Chat integrations
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: experimenting w/ service definition shards config
  libsonnet/servicemetrics/service_definition.libsonnet
Due: test-periodic-queries

feat: getSaturationSelectors
  libsonnet/servicemetrics/service_definition.libsonnet
  mimir-rules-jsonnet/saturation.jsonnet
Due: test-periodic-queries

feat: sidekiq shards ???
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-saturation-alerts.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-saturation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-saturation-alerts.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-saturation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-saturation-alerts.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-saturation.yml
Due: none

Fix stage group dashboard documentation broken link
  libsonnet/stage-groups/error-budget/panels.libsonnet
Due: test-periodic-queries

chore: update correct link
  docs/kube/alerts/KubeContainersWaitingInError.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Creates Distribution Build Team identifier
  docs/build-tooling/README.md
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/service-catalog.yml
  services/teams.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update Teleport Admin runbook
  docs/patroni/README.md
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Correctly instantiating gcp_quota_limit_vertex_ai_code_gecko
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  491c8a47e8cfa0e5c5e8fb161e53fbc45420b977
Due: none

Update wording about patch release date on the release dashboard.
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

Saturation dimensions on service definition
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
Due: test-periodic-queries

Add Teleport to service catalog
  docs/teleport/README.md
  docs/teleport/teleport_admin.md
  services/service-catalog.yml
  services/teams.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update file README.md
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update Teleport admin runbook
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Updated with rabbitmq, redis, and correct postgres SLIs.
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

fix: Lint.
  metrics-catalog/services/sentry.jsonnet
Due: none

Update measurements for haproxy gameday
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update docker docker tag to v27.1.2
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency thanos-io/thanos to v0.36.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency go to v1.23.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update dependency kubectl to v1.31.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.31.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency mvdan/sh to v3.9.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  bin/gitaly
  mixins-monitoring/generate-mixin.sh
  scripts/find-bootstrap-duration.sh
  scripts/generate-reference-architecture-config.sh
  scripts/generate.sh
  scripts/gitaly-ips
Due: test-docker-image

feat(deps): update dependency shfmt to v3.9.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  bin/gitaly
  mixins-monitoring/generate-mixin.sh
  scripts/find-bootstrap-duration.sh
  scripts/generate-reference-architecture-config.sh
  scripts/generate.sh
  scripts/gitaly-ips
Due: test-docker-image

chore(deps): update dependency rubocop to v1.65.1
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  ba1e256cee340e61deaf36ea7e442926868251bb
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
