Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Notes added by 'git notes add'
  15bac692280dc5f184701bb6ae1e8ba55648f1ac
Due: none

GCP snapshot delayed alert tweaks
  mimir-rules/gitlab-gprd/gcp-snapshots.yml
Due: none

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.15.7
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  1939da5102782ca484a88dd6d6021fe3a34fd295
Due: none

Add stuck indexing record to runbook
  docs/elastic/advanced-search-in-gitlab.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Adds topology service to service catalog
  docs/topology/README.md
  metrics-catalog/services/topology.jsonnet
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

refactor: kube apdex
  metrics-catalog/services/kube.jsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-component-aggregation.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-service-level-alerts.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-sli-aggregations.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-component-aggregation.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-service-level-alerts.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-sli-aggregations.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-component-aggregation.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-sli-aggregations.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-component-aggregation.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-service-level-alerts.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-sli-aggregations.yml
Due: none

Add initial details of the topology service to the readme
  docs/topology/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: kube apdex alert
  metrics-catalog/services/kube.jsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-component-aggregation.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-service-level-alerts.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-sli-aggregations.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-component-aggregation.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-service-level-alerts.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-sli-aggregations.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-component-aggregation.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-sli-aggregations.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-component-aggregation.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-service-level-alerts.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-sli-aggregations.yml
Due: none

Notes added by 'git notes add'
  e5fd7c5e2776c30403ac36bb274a8441779aabe8
Due: none

docs: link to service schema in service catalog
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Document the maintenance cronjobs in the Vault runbook
  docs/vault/vault.md
  foo
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: deploy service catalog schema in Pages
  .gitignore
  .gitlab-ci.yml
  services/README.md
  services/service-catalog.yml
Due: test-docker-image, markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Create separate sections for ro and rw db roles
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: lower the graphql_query SLO to 99.9%
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

fix: add missing docs update
  reference-architectures/get-hybrid/README.md
Due: markdownlint, validate-kibana-urls

Notes added by 'git notes add'
  b7e45dac8e5cb9cecfdf8ddb1366a2526bef524f
Due: none

docs: pushgateway
  docs/api/README.md
  docs/blackbox/README.md
  docs/monitoring/README.md
  docs/monitoring/pushgateway.md
  docs/patroni/postgresql-backups-wale-walg.md
  docs/uncategorized/job_completion.md
  legacy-prometheus-rules/gitlab-walg-backups.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Rename product intelligence dashboard to analytics instrumentation
  dashboards/analytics-instrumentation/main.dashboard.jsonnet
Due: none

Fix time parsing when only a single bootstrap log exists
  scripts/find-bootstrap-duration.sh
Due: none

Apply 2 suggestion(s) to 1 file(s)
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Apply updates based on feedback and generate dashboard
  dashboards/topology/main.dashboard.jsonnet
  docs/topology/README.md
  metrics-catalog/services/all.jsonnet
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Generate resources after rename
  dashboards/topology-service/main.dashboard.jsonnet
  docs/topology_service/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/topology-service.jsonnet
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-component-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-saturation-alerts.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-saturation-metadata.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-saturation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-service-anomaly-detection-alerts.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-service-level-alerts.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-service_anomaly_detection.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-sli-aggregations.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-topology-service-service-slos.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-transformed-service-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-transformed-stage_groups-aggregation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 6 suggestion(s) to 1 file(s)
  docs/topology/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Move readme after rename
  docs/topology/README.md
  docs/topology_service/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Make naming consistent
  docs/topology-service/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update Teleport admin runbook
  docs/ops-gitlab-net/README.md
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency hashicorp/terraform to v1.9.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.9.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.30.1
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency redis to '~> 5.3.0'
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update dependency redis-clustering to v5.3.0
  Gemfile.lock
Due: none

chore(deps): update dependency rubocop to v1.65.1
  Gemfile.lock
Due: none

feat(deps): update dependency jsonnet-bundler/jsonnet-bundler to v0.6.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency node to v20.17.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.17.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Adds auto-deploy related documentation for Cells
  docs/cells/README.md
  docs/cells/auto-deploy.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  1f7ff28e70914124d35660519da913f0c96a33c6
Due: none

Notes added by 'git notes add'
  6fa312fa404cefbb95f7aa2f0e81428470dd4116
Due: none

fix: kube apiServer traffic cessation
  metrics-catalog/services/kube.jsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-component-aggregation.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-service-level-alerts.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-sli-aggregations.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-component-aggregation.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-service-level-alerts.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-sli-aggregations.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-component-aggregation.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-sli-aggregations.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-component-aggregation.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-service-level-alerts.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-sli-aggregations.yml
Due: none
