Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Removed repitative lines
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated md
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated md
  docs/incident-io-onboard/incident-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 2 suggestion(s) to 2 file(s)
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update images
  docs/incident-io-onboard/img/incidentio-dashboard.png
  docs/incident-io-onboard/img/incidentio-options.png
  docs/incident-io-onboard/img/incidentio-slackchannel.png
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated responder instructions
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add info about follow-up and actions
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove comments
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

copy mimir-rules dir from master
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-sla-rules.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-sla-rules.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Due: none

fix the pipeline
  docs/logging/README.md
  docs/monitoring/README.md
  docs/woodhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  2243cc9e2b9c9c4c54bdf2618c9854e9f9e35129
Due: none

Apply feedback
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/api.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, test-periodic-queries

Import matching libsonnet and rename glql_query to glql
  metrics-catalog/services/api.jsonnet
Due: none

Add missing comma
  metrics-catalog/services/api.jsonnet
Due: none

Run make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Due: none

Update dependency go to v1.24.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

Update dependency mixlib-shellout to v3.3.8
  scripts/disaster-recovery/Gemfile.lock
Due: none

Update dependency prometheus/alertmanager to v0.28.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency google-cloud-resource_manager to v0.39.0
  scripts/disaster-recovery/Gemfile.lock
Due: none

Update dependency hashicorp/vault to v1.19.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency mvdan/sh to v3.11
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency shfmt to v3.11
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency vault to v1.19.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency terminal-table to v4
  Gemfile
Due: none

Update dependency webmock to v3.25.1
  Gemfile.lock
Due: none

Update terraform monorepo to v1.11.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat: add hosted runners SLOs dashboard with new SLOs
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/nodes.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/nodes.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/slos.libsonnet
  mixins-monitoring/hosted-runners/dashboards/slos.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
Due: none

Update module github.com/prometheus/alertmanager to v0.28.1
  alertmanager/templates/go.mod
  alertmanager/templates/go.sum
Due: none

Update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.25.0
  .copier-answers.yml
Due: none

feat: enable time series panel support by default on overview dashboards
  dashboards/web/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

Lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  package-lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  343ce940d4132b708d26c9cacf950d9272698270
Due: none

feat: tidy up naming
  mixins-monitoring/hosted-runners/dashboards/panels/slos.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
Due: none

feat: tidy up naming
  mixins-monitoring/hosted-runners/dashboards/slos.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
Due: none

feat: tidy up
  mixins-monitoring/hosted-runners/dashboards/panels/slos.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
Due: none

feat: enable time series panel support on wiz overview dashboard
  dashboards/wiz-runtime-sensor/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/node_metrics.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  libsonnet/grafana/time-series/threshold.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on websockets overview dashboard
  dashboards/websockets/main.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on web-pages overview dashboard
  dashboards/web-pages/main.dashboard.jsonnet
Due: none
