Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Add false negatives section in traffic cessation docs
  docs/alerts/TrafficAbsent.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file README.md
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add markdown-lint command to makefile
  Makefile
Due: none

Update Sentry docs
  Makefile
  docs/sentry/sentry.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add back the ai-assisted file
  docs/ai-assisted/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

WIP: rebuild service dashboard with grafonnet-lib
  dashboards/ai-gateway/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/capacity_review_dashboard.libsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafonnet-dashboarding/gitlab-dashboards/datasource.libsonnet
  libsonnet/grafonnet-dashboarding/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/basic.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/common_annotations.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/common_variables.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/g.libsonnet
Due: test-periodic-queries

the first timeseries has data on it
  libsonnet/grafonnet-dashboarding/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/dashboard.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/layout.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/prom_query.libsonnet
  libsonnet/grafonnet-dashboarding/grafana/timeseries-panel.libsonnet
  libsonnet/grafonnet-dashboarding/panels/headline-metrics-row.libsonnet
  libsonnet/key-metric-panels/sli_promql.libsonnet
Due: test-periodic-queries

Update the runners patching playbook
  docs/security-patching/linux-os/linux-os-patching.md
  docs/security-patching/linux-os/systems/runner-managers.md
  kubernetes/clusters.json
Due: markdownlint, validate-kibana-urls, validate-alerts

Revert unintended Kubernetes cluster config update
  kubernetes/clusters.json
Due: none

chore: make this demoable
  dashboards/test-dashboard.sh
  libsonnet/grafonnet-dashboarding/panels/headline-metrics-row.libsonnet
Due: test-periodic-queries

Markdown lint
  docs/security-patching/linux-os/systems/runner-managers.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update the runners patching runbook
  docs/security-patching/linux-os/linux-os-patching.md
  docs/security-patching/linux-os/systems/runner-managers.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: cleanup osquery dashboards
  dashboards/protected-grafana-dashboards.jsonnet
Due: none

Stop sending anomaly alerts to #g_delivery_alerts Slack channel
  alertmanager/alertmanager.jsonnet
Due: none

chore(deps): update dependency mixlib-shellout to v3.3.6
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat(deps): update dependency go to v1.23.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update dependency kubectl to v1.32.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency kubernetes/kubernetes to v1.32.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update docker docker tag to v27.5.0
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update module github.com/prometheus/alertmanager to v0.28.0
  alertmanager/templates/go.mod
  alertmanager/templates/go.sum
Due: none

feat(deps): update dependency prometheus/alertmanager to v0.28.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.70.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(lint): add gemfile to ruby patterns
  .gitlab-ci.yml
Due: test-docker-image

chore(lint): ignore vendored gems for rubocop
  .rubocop.yml
Due: none

fix: quarantine queueing slo
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-sidekiq-service-slos.yml
Due: none

Notes added by 'git notes add'
  082d32b83b5848e1355b41586d99079983221843
Due: none

Add rate limit specific troubleshooting tips to Duo Chat Runbook
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  36215672525ec212fd0f9c6dcb81bf27b1223a1d
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
