Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore(dashboards): sast-service regional
  dashboards/sast-service/aux.shared.jsonnet
Due: none

feat(deps): update dependency mikefarah/yq to v4.44.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency yq to v4.44.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  82ae86f0eb5a505028c39d739f35f9feeb587b43
Due: none

Notes added by 'git notes add'
  834dcdbdde763f0d247072110396e95f77473687
Due: none

feat(CI Runners): document CIDR for migrating the private shard to a new network ref: https://gitlab.com/gitlab-com/gl-infra/scalability/-/issues/3868
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(Hosted Runners): exclude the private shard from ci_runner_jobs SLI monitoring ref: https://gitlab.com/gitlab-com/gl-infra/production/-/issues/18865
  metrics-catalog/services/ci-runners.jsonnet
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gprd/ci-runners/autogenerated-gitlab-gprd-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-gstg/ci-runners/autogenerated-gitlab-gstg-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-ops/ci-runners/autogenerated-gitlab-ops-ci-runners-sli-aggregations.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-component-aggregation.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-component_shard-aggregation.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-service-level-alerts.yml
  mimir-rules/gitlab-pre/ci-runners/autogenerated-gitlab-pre-ci-runners-sli-aggregations.yml
Due: none

fix(Hosted Runners): remove allocation of experimental subnetwork ref: https://gitlab.com/gitlab-com/gl-infra/scalability/-/issues/3864
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(watches): update field name in db count watches
  elastic/managed-objects/log_gprd/watches/rails_sql_n_plus_1_p95_ci.jsonnet
Due: update-elastic-watches:log-gprd

Notes added by 'git notes add'
  97b337fb9b7a59ad6c1b90e763e733d226ba5eb3
Due: none

Notes added by 'git notes add'
  e09200e73cac9cd763427b670bf015c5eaaa971d
Due: none

chore: Update feature categories
  dashboards/product/application_securit_error_budget.dashboard.jsonnet
  dashboards/product/data_access_error_budget.dashboard.jsonnet
  dashboards/product/security_risk_manag_error_budget.dashboard.jsonnet
  dashboards/product/software_supply_cha_error_budget.dashboard.jsonnet
  dashboards/product/tenant_scale_error_budget.dashboard.jsonnet
  dashboards/stage-groups/cells_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/database.dashboard.jsonnet
  dashboards/stage-groups/database_frameworks.dashboard.jsonnet
  dashboards/stage-groups/database_operations.dashboard.jsonnet
  dashboards/stage-groups/durability.dashboard.jsonnet
  dashboards/stage-groups/organizations.dashboard.jsonnet
  dashboards/stage-groups/security_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/security_insights.dashboard.jsonnet
  dashboards/stage-groups/security_platform_managemen.dashboard.jsonnet
  libsonnet/service-catalog/stages_test.jsonnet
  metrics-catalog/services/http-router.jsonnet
  metrics-catalog/services/topology-service-rest.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gprd/patroni-ci/decomposed-database.yml
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/patroni-ci/decomposed-database.yml
  mimir-rules/gitlab-ops/patroni-ci/decomposed-database.yml
  mimir-rules/gitlab-pre/patroni-ci/decomposed-database.yml
  services/service-catalog.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping-overrides.jsonnet
  services/stage-group-mapping-with-overrides_test.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, check-stage-groups, reconcile-service-catalog-labels, validate-alerts, test-periodic-queries

Notes added by 'git notes add'
  7a2cf70391611a0ffa4f67456a1441f9f89fc15e
Due: none

adding clickhouse service folder and dashboard
  dashboards/clickhouse/clickhouse_service.json
Due: none

removing the id
  dashboards/clickhouse/clickhouse_service.json
Due: none

Add advanced search runbook info about shard allocation failure
  docs/elastic/advanced-search-in-gitlab.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update pipeline security slack channels
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Apply 2 suggestion(s) to 2 file(s)
  mimir-rules/gitlab-gprd/search/gitlab-com-search.yml
  mimir-rules/gitlab-gstg/search/gitlab-com-search.yml
Due: none

chore: sync stages 2024-11-19
  dashboards/product/application_securit_error_budget.dashboard.jsonnet
  dashboards/product/data_access_error_budget.dashboard.jsonnet
  dashboards/product/security_risk_manag_error_budget.dashboard.jsonnet
  dashboards/product/software_supply_cha_error_budget.dashboard.jsonnet
  dashboards/product/tenant_scale_error_budget.dashboard.jsonnet
  dashboards/stage-groups/cells_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/database.dashboard.jsonnet
  dashboards/stage-groups/database_frameworks.dashboard.jsonnet
  dashboards/stage-groups/database_operations.dashboard.jsonnet
  dashboards/stage-groups/durability.dashboard.jsonnet
  dashboards/stage-groups/git.dashboard.jsonnet
  dashboards/stage-groups/organizations.dashboard.jsonnet
  dashboards/stage-groups/security_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/security_insights.dashboard.jsonnet
  dashboards/stage-groups/security_platform_managemen.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-overrides.jsonnet
  services/stage-group-mapping.jsonnet
Due: validate-service-mappings, check-stage-groups, validate-alerts

Update unless condition
  mimir-rules/gitlab-gprd/search/gitlab-com-search.yml
  mimir-rules/gitlab-gstg/search/gitlab-com-search.yml
Due: none

chore: show breakage in scripts/validate-alerts
  scripts/validate-alerts
Due: none

chore: sync stage groups 2024-11-19
  dashboards/product/application_securit_error_budget.dashboard.jsonnet
  dashboards/product/data_access_error_budget.dashboard.jsonnet
  dashboards/product/security_risk_manag_error_budget.dashboard.jsonnet
  dashboards/product/software_supply_cha_error_budget.dashboard.jsonnet
  dashboards/product/tenant_scale_error_budget.dashboard.jsonnet
  dashboards/stage-groups/cells_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/database.dashboard.jsonnet
  dashboards/stage-groups/database_frameworks.dashboard.jsonnet
  dashboards/stage-groups/database_operations.dashboard.jsonnet
  dashboards/stage-groups/durability.dashboard.jsonnet
  dashboards/stage-groups/git.dashboard.jsonnet
  dashboards/stage-groups/organizations.dashboard.jsonnet
  dashboards/stage-groups/security_infrastructure.dashboard.jsonnet
  dashboards/stage-groups/security_insights.dashboard.jsonnet
  dashboards/stage-groups/security_platform_managemen.dashboard.jsonnet
  metrics-catalog/services/http-router.jsonnet
  metrics-catalog/services/topology-service-rest.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/patroni-ci/decomposed-database.yml
  services/service-catalog.yml
  services/stage-group-mapping-overrides.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, check-stage-groups, reconcile-service-catalog-labels, validate-alerts

feat(logging): Update index template to remove unused db fields.
  elastic/managed-objects/lib/index_mappings/rails.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Revert "Merge branch 'amh-incident-io-gstg-fix' into 'master'"
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none

update search controller watcher to db_main_count
  elastic/managed-objects/log_gprd/watches/global_search_searchcontroller_high_db_count.jsonnet
Due: update-elastic-watches:log-gprd

Notes added by 'git notes add'
  3b48c5231d4e53b66d53d09ebdd41f778f66d717
Due: none

Include db_main_replica_count into search controller query
  elastic/managed-objects/log_gprd/watches/global_search_searchcontroller_high_db_count.jsonnet
Due: update-elastic-watches:log-gprd

Update file code_suggestion_failover.md
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/duo/code_suggestion_failover.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update 2 files
  docs/duo/code_suggestion_failover.md
  img/code_completion_failover_set.png
Due: markdownlint, validate-kibana-urls, validate-alerts

Update 3 files
  docs/duo/code_suggestion_failover.md
  img/aigw_code_completion_log.png
  img/code_completion_failover_set.png
Due: markdownlint, validate-kibana-urls, validate-alerts
