Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Apply 2 suggestion(s) to 1 file(s)
  docs/runway/cloudsql_backup_restore.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/runway/cloudsql_backup_restore.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: remove whitespace
  docs/runway/cloudsql_backup_restore.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add alerts for failed csql restore validation pipelines
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
Due: none

chore: add troubleshoooting guide
  docs/runway-db-example/README.md
  docs/runway/README.md
  docs/runway/cloudsql_restore_pipeline_troubleshooting.md
  mimir-rules/gitlab-gprd/runway-cloudsql-restore.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

fixup! fix markdownlint
  docs/runway/cloudsql_restore_pipeline_troubleshooting.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Remove team::ops duplicate
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

fix link to clickhouse backup and restore
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update the service catalog with the ops teams
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore: Clarify using vault in CI
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update the service catalog with the ops teams
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  a962a3d1b52e1ad4ecc563d4f37f8e230d7f6bd9
Due: none

chore(deps): update dependency gitlab-styles to v13.1.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat: Adding SLI llm_chat_first_token to sidekiq
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-component-aggregation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-component_shard-aggregation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-sidekiq-service-slos.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-sli-aggregations.yml
Due: none

chore: Remove `reliability_ops` duplicate from service catalog
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

refactor: disable RailsControllerTesting rule
  .rubocop.yml
Due: none

Notes added by 'git notes add'
  60f2652014568cb29428e9aea0421cc62ab16f95
Due: none

feat: Increase hard slo for elastic single nodes to 95%.
  libsonnet/saturation-monitoring/elastic_single_node_disk_space.libsonnet
  mimir-rules/gitlab-gprd/logging/autogenerated-gitlab-gprd-logging-saturation-metadata.yml
  mimir-rules/gitlab-gprd/search/autogenerated-gitlab-gprd-search-saturation-metadata.yml
  mimir-rules/gitlab-gstg/logging/autogenerated-gitlab-gstg-logging-saturation-metadata.yml
  mimir-rules/gitlab-gstg/search/autogenerated-gitlab-gstg-search-saturation-metadata.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  793a2927560e15c75aac07eecfd5b356de6198b1
Due: none

fix(deps): lock file maintenance
  Gemfile.lock
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  11c672b457b9f9127eabfbdf3855c90687b8cfb0
Due: none

chore: Rerun make generate
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service-level-alerts.yml
  mimir-rules/gitlab-gprd/sidekiq/autogenerated-gitlab-gprd-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service-level-alerts.yml
  mimir-rules/gitlab-gstg/sidekiq/autogenerated-gitlab-gstg-sidekiq-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/sidekiq/autogenerated-gitlab-pre-sidekiq-service-level-alerts.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-service-level-alerts.yml
Due: none

Re-adding the watch for locked tables
  elastic/managed-objects/log_gprd/watches/table_locks_needed.jsonnet
Due: update-elastic-watches:log-gprd

docs: add how-to fallback to psql section for clickhouse
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Start adding OpenBao to service catalog
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: Remove LlmChatFirstToken SLI from api service
  metrics-catalog/services/api.jsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Due: none

Notes added by 'git notes add'
  7f71575b1c479908f14b7dab21f70e10e5e1fcc4
Due: none

feat: remove unnecessary tenants and set baseSelector
  metrics-catalog/services/gitlab-static.jsonnet
Due: none

make generate changes
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-component-aggregation.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-gitlab-static-service-slos.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-component-aggregation.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-gitlab-static-service-slos.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/gitlab-static/autogenerated-gitlab-ops-gitlab-static-component-aggregation.yml
  mimir-rules/gitlab-ops/gitlab-static/autogenerated-gitlab-ops-gitlab-static-feature_category-aggregation.yml
  mimir-rules/gitlab-ops/gitlab-static/autogenerated-gitlab-ops-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-ops/gitlab-static/autogenerated-gitlab-ops-gitlab-static-sli-aggregations.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-component-aggregation.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-gitlab-static-service-slos.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-service_anomaly_detection.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-sli-aggregations.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-transformed-service-aggregation.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-transformed-stage_groups-aggregation.yml
Due: none

Notes added by 'git notes add'
  041dbae0ff53d172004fe75d4fa71b9aa1fb1e8b
Due: none

Update migration stages definitions
  docs/cells/dns.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update docs for registry post deployment migrations
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Edit db-post-deployment-migrations.md
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/patroni/single-node-high-level.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
