Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix lint
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update "type" filtering in ci-runners dashboard
  libsonnet/stage-groups/verify-runner/dashboard_filters.libsonnet
  libsonnet/stage-groups/verify-runner/dashboard_helpers.libsonnet
Due: test-periodic-queries

refactor(alerts): lower urgent-cpu-bound execution SLO
  metrics-catalog/services/sidekiq.jsonnet
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

add mimirtool to dockerfile
  Dockerfile
Due: test-docker-image

fix clipboard error
  Dockerfile
Due: test-docker-image

Move application SLI rules to thanos
  libsonnet/recording-rules/application-slis-rule-files.libsonnet
  metrics-catalog/gitlab-slis/aggregation-sets.libsonnet
  rules/autogenerated-gitlab-application-slis.yml
  thanos-rules-jsonnet/application-slis.jsonnet
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-staging-rules-jsonnet/application-slis.jsonnet
  thanos-staging-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-staging-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-staging-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-staging-rules/gprd/autogenerated-gitlab-application-slis.yml
  thanos-staging-rules/ops/autogenerated-gitlab-application-slis.yml
  thanos-staging-rules/other/autogenerated-gitlab-application-slis.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Optimize generate-jsonnet-rules script
  scripts/generate-jsonnet-rules.sh
Due: none

refactor(alerts): alower urgent-authorized-projects execution SLO
  metrics-catalog/services/sidekiq.jsonnet
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Explain how we monitor kube CPU utilization
  libsonnet/saturation-monitoring/kube_container_cpu.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  rules/autogenerated-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
  thanos-staging-rules/autogenerated-saturation-gprd.yml
  thanos-staging-rules/autogenerated-saturation-ops.yml
  thanos-staging-rules/autogenerated-saturation-other.yml
  thanos-staging-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

refactor(sli): ignore ProjectExportWorker from sidekiq
  metrics-catalog/services/sidekiq.jsonnet
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Add 'Idle Efficiency' graph to ci-runners autoscaling dashboard
  dashboards/ci-runners/incident-autoscaling.dashboard.jsonnet
  libsonnet/stage-groups/verify-runner/autoscaling_graphs.libsonnet
Due: test-periodic-queries

kas: running version dashboard
  dashboards/kas/misc.dashboard.jsonnet
Due: none

kas: lowercase labels for consistency
  dashboards/kas/gitops.dashboard.jsonnet
  dashboards/kas/main.dashboard.jsonnet
Due: none

Transparently merge service catalog attributes
  libsonnet/servicemetrics/service_definition.libsonnet
  libsonnet/utils/objects.libsonnet
  libsonnet/utils/objects_test.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/frontend.jsonnet
  metrics-catalog/services/gitaly.jsonnet
  metrics-catalog/services/logging.jsonnet
  metrics-catalog/services/monitoring.jsonnet
  metrics-catalog/services/patroni-ci.jsonnet
  metrics-catalog/services/patroni-registry.jsonnet
  metrics-catalog/services/patroni.jsonnet
  metrics-catalog/services/redis-db-load-balancing.jsonnet
  metrics-catalog/services/redis-repository-cache.jsonnet
  metrics-catalog/services/redis-sessions.jsonnet
  metrics-catalog/services/redis-sidekiq.jsonnet
  metrics-catalog/services/registry.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/thanos.jsonnet
Due: test-periodic-queries

refactor(alerts): vault audit log failures
  metrics-catalog/services/vault.jsonnet
  rules/autogenerated-key-metrics-vault.yml
  rules/vault.yml
  thanos-rules/autogenerated-service-level-alerts-vault-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-vault-ops.yml
  thanos-rules/autogenerated-service-level-alerts-vault-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

kas: add go_gc_duration_seconds
  dashboards/kas/misc.dashboard.jsonnet
Due: none

kas: add go_goroutines
  dashboards/kas/misc.dashboard.jsonnet
Due: none

feat(deps): update dependency mikefarah/yq to v4.40.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency node to v20.10.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.10.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  bd/2addd1f959ee1dc6be77794e9a777329ead9c3
Due: none

chore(errortracking): Loosen target apdex threshold, reading errors can be expectedly slow
  metrics-catalog/services/errortracking.jsonnet
  thanos-rules/autogenerated-feature-category-metrics-errortracking.yml
  thanos-rules/autogenerated-key-metrics-errortracking.yml
  thanos-rules/autogenerated-service-level-alerts-errortracking-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-errortracking-ops.yml
  thanos-rules/autogenerated-service-level-alerts-errortracking-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-feature-category-metrics-errortracking.yml
  thanos-staging-rules/autogenerated-key-metrics-errortracking.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat(sidekiq): Update sidekiq deferred-worker document.
  docs/console/README.md
  docs/logging/README.md
  docs/redis/README.md
  docs/sidekiq/README.md
  docs/sidekiq/disabling-a-worker.md
  docs/sidekiq/sidekiq-survival-guide-for-sres.md
  docs/thanos/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  0f/66d66d1762332e247b53fff798626eb2dc06b7
Due: none

feat: Add some additional instructions for resizing pvcs for statefulsets
  docs/kube/k8s-pvc-resize.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: I hate linters
  docs/kube/k8s-pvc-resize.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: how do i defeat the markdown lint boss?
  docs/kube/k8s-pvc-resize.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  dc/e8e97d92bf1b36320c08507b43f29c095eeed3
Due: none

Add Istio Loki Dashboard
  dashboards/istio/istio_ingress_loki.json
Due: none

chore(errortracking): Backout changes to alerting thresholds for now
  metrics-catalog/services/errortracking.jsonnet
  thanos-rules/autogenerated-service-level-alerts-errortracking-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-errortracking-ops.yml
  thanos-rules/autogenerated-service-level-alerts-errortracking-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

refactor(slis): move workhorse api selectors to hash
  metrics-catalog/services/api.jsonnet
  rules/autogenerated-key-metrics-api.yml
  thanos-rules/autogenerated-service-level-alerts-api-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-api-ops.yml
  thanos-rules/autogenerated-service-level-alerts-api-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Remove mentions of Fastly
  docs/certificates/README.md
  docs/certificates/fastly.md
  docs/cloudflare/services-locations.md
  docs/console/README.md
  docs/web/static-repository-objects-caching.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove more mentions of Fastly
  docs/certificates/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Limit to 2 parallel processes
  scripts/generate-jsonnet-rules.sh
Due: none

gitaly: Add server-side backup dashboards
  dashboards/gitaly/host-detail.dashboard.jsonnet
  dashboards/gitaly/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/gitaly/backup.libsonnet
Due: test-periodic-queries

refactor: moving utilization recording rules into thanos
  libsonnet/servicemetrics/utilization_metric.libsonnet
  libsonnet/servicemetrics/utilization_rules.libsonnet
  metrics-catalog/utilization/kube_node_requests.libsonnet
  rules-jsonnet/utilization.jsonnet
  rules/autogenerated-utilization.yml
  thanos-staging-rules-jsonnet/utilization.jsonnet
  thanos-staging-rules/gprd/autogenerated-utilization.yml
  thanos-staging-rules/ops/autogenerated-utilization.yml
  thanos-staging-rules/other/autogenerated-utilization.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, test-periodic-queries

Update service catalog to reflect team org in Scalability Practices+Observability
  libsonnet/service-catalog/service-catalog_test.jsonnet
  metrics-catalog/services/redis-registry-cache.jsonnet
  metrics-catalog/services/thanos-staging.jsonnet
  metrics-catalog/services/thanos.jsonnet
  rules/logging.yml
  services/service-catalog.yml
  services/teams.yml
  thanos-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-rules/autogenerated-service-level-alerts-redis-registry-cache-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-registry-cache-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-registry-cache-other.yml
  thanos-rules/autogenerated-service-level-alerts-thanos-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-thanos-ops.yml
  thanos-rules/autogenerated-service-level-alerts-thanos-other.yml
  thanos-rules/autogenerated-sidekiq-alerts-gprd.yml
  thanos-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-rules/autogenerated-sidekiq-alerts-other.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
  thanos-rules/thanos.yml
  thanos-staging-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-staging-rules/autogenerated-sidekiq-alerts-gprd.yml
  thanos-staging-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-staging-rules/autogenerated-sidekiq-alerts-other.yml
  thanos-staging-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Delete storage_rebalance.rb
  scripts/storage_rebalance.rb
Due: rubocop, rspec
