Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(deps): update dependency prometheus/prometheus to v2.51.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency hashicorp/vault to v1.16.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency node to v20.12.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.12.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.16.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  e5/0315f9374b2b6384ed1418964acd7af77d7d77
Due: none

Notes added by 'git notes add'
  65/434a3c84987f2e1f863c26287e651cabb8545a
Due: none

Notes added by 'git notes add'
  c4/082c94065b1b6a521eed59ed624478131cd9c0
Due: none

chore(deps): update pre-commit-dependencies
  .gitlab-ci-asdf-versions.yml
  .pre-commit-config.yaml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency pre-commit to v3.7.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  62/0139b9d543930bf7a0678c136e5011883ffce8
Due: none

chore(tamland): outlier for redis incident
  metrics-catalog/services/kas.jsonnet
  metrics-catalog/services/redis.jsonnet
Due: none

Document programmatic access to Mimir
  docs/api/README.md
  docs/mimir/getting-started.md
  docs/vault/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Moved and scoped elastic-clusters
  mimir-rules/gitlab-gprd/gprd/logging/elastic-clusters.yml
  mimir-rules/gitlab-gstg/gstg/logging/elastic-clusters.yml
Due: none

Revert "Merge branch 'calliope/remove-gcp-snapshots' into 'master'"
  mimir-rules/gitlab-ops/ops/gcp-snapshots.yml
  shell.nix
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  17/4c800dae18d78f5763b5c7cfc3da31cb427ffe
Due: none

Update file subnet-allocations.md
  docs/uncategorized/subnet-allocations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Reorder ip groups
  docs/uncategorized/subnet-allocations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: add redis sharding option into dashboard for redis-sidekiq
  dashboards/redis-sidekiq/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/redis_common_graphs.libsonnet
  libsonnet/grafana/templates.libsonnet
Due: test-periodic-queries

feat: Capacity planning page for AI-Gateway
  metrics-catalog/saturation/tamland.jsonnet
Due: none

Notes added by 'git notes add'
  ef/97243c67339220cbbc2202748b5ffccf77af7d
Due: none

feat: Added missing series alerts.
  mimir-rules-jsonnet/general-missing-series-alerts.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-missing-series-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-missing-series-alerts.yml
Due: none

Notes added by 'git notes add'
  b9/40b933c13de1115acd83915182a8846965b49f
Due: none

Notes added by 'git notes add'
  59/d031aa7c246cb6ad6c8e91a75eeb1a059bccfb
Due: none

chore: Removed from mimir-alerts directory.
  mimir-rules/alerts/elastic-clusters.yml
Due: none

feat: Moved and scoped blackbox alerts.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
  mimir-rules/gitlab-gstg/gstg/blackbox_alerts.yml
Due: none

chore: Moved and scoped external-dns.
  mimir-rules/alerts/external-dns.yml
  mimir-rules/gitlab-gprd/gprd/external-dns/external-dns.yml
  mimir-rules/gitlab-gstg/gstg/external-dns/external-dns.yml
  mimir-rules/gitlab-ops/ops/external-dns/external-dns.yml
  mimir-rules/gitlab-pre/pre/external-dns/external-dns.yml
Due: none

feat: Removed unused gitlab alerts.
  mimir-rules/alerts/gitlab-com-latencys.yml
  mimir-rules/alerts/gitlab-com-repositories.yml
  rules/gitlab-com-latencys.yml
  rules/gitlab-com-repositories.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: Remove unused metrics files.
  rules/generic_process.yml
  rules/node_components.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Linting.
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
  mimir-rules/gitlab-gstg/gstg/blackbox_alerts.yml
Due: none

Notes added by 'git notes add'
  e2/e938e4e4ff793802f77fba23339645283c00c0
Due: none

Notes added by 'git notes add'
  e7/09b11f4f4938dd3b1c5807abed9e743d3dfa13
Due: none

Revert "Merge branch 'blackbox-alerts' into 'master'"
  mimir-rules/gitlab-gprd/gprd/blackbox_alerts.yml
  mimir-rules/gitlab-gstg/gstg/blackbox_alerts.yml
Due: none

Notes added by 'git notes add'
  57/b98dcc166f0bf21c7151adde7e45f6c626df1f
Due: none

Add Docker Machine to Autoscaler migration dashboard for ci-runners
  dashboards/ci-runners/dm-to-autoscaler-migration.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  b0/34168dded0e323695018ccce7c8ac9dfdfbdb5
Due: none

fix: update the exclusion strings for the workhorse git endpoints from apdex
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

fix: add strings for the workhorse git endpoints to exclude from apdex for .com
  metrics-catalog/services/web.jsonnet
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
