Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Specialized redis_key_compare.rb script for redis sessions
  scripts/redis_key_compare.rb
Due: rubocop, rspec

Install yq tool in incident.io catalog sync job
  .gitlab-ci.yml
Due: test-docker-image

fix: some minior fixes
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards/logging.libsonnet
  mixins-monitoring/hosted-runners/lib/fluentd-panels.libsonnet
  mixins-monitoring/hosted-runners/lib/logging.libsonnet
  mixins-monitoring/hosted-runners/lib/panels.libsonnet
  mixins-monitoring/hosted-runners/lib/templates.libsonnet
Due: none

update ownership of clickhouse
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

feat: Re-enable cold and frozen tiers.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

Notes added by 'git notes add'
  8c381c69b57331d8da43aa9f2fbffa41d7e1292e
Due: none

Update ownership of ClickHouse
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Rename middleware_path_traversal alert to rails_middleware_path_traversal
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Due: none

Rename middleware_path_traversal alerts to rails_middleware_path_traversal
  metrics-catalog/services/web.jsonnet
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-sli-aggregations.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-web-service-slos.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-sli-aggregations.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-web-service-slos.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-sli-aggregations.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-web-service-slos.yml
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.61
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

Route paging alerts to incident.io also
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none

Order matters on testing
  alertmanager/routing-tests.jsonnet
Due: none

Gotta catch em all
  alertmanager/routing-tests.jsonnet
Due: none

Shew
  alertmanager/routing-tests.jsonnet
Due: none

Update repeat interval to match recommended values
  alertmanager/alertmanager.jsonnet
Due: none

Add a groupBy for incidentio route
  alertmanager/alertmanager.jsonnet
Due: none

Add a document about SSH to the dev instance
  docs/bastions/db-lab-bastions.md
  docs/bastions/dev-host.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Reduce staging to 5000
  mimir-rules/gitlab-gstg/search/zoekt.yml
Due: none

Send non pagerduty alerts to incidentio also
  alertmanager/alertmanager.jsonnet
  alertmanager/dummy-secrets.jsonnet
  alertmanager/routing-tests.jsonnet
Due: none

fix: some minior fixes
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/logging.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/replications.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/runner.libsonnet
  mixins-monitoring/hosted-runners/dashboards/runner.libsonnet
  mixins-monitoring/hosted-runners/overrides/gitlab-metrics-config.libsonnet
  mixins-monitoring/hosted-runners/services/logging.libsonnet
  mixins-monitoring/hosted-runners/services/runner-saturation.libsonnet
  mixins-monitoring/hosted-runners/services/runner.libsonnet
Due: none

chore(deps): update dependency redis to '~> 5.4.0'
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update docker docker tag to v28
  .gitlab-ci.yml
Due: test-docker-image

Remove extract of roles and only link to the role file
  docs/bastions/dev-host.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/patroni-ci/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  package-lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  c92d772b53d28694054b101a23405446934440ee
Due: none

fix: some minior fixes
  docs/hosted-runners/logging_service_usage_logs_error.md
  docs/hosted-runners/usage_replication_error.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(alerts): remove ai-gateway igress error ratio
  metrics-catalog/services/ai-gateway.jsonnet
Due: none

chore: make generate
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

Notes added by 'git notes add'
  d1179227ff9e27ee8205647c44285a429a8bafaa
Due: none

Revert "Merge branch '801-remove-aigw-igress-error-ratio' into 'master'"
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

fix: remove environment filter in template.webserviceTypes query
  libsonnet/grafana/templates.libsonnet
Due: test-periodic-queries

Update playbook
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: adding the amp docs with relation to cell
  docs/about/README.md
  docs/cells/README.md
  docs/cells/amp.md
  docs/kas/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add nordlayer section, explicitly link the terraform state in the AMP
  docs/cells/amp.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Do not keep aggregate capacity warning issue for redis-sidekiq
  metrics-catalog/services/redis-sidekiq.jsonnet
Due: none

feat: Change ILM to hot/cold/frozen with recommended rollover dates.
  elastic/managed-objects/log_gprd/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

Apply 1 suggestion(s) to 1 file(s)
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

fix: Whitespace.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd
