Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

feat: enable time series panel support on vault overview dashboard
  dashboards/vault/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

Add distribution endoflife export dashboard
  dashboards/distribution/endoflife_exporter.json
Due: none

remove id
  dashboards/distribution/endoflife_exporter.json
Due: none

Notes added by 'git notes add'
  ab7489ad42316d055cb61979c821d9e73153e5ee
Due: none

Add use of git_version!="" in query to filter only gitaly services
  dashboards/gitaly/host-detail.dashboard.jsonnet
Due: none

feat: enable time series panel support on sidekiq overview dashboard
  dashboards/sidekiq/main.dashboard.jsonnet
  dashboards/sidekiq/sidekiq.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on runway-redis overview dashboard
  dashboards/runway-redis-example/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/runway_redis_common_graphs.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on runway-db overview dashboard
  dashboards/runway-db-example/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/runway_postgres_common_graphs.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on redis overview dashboard
  dashboards/redis-cluster-cache/main.dashboard.jsonnet
  dashboards/redis-cluster-chat-cache/main.dashboard.jsonnet
  dashboards/redis-cluster-database-lb/main.dashboard.jsonnet
  dashboards/redis-cluster-feature-flag/main.dashboard.jsonnet
  dashboards/redis-cluster-queues-meta/main.dashboard.jsonnet
  dashboards/redis-cluster-ratelimiting/main.dashboard.jsonnet
  dashboards/redis-cluster-repo-cache/main.dashboard.jsonnet
  dashboards/redis-cluster-sessions/main.dashboard.jsonnet
  dashboards/redis-cluster-shared-state/main.dashboard.jsonnet
  dashboards/redis-pubsub/main.dashboard.jsonnet
  dashboards/redis-registry-cache/main.dashboard.jsonnet
  dashboards/redis-sessions/main.dashboard.jsonnet
  dashboards/redis-sidekiq/main.dashboard.jsonnet
  dashboards/redis-tracechunks/main.dashboard.jsonnet
  dashboards/redis/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/redis_common_graphs.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  464a89a770199ef2485d2da1fc53b89da03e72b0
Due: none

feat: enable time series panel support on plantuml overview dashboard
  dashboards/plantuml/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on pgbouncer overview dashboard
  dashboards/pgbouncer-ci/main.dashboard.jsonnet
  dashboards/pgbouncer-registry/main.dashboard.jsonnet
  dashboards/pgbouncer/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/pgbouncer-panels.libsonnet
  libsonnet/gitlab-dashboards/pgbouncer_common_graphs.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on patroni overview dashboard
  dashboards/patroni-ci/main.dashboard.jsonnet
  dashboards/patroni-registry/main.dashboard.jsonnet
  dashboards/patroni-sec/main.dashboard.jsonnet
  dashboards/patroni/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/patroni-panels.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on packagecloud overview dashboard
  dashboards/packagecloud/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on ops-gitlab-net overview dashboard
  dashboards/ops-gitlab-net/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on nginx overview dashboard
  dashboards/nginx/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on monitoring overview dashboard
  dashboards/monitoring/main.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on mailroom overview dashboard
  dashboards/mailroom/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on mailgun overview dashboard
  dashboards/mailgun/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on kas overview dashboard
  dashboards/kas/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on gitaly overview dashboard
  dashboards/gitaly/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/gitaly/adaptive_limit.libsonnet
  libsonnet/gitlab-dashboards/gitaly/backup.libsonnet
  libsonnet/gitlab-dashboards/gitaly/pack_objects.libsonnet
  libsonnet/gitlab-dashboards/gitaly/per_rpc.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on git overview dashboard
  dashboards/git/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on frontend overview dashboard
  dashboards/frontend/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on external-dns overview dashboard
  dashboards/external-dns/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on ext-pvs overview dashboard
  dashboards/ext-pvs/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on consul overview dashboard
  dashboards/consul/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on ci-runners overview dashboard
  dashboards/ci-runners/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on ci-partitioning overview dashboard
  dashboards/ci-partitioning/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on cells overview dashboard
  dashboards/cells/main.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

feat: enable time series panel support on camoproxy overview dashboard
  dashboards/camoproxy/main.dashboard.jsonnet
Due: none

feat: enable time series panel support on analytics-instrumentation overview dashboard
  dashboards/analytics-instrumentation/main.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  bb5926274d4b69484488b4d6e82b59305fb2065a
Due: none

Add distribution endoflife exporter dashboard
  dashboards/distribution/endoflife_exporter.json
Due: none

Refine Cloud Connector key rotation runbook
  docs/cloud_connector/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enable time series panel support for stage groups dashboards
  dashboards/stage-groups/code_review.dashboard.jsonnet
  dashboards/stage-groups/global_search.dashboard.jsonnet
  dashboards/stage-groups/package_registry.dashboard.jsonnet
  dashboards/stage-groups/pipeline_execution.dashboard.jsonnet
  dashboards/stage-groups/project_management.dashboard.jsonnet
  dashboards/stage-groups/runner.dashboard.jsonnet
  dashboards/stage-groups/stage-group-dashboards.libsonnet
  dashboards/stage-groups/static_analysis.dashboard.jsonnet
  dashboards/websockets/pod.dashboard.jsonnet
  libsonnet/stage-groups/verify-continuous-integration/builds_queue_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/saturation_graphs.libsonnet
Due: test-periodic-queries

feat: enable time series panel support for stage group detail dashboards
  dashboards/stage-groups/error-budget-detail.shared.jsonnet
  dashboards/stage-groups/stage-group-dashboards.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
Due: test-periodic-queries

fix: Revert ai-gateway error rate SLO
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

Notes added by 'git notes add'
  d0030ac7bc4fb4cf8a077c1fcd62d69497838df7
Due: none

chore: Update feature categories to 2025-03-11
  dashboards/product/engineering_product_error_budget.dashboard.jsonnet
  dashboards/product/systems_error_budget.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping.jsonnet
Due: validate-service-mappings, check-stage-groups, validate-alerts

chore: Updated teams.yml
  scripts/validate-service-catalog.rb
  services/teams.yml
Due: rubocop, validate-service-catalog-schema, validate-service-mappings, rspec, validate-alerts
