Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix: set correct threshold for glgo apdex
  metrics-catalog/services/glgo.jsonnet
  mimir-rules/runway/runway/glgo/autogenerated-runway-runway-glgo-component-aggregation.yml
  thanos-rules/autogenerated-key-metrics-glgo.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix(logging): remove type="monitoring" selector from SLIs
  metrics-catalog/services/logging.jsonnet
  mimir-rules/gitlab-gprd/gprd/logging/autogenerated-gitlab-gprd-gprd-logging-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/logging/autogenerated-gitlab-gprd-gprd-logging-service-level-alerts.yml
  mimir-rules/gitlab-gprd/gprd/logging/autogenerated-gitlab-gprd-gprd-logging-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/logging/autogenerated-gitlab-gstg-gstg-logging-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/logging/autogenerated-gitlab-gstg-gstg-logging-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/logging/autogenerated-gitlab-gstg-gstg-logging-sli-aggregations.yml
  rules/autogenerated-key-metrics-logging.yml
  thanos-rules/autogenerated-service-level-alerts-logging-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-logging-ops.yml
  thanos-rules/autogenerated-service-level-alerts-logging-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  22/d665950eb173e5dd0d717cb5fe5aa568979f35
Due: none

fix: pass recordingRuleRegistry to application SLI definition
  libsonnet/gitlab-slis/sli-definition.libsonnet
  metrics-catalog/gitlab-slis/aggregation-sets.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  mimir-rules/gitlab-gprd/gprd/api/autogenerated-gitlab-gprd-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/customersdot/autogenerated-gitlab-gprd-gprd-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/search/autogenerated-gitlab-gprd-gprd-search-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/gprd/web/autogenerated-gitlab-gprd-gprd-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/api/autogenerated-gitlab-gstg-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/customersdot/autogenerated-gitlab-gstg-gstg-customersdot-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/search/autogenerated-gitlab-gstg-gstg-search-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/gstg/web/autogenerated-gitlab-gstg-gstg-web-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/api/autogenerated-gitlab-pre-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/sidekiq/autogenerated-gitlab-pre-pre-sidekiq-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/pre/web/autogenerated-gitlab-pre-pre-web-aggregated-application-sli-metrics.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  48/88d8277b5c28c95ea5c96c1be500796a5fac9d
Due: none

Notes added by 'git notes add'
  0f/562988c4e37a6756566b087c6f188f4b5dcef8
Due: none

generate docs
  docs/patroni-ci/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

apply @fshabir suggestions
  docs/ci-runners/service-ci-runners.md
Due: markdownlint, validate-kibana-urls, validate-alerts

doc: install missing dependencies
  README.md
Due: markdownlint, validate-kibana-urls

doc(ci runners): how to find namespaces with large number of pending jobs ref: https://gitlab.com/gitlab-com/gl-infra/production/-/issues/17741
  docs/ci-runners/service-ci-runners.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: define global_search SLI as apdex kind only
  libsonnet/gitlab-slis/sli-definition_test.jsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  rules-jsonnet/application-slis.jsonnet
  rules/autogenerated-gitlab-application-slis.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  d5/7bf518082a6e0f324aa98e84cb60e3af70ca9a
Due: none

Changed datasource for Mimir overview dashboard.
  metrics-catalog/services/mimir.jsonnet
Due: none

Notes added by 'git notes add'
  c6/377ad09f2e404d0617473024bd277cf79b8382
Due: none

refactor(metrics-catalog): mimir datasource helper
  metrics-catalog/services/mimir.jsonnet
Due: none

feat(dashboards): mimir runway datasource custom dashboards
  dashboards/runway/loadbalancer.dashboard.jsonnet
  dashboards/runway/service.dashboard.jsonnet
Due: none

chore(metrics-catalog): set defaultPrometheusDatasource for runway meta service
  metrics-catalog/services/runway.jsonnet
Due: none

Notes added by 'git notes add'
  26/89198b5b6115e2013e1dbd17f5d8dbcc1313e8
Due: none

Notes added by 'git notes add'
  97/c58b569154aa2ee3ee3dc6ddf3f7d5a7adc844
Due: none

Add availability-update script
  bin/availability-update
Due: none

Notes added by 'git notes add'
  f3/d20bb85c33924a7db82d5c193646c65924799d
Due: none

chore: add runway datasource_id for alert link generation
  mimir-rules/runway/runway/ai-gateway/autogenerated-runway-runway-ai-gateway-saturation-alerts.yml
  mimir-rules/runway/runway/ai-gateway/autogenerated-runway-runway-ai-gateway-service-anomaly-detection-alerts.yml
  mimir-rules/runway/runway/ai-gateway/autogenerated-runway-runway-ai-gateway-service-level-alerts.yml
  mimir-rules/runway/runway/ext-pvs/autogenerated-runway-runway-ext-pvs-saturation-alerts.yml
  mimir-rules/runway/runway/ext-pvs/autogenerated-runway-runway-ext-pvs-service-anomaly-detection-alerts.yml
  mimir-rules/runway/runway/ext-pvs/autogenerated-runway-runway-ext-pvs-service-level-alerts.yml
  mimir-rules/runway/runway/glgo/autogenerated-runway-runway-glgo-saturation-alerts.yml
  mimir-rules/runway/runway/glgo/autogenerated-runway-runway-glgo-service-anomaly-detection-alerts.yml
  mimir-rules/runway/runway/glgo/autogenerated-runway-runway-glgo-service-level-alerts.yml
  scripts/generate-jsonnet-rules.sh
Due: none

feat: calculate Wilson Score Intervals for SLIs
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/recording-rules/confidence-interval-generators.libsonnet
  libsonnet/recording-rules/recording-rules.libsonnet
  libsonnet/servicemetrics/aggregation-set.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/wilson-score/wilson-score.libsonnet
  libsonnet/wilson-score/wilson-score_test.jsonnet
  metrics-catalog/mimir-aggregation-sets.libsonnet
  metrics-catalog/services/websockets.jsonnet
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/websockets/autogenerated-gitlab-pre-pre-websockets-component-aggregation.yml
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/src/reference-aggregation-sets.libsonnet
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  ae/156aedeaa9599c8ce67e249596d261bed53ce3
Due: none

Apply 1 suggestion(s) to 1 file(s)
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Update file ci-runners.jsonnet
  metrics-catalog/services/ci-runners.jsonnet
Due: none

chore: remove excludeKindsFromSLI from application SLI definition
  libsonnet/gitlab-slis/sli-definition.libsonnet
  libsonnet/gitlab-slis/sli-definition_test.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  f3/d14bfded7c63cdf956c463dea6c00eaba80d1b
Due: none

feat: allow confidence intervals to be used in SLI alerting
  libsonnet/mwmbr/expression.libsonnet
  libsonnet/mwmbr/slo_expression_generator.libsonnet
  libsonnet/servicemetrics/aggregation-set.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  libsonnet/slo-alerts/service-level-alerts.libsonnet
  mimir-rules/gitlab-gprd/gprd/websockets/autogenerated-gitlab-gprd-gprd-websockets-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/websockets/autogenerated-gitlab-gstg-gstg-websockets-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/websockets/autogenerated-gitlab-pre-pre-websockets-service-level-alerts.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
Due: test-periodic-queries

feat: Turned on alerting for Mimir.
  alertmanager/alertmanager.jsonnet
  metrics-catalog/services/mimir.jsonnet
  mimir-rules-jsonnet/service-component-alerts.jsonnet
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-service-level-alerts.yml
Due: none

Update availability-update script
  bin/availability-update
Due: none

Fix filepath and repo name
  bin/availability-update
Due: none

Fix filepath for the _index.md
  bin/availability-update
Due: none

Add reviewers ids
  bin/availability-update
Due: none

Fix linting
  bin/availability-update
Due: none

update mimir docs
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix lint
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: unified registry for service dashboard
  libsonnet/servicemetrics/recording-rule-registry/unified-registry.libsonnet
Due: test-periodic-queries

Adds alert for the weight assigner
  rules/gitaly-shard-weight-assigner.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production
