Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix: don't run jsonnet-tests for nested vendored libs
  scripts/jsonnet_test.sh
Due: none

Update ownership and dependencies of container registry service
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Update queries in preparation for a new sidekiq database
  libsonnet/gitlab-dashboards/pgbouncer_common_graphs.libsonnet
  libsonnet/saturation-monitoring/pgbouncer_pools.libsonnet
Due: test-periodic-queries

Add changes from make generate
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: none

refactor: useResourceLabelsAsMaxAggregationLabels enabled by default
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
Due: test-periodic-queries

Updates owners in the service catalog to current team names
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

postgres ai dashboard for db-lab
  dashboards/postgres-ai/postgres-ai.json
Due: none

fix EOF
  dashboards/postgres-ai/postgres-ai.json
Due: none

feat: add template for 'type' in marginalia-sampler dashboard
  dashboards/patroni/marginalia-sampler.dashboard.jsonnet
Due: none

Add details about "healthy"/"unhealthy" in deployment health dashboard
  dashboards/delivery/deployment_health.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  d57cdddf10d94a29e61c72567b51b3df64a6f76e
Due: none

Notes added by 'git notes add'
  6263a89a92ed40dd1af5363b99252231b734538e
Due: none

Update runbooks for Docs website
  docs/docs.gitlab.com/docsWebsite.md
  docs/docs.gitlab.com/elasticsearch.md
  docs/docs.gitlab.com/programmableSearch.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency go to v1.23.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

feat(deps): update terraform monorepo to v1.9.7
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency webmock to v3.24.0
  Gemfile.lock
Due: none

feat(deps): update dependency node to v20.18.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.18.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.22.0
  .copier-answers.yml
Due: none

fix(MD031 ERR): markdownlint
  docs/onboarding/gitlab.com_on_k8s.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(MD039 ERR): markdownlint
  docs/uncategorized/shared-configurations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  b84457973ff95df29708add4a6dd0bbb74cf6a7d
Due: none

Notes added by 'git notes add'
  059319a8c52550d5ab244b6348475dcb3688c9a1
Due: none

Notes added by 'git notes add'
  8187947b5a7f4344792c3b30ce0b0fddb00e088f
Due: none

feat(deps): update dependency pre-commit to v4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update pre-commit-dependencies
  .gitlab-ci-asdf-versions.yml
  .pre-commit-config.yaml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  277d98086186a40de954d87ef9c926be7074604d
Due: none

Notes added by 'git notes add'
  64f9310144d728c641ced72a4ff2fed349f16985
Due: none

Notes added by 'git notes add'
  a60e012d8fa6b6ff7f7dec142f8fb5c6e4ae04f1
Due: none

docs(ci-runners): add ssh steps and info about shards
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix Gitaly zone assignment
  scripts/disaster-recovery/gitaly-replace-nodes.rb
Due: rubocop, rspec

Notes added by 'git notes add'
  65953c27fc16d3ba0d753f0f5378b0dbc09d10d5
Due: none

Run generate-docs script
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
  docs/consul/README.md
  docs/frontend/README.md
  docs/search/README.md
  docs/vault/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update docs link
  docs/docs.gitlab.com/elasticsearch.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add the internal endpoint target to pingdom for the http router
  pingdom/pingdom.yml
Due: dry-run-pingdom-checks, deploy-pingdom-checks
