Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore(deps): update docker docker tag to v27.2.0
  .gitlab-ci.yml
Due: test-docker-image

Added weekly error budget alert to pm and optimize
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Update patroni gameday timing
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Moves topology service to topology service rest as grpc will be a separate deployment and have a different 'type'
  dashboards/topology-rest-55gfgv/main.dashboard.jsonnet
  docs/topology-rest-55gfgv/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/topology-service-rest.jsonnet
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-component-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-regional_component-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-saturation-alerts.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-saturation-metadata.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-saturation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-service-anomaly-detection-alerts.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-service-level-alerts.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-service_anomaly_detection.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-sli-aggregations.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-topology-rest-55gfgv-service-slos.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-service-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-service_regional-aggregation.yml
  mimir-rules/runway/topology-rest-55gfgv/autogenerated-runway-topology-rest-55gfgv-transformed-stage_groups-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-component-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-service-level-alerts.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-service_anomaly_detection.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-sli-aggregations.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-transformed-service-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/topology-service/autogenerated-runway-topology-service-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  75a5893cae953ac0c003e2d85a28c2406bf0110b
Due: none

add service dashboard to metric catalog
  dashboards/wiz-runtime-sensor/main.dashboard.jsonnet
  metrics-catalog/services/wiz-runtime-sensor.jsonnet
Due: none

Add Cloud Connector runbook
  docs/cloud_connector/README.md
  docs/cloud_connector/alerts/CloudflareCloudConnectorRateLimitEvents.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update docs about certificate monitoring
  .pre-commit-config.yaml
  docs/certificates/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Script to recreate zonal Gitaly nodes
  scripts/disaster-recovery/Gemfile
  scripts/disaster-recovery/Gemfile.lock
  scripts/disaster-recovery/gitaly-replace-nodes.rb
  scripts/disaster-recovery/templates/gitaly-recovery-nodes.tf.erb
  scripts/validate-alerts
Due: rubocop, rspec

chore: Grab Grafana API key from 1Password
  dashboards/README.md
  dashboards/load-creds.sh
Due: markdownlint, validate-kibana-urls

Add alert for livepatch being disabled
  docs/security-patching/alerts/UbuntuLivepatch.md
  mimir-rules/gitlab-gprd/canonical-livepatch.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Update BlackboxProbeFailures runbook with note on certs and fix typos
  docs/blackbox/alerts/BlackboxProbeFailures.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(ci): remove Renovate annotations for common-ci-tasks in CI config
  .gitlab-ci.yml
  .mise.toml
Due: test-docker-image

Apply 1 suggestion(s) to 1 file(s)
  dashboards/README.md
Due: markdownlint, validate-kibana-urls

adding a k8s architecture document for the analytics stack
  docs/api/README.md
  docs/console/README.md
  docs/kube/README.md
  docs/product_analytics/README.md
  docs/product_analytics/k8s-architecture.md
  docs/vault/README.md
  docs/version/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Fix syntax for feature flag chatops
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency google-cloud-compute to v1.8.1
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update dependency mixlib-shellout to v3.2.8
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat(deps): update dependency hashicorp/vault to v1.17.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(renovate): update Steve's username in the Renovate reviewers list
  renovate.json
Due: none

Notes added by 'git notes add'
  47e83e7c730f4a0dbe825f0a353eda6f528367d4
Due: none

Add GitLab Duo runbook
  docs/ai-gateway/README.md
  docs/api/README.md
  docs/cloudflare/README.md
  docs/customersdot/README.md
  docs/duo/triage.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  e4f001be1b5be54c63494f2324f6b9f2c94bd91e
Due: none

chore(deps): update dependency git to v2.2.0
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore: Protect temporary dashboards from deletion
  dashboards/protected-grafana-dashboards.jsonnet
Due: none

chore(deps): update dependency rubocop to v1.65.1
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat(deps): update dependency hashicorp/vault to v1.17.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.17.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

split the service and add documentation
  docs/wiz-runtime-sensor-k8s/README.md
  docs/wiz-runtime-sensor-linux/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

fix SRE reference links
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: linter error 'Wrong line endings or no final newline'
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Fix: error 'duplicated labels found in service catalog'
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: remove space from labels
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts
