Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

update
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

update the deployment blockers dashboard config
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

add deployment blockers dashboard
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

remove trailing whitespaces
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

update panels' sizes
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

update deployment blockers dashboard
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

Add title to the bar chart panels
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

Update from feedback
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: validate teams.yml in the service catalog
  .gitlab-ci.yml
  Makefile
  scripts/validate-service-catalog.rb
  scripts/validate-service-mappings.rb
  spec/service_catalog_validator_spec.rb
  spec/validate_service_mappings_spec.rb
Due: test-docker-image, rubocop, rspec

make generate
  docs/console/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Add the duo_chat team so alerts get routed
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-stage-group-ignored-components.yml
  services/teams.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Add script for pulling bootstrap duration
  scripts/find-bootstrap-duration.sh
Due: none

Refine measurements
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add environment
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add env to the sidekiq aggregation so it routes correctly
  mimir-rules/gitlab-gprd/sidekiq/sidekiq-queues.yml
Due: none

chore(deps): update dependency gitlab-dangerfiles to v4.8.0
  Gemfile.lock
Due: none

Fix broken double quote escaping in alert templates
  alertmanager/templates/gitlab.tmpl
  alertmanager/templates/testdata/gitlab.text_mimir-success.txt
  alertmanager/templates/testdata/mimir-payload.json
Due: none

Change alert Slack channel to g_mlops-alerts
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Fix broken URL encoding of PromQL templates
  alertmanager/templates/gitlab.tmpl
  alertmanager/templates/template_test.go
  alertmanager/templates/testdata/gitlab.text_mimir_.Alerts.Annotations.grafana_datasource_id.txt
  alertmanager/templates/testdata/gitlab.text_mimir_.Alerts.Annotations.promql_template_1.txt
  alertmanager/templates/testdata/gitlab.text_mimir_.Alerts.Annotations.promql_template_2.txt
Due: none

Avoiding make generate while updating feature categories
  scripts/commit-and-push-feature-categories-update.sh
Due: none

feat: show the legend on the saturation panel
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/key-metric-panels/utilization-rates-panel.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

Notes added by 'git notes add'
  be/d505249083a39c3db7bf2d502eacd041d1a99a
Due: none

update deployment blocker dashboard queries
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  fa/048f3e0db246ac6b44ee1686516f5b04363c8e
Due: none

adds percentage of time dashboards for env states
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

feat(deps): update dependency hashicorp/vault to v1.17.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.17.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency rubocop to v1.64.1
  Gemfile.lock
Due: none

chore(deps): update docker docker tag to v27
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  e1/d0ad78d24d51c36ea7dea28765ba16fd588d42
Due: none

update table panels transformations
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

remove threshold value
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

fix: use correct duo-chat-lounge channel
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  e6/b35abd3ee8b93a10563c7ad1793d577b0e1639
Due: none

Add WALGBaseBackupFailed to walgBaseBackup playbook.
  docs/patroni/alerts/walgBaseBackup.md
  mimir-rules/gitlab-gprd/gprd/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gstg/gstg/patroni/gitlab-walg-backups.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Add a function for generating a checksum of repository contents
  bin/gitaly
Due: none
