Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-alertmanager, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_security_dev_ilm, update_elastic_security_dev_watches, update_elastic_security_dev_index_templates, update_elastic_security_dev_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, test_dashboards, docker_image_test, alertmanager_test

Path conditions:
  update-alertmanager: any of: alertmanager/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_security_dev_ilm: any of: elastic/managed-objects/security_dev/ILM/*
  update_elastic_security_dev_watches: any of: elastic/managed-objects/security_dev/watches/*
  update_elastic_security_dev_index_templates: any of: elastic/managed-objects/security_dev/index-templates/*
  update_elastic_security_dev_cluster_settings: any of: elastic/managed-objects/security_dev/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  test_dashboards: any of: dashboards/**/*, metrics-catalog/**/*, libsonnet/**/*, service-catalog/**/*
  docker_image_test: any of: Dockerfile
  alertmanager_test: any of: alertmanager/*

Skip pingdom checks when running for pipelines
  .gitlab-ci.yml
Due: none

Rework the image scaler runbook
  docs/web/README.md
  docs/web/workhorse-image-scaler-alerts.md
  docs/web/workhorse-image-scaler.md
  rules/workhorse.yml
Due: none

Improve Alermanager notification alerting
  rules/alertmanager.yml
Due: none

some k8s reamde edits
  docs/uncategorized/k8s-oncall-setup.md
Due: none

Extract rowGrid helper into layout
  dashboards/rails_controller_common.libsonnet
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  dashboards/sidekiq/shard-detail.dashboard.jsonnet
  libsonnet/grafana/layout.libsonnet
Due: test_dashboards

removing service catalogue UI references since it's decommissioned
  docs/frontend/haproxy.md
  services/README.md
Due: none

remove security_dev CI jobs
  .gitlab-ci.yml
Due: none

removing PagerDuty integration from forum.gitlab.com check
  pingdom/pingdom.yml
Due: none

Jf fix runbook vacuumdb
  docs/patroni/patroni-management.md
Due: none

build: validate that `make generate` doesn't create new untracked files
  .gitlab-ci.yml
  .gitlab/dashboards/key-metrics-mailroom.yml
  Makefile
  rules/autogenerated-key-metrics-mailroom.yml
  thanos-rules/autogenerated-service-level-alerts-mailroom.yml
Due: none

Allow alerts to go to both pager and issue tracker
  alertmanager/alertmanager.jsonnet
  alertmanager/routing-tests.jsonnet
  rules/blackbox_alerts.yml
  rules/chefs.yml
  scripts/validate-alerts
Due: update-alertmanager, alertmanager_test

SLIs can only be owned by one team
  libsonnet/servicemetrics/README.md
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/camoproxy.jsonnet
  metrics-catalog/services/ci-runners.jsonnet
  metrics-catalog/services/git.jsonnet
  metrics-catalog/services/gitaly.jsonnet
  metrics-catalog/services/lib/haproxy_components.libsonnet
  metrics-catalog/services/logging.jsonnet
  metrics-catalog/services/monitoring.jsonnet
  metrics-catalog/services/nfs.jsonnet
  metrics-catalog/services/patroni.jsonnet
  metrics-catalog/services/pgbouncer.jsonnet
  metrics-catalog/services/praefect.jsonnet
  metrics-catalog/services/redis-cache.jsonnet
  metrics-catalog/services/redis-sidekiq.jsonnet
  metrics-catalog/services/redis.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/waf.jsonnet
  metrics-catalog/services/web.jsonnet
  metrics-catalog/services/woodhouse.jsonnet
  scripts/validate-service-mappings
Due: test_dashboards

Send alerts to issue trackers for teams
  services/service-catalog.yml
  services/service_catalog.libsonnet
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules/autogenerated-service-level-alerts-logging.yml
  thanos-rules/autogenerated-service-level-alerts-monitoring.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cache.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq.yml
  thanos-rules/autogenerated-service-level-alerts-redis.yml
  thanos-rules/autogenerated-service-level-alerts-woodhouse.yml
Due: none

Reduce registry storage apdex to a single threshold
  metrics-catalog/services/registry.jsonnet
  rules/autogenerated-key-metrics-registry.yml
Due: test_dashboards

feat: Give each SLO violation alert a unique name
  libsonnet/utils/strings.libsonnet
  libsonnet/utils/strings_test.jsonnet
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules/autogenerated-service-level-alerts-api.yml
  thanos-rules/autogenerated-service-level-alerts-camoproxy.yml
  thanos-rules/autogenerated-service-level-alerts-ci-runners.yml
  thanos-rules/autogenerated-service-level-alerts-frontend.yml
  thanos-rules/autogenerated-service-level-alerts-git.yml
  thanos-rules/autogenerated-service-level-alerts-gitaly.yml
  thanos-rules/autogenerated-service-level-alerts-logging.yml
  thanos-rules/autogenerated-service-level-alerts-monitoring.yml
  thanos-rules/autogenerated-service-level-alerts-nfs.yml
  thanos-rules/autogenerated-service-level-alerts-pages.yml
  thanos-rules/autogenerated-service-level-alerts-patroni.yml
  thanos-rules/autogenerated-service-level-alerts-praefect.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cache.yml
  thanos-rules/autogenerated-service-level-alerts-redis-sidekiq.yml
  thanos-rules/autogenerated-service-level-alerts-redis.yml
  thanos-rules/autogenerated-service-level-alerts-registry.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq.yml
  thanos-rules/autogenerated-service-level-alerts-waf.yml
  thanos-rules/autogenerated-service-level-alerts-web-pages.yml
  thanos-rules/autogenerated-service-level-alerts-web.yml
  thanos-rules/autogenerated-service-level-alerts-woodhouse.yml
Due: test_dashboards

Notes added by 'git notes add'
  583690e0a560d10500d82ef713c611b97df3ff07
Due: none

Use external label filter on SLO dashboards
  dashboards/alerts/burn_rate_alerts.shared.jsonnet
  dashboards/sli_promql.libsonnet
Due: test_dashboards

Fix markdown formatting
  docs/uncategorized/job_completion.md
Due: none

Include action buttons in Slack alerts
  alertmanager/alertmanager.jsonnet
Due: update-alertmanager, alertmanager_test

Adding auditor evidence how to docs
  docs/audit-evidence-gathering/README.md
Due: none
