Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  a8/49fb5c82e09059a882c63753cb71a40cceddc2
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: update redis cluster provisioning docs
  docs/redis/provisioning-redis-cluster.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/cardinality-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/redis/provisioning-redis-cluster.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix selector being merged when not supposed to
  libsonnet/servicemetrics/sli_metric_descriptor.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/git/autogenerated-gitlab-gprd-gprd-git-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/gitaly/autogenerated-gitlab-gprd-gprd-gitaly-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/ops-gitlab-net/autogenerated-gitlab-gprd-gprd-ops-gitlab-net-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/praefect/autogenerated-gitlab-gprd-gprd-praefect-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/registry/autogenerated-gitlab-gprd-gprd-registry-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/sidekiq/autogenerated-gitlab-gprd-gprd-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/git/autogenerated-gitlab-gstg-gstg-git-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/gitaly/autogenerated-gitlab-gstg-gstg-gitaly-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ops-gitlab-net/autogenerated-gitlab-gstg-gstg-ops-gitlab-net-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/praefect/autogenerated-gitlab-gstg-gstg-praefect-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/registry/autogenerated-gitlab-gstg-gstg-registry-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/autogenerated-gitlab-gstg-gstg-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/ai-gateway/autogenerated-gitlab-ops-ops-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/frontend/autogenerated-gitlab-ops-ops-frontend-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/git/autogenerated-gitlab-ops-ops-git-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/gitaly/autogenerated-gitlab-ops-ops-gitaly-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/praefect/autogenerated-gitlab-ops-ops-praefect-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/registry/autogenerated-gitlab-ops-ops-registry-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/sidekiq/autogenerated-gitlab-ops-ops-sidekiq-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/ai-gateway/autogenerated-gitlab-pre-pre-ai-gateway-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/git/autogenerated-gitlab-pre-pre-git-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/gitaly/autogenerated-gitlab-pre-pre-gitaly-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/ops-gitlab-net/autogenerated-gitlab-pre-pre-ops-gitlab-net-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/praefect/autogenerated-gitlab-pre-pre-praefect-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/registry/autogenerated-gitlab-pre-pre-registry-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/sidekiq/autogenerated-gitlab-pre-pre-sidekiq-sli-aggregations.yml
Due: test-periodic-queries

feat(mimir): Add chef alerts.
  mimir-rules/gitlab-gprd/alerts/chefs.yml
Due: none

feat: Moved the alerts to the right place, added gstg.
  mimir-rules/gitlab-gprd/gprd/chefs.yml
  mimir-rules/gitlab-gstg/gstg/chefs.yml
Due: none

feat(service_dashboard.libsonnet): Expose the `includeStandardEnvironmentAnnotations` option for service dashboards.
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
Due: test-periodic-queries

feat(common_annotations.libsonnet): Add `deploymentsForRunway`.
  libsonnet/grafana/common_annotations.libsonnet
Due: test-periodic-queries

feat(grafana/basic.libsonnet): Add `addAnnotationIf()` for conditional annotations.
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

feat(runway/main.dashboard.jsonnet): Add all Runway annotations, disable "standard" annotations.
  dashboards/runway/main.dashboard.jsonnet
Due: none

feat(service_dashboard.libsonnet): Add Runway deployment annotations to all Runway services.
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
Due: test-periodic-queries

feat: document subnetwork of new GCP project to scale up the small shard ref: https://gitlab.com/gitlab-org/ci-cd/shared-runners/infrastructure/-/issues/182
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6d/fe5794b8611d3d93cb57e33d2bae15393753b0
Due: none

fix: Updated to fix severities for gstg.
  mimir-rules/gitlab-gstg/gstg/chefs.yml
Due: none

Notes added by 'git notes add'
  9c/f17200cc50d9ef9d6a418387734218c5cf214b
Due: none

fix: steps to clean gprd credentials and prefix file
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: add note on slow time to run fetch_last_wals_from_gcs_into_dir
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: add chapter If fails during wal-g execution
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: fix markdownlint issues
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update subnet allocations for Runway staging/production
  docs/uncategorized/subnet-allocations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.13.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  07/425971fb9cd1a718028e990ac03b426187b7d8
Due: none

fix: get-hybrid does not do shard/node monitoring
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
Due: test-periodic-queries

chore: remove unused burn rate recordings
  metrics-catalog/aggregation-sets.libsonnet
  rules/autogenerated-feature-category-metrics-ai-assisted.yml
  rules/autogenerated-feature-category-metrics-api.yml
  rules/autogenerated-feature-category-metrics-ci-runners.yml
  rules/autogenerated-feature-category-metrics-customersdot.yml
  rules/autogenerated-feature-category-metrics-git.yml
  rules/autogenerated-feature-category-metrics-gitaly.yml
  rules/autogenerated-feature-category-metrics-gitlab-static.yml
  rules/autogenerated-feature-category-metrics-google-cloud-storage.yml
  rules/autogenerated-feature-category-metrics-internal-api.yml
  rules/autogenerated-feature-category-metrics-kas.yml
  rules/autogenerated-feature-category-metrics-mailroom.yml
  rules/autogenerated-feature-category-metrics-ops-gitlab-net.yml
  rules/autogenerated-feature-category-metrics-praefect.yml
  rules/autogenerated-feature-category-metrics-redis-tracechunks.yml
  rules/autogenerated-feature-category-metrics-registry.yml
  rules/autogenerated-feature-category-metrics-search.yml
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  rules/autogenerated-feature-category-metrics-web-pages.yml
  rules/autogenerated-feature-category-metrics-web.yml
  rules/autogenerated-feature-category-metrics-websockets.yml
  thanos-rules/autogenerated-aggregated-feature-category-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-feature-category-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-feature-category-metrics-other.yml
  thanos-rules/autogenerated-aggregated-service-component-stage-group-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-service-component-stage-group-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-service-component-stage-group-metrics-other.yml
  thanos-rules/autogenerated-aggregated-stage-group-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-stage-group-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-stage-group-metrics-other.yml
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-feature-category-metrics-errortracking.yml
  thanos-rules/autogenerated-feature-category-metrics-tracing.yml
  thanos-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-gprd.yml
  thanos-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-ops.yml
  thanos-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-other.yml
  thanos-rules/autogenerated-globally-aggregated-stage-group-metrics-gprd.yml
  thanos-rules/autogenerated-globally-aggregated-stage-group-metrics-ops.yml
  thanos-rules/autogenerated-globally-aggregated-stage-group-metrics-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat(runway/service.dashboard.jsonnet): Show runway-deploy annotations on the "Runway Service Metrics" dashboard.
  dashboards/runway/service.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  b5/9e8baa2ca99f969813d83a49848ceaf5f09f4f
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
