Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore: make update-feature-categories
  dashboards/product/no_code_error_budget.dashboard.jsonnet
  dashboards/product/service_management_error_budget.dashboard.jsonnet
  dashboards/stage-groups/no_code_automation.dashboard.jsonnet
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
  thanos-staging-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-staging-rules/autogenerated-stage-group-ignored-components.yml
Due: validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat(deps): update dependency hashicorp/vault to v1.15.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.6.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.15.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.1.1
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency json to v2.7.0
  Gemfile.lock
Due: none

chore(deps): update dependency rubocop to v1.58.0
  Gemfile.lock
Due: none

docs(vault): add example of project import
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

kas: update histogram name
  dashboards/kas/misc.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  ee/d15b610292e7cb3e4ac6fd41346e3c71d6fd73
Due: none

Notes added by 'git notes add'
  82/b64b0bc5ceff69269aed6fbbff482d3f23205e
Due: none

Remove banzai panels from Project Management stage-group
  dashboards/stage-groups/project_management.dashboard.jsonnet
Due: none

feat: Add Loki and Mimir to service catalog.
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

chore: Ran make generate.
  docs/loki/README.md
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  2e/bb768b9d80963d4e5eeb6b37aa7fcb6f511d5c
Due: none

chore: add ext-pvs service
  dashboards/ext-pvs/main.dashboard.jsonnet
  docs/ext-pvs/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/ext-pvs.jsonnet
  services/service-catalog.yml
  thanos-rules/autogenerated-key-metrics-ext-pvs.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-key-metrics-ext-pvs.yml
  thanos-staging-rules/autogenerated-saturation-gprd.yml
  thanos-staging-rules/autogenerated-saturation-ops.yml
  thanos-staging-rules/autogenerated-saturation-other.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: add links for ext-pvs and pvs
  dashboards/ext-pvs/main.dashboard.jsonnet
  docs/ext-pvs/README.md
  docs/pipeline-validation-service/README.md
  metrics-catalog/services/ext-pvs.jsonnet
  metrics-catalog/services/pvs.jsonnet
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove override for urgent-other shard queueing SLO
  metrics-catalog/services/sidekiq.jsonnet
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

don't check prometheus agents for alertmanager
  rules/default/prometheus-metamons.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Add Wiz-Sensor to metric catalog
  metrics-catalog/services/wiz-sensor.jsonnet
Due: none

fix: add to all services list
  metrics-catalog/services/all.jsonnet
Due: none

Update wiz-sensor.jsonnet
  metrics-catalog/services/wiz-sensor.jsonnet
Due: none

Update file wiz-sensor.jsonnet
  metrics-catalog/services/wiz-sensor.jsonnet
Due: none

Fix label for Scalability-Observability
  libsonnet/service-catalog/service-catalog_test.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, test-periodic-queries

Add DNS record update instructions
  docs/uncategorized/domain-registration.md
  docs/uncategorized/manage-dns-entries.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix linting errors
  docs/uncategorized/manage-dns-entries.md
Due: markdownlint, validate-kibana-urls, validate-alerts

adding release-cycle folder
  docs/ci-runners/release-cycle/blue_green_deployment.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix wrong line endings or no final newline error
  docs/ci-runners/release-cycle/blue_green_deployment.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file restoring-clickhouse-backup.md
  docs/product_analytics/restoring-clickhouse-backup.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.1.2
  .gitlab-ci.yml
Due: test-docker-image

chore: remove elements
  metrics-catalog/services/wiz-sensor.jsonnet
Due: none

Update file mlops.jsonnet
  elastic/managed-objects/lib/index_mappings/mlops.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Add thread-safe trackers to redis diff script
  scripts/redis_diff.rb
Due: rubocop, rspec

Add alert for excessive DB time of security policy workers
  rules/security-policy-workers.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

docs: add ai-gateway runbooks
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: update runway runbooks
  docs/runway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency go to v1.21.5
  pingdom/go.mod
  pingdom/go.sum
Due: dry-run-pingdom-checks, deploy-pingdom-checks

chore(deps): update dependency json to v2.7.1
  Gemfile.lock
Due: none

feat(deps): update dependency hashicorp/vault to v1.15.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
