Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: test-docker-image

Update dependency gitlab-com/gl-infra/jsonnet-tool to v1.11.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore: move anomaly detection rules to jsonnet
  libsonnet/recording-rules/service-ops-anomaly-detection.libsonnet
  thanos-rules-jsonnet/service-ops-anomaly-detection.jsonnet
  thanos-rules/autogenerated-service_ops_anomaly_detection-gprd.yml
  thanos-rules/autogenerated-service_ops_anomaly_detection-ops.yml
  thanos-rules/autogenerated-service_ops_anomaly_detection-other.yml
  thanos-rules/service_ops_anomaly_detection.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  db/a596e2e823decd07741e6dbc37ff91fbc4b31d
Due: none

chore: Removed thanos-staging from service and metric catalogs.
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/thanos-staging.jsonnet
  mimir-rules/gprd/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/ops/autogenerated-kube-state-metrics-recording-rules.yml
  mimir-rules/other/autogenerated-kube-state-metrics-recording-rules.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: runway ingress apdex SLI
  libsonnet/service-archetypes/runway-archetype.libsonnet
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ai-gateway.yml
  thanos-rules/autogenerated-key-metrics-ext-pvs.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ext-pvs-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Update Cloudflare documentation to reflect new rule management process
  docs/cloudflare/managing-traffic.md
  docs/cloudflare/terraform.md
Due: markdownlint, validate-kibana-urls, validate-alerts

formatting fix
  docs/cloudflare/managing-traffic.md
Due: markdownlint, validate-kibana-urls, validate-alerts

formatting suggestions from review
  docs/cloudflare/managing-traffic.md
Due: markdownlint, validate-kibana-urls, validate-alerts

formatting fixes from review
  docs/cloudflare/managing-traffic.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  d0/283983ab05e71e20876f6c11e40bdd08960cda
Due: none

feat: nix flakes
  flake.nix
  shell.nix
Due: none

resolves: https://gitlab.com/gitlab-com/gl-infra/scalability/-/issues/2681
  flake.lock
  mimir-rules/alerts/airflow.yml
  mimir-rules/alerts/alertmanager.yml
  mimir-rules/alerts/chefs.yml
  mimir-rules/alerts/cloud_nat.yml
  mimir-rules/alerts/cloud_sql.yml
  mimir-rules/alerts/cloudflare.yml
  mimir-rules/alerts/commit-workers.yml
  mimir-rules/alerts/container.yml
  mimir-rules/alerts/decomposed-database.yml
  mimir-rules/alerts/elastic-clusters.yml
  mimir-rules/alerts/external-dns.yml
  mimir-rules/alerts/gitlab-com-latencys.yml
  mimir-rules/alerts/gitlab-com-repositories.yml
  mimir-rules/alerts/gitlab-com-search.yml
  mimir-rules/alerts/gitlab_job.yml
  mimir-rules/alerts/kubernetes-horizontalpodautoscaler.yml
  mimir-rules/alerts/kubernetes-resources.yml
  mimir-rules/alerts/kubernetes-storage.yml
  mimir-rules/alerts/kubernetes-system.yml
  mimir-rules/alerts/kubernetes.yml
  mimir-rules/alerts/logging.yml
  mimir-rules/alerts/mailroom.yml
  mimir-rules/alerts/omnibus.yml
  mimir-rules/alerts/osquery.yml
  mimir-rules/alerts/pages-gitlab-io-status.yml
  mimir-rules/alerts/patroni.yml
  mimir-rules/alerts/pgbouncer.yml
  mimir-rules/alerts/praefect.yml
  mimir-rules/alerts/prometheus-operator.yml
  mimir-rules/alerts/pull-mirror-queues.yml
  mimir-rules/alerts/registry-db.yml
  mimir-rules/alerts/registry-gc-queues.yml
  mimir-rules/alerts/remote-mirrors.yml
  mimir-rules/alerts/sidekiq-queue-latency.yml
  mimir-rules/alerts/sidekiq-queues.yml
Due: none

Notes added by 'git notes add'
  9b/ecff2830c6c41f33861b18652a54288dfb563e
Due: none

Update docs index pages
  docs/about/README.md
  docs/blackbox/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add architecture for linux ci runners
  docs/ci-runners/linux/architecture.png
Due: validate-alerts

Add description for linux ci runners architecture diagram
  docs/ci-runners/linux/architecture.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Clarify tests
  libsonnet/recording-rules/lib/mimir/separate-mimir-recording-files_test.jsonnet
Due: test-periodic-queries

Remove trailing whitespace in architecture.md
  docs/ci-runners/linux/architecture.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: Adjust freeable memory saturation language
  libsonnet/saturation-monitoring/aws_rds_memory.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  24/3aeb33264cfe55915ba3e91c3a7f6e78a7aaa4
Due: none

Update Advanced search runbook
  README.md
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
  docs/elastic/advanced-search-in-gitlab.md
  docs/elastic/elasticsearch-integration-in-gitlab.md
  docs/git/README.md
  docs/gitaly/README.md
  docs/logging/README.md
  docs/monitoring/README.md
  docs/omnibus/README.md
  docs/redis/README.md
  docs/search/README.md
  docs/sidekiq/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  c7/deff069e5431df5765b3aab70bd807f024d826
Due: none

Move service-slos.yml to mimir
  libsonnet/recording-rules/service-slos.libsonnet
  mimir-rules-jsonnet/service-slos.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-service-slos.yml
  mimir-rules/gitlab-others/others/autogenerated-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-service-slos.yml
  thanos-rules-jsonnet/recording-rules.jsonnet
Due: test-periodic-queries

Update Teleport runbook for updating Enterprise license
  docs/kube/README.md
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updates pg-wraparound alerting for Dedicated
  libsonnet/saturation-monitoring/pg_txid_wraparound.libsonnet
  metrics-catalog/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
  rules/autogenerated-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

chore: Removed thanos-staging-rules directories.
  thanos-staging-rules-jsonnet/.gitkeep
  thanos-staging-rules-jsonnet/aggregation-set-recording-rules.jsonnet
  thanos-staging-rules-jsonnet/experimental-thanos-only-aggregations.jsonnet
  thanos-staging-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  thanos-staging-rules-jsonnet/patroni-cause-alerts.jsonnet
  thanos-staging-rules-jsonnet/recording-rules.jsonnet
  thanos-staging-rules-jsonnet/saturation.jsonnet
  thanos-staging-rules-jsonnet/service-key-metrics.jsonnet
  thanos-staging-rules-jsonnet/sidekiq-queue-rules.jsonnet
  thanos-staging-rules-jsonnet/sla-rules.jsonnet
  thanos-staging-rules-jsonnet/stage-group-feature-category-mapping-rules.jsonnet
  thanos-staging-rules-jsonnet/stage-group-ignored-components.jsonnet
  thanos-staging-rules-jsonnet/stage-group-monthly-availability.jsonnet
  thanos-staging-rules-jsonnet/subnet-sizes.jsonnet
  thanos-staging-rules-jsonnet/utilization.jsonnet
  thanos-staging-rules/.gitkeep
  thanos-staging-rules/.thanos-shard-mapping
  thanos-staging-rules/apdex_raw_metrics.yml
Due: generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging

chore: Also removed docs and dashboards.
  dashboards/thanos-staging/main.dashboard.jsonnet
  docs/thanos-staging/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Runbook: PostgreSQL Wait Event Analysis
  docs/patroni/postgresql-wait-event.md
Due: markdownlint, validate-kibana-urls, validate-alerts

formatting
  docs/patroni/postgresql-wait-event.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update postgresql-wait-event.md
  docs/patroni/postgresql-wait-event.md
Due: markdownlint, validate-kibana-urls, validate-alerts

minor update
  docs/patroni/postgresql-wait-event.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add links to PostgreSQL Wait Event Analysis
  README.md
  docs/patroni/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

update link description
  README.md
Due: markdownlint, validate-kibana-urls

chore: Removed the last of the thanos-staging selectors.
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  libsonnet/servicemetrics/saturation_rules.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/saturation/tamland.jsonnet
  metrics-catalog/services/thanos.jsonnet
  thanos-rules-jsonnet/aggregation-set-recording-rules.jsonnet
  thanos-rules-jsonnet/kube-state-metrics-recording-rules.jsonnet
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules-jsonnet/service-key-metrics.jsonnet
Due: test-periodic-queries

fix: Make bloat portable
  libsonnet/saturation-monitoring/pg_btree_bloat.libsonnet
  libsonnet/saturation-monitoring/pg_table_bloat.libsonnet
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

Notes added by 'git notes add'
  61/10dbd735beeaffaf65f540d5f60d3528a9d9af
Due: none

feat: add ai_gateway_threads
  libsonnet/saturation-monitoring/ai_gateway_threads.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  44/9cb583fd780508738b34c98a2ad2474cd68ff9
Due: none

Implement metricNamesAndSelectors() on SLI definition
  libsonnet/servicemetrics/apdex/error_counter_apdex.libsonnet
  libsonnet/servicemetrics/apdex/histogram.libsonnet
  libsonnet/servicemetrics/apdex/success_counter.libsonnet
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/gauge_metric.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition_test.jsonnet
  libsonnet/servicemetrics/service_level_indicator_helper.libsonnet
  libsonnet/servicemetrics/service_level_indicator_helper_test.jsonnet
Due: test-periodic-queries
