Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Add reserved IP range for gitlab-ci-private/private-services in the ci-runners runbook
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: lower error SLO to 99.9%
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

feat: Alerting rules for hosted runner
  .yamllint.yaml
  docs/api/README.md
  docs/console/README.md
  docs/hosted-runners/README.md
  docs/hosted-runners/jobs_apdex_slo_violation.md
  docs/hosted-runners/pending_queue_duration.md
  docs/hosted-runners/runner_system_failure.md
  docs/hosted-runners/runners_manager_is_down.md
  docs/logging/README.md
  docs/monitoring/README.md
  docs/search/README.md
  docs/switchboard/README.md
  mixins-monitoring/generate-mixin.sh
  mixins-monitoring/hosted-runners/alerts.libsonnet
  mixins-monitoring/hosted-runners/alerts/alerts.libsonnet
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/hosted-runners.libsonnet
  mixins-monitoring/hosted-runners/jsonnetfile.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/lib/alerts-generator.libsonnet
  mixins-monitoring/hosted-runners/lib/mappings.libsonnet
  mixins-monitoring/hosted-runners/lib/panels.libsonnet
  mixins-monitoring/hosted-runners/lib/rules-generator.libsonnet
  mixins-monitoring/hosted-runners/lib/saturation.libsonnet
  mixins-monitoring/hosted-runners/lib/service.libsonnet
  mixins-monitoring/hosted-runners/lib/templates.libsonnet
  mixins-monitoring/hosted-runners/overrides/gitlab-metrics-config.libsonnet
  mixins-monitoring/hosted-runners/rules.libsonnet
  mixins-monitoring/hosted-runners/rules/rules.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.yaml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.yaml
  reference-architectures/get-hybrid/src/reference-aggregation-sets.libsonnet
  scripts/generate-reference-architecture-config.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  911fa39e04b4ead4e777f6eae1822c0f2cdc8294
Due: none

Update file teams.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Update search alerts
  mimir-rules/gitlab-gprd/search/gitlab-com-search.yml
  mimir-rules/gitlab-gstg/search/gitlab-com-search.yml
Due: none

Add embedding alert for staging
  mimir-rules/gitlab-gstg/search/gitlab-com-search.yml
Due: none

Update panel ids
  mimir-rules/gitlab-gprd/search/gitlab-com-search.yml
  mimir-rules/gitlab-gstg/search/gitlab-com-search.yml
Due: none

Point to new metrics and add panel for embedding queue
  dashboards/sidekiq/main.dashboard.jsonnet
  dashboards/stage-groups/global_search.dashboard.jsonnet
Due: none

Add embedding queue length to sidekiq dashboard
  dashboards/sidekiq/main.dashboard.jsonnet
Due: none

Move to end
  dashboards/sidekiq/main.dashboard.jsonnet
Due: none

Replace with search_advanced_awaiting_indexing_queue_size
  dashboards/sidekiq/main.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  ce31302cae66d62e36a0752b29f48508103c5dc3
Due: none

chore: Increase limit of dynamic lookup query for kube_container_memory
  libsonnet/saturation-monitoring/kube_container_memory.libsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

chore: add generated readme
  reference-architectures/get-hybrid/README.md
Due: markdownlint, validate-kibana-urls

Rename Static Analysis error budget channel
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Add concurrency limit to sidekiq dashboard
  dashboards/sidekiq/main.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  f339a3c6e4c5f6666c784824e96a4a85ea16f06a
Due: none

feat: Enable useResourceLabelsAsMaxAggregationLabels for persistentvolumeclaim
  libsonnet/saturation-monitoring/kube_persistent_volume_claim_disk_space.libsonnet
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-saturation.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-saturation.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-saturation.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-saturation.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
Due: test-periodic-queries

feat: Saturation dimensions per persistentvolumeclaim for kube_persistent_volume_claim_disk_space
  libsonnet/saturation-monitoring/kube_persistent_volume_claim_disk_space.libsonnet
Due: test-periodic-queries

chore: make generate
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: none

chore: finish todos for hosted-runners
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/overrides/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
Due: none

Update zoekt runbook with node lost instructions
  docs/zoekt/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove unnecessary import
  metrics-catalog/services/http-router.jsonnet
Due: none

feat: Add Performance monitoring panels to the `http-router` service
  dashboards/http-router/main.dashboard.jsonnet
Due: none

feat: remove graphql endpoint from workhorse SLI calculations
  libsonnet/gitlab-utils/workhorse-routes_test.jsonnet
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/web.jsonnet
Due: test-periodic-queries

fix: fix test
  libsonnet/gitlab-utils/workhorse-routes_test.jsonnet
Due: test-periodic-queries

fix: reorder
  metrics-catalog/services/web.jsonnet
Due: none

fix: autogenerated
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
Due: none

fix: autogenerated
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/web/autogenerated-gitlab-gprd-web-service-level-alerts.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/web/autogenerated-gitlab-gstg-web-service-level-alerts.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/web/autogenerated-gitlab-pre-web-service-level-alerts.yml
Due: none

chore(deps): update dependency json to v2.8.2
  Gemfile.lock
Due: none

chore(deps): update grafana/mimirtool docker tag to v2.14.2
  Dockerfile
Due: test-docker-image

chore(deps): update dependency optimist to v3.2.0
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update dependency pry to v0.15.0
  Gemfile.lock
Due: none

chore(deps): update dependency rubocop to v1.68.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

chore(deps): update dependency super_diff to v0.14.0
  Gemfile.lock
Due: none

feat(deps): update dependency prometheus/prometheus to v3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(metrics-catalog): sast-service regional SLIs/SLOs
  metrics-catalog/services/sast-service.jsonnet
Due: none

chore(metrics-catalog): make generate
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-regional_component-aggregation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-sast-service-service-slos.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-service-level-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-sli-aggregations.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-transformed-service_regional-aggregation.yml
Due: none
