Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Add PINGDOM_API_TOKEN secret in CI config
  .gitlab-ci.yml
Due: test-docker-image

Add Kubernetes metrics and sync/reconcilation dashboard panels for external-dns
  dashboards/external-dns/main.dashboard.jsonnet
  metrics-catalog/services/external-dns.jsonnet
  rules/external-dns.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Apply 1 suggestion(s) to 1 file(s)
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: Update instructions on long-running PDM
  docs/patroni-registry/README.md
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Additional dashboards for Internal API
  dashboards/internal-api/aux.shared.jsonnet
  dashboards/internal-api/pod.dashboard.jsonnet
  dashboards/internal-api/rails-controller.dashboard.jsonnet
Due: none

Apply 1 suggestion(s) to 1 file(s)
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Move patroni cause alerts to thanos
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  rules-jsonnet/patroni-cause-alerts.jsonnet
  thanos-staging-rules-jsonnet/patroni-cause-alerts.jsonnet
  thanos-staging-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-other.yml
Due: generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, test-periodic-queries

Pass env selector on 2 other alerts
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  rules/autogenerated-patroni-cause-alerts.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, test-periodic-queries

chore: Add outliers for ci-runners
  metrics-catalog/services/ci-runners.jsonnet
Due: none

chore(observability): Update ingress dashboard to use traefik-specific telemetry
  dashboards/observability/ingress.dashboard.jsonnet
Due: none

Update consul client pod dashboard
  dashboards/consul/pod.dashboard.jsonnet
Due: none

Add zoekt recording rule + alert for container OOMing
  rules/zoekt.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Fix validation error
  rules/zoekt.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Add 'type' filter to the runners dashboards
  libsonnet/stage-groups/verify-runner/dashboard_filters.libsonnet
  libsonnet/stage-groups/verify-runner/dashboard_helpers.libsonnet
Due: test-periodic-queries

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.0.3
  .gitlab-ci.yml
Due: test-docker-image

Add functionality to migrate keys using MIGRATE command
  scripts/redis_diff.rb
Due: rubocop, rspec

Fix concat rubocop error
  scripts/redis_diff.rb
Due: rubocop, rspec

Improves instructions for Yubikey setup
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency redis-clustering to v5.0.8
  Gemfile.lock
Due: none

chore(deps): update pre-commit hook zricethezav/gitleaks to v8.18.1
  .pre-commit-config.yaml
Due: none

feat(deps): update dependency terraform to v1.6.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency prometheus/prometheus to v2.48.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update pre-commit hook compilerla/conventional-pre-commit to v3
  .pre-commit-config.yaml
Due: none

feat(deps): update dependency yannh/kubeconform to v0.6.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Filter on pod instead of container
  rules/zoekt.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Remove "for: 5m" so it alerts immediately on OOM/restart
  rules/zoekt.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Add environment to the labels to group/match on and remove env from the alert expr
  rules/zoekt.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  ea/3c565216a93be7ed9adfc02e9452693929dbd1
Due: none

Notes added by 'git notes add'
  dd/7a8f66e191807d515e6c3a143de6041faa69d4
Due: none

feat(deps): update dependency thanos-io/thanos to v0.32.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Remove patroni cause alerts from prometheus rules
  rules-jsonnet/patroni-cause-alerts.jsonnet
  thanos-rules-jsonnet/patroni-cause-alerts.jsonnet
  thanos-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-rules/autogenerated-patroni-cause-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  72/f372987bfbbc4beeeb467e566926cacf548e76
Due: none

Add partial_response_strategy: warn
  libsonnet/alerts/patroni-cause-alerts.libsonnet
  thanos-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-rules/autogenerated-patroni-cause-alerts-other.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-gprd.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-ops.yml
  thanos-staging-rules/autogenerated-patroni-cause-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  4f/46c223b05136b512545e5688870c4f6d394c11
Due: none

Doc(core): Adding Security Note
  on-call/checklists/eoc.md
Due: markdownlint, validate-kibana-urls

Move component_node field to monitoring.node.thresholds
  libsonnet/servicemetrics/service_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  metrics-catalog/services/gitaly.jsonnet
Due: test-periodic-queries

Improves the usage docs for creating Terraform secrets
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
