Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Support Cloud Connector envs in log script
  scripts/cloudflare_logs.sh
Due: none

Notes added by 'git notes add'
  278b08fb7e04258fe67551582b73b8045bee8d94
Due: none

fix: Back with shardMapping to silence the annoying notifications
  metrics-catalog/saturation/tamland.jsonnet
Due: none

Notes added by 'git notes add'
  58ab40cac35e683d9ce3b35018f58148ab330bfc
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.40
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

feat(deps): update terraform monorepo to v1.9.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update docker docker tag to v27.3.1
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  349d7380c462a00af9b3808e47c2e107b779378f
Due: none

chore: Exclude outliers for disk space
  metrics-catalog/services/ci-runners.jsonnet
Due: none

Update teams.yaml for group:observability to correctly route alerts
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Add Product Planning to EB Slack alerts
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  incidents/production_change_locks.md
Due: markdownlint, validate-kibana-urls

w h i t e s p a c e
  incidents/production_change_locks.md
Due: markdownlint, validate-kibana-urls

Add pingdom service
  docs/api/README.md
  docs/gitaly/README.md
  docs/pingdom/README.md
  docs/pingdom/pingdom.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Update pagerduty integration for pingdom
  pingdom/README.md
  pingdom/pingdom.yml
Due: markdownlint, validate-kibana-urls, dry-run-pingdom-checks, deploy-pingdom-checks

Update broken link in mapping_statements.md
  docs/patroni/mapping_statements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update SidekiqQueueTooLarge alert
  docs/sidekiq/README.md
  docs/sidekiq/alerts/SidekiqQueueTooLarge.md
  docs/sidekiq/creating-a-shard.md
  docs/sidekiq/disabling-a-queue.md
  docs/sidekiq/queue-migration.md
  docs/sidekiq/sidekiq-survival-guide-for-sres.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update pingdom docs
  docs/pingdom/pingdom.md
  pingdom/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update pingdom docs
  docs/pingdom/pingdom.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add docs on querying Cloudflare Spectrum logs
  docs/cloudflare/logging.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update instructions to create external table instead
  docs/cloudflare/logging.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update Observability services with recent team changes
  dashboards/stage-groups/platform_insights.dashboard.jsonnet
  dashboards/stage-groups/product_analytics.dashboard.jsonnet
  metrics-catalog/services/errortracking.jsonnet
  metrics-catalog/services/tracing.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  mimir-rules/gitlab-observability/errortracking/autogenerated-gitlab-observability-errortracking-feature_category-aggregation.yml
  mimir-rules/gitlab-observability/errortracking/autogenerated-gitlab-observability-errortracking-service-level-alerts.yml
  mimir-rules/gitlab-observability/tracing/autogenerated-gitlab-observability-tracing-feature_category-aggregation.yml
  mimir-rules/gitlab-observability/tracing/autogenerated-gitlab-observability-tracing-service-level-alerts.yml
  services/service-catalog.yml
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, check-stage-groups, reconcile-service-catalog-labels, validate-alerts

Improve Cloud Connector logging docs
  docs/cloud_connector/README.md
  docs/duo/triage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Exclude security decomp host from production backup alerts
  mimir-rules/gitlab-gprd/patroni/gitlab-walg-backups.yml
Due: none

Added Gameday documentation in runbooks
  docs/about/README.md
  docs/console/README.md
  docs/design/README.md
  docs/disaster-recovery/gameday.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency hashicorp/vault to v1.17.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.17.6
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency markdownlint-cli to v0.42.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency super_diff to v0.13.0
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  b4723414ea5aadc47206128d11dea4094dbce5f0
Due: none

chore(deps): update dependency rubocop to v1.66.1
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

Isolating pods
  docs/kube/k8s-isolate-pod.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

refactor: use stacked bars for marginalia-sampler dashboard
  dashboards/patroni/marginalia-sampler.dashboard.jsonnet
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

Add panels to show deployment health metric healthy/unhealthy
  dashboards/delivery/deployment_health.dashboard.jsonnet
Due: none

fix(runway): correct runway service startup latency query
  dashboards/runway/service.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  4a93a3f591ae60b05b1e4455799c55ed001a5e80
Due: none

remove job_environment:gitlab_sql_duration_seconds_bucket:rate1m recording rule
  mimir-rules/gitlab-gprd/prometheus/prometheus-absent-alerts.yml
  mimir-rules/gitlab-gprd/rails.yml
  mimir-rules/gitlab-gstg/rails.yml
  mimir-rules/gitlab-ops/rails.yml
  mimir-rules/gitlab-pre/rails.yml
Due: none

cleanup job_environment:gitlab_sql_duration_seconds_bucket:rate1m references
  libsonnet/gitlab-dashboards/rails_common_graphs.libsonnet
  libsonnet/service-archetypes/patroni-archetype.libsonnet
Due: test-periodic-queries

Remove accidental file commit from tracking
  mimir-rules/gitlab-gprd/prometheus/prometheus-absent-alerts.yml
Due: none
