Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(deps): update dependency mikefarah/yq to v4.40.7
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.7.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency yq to v4.40.7
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency http to v5.2.0
  elastic/query-perf/Gemfile.lock
Due: none

chore(deps): update dependency redis to '~> 5.1.0'
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update dependency redis-clustering to v5.1.0
  Gemfile.lock
Due: none

chore(deps): update dependency rspec to v3.13.0
  Gemfile.lock
Due: none

chore(deps): update dependency webmock to v3.20.0
  Gemfile.lock
Due: none

feat(deps): update dependency pre-commit to v3.6.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency super_diff to v0.11.0
  Gemfile.lock
Due: none

chore(deps): update pre-commit-dependencies
  .gitlab-ci-asdf-versions.yml
  .pre-commit-config.yaml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  1a/18a1027db0ef05f4ab5e90e0f5557d86134c97
Due: none

Notes added by 'git notes add'
  7a/84dcd7d64dfd087397982704533668ad251cb2
Due: none

Notes added by 'git notes add'
  d9/904ee800baff1fdba41d579b21146934025a23
Due: none

feat(deps): update dependency go to v1.22.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  package-lock.json
Due: none

Notes added by 'git notes add'
  8a/52442abd9056a2645a0e7147ad1613bcc040a3
Due: none

Notes added by 'git notes add'
  23/921b656a6f1949db3d5e740fb9e8236fed36bf
Due: none

feat: add redis-specific KAS dashboard
  dashboards/kas/redis.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  e7/7858664e9ad69655567c8750c61367e77d1d96
Due: none

Update mailgun documenation
  docs/api/README.md
  docs/customersdot/README.md
  docs/mailgun/README.md
  docs/mailgun/mailgun.md
  docs/mailroom/README.md
  docs/omnibus/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add custom alert for analytics-stack vector errors
  mimir-rules/alerts/analytics-stack.yml
Due: none

use mixtool for generatoin
  .yamllint.yaml
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-compactor-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-compactor.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-config.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-object-store.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overrides.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-queries.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-remote-ruler-reads-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-remote-ruler-reads.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-rollout-progress.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-ruler.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-scaling.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-slow-queries.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-tenants.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-top-tenants.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
  scripts/generate-mixins.sh
Due: none

test ignore dashboards json
  .editorconfig
  Makefile
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes.json
Due: none

fix markdown
  docs/monitoring/mixins.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add basic mixin docs
  README.md
  docs/git/README.md
  docs/mimir/README.md
  docs/monitoring/README.md
  docs/monitoring/mixins.md
  scripts/generate-mixins.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add mixin generation for mimir-rules
  .gitignore
  Makefile
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-compactor-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-compactor.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-config.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-object-store.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overrides.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-queries.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-remote-ruler-reads-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-remote-ruler-reads.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-rollout-progress.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-ruler.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-scaling.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-slow-queries.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-tenants.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-top-tenants.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

changes for the linter
  docs/monitoring/mixins.md
  scripts/generate-mixins.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

generate mixin using jsonnet and gojsontoyaml
  Makefile
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-alertmanager.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-compactor-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-compactor.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-config.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-object-store.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overrides.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-overview.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-queries.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-reads.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-remote-ruler-reads-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-remote-ruler-reads.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-rollout-progress.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-ruler.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-scaling.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-slow-queries.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-tenants.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-top-tenants.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes-networking.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes-resources.json
  mimir-rules/metamonitoring/mimir/dashboards/mimir-writes.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
  mimir-rules/metamonitoring/mimir/rules.yaml
Due: none

remove bare url
  docs/monitoring/mixins.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  8d/991224738ac7188ebea872be6c5548890b525b
Due: none

Add CH backup and restore
  docs/api/README.md
  docs/clickhouse/README.md
  docs/clickhouse/backup-restore.md
  docs/monitoring/README.md
  docs/vault/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/about/README.md
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: remove high throttle rate alertRule
  docs/kube/kubernetes.md
  rules/container.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Adjust gitaly outliers for forecasting
  metrics-catalog/services/gitaly.jsonnet
Due: none

add mimir elastic configs
  elastic/managed-objects/indices/indices-array.sh
  elastic/managed-objects/lib/index_mappings/mimir.jsonnet
  elastic/managed-objects/lib/nonprod-log_index_template.libsonnet
  elastic/managed-objects/lib/settings_nonprod.libsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Tighten default sidekiq queueing SLO to 99.9%
  metrics-catalog/services/sidekiq.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  mimir-rules/gitlab-ops/ops/autogenerated-gitlab-ops-ops-service-slos.yml
  mimir-rules/gitlab-pre/pre/autogenerated-gitlab-pre-pre-service-slos.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Improve and move analytics stack alert
  mimir-rules/alerts/analytics-stack.yml
  mimir-rules/product-analytics/analytics-stack/alerts.yml
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
