Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat(deps): update dependency prometheus/prometheus to v2.48.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.15.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency markdownlint-cli to v0.38.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency rubocop to v1.58.0
  Gemfile.lock
Due: none

Bump golang to v1.21.5 in .tool-versions
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  79/53fbb3ba7c1681c13e75d25af198414fb3bda2
Due: none

Notes added by 'git notes add'
  62/703b013e89d63f641c52c33ada368ea33a224b
Due: none

feat(deps): update dependency mikefarah/yq to v4.40.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency pre-commit to v3.6.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency pre-commit/pre-commit to v3.6.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

fix(deps): lock file maintenance
  Gemfile.lock
  elastic/query-perf/Gemfile.lock
  jsonnetfile.lock.json
  package-lock.json
Due: none

Notes added by 'git notes add'
  db/be0dbfee5eac986bb80061aaaf2fa15ee7e6d8
Due: none

Notes added by 'git notes add'
  8d/d45d98b6f8a1bd4f3cbfa841afc2f9db20f2e4
Due: none

Notes added by 'git notes add'
  09/6de4fed2522fa8c2c1ac2072494ed89a658218
Due: none

chore: Raise SLO and add runbook for Gitaly active nodes
  libsonnet/saturation-monitoring/gitaly_active_node_available_space.libsonnet
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

Reflect change in EM for DBRE team
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

fix: GKE packet capture scripts
  scripts/gke/ip_addr_for_pod_id.sh
  scripts/gke/tcpdump_on_gke_library.sh
Due: none

Notes added by 'git notes add'
  f9/5014d2c9b5d9fe415165c0f150641533ce6a9c
Due: none

Replace unsupported HAProxy alerts and dashboards based on mtail metrics
  dashboards/frontend/git.dashboard.jsonnet
  dashboards/frontend/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/frontend.jsonnet
  rules/autogenerated-key-metrics-frontend.yml
  rules/autogenerated-saturation.yml
  rules/haproxy.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-ops.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Fix Markdown linting issues with markdownlint-cli v0.38.0
  .markdownlint.yml
  docs/bastions/db-benchmarking-bastions.md
  docs/bastions/gprd-bastions.md
  docs/bastions/gstg-bastions.md
  docs/bastions/ops-bastions.md
  docs/bastions/pre-bastions.md
  docs/gitaly/gitaly-repository-corruption.md
  docs/kas/README.md
  docs/kube/k8s-new-cluster.md
  docs/kube/k8s-oncall-setup.md
  docs/monitoring/filesystem_alerts_inodes.md
  docs/monitoring/thanos-receive.md
  docs/monitoring/thanos.md
  docs/onboarding/gitlab.com_on_k8s.md
  docs/pages/block-pages-domain.md
  docs/patroni/custom_postgres_packages.md
  docs/patroni/deprovision-db-benchmarking-env.md
  docs/patroni/provisioning_bench_env.md
  docs/staging-ref/get-monitoring-setup.md
  docs/storage/fs/zfs/zlonk/README.md
  docs/teleport/Connect_to_Database_Console_via_Teleport.md
  docs/thanos/architecture.md
  docs/uncategorized/delete-projects-manually.md
  docs/version/version-gitlab-com.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file Connect_to_Rails_Console_via_Teleport.md
  docs/teleport/Connect_to_Rails_Console_via_Teleport.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: none

removes various imports for which we are missing metrics
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: none

update to generated grafonnet
  jsonnetfile.json
  jsonnetfile.lock.json
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

interesting...
  libsonnet/grafana/basic.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: markdownlint, validate-kibana-urls, test-periodic-queries

i guess ill revert...
  jsonnetfile.json
  jsonnetfile.lock.json
Due: none

adds postgres service for observability and ref archs
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/src/dashboards/triage.libsonnet
  reference-architectures/get-hybrid/src/services/all.jsonnet
  reference-architectures/get-hybrid/src/services/postgresql.jsonnet
Due: none

trying to learn how to do this..
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/services/postgresql.jsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

remove node related items
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/services/postgresql.jsonnet
Due: markdownlint, validate-kibana-urls

where's my dashboard?
  dashboards/rds/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  metrics-catalog/saturation/all.libsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/aws-rds.jsonnet
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/src/services/postgresql.jsonnet
Due: test-periodic-queries

what did make generate create?
  metrics-catalog/services/all.jsonnet
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
  rules/autogenerated-key-metrics-rds.yml
  rules/autogenerated-saturation.yml
  thanos-rules/autogenerated-service-level-alerts-rds-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-rds-ops.yml
  thanos-rules/autogenerated-service-level-alerts-rds-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

adds disk saturation alerting and observability
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  rules/autogenerated-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

fix typo on saturation metric for rds disk space
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  rules/autogenerated-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

trim down on what isn't working
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/postgresql.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/dashboards/triage.libsonnet
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
  reference-architectures/get-hybrid/src/services/all.jsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

more trimming
  reference-architectures/get-hybrid/src/services/postgresql.jsonnet
Due: none

give me an RDS dashboard
  reference-architectures/get-hybrid/config/dashboards/rds.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/src/dashboards/triage.libsonnet
  reference-architectures/get-hybrid/src/services/all.jsonnet
  reference-architectures/get-hybrid/src/services/aws-rds.jsonnet
Due: none

fix silly end of file characters
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  metrics-catalog/services/aws-rds.jsonnet
  reference-architectures/get-hybrid/src/services/aws-rds.jsonnet
Due: test-periodic-queries

adds RDS to the service catalog
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, test-periodic-queries

fix service catalog observability
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

make generate
  docs/rds/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
  rules/autogenerated-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
