Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-alertmanager, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_security_dev_ilm, update_elastic_security_dev_watches, update_elastic_security_dev_index_templates, update_elastic_security_dev_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, test_dashboards, docker_image_test, alertmanager_test

update-alertmanager:
  stage: alertmanager
  environment: ops
  tags:
  - release
  script:
  - make test-alertmanager
  - cd alertmanager
  - ./update.sh
  variables:
    CLUSTER: ops-gitlab-gke
    REGION: us-east1

update_elastic_log_gprd_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/ILM/update-ilm.sh

update_elastic_log_gprd_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/watches/update-watches.sh

update_elastic_log_gprd_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/index-templates/update-index-templates.sh

update_elastic_log_gprd_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/log_gprd/cluster-settings/update-cluster-settings.sh

update_elastic_nonprod-log_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/watches/update-watches.sh

update_elastic_nonprod-log_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/ILM/update-ilm.sh

update_elastic_nonprod-log_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/index-templates/update-index-templates.sh

update_elastic_nonprod-log_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/nonprod-log/cluster-settings/update-cluster-settings.sh

update_elastic_security_dev_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/ILM/update-ilm.sh

update_elastic_security_dev_watches:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/watches/update-watches.sh

update_elastic_security_dev_index_templates:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/index-templates/update-index-templates.sh

update_elastic_security_dev_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/security_dev/cluster-settings/update-cluster-settings.sh

update_elastic_monitoring-es7_cluster_settings:
  stage: deploy
  script:
  - ./elastic/managed-objects/monitoring-es7/cluster-settings/update-cluster-settings.sh

update_elastic_monitoring-es7_ilm:
  stage: deploy
  script:
  - ./elastic/managed-objects/monitoring-es7/ILM/update-ilm.sh

test_dashboards:
  before_script:
  - ./scripts/bundler.sh
  - dashboards/generate-mixins.sh
  stage: test
  script:
  - dashboards/upload.sh -D

docker_image_test:
  image: docker:stable
  services:
  - docker:dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  stage: test
  script:
  - docker build .

alertmanager_test:
  stage: test
  script:
  - make test-alertmanager

Don't deploy dashboards from ops.gitlab.com
  .gitlab-ci.yml
Due: none

Jaeger runbook in preparation for Production Readiness Review
  docs/jaeger/README.md
  services/service-catalog.yml
Due: none

Add mirror pipeline notifications
  .gitlab-ci.yml
Due: none

Remove Sidekiq 'transaction' recording rules
  rules/rails.yml
Due: none

Use a GITLAB_API_TOKEN that actually exists in CI
  .gitlab-ci.yml
Due: none

Run alertmanager and rules deploy in parallel
  .gitlab-ci.yml
Due: none

move fluentd to medium throughput config
  elastic/managed-objects/lib/settings_gprd.libsonnet
Due: update_elastic_log_gprd_index_templates

feat(alerting): all slack alerts have action buttons
  alertmanager/alertmanager.jsonnet
Due: update-alertmanager, alertmanager_test

Notes added by 'git notes add'
  89f16e732f3bcea49196371b91ee28f69904fdf4
Due: none

Update group mapping
  services/stage-group-mapping.jsonnet
Due: none

fix(dashboards): fix broken burn rate alert dashboards
  dashboards/alerts/burn_rate_alerts.shared.jsonnet
Due: test_dashboards

Notes added by 'git notes add'
  3aed2bba8d4053a1eb07d983799bbe6be0fda891
Due: none

Update job_completion.md
  docs/uncategorized/job_completion.md
Due: none

rename from tracing => jaeger
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/jaeger.jsonnet
Due: test_dashboards

add filter of type=jaeger to all prom queries
  metrics-catalog/services/jaeger.jsonnet
Due: test_dashboards

fix query
  metrics-catalog/services/jaeger.jsonnet
Due: test_dashboards

fix compoennts => serviceLevelIndicators, make generate
  .gitlab/dashboards/key-metrics-jaeger.yml
  .gitlab/dashboards/key-metrics-tracing.yml
  metrics-catalog/services/jaeger.jsonnet
  rules/autogenerated-key-metrics-jaeger.yml
  thanos-rules/autogenerated-service-level-alerts-jaeger.yml
  thanos-rules/autogenerated-service-slos.yml
Due: test_dashboards

finding k8s diffs
  docs/search/README.md
  docs/stackdriver/README.md
  docs/uncategorized/k8s-oncall-setup.md
  docs/uncategorized/k8s-operations.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/jaeger/README.md
Due: none

Path conditions:
  update-alertmanager: any of: alertmanager/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_security_dev_ilm: any of: elastic/managed-objects/security_dev/ILM/*
  update_elastic_security_dev_watches: any of: elastic/managed-objects/security_dev/watches/*
  update_elastic_security_dev_index_templates: any of: elastic/managed-objects/security_dev/index-templates/*
  update_elastic_security_dev_cluster_settings: any of: elastic/managed-objects/security_dev/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  test_dashboards: any of: dashboards/**/*, metrics-catalog/**/*, libsonnet/**/*, service-catalog/**/*
  docker_image_test: any of: Dockerfile
  alertmanager_test: any of: alertmanager/*
