Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

fix linting
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add alert for high deploy pressure
  alertmanager/alertmanager.jsonnet
  docs/api/README.md
  docs/monitoring/README.md
  docs/release-management/deploy_pressure.md
  mimir-rules/gitlab-gstg/release-management/deploy-pressure.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

cleanup redundant docs
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
  docs/frontend/README.md
  docs/git/README.md
  docs/kube/README.md
  docs/mimir/README.md
  docs/monitoring/README.md
  docs/monitoring/target-is-down.md
  docs/monitoring/thanos-compact.md
  docs/monitoring/thanos-delete-series-interval.md
  docs/monitoring/thanos-query.md
  docs/monitoring/thanos-receive.md
  docs/monitoring/thanos-rule.md
  docs/monitoring/thanos-store.md
  docs/monitoring/thanos-tracing.md
  docs/monitoring/thanos.md
  docs/nginx/README.md
  docs/pubsub/README.md
  docs/redis/README.md
  docs/search/README.md
  docs/stackdriver/README.md
  docs/thanos/README.md
  docs/thanos/architecture.md
  docs/thanos/img/thanos-architecture.png
  docs/tracing/README.md
  docs/vault/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  58a3ad01c01721c005c41c5eb207ac59a7e4598a
Due: none

Remove obsolete alerts
  dashboards/sidekiq/main.dashboard.jsonnet
Due: none

Update docs on rate limiting
  docs/frontend/haproxy.md
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Reduce deploy pressure threshold to 15 commits for testing purposes
  mimir-rules/gitlab-gstg/release-management/deploy-pressure.yml
Due: none

Revert "Merge branch 'rp/test-deploy-pressure-alert' into 'master'"
  mimir-rules/gitlab-gstg/release-management/deploy-pressure.yml
Due: none

update dashboard
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

make linter happy
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

Apply suggestions
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.16.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  52cdbc7325a51a2976727b4c9855ad8df48c7972
Due: none

Be more explicit about current bypasses
  docs/rate-limiting/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Correct datasource to mimir-gitlab-ops
  mimir-rules/gitlab-gstg/release-management/deploy-pressure.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove obsolete panel from the search dashboard
  dashboards/sidekiq/main.dashboard.jsonnet
Due: none

chore: Add initial playbook
  docs/ci-runners/alerts/CICDNamespaceWithConstantNumberOfLongRunningRepeatedJobs.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Update formating
  docs/ci-runners/alerts/CICDNamespaceWithConstantNumberOfLongRunningRepeatedJobs.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enable yearly seasonality by default
  libsonnet/capacity-planning/validator.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
Due: test-periodic-queries

Update environment creation link
  docs/uncategorized/gcp-project.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Add best_compression to all of staging.
  elastic/managed-objects/lib/settings_nonprod.libsonnet
Due: update-elastic-index-templates:log-nonprod

feat: Add best_compression to medium and default indices in gprd.
  elastic/managed-objects/lib/settings_gprd.libsonnet
Due: update-elastic-index-templates:log-gprd

Revise language
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  9b9f39a37598165a84fb478a6d6c9e8250f1a0f3
Due: none

Notes added by 'git notes add'
  74538c33729544e28cfc904615e221f9f2b4702c
Due: none

feat: Turn on best_compression for high volume indices.
  elastic/managed-objects/lib/settings_gprd.libsonnet
Due: update-elastic-index-templates:log-gprd

update title
  dashboards/postgres-ai/NEW_postgres_ai_04.json
Due: none

Add distribution helm-exporter dashboard
  dashboards/distribution/helm_exporter.json
Due: none

Remove dashboard ID
  dashboards/distribution/helm_exporter.json
Due: none

Update documentation to specify errors before actions
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove HR before footnotes because one is automatically added
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate
  docs/logging/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Move Deploy Pressure alert to gitlab-ops directory
  mimir-rules/gitlab-ops/release-management/deploy-pressure.yml
Due: none

Specify recommended setup steps for GNOME users
  docs/logging/README.md
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

refactor: Observability, Durability, and Foundations changes
  docs/monitoring/mixins.md
  docs/security-patching/linux-os/linux-os-patching.md
  libsonnet/service-catalog/service-catalog_test.jsonnet
  metrics-catalog/services/cloudflare.jsonnet
  metrics-catalog/services/kube.jsonnet
  metrics-catalog/services/mimir.jsonnet
  metrics-catalog/services/ops-gitlab-net.jsonnet
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/kube/autogenerated-gitlab-gprd-kube-service-level-alerts.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/kube/autogenerated-gitlab-gstg-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/cloudflare/autogenerated-gitlab-ops-cloudflare-service-level-alerts.yml
  mimir-rules/gitlab-ops/kube/autogenerated-gitlab-ops-kube-service-level-alerts.yml
  mimir-rules/gitlab-ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-gitlab-net-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-pre/kube/autogenerated-gitlab-pre-kube-service-level-alerts.yml
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/autogenerated-metamonitoring-mimir-service-level-alerts.yml
  mimir-rules/metamonitoring/mimir/mixin.libsonnet
  services/service-catalog.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping-with-overrides_test.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, test-periodic-queries

chore: Update feature categories to 2025-01-09
  dashboards/product/gitlab_dedicated_error_budget.dashboard.jsonnet
  dashboards/product/gitlab_delivery_error_budget.dashboard.jsonnet
  dashboards/product/platforms_error_budget.dashboard.jsonnet
  dashboards/product/production_engineer_error_budget.dashboard.jsonnet
  dashboards/stage-groups/build.dashboard.jsonnet
  dashboards/stage-groups/delivery.dashboard.jsonnet
  dashboards/stage-groups/deploy.dashboard.jsonnet
  dashboards/stage-groups/development_analytics.dashboard.jsonnet
  dashboards/stage-groups/distribution_build.dashboard.jsonnet
  dashboards/stage-groups/distribution_deploy.dashboard.jsonnet
  dashboards/stage-groups/environment_automation.dashboard.jsonnet
  dashboards/stage-groups/foundations.dashboard.jsonnet
  dashboards/stage-groups/framework.dashboard.jsonnet
  dashboards/stage-groups/observability.dashboard.jsonnet
  dashboards/stage-groups/ops.dashboard.jsonnet
  dashboards/stage-groups/release.dashboard.jsonnet
  dashboards/stage-groups/runway.dashboard.jsonnet
  dashboards/stage-groups/scalability.dashboard.jsonnet
  dashboards/stage-groups/self_managed.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
Due: validate-service-mappings, check-stage-groups, validate-alerts

Use rate in graph for registry bbm run count
  dashboards/registry/database.dashboard.jsonnet
Due: none
