Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Add teleport admin user reference to teleport doc
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove trailing whitespace
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: properly remove graphql from workhorse_api SLI calculation
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

fix: remove GraphqlController#execute reference in route_id filter
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: none

Clearer Yubikey steps
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Prompt for YubiKey PIN
  scripts/reset-yubikey.sh
Due: none

Debug the steps so errors are seen in context
  scripts/reset-yubikey.sh
Due: none

Notes added by 'git notes add'
  6c841b92430934436a3d874ba9dbd88e84a5cf72
Due: none

Make it clearer how to proceed
  scripts/reset-yubikey.sh
Due: none

Fix exceptions raised by pipeline
  docs/uncategorized/yubikey.md
  scripts/reset-yubikey.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

all the stuff which got added by make generate
  .mise.toml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-component-aggregation.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-occurrence-sla-availability.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-pgbouncer-sec-service-slos.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-saturation-metadata.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-service-level-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-sli-aggregations.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/pgbouncer-sec/autogenerated-gitlab-gprd-pgbouncer-sec-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-component-aggregation.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-occurrence-sla-availability.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-pgbouncer-sec-service-slos.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-saturation-metadata.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-service-level-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-sli-aggregations.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/pgbouncer-sec/autogenerated-gitlab-gstg-pgbouncer-sec-transformed-stage_groups-aggregation.yml
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  scripts/generate
Due: none

attempted generate-docs
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  docs/pgbouncer-sec/README.md
Due: test-docker-image, markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  .mise.toml
Due: none

added pgbouncer-sec to service catalog, in theory this might unlock ability to create a dashboard
  docs/pgbouncer-sec/README.md
  services/service-catalog.yml
  validated_dashboard.json
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

gitlab-ci-asdf-versions
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

in theory, this makes dashboard
  metrics-catalog/services/all.jsonnet
Due: none

removed duplicate make generate file
  scripts/generate
Due: none

results of ./scripts/generate-all-reference-architecture-configs.sh
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
Due: none

deleting unneeded junk dashbaord
  validated_dashboard.json
Due: none

in theory, this makes dashboard
  dashboards/pgbouncer-sec/main.dashboard.jsonnet
  metrics-catalog/services/pgbouncer-sec.jsonnet
Due: none

adds docs on quarentine and cell movement
  docs/cells/README.md
  docs/cells/provisioning.md
  docs/cells/validate.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make generate again
  docs/cells/provisioning.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add a note to the Windows CI runner runbook about when stopping/starting runner managers isn't needed
  docs/ci-runners/windows/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: remove remaining basic graph panels usage
  dashboards/gitaly/feature-status.dashboard.jsonnet
  foo
  jsonnetfile.lock.json
  libsonnet/gitlab-dashboards/container_common_graphs.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/grafana/basic.libsonnet
  libsonnet/grafana/basic_test.jsonnet
  mimir-rules/metamonitoring/mimir/alerts.yaml
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/rules.yaml
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/nodes.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/replications.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/runner.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/slos.libsonnet
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
Due: test-periodic-queries

fix: do not auto-resolve Runway Job failures until they succeed
  mimir-rules/runway/jobs.yml
Due: none

Remove empty file that shouldn't have been committed
  foo
Due: none

Notes added by 'git notes add'
  8849f2ec7568c5c028dd3672d6d1ec257baed88a
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.69
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

feat: add importers queue in sidekiq
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/services/sidekiq.jsonnet
Due: markdownlint, validate-kibana-urls

adds docs on quarentine and cell movement
  docs/cells/README.md
  docs/cells/provisioning.md
  docs/cells/validate.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(deps): lock file maintenance
  Gemfile.lock
  elastic/query-perf/Gemfile.lock
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  c0a43112d10d7f8592641ac147be90cd3b6dca38
Due: none

Add teleport admin user reference to teleport doc
  docs/search/README.md
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add notes from release managers when we were executing the registry PDM CR
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enforce type label in RDS saturation metrics
  libsonnet/saturation-monitoring/aws_rds_db.libsonnet
  libsonnet/saturation-monitoring/aws_rds_disk.libsonnet
  libsonnet/saturation-monitoring/aws_rds_memory.libsonnet
Due: test-periodic-queries

Any cluster running registry will do
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Provide a command to find the oldest registry pod
  docs/registry/db-post-deployment-migrations.md
Due: markdownlint, validate-kibana-urls, validate-alerts
