Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Expose metrics and selectors for custom rate query
  libsonnet/servicemetrics/custom_rate_query.libsonnet
  libsonnet/servicemetrics/sli_metric_descriptor_test.jsonnet
  metrics-catalog/services/git.jsonnet
  metrics-catalog/services/kube.jsonnet
  metrics-catalog/services/nat.jsonnet
  rules/autogenerated-key-metrics-nat.yml
  thanos-rules/autogenerated-service-level-alerts-nat-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-nat-ops.yml
  thanos-rules/autogenerated-service-level-alerts-nat-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Add graphs for KAS Expiring Hash garbage collection
  dashboards/kas/redis.dashboard.jsonnet
Due: none

Add environment label matchers to product analytics alerts
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

chore: use 1h rates for grafana templates
  libsonnet/grafana/templates.libsonnet
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
Due: test-periodic-queries

docs: A humble beginning docs for our Mimir recording rules.
  mimir-rules-jsonnet/README.md
Due: markdownlint, validate-kibana-urls

fix: prevent generating empty rule groups
  mimir-rules-jsonnet/sli_aggregations.jsonnet
  mimir-rules/gitlab-gprd/gprd/cloud-sql/autogenerated-gitlab-gprd-gprd-cloud-sql-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/external-dns/autogenerated-gitlab-gprd-gprd-external-dns-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/memorystore/autogenerated-gitlab-gprd-gprd-memorystore-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/nat/autogenerated-gitlab-gprd-gprd-nat-sli-aggregations.yml
  mimir-rules/gitlab-gprd/gprd/runway/autogenerated-gitlab-gprd-gprd-runway-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/cloud-sql/autogenerated-gitlab-gstg-gstg-cloud-sql-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/external-dns/autogenerated-gitlab-gstg-gstg-external-dns-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/memorystore/autogenerated-gitlab-gstg-gstg-memorystore-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/nat/autogenerated-gitlab-gstg-gstg-nat-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/runway/autogenerated-gitlab-gstg-gstg-runway-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/external-dns/autogenerated-gitlab-ops-ops-external-dns-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/memorystore/autogenerated-gitlab-ops-ops-memorystore-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/nat/autogenerated-gitlab-ops-ops-nat-sli-aggregations.yml
  mimir-rules/gitlab-ops/ops/runway/autogenerated-gitlab-ops-ops-runway-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/external-dns/autogenerated-gitlab-pre-pre-external-dns-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/memorystore/autogenerated-gitlab-pre-pre-memorystore-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/nat/autogenerated-gitlab-pre-pre-nat-sli-aggregations.yml
  mimir-rules/gitlab-pre/pre/runway/autogenerated-gitlab-pre-pre-runway-sli-aggregations.yml
  scripts/validate-recording-rule-groups
Due: none

Notes added by 'git notes add'
  26/cb954b55760c77fd4a30e0c7c8b40c1a6c5d7e
Due: none

feat(deps): update dependency node to v20.11.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v20.11.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update pre-commit hook adrienverge/yamllint to v1.35.1
  .pre-commit-config.yaml
Due: none

feat(deps): update dependency mikefarah/yq to v4.41.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency mvdan/sh to v3.8.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  bin/update
  dashboards/grafana-tools.lib.sh
  scripts/generate-all-reference-architecture-configs.sh
  scripts/generate-jsonnet-rules.sh
  scripts/generate-mixins.sh
  scripts/generate-reference-architecture-config.sh
Due: test-docker-image

feat(deps): update dependency shfmt to v3.8.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  bin/update
  dashboards/grafana-tools.lib.sh
  scripts/generate-all-reference-architecture-configs.sh
  scripts/generate-jsonnet-rules.sh
  scripts/generate-mixins.sh
  scripts/generate-reference-architecture-config.sh
Due: test-docker-image

feat(deps): update dependency yq to v4.41.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  cb/b6d8994c76ec06636b4ea3bbf3bdf8e00b7803
Due: none

chore: reduce severity to s4 temporarily
  metrics-catalog/services/redis-cluster-repo-cache.jsonnet
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-ops.yml
  thanos-rules/autogenerated-service-level-alerts-redis-cluster-repo-cache-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: fix maturity model issue
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/sidekiq.jsonnet
  metrics-catalog/services/web.jsonnet
Due: none

docs: Update service catalog and add runbook .md files
  docs/product_analytics/clickhouse-backup-restore.md
  docs/product_analytics/ssl-troubleshooting.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

docs: Run docs generator
  docs/about/README.md
  docs/api/README.md
  docs/clickhouse/README.md
  docs/monitoring/README.md
  docs/product_analytics/README.md
  docs/vault/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Gitignore .idea folders for JetBrains IDEs
  .gitignore
Due: none

docs: Remove unnecessary dependencies.
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

docs: Fix bare URLs in clickhouse doc
  docs/product_analytics/clickhouse-backup-restore.md
Due: markdownlint, validate-kibana-urls, validate-alerts

docs: Fix Grafana service catalog entry
  docs/product_analytics/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Adjust General team's EM and team page
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

fix linting errors
  docs/mimir/README.md
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: create the patroni/wal_log_analysis.md doc
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add logging link
  docs/mimir/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

fix: patroni README to add link to wal_log_analysis.md
  docs/patroni/README.md
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: fix title levels on wal_log_analysis.md
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: fix markdownlint issues
  docs/patroni/wal_log_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/cardinality-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/mimir/getting-started.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
