Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

adding a k8s architecture document for the analytics stack
  docs/api/README.md
  docs/console/README.md
  docs/kube/README.md
  docs/product_analytics/README.md
  docs/product_analytics/k8s-architecture.md
  docs/vault/README.md
  docs/version/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

added-IT-contact
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Remove unused gitaly abuse watch.
  elastic/managed-objects/log_gprd/watches/gitaly_abuse_1.jsonnet
Due: update-elastic-watches:log-gprd

Correct related links
  docs/kube/alerts/kube_persistent_volume_claim_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  ff/d1917e30d11c8ce27edff9a8ced88c33274577
Due: none

Fix links for the slack channels
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix links for slack channels
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Ship runbooks contents in docker image
  .dockerignore
  Dockerfile
Due: test-docker-image

Notes added by 'git notes add'
  e2/e77cbc3fa2ada778d43caf5ba807448e6cb32d
Due: none

Add BlackboxProbeFailures Alert Playbook
  docs/blackbox/alerts/AlertFiring.png
  docs/blackbox/alerts/AlertNormal.png
  docs/blackbox/alerts/BlackboxProbeFailures.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add wiz sensor to service catalog
  docs/api/README.md
  docs/console/README.md
  docs/kube/README.md
  docs/logging/README.md
  docs/monitoring/README.md
  docs/registry/README.md
  docs/search/README.md
  docs/version/README.md
  docs/wiz-runtime-sensor/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

feat(deps): update dependency kubectl to v1.30.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update alert description
  mimir-rules/gitlab-gprd/gitaly/gitaly.yml
Due: none

Notes added by 'git notes add'
  13/a7dee74fd36cb3179ab97fe0a8e49179fe6e1e
Due: none

Notes added by 'git notes add'
  ad/a79d7c46829c665c5f13a1e843afbf6517ca8e
Due: none

Updated playbook
  docs/patroni/alerts/PostgresSplitBrain.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add mixins to the reference architecture
  scripts/generate-reference-architecture-config.sh
Due: none

feat: split Reference Architecture Workhorse SLI
  libsonnet/gitlab-utils/workhorse-routes.libsonnet
  libsonnet/gitlab-utils/workhorse-routes_test.jsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/service-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-alert-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/slo-rules.yml
  reference-architectures/get-hybrid/src/services/webservice.jsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

Add gitaly GitalyFileServerDown alert template
  docs/gitaly/alerts/GitalyFileServerDown.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  f1/628ff21969be51baaafce41edc9d413e92358b
Due: none

chore: Ship only jsonnet deps
  Dockerfile
  scripts/generate-reference-architecture-config.sh
Due: test-docker-image

chore: Prevent shipping .git with the Docker image
  .dockerignore
Due: none

feat: add mixins to the reference architecture
  reference-architectures/get-hybrid/config/dashboards/hosted-runner.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.yaml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.yaml
  reference-architectures/get-hybrid/src/mixins/mixins.jsonnet
  scripts/generate-all-reference-architecture-configs.sh
  scripts/generate-reference-architecture-config.sh
Due: none

feat: add mixins to the reference architecture
  reference-architectures/get-hybrid/src/mixins/mixins.jsonnet
  scripts/generate-reference-architecture-config.sh
Due: none

Update file teams.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Remove obsolete general team and make unowned services unowned
  metrics-catalog/services/gitlab-static.jsonnet
  metrics-catalog/services/packagecloud.jsonnet
  mimir-rules/gitlab-gprd/gitlab-static/autogenerated-gitlab-gprd-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gitlab-static/autogenerated-gitlab-gstg-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-ops/gitlab-static/autogenerated-gitlab-ops-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-ops/packagecloud/autogenerated-gitlab-ops-packagecloud-service-level-alerts.yml
  mimir-rules/gitlab-pre/gitlab-static/autogenerated-gitlab-pre-gitlab-static-service-level-alerts.yml
  mimir-rules/gitlab-pre/packagecloud/autogenerated-gitlab-pre-packagecloud-service-level-alerts.yml
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Update GitalyVersionMismatch alert playbook
  docs/git/README.md
  docs/gitaly/README.md
  docs/gitaly/alerts/GitalyVersionMismatch.md
  docs/gitaly/gitaly-version-mismatch.md
  docs/version/README.md
  legacy-prometheus-rules/gitaly.yml
  mimir-rules/gitlab-gprd/gitaly/gitaly.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

Correct version report for Release Management dashboard
  dashboards/delivery/release_management.dashboard.jsonnet
Due: none

Update incorrect link in playbook
  docs/blackbox/alerts/BlackboxProbeFailures.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Exclude version of redis instance on RM dashboard
  dashboards/delivery/release_management.dashboard.jsonnet
Due: none

Apply 1 suggestion(s) to 1 file(s)
  scripts/generate-all-reference-architecture-configs.sh
Due: none

feat: add mixins to the reference architecture
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/hosted-runners.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
  scripts/generate-reference-architecture-config.sh
Due: none

feat: add mixins to the reference architecture
  .gitlab-ci.yml
Due: test-docker-image

Notes added by 'git notes add'
  43/eb65496e5c4cbc5f44910eacb54945fcf0245a
Due: none
