Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

Apply 3 suggestion(s) to 1 file(s)
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

draft finished, only to be polished
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

linter issues (wip)
  docs/patroni/postgres.md
  docs/patroni/query-analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/patroni/postgres.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

changed links to dashboards
  docs/patroni/postgres.md
Due: markdownlint, validate-kibana-urls, validate-alerts

changed links to dashboards
  docs/patroni/query-analysis.md
  docs/patroni/single-node-high-level.md
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make linter happy
  docs/patroni/single-node-high-level.md
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

make linter happy
  docs/patroni/query-analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  8d44a0736bd83c4aaafc336c151100235f917c81
Due: none

Update dependency hashicorp/vault to v1.18.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency vault to v1.18.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Update dependency google-cloud-compute to v1.10.0
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat(saturation-monitoring): runway postgres
  libsonnet/saturation-monitoring/cloudsql_cpu.libsonnet
  libsonnet/saturation-monitoring/cloudsql_disk.libsonnet
  libsonnet/saturation-monitoring/cloudsql_memory.libsonnet
  libsonnet/saturation-monitoring/open_fds.libsonnet
  libsonnet/service-archetypes/runway-postgres-archetype.libsonnet
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation-alerts.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation-metadata.yml
  mimir-rules/runway/runway-db-example/autogenerated-runway-runway-db-example-saturation.yml
Due: test-periodic-queries

fix(saturation-monitoring): runway provisioning
  libsonnet/service-archetypes/runway-postgres-archetype.libsonnet
  libsonnet/servicemetrics/metrics-catalog.libsonnet
  metrics-catalog/saturation/tamland.jsonnet
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation-alerts.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation-metadata.yml
  mimir-rules/runway/runway-redis-example/autogenerated-runway-runway-redis-example-saturation.yml
Due: test-periodic-queries

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  f6dfacef10035c9bfe32974223e4d87bf65d65dd
Due: none

Notes added by 'git notes add'
  9db82ec1899591d43b106e073e3cf9c78a69e81b
Due: none

fix(mlops-logging): change model_output_score to float
  elastic/managed-objects/lib/index_mappings/mlops.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Notes added by 'git notes add'
  a0346d86ade2607109013fea73005967caacb30c
Due: none

fix: repair caching on macos by using GNU sha256sum
  dashboards/grafana-tools.lib.sh
  scripts/generate-jsonnet-rules.sh
  scripts/generate-reference-architecture-config.sh
Due: none

feat: optional GNU parallel mode for generate-jsonnet-rules
  .gitignore
  scripts/generate-jsonnet-rules.sh
Due: none

feat: Removed the replicas on cold storage.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

Add runbook for PrimaryDatabaseCPUSaturation alert
  docs/mimir/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/patroni/img/cpu-saturation-pg_stat_kcache_exec_total_time.png
  docs/patroni/primary_db_node_cpu_saturation.md
  mimir-rules/gitlab-gprd/primary-db-node-cpu-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(dashboards): runway postgres
  dashboards/runway-db-example/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/runway_postgres_common_graphs.libsonnet
Due: test-periodic-queries

chore: update formatting of Chef manage runbook
  docs/uncategorized/manage-chef.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Force op signin to ignore warnings
  dashboards/test-dashboard.sh
Due: none

chore: Remove outdated alert
  docs/ci-runners/alerts/CICDNamespaceWithConstantNumberOfLongRunningRepeatedJobs.md
  docs/ci-runners/ci_constantnumberoflongrunningrepeatedjobs.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Run make generate
  docs/about/README.md
  docs/api/README.md
  docs/console/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(capacity-planning): add gitaly outlier
  metrics-catalog/services/gitaly.jsonnet
Due: none

chore(capacity-planning): use RSS for wiz-sensor memory
  metrics-catalog/services/wiz-runtime-sensor.jsonnet
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-gprd/wiz-runtime-sensor/autogenerated-gitlab-gprd-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-gstg/wiz-runtime-sensor/autogenerated-gitlab-gstg-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-ops/wiz-runtime-sensor/autogenerated-gitlab-ops-wiz-runtime-sensor-saturation.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-saturation-alerts.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-saturation-metadata.yml
  mimir-rules/gitlab-pre/wiz-runtime-sensor/autogenerated-gitlab-pre-wiz-runtime-sensor-saturation.yml
Due: none

chore: Update feature categories to 2025-02-04
  dashboards/stage-groups/security_platform_managemen.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
Due: validate-service-mappings, check-stage-groups, validate-alerts

Document GL_JSONNET options in README
  README.md
Due: markdownlint, validate-kibana-urls

install coreutils in prepare-dev-env
  scripts/prepare-dev-env.sh
Due: none

Notes added by 'git notes add'
  7357698d6f2da3c23c376c40fc79ada9c5977c95
Due: none

Add Cloud Connector OIDC watcher for AI GW
  elastic/managed-objects/log_gprd/watches/cloud_connector_ai_gw_oidc_fetch_failures.jsonnet
Due: update-elastic-watches:log-gprd

Notes added by 'git notes add'
  17bf5761ada48e657b164477d65e3401711633ea
Due: none

feat: Fix found-snapshots repository details.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

feat: Add patroni-sec dashboard configuration
  dashboards/patroni-sec/main.dashboard.jsonnet
  docs/patroni-sec/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/patroni-sec.jsonnet
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-component-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-patroni-sec-service-slos.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-saturation-metadata.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-saturation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service-level-alerts.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-service_anomaly_detection.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-sli-aggregations.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/patroni-sec/autogenerated-gitlab-gprd-patroni-sec-utilization.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-component-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-patroni-sec-service-slos.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-saturation-metadata.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-saturation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service-level-alerts.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-service_anomaly_detection.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-sli-aggregations.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/patroni-sec/autogenerated-gitlab-gstg-patroni-sec-utilization.yml
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts
