Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

feat: Moved and scoped praefect alert.
  mimir-rules/gitlab-gprd/gprd/praefect/praefect.yml
Due: none

feat: Move and scope patroni alerts.
  mimir-rules/gitlab-gprd/gprd/patroni/patroni.yml
  mimir-rules/gitlab-gstg/gstg/patroni/patroni.yml
Due: none

feat: Moved and scoped pgbouncer alerts.
  mimir-rules/alerts/pgbouncer.yml
  mimir-rules/gitlab-gprd/gprd/pgbouncer/pgbouncer.yml
  mimir-rules/gitlab-gstg/gstg/pgbouncer/pgbouncer.yml
Due: none

Notes added by 'git notes add'
  53/fe43acfc6b82b62bccbda72767869cbd90bea1
Due: none

Notes added by 'git notes add'
  ad/fade5898344c4635bc01ff1a896d116f0ef140
Due: none

chore: update dashboards using slo_observation_status
  dashboards/general/incident-budget-explorer.dashboard.jsonnet
  dashboards/general/slas.dashboard.jsonnet
Due: none

feat: Add gcp_quota_limit_vertex_ai saturation point for code-gecko
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation-metadata.yml
  mimir-rules/gitlab-gprd/gprd/ai-gateway/autogenerated-gitlab-gprd-gprd-ai-gateway-saturation.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation-metadata.yml
  mimir-rules/gitlab-gstg/gstg/ai-gateway/autogenerated-gitlab-gstg-gstg-ai-gateway-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-metadata.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

fix: remove partial_response_strategy in mimir
  libsonnet/recording-rules/sla-rules.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sla-rules.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sla-rules.yml
Due: test-periodic-queries

Notes added by 'git notes add'
  8a/5ea910cd8fc134b1bf05ae2eb900f5cebd56df
Due: none

Notes added by 'git notes add'
  a6/0229b1fd5f94113dbbdc9a891d7381e9997349
Due: none

Update CF provisioning instructions
  docs/cloudflare/vendor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Removed a test ruleset.
  rules/default/incident-project-test.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: Move and scope google cloud.
  mimir-rules/gitlab-gprd/gprd/google-cloud.yml
Due: none

Notes added by 'git notes add'
  d1/eb77798dd34275528e252e3181a3b0e741832e
Due: none

chore: Remove unused mail alerts.
  rules/mtail.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Removed user auth events that do not page.
  rules/user-auth-events.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Move wiz rules to Mimir.
  mimir-rules/gitlab-pre/pre/wiz-runtime-sensor.yml
Due: none

feat: Move and scope zoekt alerts.
  mimir-rules/gitlab-gprd/gprd/search/zoekt.yml
  mimir-rules/gitlab-gstg/gstg/search/zoekt.yml
Due: none

chore: Removed all non-paging alerts.
  rules/default/prometheus-metamons.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Lint.
  rules/default/prometheus-metamons.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  93/fde887ebe4ae62c73c56cbb985f4e804ba3e6f
Due: none

Fixup: Update connecting to windows document link
  docs/ci-runners/windows/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  9c/6f848461b805f7aec54755b5581c1dc821b60d
Due: none

Notes added by 'git notes add'
  77/93068bc97cbd67d6164e0e9b082d04e8bed466
Due: none

Notes added by 'git notes add'
  49/bdc16de5d2ada4c93b0d9bb379b74c948c53d1
Due: none

Notes added by 'git notes add'
  9a/c555e0a94e1217b1ca7f7a6702c809861ef3d4
Due: none

Revert "Merge branch 'reduce-prometheus-alerts' into 'master'"
  rules/default/prometheus-metamons.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

feat: support location label in globally evaluated regional aggregation
  metrics-catalog/aggregation-sets.libsonnet
  thanos-rules-jsonnet/globally-evaluated-regional-key-metrics.jsonnet
  thanos-rules/autogenerated-aggregated-service-regional-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-service-regional-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-service-regional-metrics-other.yml
  thanos-rules/autogenerated-aggregated-sli-regional-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-sli-regional-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-sli-regional-metrics-other.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-gprd.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-ops.yml
  thanos-rules/autogenerated-globally-evaluated-regional_component-aggregation-other.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-ops.yml
  thanos-rules/autogenerated-service-level-alerts-ai-gateway-other.yml
  thanos-rules/autogenerated-service-level-alerts-api-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-api-ops.yml
  thanos-rules/autogenerated-service-level-alerts-api-other.yml
  thanos-rules/autogenerated-service-level-alerts-consul-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-consul-ops.yml
  thanos-rules/autogenerated-service-level-alerts-consul-other.yml
  thanos-rules/autogenerated-service-level-alerts-git-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-git-ops.yml
  thanos-rules/autogenerated-service-level-alerts-git-other.yml
  thanos-rules/autogenerated-service-level-alerts-internal-api-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-internal-api-ops.yml
  thanos-rules/autogenerated-service-level-alerts-internal-api-other.yml
  thanos-rules/autogenerated-service-level-alerts-registry-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-registry-ops.yml
  thanos-rules/autogenerated-service-level-alerts-registry-other.yml
  thanos-rules/autogenerated-service-level-alerts-web-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-web-ops.yml
  thanos-rules/autogenerated-service-level-alerts-web-other.yml
  thanos-rules/autogenerated-service-level-alerts-web-pages-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-web-pages-ops.yml
  thanos-rules/autogenerated-service-level-alerts-web-pages-other.yml
  thanos-rules/autogenerated-service-level-alerts-websockets-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-websockets-ops.yml
  thanos-rules/autogenerated-service-level-alerts-websockets-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

feat: add `location` to the legend on regional dashboards
  libsonnet/gitlab-dashboards/regional_service_dashboard.libsonnet
Due: test-periodic-queries

chore: Removed non-paging prometheus alerts.
  rules/default/prometheus-metamons.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Removed non-functional pager alerts for Gitaly.
  rules/gitaly.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

chore: Moved and scoped walg alerts.
  mimir-rules/gitlab-gprd/gprd/patroni/gitlab-walg-backups.yml
  mimir-rules/gitlab-gstg/gstg/patroni/gitlab-walg-backups.yml
Due: none

feat: Moved, scoped, and fixed haproxy recording rules to work in Mimir.
  mimir-rules/gitlab-gprd/gprd/haproxy.yml
  mimir-rules/gitlab-gstg/gstg/haproxy.yml
  mimir-rules/gitlab-pre/pre/haproxy.yml
Due: none

feat: Moved and scoped patroni-snapshot alerts.
  mimir-rules/gitlab-gprd/gprd/patroni/patroni-snapshot.yml
  mimir-rules/gitlab-gstg/gstg/patroni/patroni-snapshot.yml
Due: none

chore: Fixing quotes.
  mimir-rules/gitlab-gprd/gprd/haproxy.yml
  mimir-rules/gitlab-gstg/gstg/haproxy.yml
  mimir-rules/gitlab-pre/pre/haproxy.yml
Due: none

feat: Moved and scoped pipeline execution rules.
  mimir-rules/gitlab-gprd/gprd/pipeline_execution.yml
  mimir-rules/gitlab-gstg/gstg/pipeline_execution.yml
Due: none

chore: Actually fixed quotes on all of them.
  mimir-rules/gitlab-pre/pre/haproxy.yml
Due: none

Notes added by 'git notes add'
  20/222a46ee330b346d3161d384daa952550c17b1
Due: none

Add gprd, ops and pre Cloud SQL service to metrics catalogue
  metrics-catalog/services/cloud-sql.jsonnet
  mimir-rules/gitlab-gstg/gstg/cloud-sql/autogenerated-gitlab-gstg-gstg-cloud-sql-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-cloud-sql-service-slos.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-saturation.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/ops/cloud-sql/autogenerated-gitlab-ops-ops-cloud-sql-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-cloud-sql-service-slos.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-saturation-alerts.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-saturation-metadata.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-saturation.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-pre/pre/cloud-sql/autogenerated-gitlab-pre-pre-cloud-sql-service_ops_anomaly_detection.yml
Due: none
