Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Decrease frontend service error ratio
  metrics-catalog/services/frontend.jsonnet
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-ops.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  a8/e92410210ae36dda5398a513d75452bb785804
Due: none

Add a seperate SLI for websockets under frontend service
  metrics-catalog/services/frontend.jsonnet
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-component-aggregation.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-service-level-alerts.yml
  rules/autogenerated-key-metrics-frontend.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-ops.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore: Fixed selector for mimir ruler.
  metrics-catalog/services/mimir.jsonnet
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-component-aggregation.yml
  mimir-rules/metamonitoring/metamonitoring/mimir/autogenerated-metamonitoring-metamonitoring-mimir-sli-aggregations.yml
Due: none

fix: Scope mimir kubernetes-mixin better.
  mimir-rules/gitlab-gprd/gprd/kube/kubernetes-mixin.yml
  mimir-rules/gitlab-gstg/gstg/kube/kubernetes-mixin.yml
Due: none

chore(deps): update ruby-version-patch to v3.3.1
  .gitlab-ci-asdf-versions.yml
  .ruby-version
  .tool-versions
Due: test-docker-image

feat(deps): update dependency hashicorp/terraform to v1.8.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency hashicorp/vault to v1.16.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency terraform to v1.8.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.16.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency google-cloud-storage to v1.51.0
  Gemfile.lock
Due: none

chore(deps): update dependency super_diff to v0.12.1
  Gemfile.lock
Due: none

chore(deps): update docker docker tag to v26.1.0
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency rspec-parameterized to v1.0.2
  Gemfile.lock
Due: none

chore: differentiate redis and sidekiq shard
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update host to have new node name
  docs/patroni/database_peak_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: add example of chart from past migration
  docs/sidekiq/img/sidekiq-migration-example.png
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: tighten up on terminology
  docs/sidekiq/sharding.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: rerun make generate
  docs/thanos/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency rubocop to v1.63.4
  Gemfile.lock
Due: none

Notes added by 'git notes add'
  6f/63897605e6b8cc4cc599a11ce1ee72454a5959
Due: none

Notes added by 'git notes add'
  b0/8711a5d2a845082ef1fa625ba9723ac10fab56
Due: none

Reduce frontend websockets error ratio
  metrics-catalog/services/frontend.jsonnet
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-ops.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Adding links for clarity
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Reduce frontend websockets error ratio, take 2
  metrics-catalog/services/frontend.jsonnet
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gprd/gprd/frontend/autogenerated-gitlab-gprd-gprd-frontend-service-level-alerts.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/frontend/autogenerated-gitlab-gstg-gstg-frontend-service-level-alerts.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-frontend-service-slos.yml
  mimir-rules/gitlab-pre/pre/frontend/autogenerated-gitlab-pre-pre-frontend-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-ops.yml
  thanos-rules/autogenerated-service-level-alerts-frontend-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: incorrect label and metric names
  mimir-rules/gitlab-gprd/gprd/sidekiq/sidekiq.yml
  mimir-rules/gitlab-gstg/gstg/sidekiq/sidekiq.yml
  mimir-rules/gitlab-ops/ops/sidekiq/sidekiq.yml
  rules/sidekiq.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Notes added by 'git notes add'
  0e/ab0a0f37345ed48267bc74c6b6a8f3bf9c37f1
Due: none

feat: Moved and scoped postgresqls.yml
  mimir-rules/gitlab-gprd/gprd/patroni/postgresqls.yml
  mimir-rules/gitlab-gstg/gstg/patroni/postgresqls.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/vault/access.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  23/20ec8fe89aafb7281dc2e2bcbacb540db1a039
Due: none

fix(sidekiq-alerts): use 1h/5m burn rates instead of 6h/30m
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-sidekiq-alerts.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-sidekiq-alerts.yml
  thanos-rules/autogenerated-sidekiq-alerts-gprd.yml
  thanos-rules/autogenerated-sidekiq-alerts-ops.yml
  thanos-rules/autogenerated-sidekiq-alerts-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

trailing space
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  76/e34d6f37f4f58592bebded1103f3d1b8c0eaa3
Due: none

Notes added by 'git notes add'
  3d/73a4d13a6bc132aa378c8dc05507d421210d1e
Due: none

Change owner of KAS service from reliability_general to Deploy:environments
  services/service-catalog.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
