Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore: add runbook for Wiz Runtime Sensor
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

runtime sensor troubleshooting
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  8b/9f4b0dfde3df185b27dd38170752c67a23d2af
Due: none

runtime sensor troubleshooting
  docs/api/README.md
  docs/kube/README.md
  docs/logging/README.md
  docs/monitoring/README.md
  docs/registry/README.md
  docs/search/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix linters
  docs/uncategorized/wiz-runtime-sensor.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: ops-gitlab-net is in the gitlab-ops tenant
  metrics-catalog/services/ops-gitlab-net.jsonnet
  mimir-rules/gitlab-gprd/gprd/ops-gitlab-net/autogenerated-gitlab-gprd-gprd-ops-gitlab-net-component-aggregation.yml
  mimir-rules/gitlab-gprd/gprd/ops-gitlab-net/autogenerated-gitlab-gprd-gprd-ops-gitlab-net-kube-state-metrics.yml
  mimir-rules/gitlab-gprd/gprd/ops-gitlab-net/autogenerated-gitlab-gprd-gprd-ops-gitlab-net-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gprd/ops-gitlab-net/autogenerated-gitlab-gprd-gprd-ops-gitlab-net-saturation.yml
  mimir-rules/gitlab-gprd/gprd/ops-gitlab-net/autogenerated-gitlab-gprd-gprd-ops-gitlab-net-sli-aggregations.yml
  mimir-rules/gitlab-gstg/gstg/ops-gitlab-net/autogenerated-gitlab-gstg-gstg-ops-gitlab-net-component-aggregation.yml
  mimir-rules/gitlab-gstg/gstg/ops-gitlab-net/autogenerated-gitlab-gstg-gstg-ops-gitlab-net-kube-cause-alerts.yml
  mimir-rules/gitlab-gstg/gstg/ops-gitlab-net/autogenerated-gitlab-gstg-gstg-ops-gitlab-net-kube-state-metrics.yml
  mimir-rules/gitlab-gstg/gstg/ops-gitlab-net/autogenerated-gitlab-gstg-gstg-ops-gitlab-net-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-kube-state-metrics.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-saturation-alerts.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-saturation-metadata.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-saturation.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-sli-aggregations.yml
Due: none

Notes added by 'git notes add'
  a0/e07f9fde9567b88bd21223ff3fe4741a928b9a
Due: none

Notes added by 'git notes add'
  0a/6bc2b65fcebcfd44f8829cb49339e9f17955c9
Due: none

fix: reduce calculation to first
  dashboards/delivery/release_info.dashboard.jsonnet
Due: none

feat: Moved and scoped container alerts.
  mimir-rules/gitlab-gprd/gprd/container.yml
  mimir-rules/gitlab-gstg/gstg/container.yml
  mimir-rules/gitlab-ops/ops/container.yml
  mimir-rules/gitlab-pre/pre/container.yml
Due: none

fix: Add generic pg_vacuum_activity
  libsonnet/saturation-monitoring/pg_vacuum_activity.libsonnet
  libsonnet/saturation-monitoring/pg_vacuum_activity_v2.libsonnet
  metrics-catalog/saturation/all.libsonnet
  reference-architectures/get-hybrid/README.md
  reference-architectures/get-hybrid/config/tamland/manifest.json
  reference-architectures/get-hybrid/src/gitlab-metrics-config.libsonnet
Due: markdownlint, validate-kibana-urls, test-periodic-queries

Notes added by 'git notes add'
  07/61b2a7de7b3d9416cd3fafdcf4db4ced3dc5df
Due: none

Notes added by 'git notes add'
  87/f52b1309a6445dd8818c4d304bc93c3aefe6c3
Due: none

Notes added by 'git notes add'
  be/498bb893a008e937d3693ba5c4eee143272da8
Due: none

fix: use optionalOffset instead of hardcoding 30s offset
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  thanos-rules/autogenerated-feature-category-metrics-ai-gateway.yml
  thanos-rules/autogenerated-feature-category-metrics-errortracking.yml
  thanos-rules/autogenerated-feature-category-metrics-tracing.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

fix: filter empty rule groups
  mimir-rules-jsonnet/mimir-aggregations.jsonnet
Due: none

feat: make upscaled rules optional
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
Due: test-periodic-queries

refactor: move filter static labels to lib function
  libsonnet/kube-state-metrics/recording-rules.libsonnet
  libsonnet/promql/labels.libsonnet
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/utilization_metric.libsonnet
Due: test-periodic-queries

chore: regenerate rules
  mimir-rules/gitlab-gstg/gstg/ops-gitlab-net/autogenerated-gitlab-gstg-gstg-ops-gitlab-net-component-aggregation.yml
  mimir-rules/gitlab-ops/ops/ops-gitlab-net/autogenerated-gitlab-ops-ops-ops-gitlab-net-component-aggregation.yml
Due: none

feat: Record service component mapping rules in Mimir
  libsonnet/recording-rules/service-slos.libsonnet
  mimir-rules-jsonnet/service-slos.jsonnet
  mimir-rules/gitlab-gprd/gprd/autogenerated-gitlab-gprd-gprd-service-slos.yml
  mimir-rules/gitlab-gstg/gstg/autogenerated-gitlab-gstg-gstg-service-slos.yml
  thanos-rules-jsonnet/recording-rules.jsonnet
Due: test-periodic-queries

Applying Rehab's suggestions on clarity and links
  docs/ci-runners/README.md
  docs/ci-runners/linux/README.md
  docs/ci-runners/macos/README.md
  docs/ci-runners/release-cycle/blue_green_deployment.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  6e/200b0f2c077e09ce3644c3a5e72986eb479b3f
Due: none

Notes added by 'git notes add'
  bb/649c5e96f9cbed0484f194a4bc23de6950a1b5
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/ci-runners/release-cycle/blue_green_deployment.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  64/7c969925621c5dc23667ebeabd068499145aa5
Due: none

Annotate outlier event on patroni-ci
  metrics-catalog/services/patroni-ci.jsonnet
Due: none

chore: Removed #alerts alerts that everyone is ignoring for mimir.
  mimir-rules/alerts/cloud_nat.yml
  mimir-rules/alerts/container.yml
  mimir-rules/alerts/gitlab_job.yml
  mimir-rules/alerts/kubernetes-horizontalpodautoscaler.yml
  mimir-rules/alerts/kubernetes-resources.yml
  mimir-rules/alerts/kubernetes-storage.yml
  mimir-rules/alerts/kubernetes-system.yml
  mimir-rules/alerts/mailroom.yml
  mimir-rules/alerts/omnibus.yml
  mimir-rules/alerts/osquery.yml
  mimir-rules/alerts/prometheus-operator.yml
  mimir-rules/alerts/pull-mirror-queues.yml
  mimir-rules/alerts/remote-mirrors.yml
  mimir-rules/alerts/sidekiq-queue-latency.yml
Due: none

chore: Remove mimir cloudflare alert that doesn't notify anyone.
  mimir-rules/gitlab-gprd/gprd/cloudflare.yml
  mimir-rules/gitlab-gstg/gstg/cloudflare.yml
Due: none

chore: Remove commit worker alert.
  mimir-rules/alerts/commit-workers.yml
Due: none

add db-lab bastion config runbook
  docs/bastions/db-lab-bastions.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add some updates to ci-runners docs
  docs/ci-runners/README.md
  docs/ci-runners/ci-apdex-violating-slo.md
  docs/ci-runners/service-ci-runners.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
