Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: update-alertmanager, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, docker_image_test, alertmanager_test, check-stage-groups

Path conditions:
  update-alertmanager: any of: alertmanager/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  docker_image_test: any of: Dockerfile
  alertmanager_test: any of: alertmanager/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet

Updates docs for containerd runtime
  docs/kube/k8s-operations.md
Due: none

Tighten up the SLO for the rails_request SLI
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/web.jsonnet
  thanos-rules/autogenerated-service-level-alerts-api.yml
  thanos-rules/autogenerated-service-level-alerts-web.yml
  thanos-rules/autogenerated-service-slos.yml
Due: none

docs(monitoring): link to correct work queue Epic
  docs/monitoring/README.md
Due: none

Add comment about sum_over_time upscaling
  libsonnet/recording-rules/helpers.libsonnet
Due: none

Fix typo in README related to jsonnet-bundler
  README.md
Due: none

Adjust Error Budget rate from 1m to 5m
  dashboards/stage-groups/stage-group-dashboards.libsonnet
Due: none

Updated Cloudflare README.md link
  README.md
Due: none

Shrink number of primary shards for data_warm
  elastic/managed-objects/log_gprd/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm

Remove quotes in jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm

Add trailing commas for jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-apm-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-default-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-static-objects-cache-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm

Remove whitespace
  elastic/managed-objects/log_gprd/ILM/gitlab-apm-default-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm

Change the SingleStat panels into Stat panels in the Delivery Release Management dashboard following the Grafana update to v8
  dashboards/delivery/release_management.dashboard.jsonnet
Due: none

Change the SingleStat panels into Stat panels in the Delivery Deployment SLA dashboard
  dashboards/delivery/deployment_slo.dashboard.jsonnet
Due: none

Change SingleStat panels to the new Stat and Gauge panels in all dashboards
  dashboards/alerts/slo_analysis.shared.jsonnet
  dashboards/delivery/deployment_slo.dashboard.jsonnet
  dashboards/delivery/k8s_migration_overview.jsonnet
  dashboards/sidekiq/bitbucket-importer.dashboard.jsonnet
  dashboards/sidekiq/bitbucket-server-importer.dashboard.jsonnet
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/gitlab-dashboards/container_registry_graphs.libsonnet
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
  libsonnet/grafana/basic.libsonnet
  libsonnet/key-metric-panels/status_description.libsonnet
  libsonnet/stage-groups/verify-runner/deployment_details.libsonnet
  libsonnet/stage-groups/verify-runner/job_graphs.libsonnet
Due: none

docs: update glsh install command to run sudo
  README.md
Due: none

Add product intelligence dashboard
  dashboards/product-intelligence/main.dashboard.jsonnet
Due: none

UX Improvements for glsh kube command
  bin/kube
Due: none

jsonnet fmt
  dashboards/product-intelligence/main.dashboard.jsonnet
Due: none

Split off long window feature category recordings
  libsonnet/servicemetrics/aggregation-set-transformer.libsonnet
  libsonnet/servicemetrics/aggregation-set.libsonnet
  thanos-rules-jsonnet/aggregation-set-recording-rules.jsonnet
  thanos-rules/autogenerated-aggregated-feature-category-metrics.yml
  thanos-rules/autogenerated-aggregated-stage-group-metrics.yml
Due: none

Run make generate to update ignored components
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: none

Extend gstg watch to include NameError
  elastic/managed-objects/nonprod-log/watches/no_method_error.jsonnet
Due: update_elastic_nonprod-log_watches

adjust the missing logs alert
  rules/logging.yml
Due: none

Adds the main_{web,api} backends to metrics
  metrics-catalog/services/api.jsonnet
  metrics-catalog/services/web.jsonnet
  rules/autogenerated-key-metrics-api.yml
  rules/autogenerated-key-metrics-web.yml
  rules/haproxy.yml
Due: none

set tier preference to null until we switch to tier based routing
  elastic/managed-objects/lib/settings_gprd.libsonnet
  elastic/managed-objects/lib/settings_nonprod.libsonnet
Due: update_elastic_log_gprd_index_templates, update_elastic_nonprod-log_index_templates

use ILM for changing total_shards_per_node instead of external script
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
  elastic/managed-objects/nonprod-log/ILM/gitlab-infra-ilm-policy.jsonnet
Due: update_elastic_log_gprd_ilm, update_elastic_nonprod-log_ilm

Add Kubernetes metrics for fluentd-archiver to the logging dashboard and Thanos rules
  metrics-catalog/services/logging.jsonnet
  rules/autogenerated-saturation.yml
  rules/autogenerated-utilization.yml
  thanos-rules/autogenerated-saturation.yml
Due: none

Add PubSub Subscription details panels to the logging dashboard
  dashboards/logging/main.dashboard.jsonnet
Due: none

Add objects.toPairs as the complement to objects.fromPairs
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/utils/objects.libsonnet
  libsonnet/utils/objects_test.jsonnet
Due: none

Add SLI details to stage group error budget details dashboard
  dashboards/stage-groups/stage-group-dashboards.libsonnet
  dashboards/stage-groups/stage-group-dashboards_test.jsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
Due: none

Simplify checks for valid aggregation labels
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
Due: none

Allow excluding labels from SLI queries
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/promql/selectors.libsonnet
  libsonnet/promql/selectors_test.jsonnet
  libsonnet/servicemetrics/combined.libsonnet
  libsonnet/servicemetrics/custom_apdex.libsonnet
  libsonnet/servicemetrics/custom_rate_query.libsonnet
  libsonnet/servicemetrics/gauge_metric.libsonnet
  libsonnet/servicemetrics/histogram_apdex.libsonnet
  libsonnet/servicemetrics/rate.libsonnet
  libsonnet/servicemetrics/rate_apdex.libsonnet
Due: none

Exclude zero values from dashboard panels
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/servicemetrics/custom_apdex.libsonnet
  libsonnet/servicemetrics/histogram_apdex.libsonnet
  libsonnet/servicemetrics/rate_apdex.libsonnet
Due: none

Route staging alerts to a separate channel
  alertmanager/alertmanager.jsonnet
  alertmanager/routing-tests.jsonnet
Due: update-alertmanager, alertmanager_test

Generate the missing series alerts in a .yml
  thanos-rules-jsonnet/general-missing-series-alerts.jsonnet
  thanos-rules/autogenerated-missing-series-alerts.yml
Due: none

Don't define missing series alerts as nested array
  thanos-rules-jsonnet/general-missing-series-alerts.jsonnet
  thanos-rules/autogenerated-missing-series-alerts.yml
Due: none

Update docs/uncategorized/staging-environment.md
  docs/uncategorized/staging-environment.md
Due: none

Add event and dangling percentage metrics to registry GC dashboard
  dashboards/registry/gc.dashboard.jsonnet
Due: none

page on missing logs
  rules/logging.yml
Due: none

get rid of sum by subscription name
  rules/logging.yml
Due: none
