Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Notes added by 'git notes add'
  8cde283fa8fcef11e0ec8d1e67180378e02f7836
Due: none

feat(logging)wq: Re-add the total_shards_per_node.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

Notes added by 'git notes add'
  87f38716e98e6055aa7594733236234dc91333ee
Due: none

add the link for the bootstraping process
  docs/cells/amp.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix(alerts): make sure clickhouse alerts have a team label
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Notes added by 'git notes add'
  197266ee9d877478d6ca420911f5481c76089e03
Due: none

Add doc for patching-notifier
  docs/security-patching/linux-os/notifications.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.17.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Markdown lint
  docs/security-patching/linux-os/notifications.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Add CiRunnuerJobsApdexSLOViolationSingleShard alert playbook
  docs/ci-runners/README.md
  docs/ci-runners/alerts/CiRunnersServiceCiRunnerJobsApdexSLOViolationSingleShard.md
  docs/ci-runners/img/ci_runner_apdex_recovering.png
  docs/ci-runners/img/ci_runner_cpu_saturation.png
  docs/ci-runners/img/ci_runner_jobs_sli.png
  docs/ci-runners/img/ci_runner_logs.png
  docs/ci-runners/img/ci_runner_queuing.png
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  4a0546718ee2d2053abf584bf23828ce54422c29
Due: none

Update linux patching docs with Ubuntu Pro requirements
  docs/security-patching/linux-os/linux-os-patching.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Typos and formatting
  docs/security-patching/linux-os/linux-os-patching.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(clickhouse-cloud): Revert error SLOs to 99.5
  metrics-catalog/services/clickhouse-cloud.jsonnet
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gprd/clickhouse/autogenerated-gitlab-gprd-clickhouse-service-level-alerts.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-clickhouse-service-slos.yml
  mimir-rules/gitlab-gstg/clickhouse/autogenerated-gitlab-gstg-clickhouse-service-level-alerts.yml
Due: none

feat: Add back in a short warm tier to workaround Elastic bug.
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-high-ilm-policy.jsonnet
  elastic/managed-objects/log_gprd/ILM/gitlab-infra-medium-ilm-policy.jsonnet
Due: update-elastic-ilm:log-gprd

fix: some minior fixes
  docs/hosted-runners/usage_replication_error.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: change the script
  reference-architectures/get-hybrid/config/dashboards/logging.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
  scripts/generate-reference-architecture-config.sh
Due: none

feat: change the script
  docs/hosted-runners/usage_replication_error.md
  scripts/generate-reference-architecture-config.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: change the script
  mixins-monitoring/hosted-runners/config.libsonnet
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/replications.libsonnet
  mixins-monitoring/hosted-runners/services/logging.libsonnet
Due: none

Notes added by 'git notes add'
  e9c4ff136e2685cdd457fd392c2f02d1d2e37657
Due: none

feat: change the script
  .gitlab-ci.yml
Due: test-docker-image

feat: change the script
  docs/hosted-runners/README.md
  docs/hosted-runners/logging_service_usage_logs_error.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: change the script
  docs/logging/README.md
  docs/search/README.md
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.alerts.mixin.yml
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Update number of shards in advance of shrinking hot tier.
  elastic/managed-objects/lib/settings_gprd.libsonnet
Due: update-elastic-index-templates:log-gprd

Notes added by 'git notes add'
  ae2c48047bbfd27418d92c2089b0ad2ce6161ca0
Due: none

chore(deps): update pre-commit hook gitlab-com/gl-infra/common-ci-tasks to v2.62
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: test-docker-image

review suggestions on the style and wordings
  docs/cells/amp.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add the auto-generated content
  docs/about/README.md
  docs/kas/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update the Vault runbook to use alert boxes for better readability
  docs/vault/access.md
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency terminal-table to v4
  Gemfile
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/security-patching/linux-os/linux-os-patching.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove set -x from generate-dashboards.sh
  dashboards/generate-dashboards.sh
Due: none

Update file README.md
  README.md
Due: markdownlint, validate-kibana-urls

Refactor zoekt task processing graph
  dashboards/search/zoekt.dashboard.jsonnet
Due: none

Runbooks for new Postgres dashboards
  docs/about/README.md
  docs/contributors/README.md
  docs/logging/README.md
  docs/monitoring/README.md
  docs/patroni-ci/README.md
  docs/patroni/README.md
  docs/patroni/postgres.md
  docs/patroni/query-analysis.md
  docs/patroni/single-node-high-level.md
  docs/patroni/wait-events-analisys.md
  docs/pgbouncer/README.md
  docs/version/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
