Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

feat: Add service catalog for dev instance
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

fix: Apply 2 suggestion(s) to 1 file(s)
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Update api.jsonnet
  metrics-catalog/services/api.jsonnet
Due: none

Add glql_query sli definition
  metrics-catalog/gitlab-slis/library.libsonnet
Due: none

chore: typo fixed + make generate
  metrics-catalog/services/api.jsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-sli-aggregations.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-feature_category-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-regional_component-aggregation.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-sli-aggregations.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-aggregated-application-sli-metrics.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-feature_category-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-regional_component-aggregation.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-sli-aggregations.yml
Due: none

add generated doc for dev
  docs/dev-gitlab-org/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 1 suggestion(s) to 1 file(s)
  services/service-catalog.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts

Improve monitoring links for dev instance
  docs/dev-gitlab-org/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Lower AI Gateway error rate SLO
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
Due: none

feat(deps): update dependency hashicorp/vault to v1.18.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency prometheus/prometheus to v3.2.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency vault to v1.18.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update docker docker tag to v28.0.1
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency git to v3
  scripts/disaster-recovery/Gemfile.lock
Due: none

Update woodhouse token link
  docs/incidents/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  c0d94e76094c7b0309d9c6bc9d111522bd8148e3
Due: none

Notes added by 'git notes add'
  b315ed64788ceca0319837f648a80f10e35e4f49
Due: none

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.24.0
  .copier-answers.yml
  scripts/prepare-dev-env.sh
Due: none

chore(deps): update dependency rubocop to v1.73.1
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

feat: add apdex panel time series support
  dashboards/sentry/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  libsonnet/grafana/time-series/target.libsonnet
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/time-series/panels.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  750b56df5787c4cf290d2574c4f876176ccd8254
Due: none

fix(deps): lock file maintenance
  Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  package-lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Notes added by 'git notes add'
  80ade410b7f6f71e433f5a892133a26438bddf35
Due: none

fix: update line widths and transparency
  libsonnet/key-metric-panels/time-series/panels.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  6d672e73393322c35155d8b180b777e856e33512
Due: none

chore: clean up time series apdex methods
  libsonnet/key-metric-panels/time-series/panels.libsonnet
Due: test-periodic-queries

feat: add error ratio panel time series support
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/time-series/apdex-panel.libsonnet
  libsonnet/key-metric-panels/time-series/error-ratio-panel.libsonnet
  libsonnet/key-metric-panels/time-series/panels.libsonnet
Due: test-periodic-queries

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.17.3
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Add service catalog for dev instance
  docs/dev-gitlab-org/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Apply suggestion from review
  dashboards/search/zoekt.dashboard.jsonnet
Due: none

Notes added by 'git notes add'
  b9656a4ce73bed92bc915dc684a465a5c1a12e82
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/hosted-runners/logging_service_usage_logs_error.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: renovate jobs
  mixins-monitoring/hosted-runners/dashboards/panels/replications.libsonnet
  mixins-monitoring/hosted-runners/services/logging.libsonnet
Due: none

feat: apply suggestion
  mixins-monitoring/hosted-runners/dashboards/logging.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/replications.libsonnet
Due: none

Notes added by 'git notes add'
  5016a2ab225562c495d567dd63026960b0249b75
Due: none

feat: add operation panel time series support
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/time-series/operation-rate-panel.libsonnet
  libsonnet/key-metric-panels/time-series/panels.libsonnet
Due: test-periodic-queries

feat: enable service_aggregation
  reference-architectures/get-hybrid/config/dashboards/logging.json
  reference-architectures/get-hybrid/config/prometheus-rules/hosted-runners.rules.mixin.yml
Due: none

Notes added by 'git notes add'
  881dd20f620a138df54f3433a6acce84d3338cd7
Due: none

fix: race condition issue between diffrent ecs service
  .gitlab-ci.yml
Due: test-docker-image

fix: race condition issue between diffrent ecs service
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
Due: none
