Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore: organized files better
  dashboards/sentry/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/basic.libsonnet
  libsonnet/grafana/basic_test.jsonnet
  libsonnet/grafana/prom_query.libsonnet
  libsonnet/grafana/prom_query_test.jsonnet
  libsonnet/grafana/series_overrides.libsonnet
  libsonnet/key-metric-panels/error-ratio-panel.libsonnet
  libsonnet/key-metric-panels/operation-rate-panel.libsonnet
Due: test-periodic-queries

chore: moved tests into one file
  libsonnet/grafana/basic_test.jsonnet
  libsonnet/grafana/basic_time_series_test.jsonnet
Due: test-periodic-queries

feat: add utilization rates panel
  alertmanager/alertmanager.jsonnet
  dashboards/sentry/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/grafana/prom_query.libsonnet
  libsonnet/grafana/time-series/layout.libsonnet
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/utilization-rates-panel.libsonnet
Due: test-periodic-queries

feat: add apdex panel
  libsonnet/key-metric-panels/apdex-panel.libsonnet
  libsonnet/key-metric-panels/single-metric-row.libsonnet
Due: test-periodic-queries

feat: add hosted runners node dashboard
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/nodes.libsonnet
  mixins-monitoring/hosted-runners/dashboards/runner.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
  reference-architectures/get-hybrid/config/dashboards/hosted-runners.json
Due: none

fix: remove duplicate shard variable
  mixins-monitoring/hosted-runners/dashboards/nodes.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runner-nodes.json
Due: none

feat: disable caching
  .gitlab-ci.yml
Due: test-docker-image

feat: syntax
  .gitlab-ci.yml
Due: test-docker-image

Apply 3 suggestion(s) to 1 file(s)
  docs/ai-gateway/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add kubernetes overview time series support
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/time-series/override.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  abe8d72c354542f73e729ccfea71b54cc2b824aa
Due: none

feat: add pubsub and fluentd time series panel support
  dashboards/logging/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/process_exporter.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  38b53d985f815e80897b1db199d3791d8e8720cc
Due: none

chore: enable new timeseries panel for more service dashboards
  dashboards/logging/main.dashboard.jsonnet
  dashboards/mimir/main.dashboard.jsonnet
  dashboards/sentry/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
Due: test-periodic-queries

Fix wait event postgres dashboard
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update file wait-events-analisys.md
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: add api overiew panel time series panel support
  dashboards/api/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/gitlab-dashboards/rails_common_graphs.libsonnet
  libsonnet/gitlab-dashboards/workhorse_common_graphs.libsonnet
  libsonnet/grafana/time-series/override.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

make generate
  docs/search/README.md
  docs/version/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: some minor changes for hosted runner
  mixins-monitoring/hosted-runners/dashboards/panels/fluentd.libsonnet
  reference-architectures/get-hybrid/config/dashboards/logging.json
Due: none

Fix wait event postgres dashboard link
  docs/patroni/wait-events-analisys.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  b4d99a6e2dda526bf93a30afeb09d6e9bed61a4e
Due: none

License Access Process for Staging Environment
  docs/duo/duo_license.md
  docs/search/README.md
  docs/version/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  cfc6e083a4fe1944241ae4e87bb26745cf2688b8
Due: none

Improve doc database CPU spike
  docs/patroni/primary_db_node_cpu_saturation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated md
  docs/incident-io-onboard/incident-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated md
  docs/incident-io-onboard/img/declare.png
  docs/incident-io-onboard/incident-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Removed blank line
  docs/incident-io-onboard/incident-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Link updates
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated Slack channel
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fixed linting issues
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add template for incident.io onboarding
  docs/incident-io-onboard/img/1_phone.jpg
  docs/incident-io-onboard/img/2_phone.jpg
  docs/incident-io-onboard/img/3_phone.jpeg
  docs/incident-io-onboard/img/ack.png
  docs/incident-io-onboard/img/acknowledge.png
  docs/incident-io-onboard/img/declare_from_alert.png
  docs/incident-io-onboard/img/escalate.png
  docs/incident-io-onboard/img/notify.png
  docs/incident-io-onboard/incident-management.md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 2 suggestion(s) to 1 file(s)
  docs/incident-io-onboard/incident-management.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Added custom field options
  docs/incident-io-onboard/img/custom.png
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated md
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 4 suggestion(s) to 1 file(s)
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Added escalation steps
  docs/incident-io-onboard/img/escalate.png
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Post incident responsibilities
  docs/incident-io-onboard/img/followup.png
  docs/incident-io-onboard/img/followup2.png
  docs/incident-io-onboard/img/gitlabissue.png
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updated response time
  docs/incident-io-onboard/oncall.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
