Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Apply 1 suggestion(s) to 1 file(s)
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

removes old dashboards using a graphite datasource that no longer functions
  dashboards/product/create.dashboard.jsonnet
  dashboards/product/enablement.dashboard.jsonnet
  dashboards/product/manage.dashboard.jsonnet
  dashboards/product/monitor.dashboard.jsonnet
  dashboards/product/package.dashboard.jsonnet
  dashboards/product/plan.dashboard.jsonnet
  dashboards/product/protect.dashboard.jsonnet
  dashboards/product/release.dashboard.jsonnet
  dashboards/product/secure.dashboard.jsonnet
  dashboards/product/verify.dashboard.jsonnet
Due: none

remove redundant jsonnet lib
  libsonnet/gitlab-dashboards/product_common.libsonnet
Due: test-periodic-queries

Added SSL probes for gstg
  mimir-rules/gitlab-gprd/blackbox_alerts.yml
Due: none

Updated name for the alert
  mimir-rules/gitlab-gprd/blackbox_alerts.yml
Due: none

chore: lower graphql-query SLO to 99.9%
  metrics-catalog/services/api.jsonnet
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-api-service-slos.yml
  mimir-rules/gitlab-gprd/api/autogenerated-gitlab-gprd-api-service-level-alerts.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-api-service-slos.yml
  mimir-rules/gitlab-gstg/api/autogenerated-gitlab-gstg-api-service-level-alerts.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-api-service-slos.yml
  mimir-rules/gitlab-pre/api/autogenerated-gitlab-pre-api-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-api-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-api-ops.yml
  thanos-rules/autogenerated-service-level-alerts-api-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Update recovery-measurements.md
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add section to handle memory pressure
  docs/patroni/unhealthy_patroni_node_handling.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add mailgun service to correct tenant
  metrics-catalog/services/mailgun.jsonnet
  mimir-rules/gitlab-gprd/mailgun/autogenerated-gitlab-gprd-mailgun-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gprd/mailgun/autogenerated-gitlab-gprd-mailgun-transformed-service-aggregation.yml
  mimir-rules/gitlab-gprd/mailgun/autogenerated-gitlab-gprd-mailgun-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gprd/mailgun/autogenerated-gitlab-gprd-mailgun-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-component-aggregation.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-mailgun-service-slos.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-saturation-alerts.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-saturation-metadata.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-saturation.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-service-level-alerts.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-sli-aggregations.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/mailgun/autogenerated-gitlab-ops-mailgun-transformed-stage_groups-aggregation.yml
Due: none

remove gitlab-gstg mailgun rules
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-component-aggregation.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-mailgun-service-slos.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-saturation-alerts.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-saturation-metadata.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-saturation.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-service-level-alerts.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-sli-aggregations.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-transformed-service-aggregation.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-gstg/mailgun/autogenerated-gitlab-gstg-mailgun-transformed-stage_groups-aggregation.yml
Due: none

move alertmanager snitch alert into mimir
  mimir-rules/gitlab-ops/alertmanager.yml
Due: none

fix: Only run script to update feature categories
  scripts/commit-and-push-feature-categories-update.sh
Due: none

Notes added by 'git notes add'
  f3/ad58bee62bba9f1597e3c6562112840603a2be
Due: none

Update Teleport Admin runbook with backup & restore
  docs/patroni/build_cluster_from_snapshot.md
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add heatmap for ProcessScanResultPolicyWorker execution duration
  dashboards/stage-groups/security_policies.dashboard.jsonnet
Due: none

fix typo in explainer
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
Due: none

Update Teleport admin runbook
  docs/teleport/teleport_admin.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Adds pd-event-logger to the metric catalog.
  .*.staging.gitlab.io
  .staging.gitlab.io
  dashboards/pd-event-logger-7760xa/main.dashboard.jsonnet
  docs/about/README.md
  docs/pd-event-logger-7760xa/README.md
  docs/pd-event-logger-7760xa/events.md
  docs/vault/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/pd-event-logger.jsonnet
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-component-aggregation.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-pd-event-logger-7760xa-service-slos.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-saturation-alerts.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-saturation-metadata.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-saturation.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-service-anomaly-detection-alerts.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-service-level-alerts.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-service_ops_anomaly_detection.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-sli-aggregations.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-transformed-service-aggregation.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-transformed-stage_groups-aggregation.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-key-metrics-pd-event-logger-7760xa.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-ops.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

remove files
  .*.staging.gitlab.io
  .staging.gitlab.io
Due: none

ci: skip generating jsonnet rules in some jobs
  .gitlab-ci.yml
Due: test-docker-image

feat: Draft to test out runbooks pipelines, do not merge.
  metrics-catalog/services/woodhouse.jsonnet
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-component-aggregation.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-kube-state-metrics.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-saturation-alerts.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-saturation-metadata.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-saturation.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-service-anomaly-detection-alerts.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-service-level-alerts.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-sli-aggregations.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-transformed-stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/woodhouse/autogenerated-gitlab-ops-woodhouse-woodhouse-service-slos.yml
Due: none

chore(deps): update docker docker tag to v27.0.3
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency go to v1.22.5
  .gitlab-ci-asdf-versions.yml
  .tool-versions
  alertmanager/templates/go.mod
  alertmanager/templates/go.sum
  pingdom/go.mod
Due: test-docker-image, dry-run-pingdom-checks, deploy-pingdom-checks

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.18.0
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update grafana/mimirtool docker tag to v2.13.0
  Dockerfile
Due: test-docker-image

feat(deps): update dependency hashicorp/terraform to v1.9.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Add ComponentResourceRunningOut_disk_space alert template
  docs/config_management/alerts/ComponentResourceRunningOut_disk_space.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add PvsServiceHttpTrafficCessation alert template
  docs/kube/alerts/PvsServiceHttpTrafficCessation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  e2/e05462daeccb7dc4ab71c3868fd9f1cae3d3de
Due: none

remove thanos from metrics catalog
  legacy-prometheus-rules/autogenerated-key-metrics-web.yml
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/thanos.jsonnet
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-component-aggregation.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-kube-cause-alerts.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-saturation-alerts.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-saturation-metadata.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-saturation.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-service-level-alerts.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-service_ops_anomaly_detection.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-sli-aggregations.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-thanos-service-slos.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-transformed-service-aggregation.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-transformed-service_component_stage_groups-aggregation.yml
  mimir-rules/gitlab-ops/thanos/autogenerated-gitlab-ops-thanos-transformed-stage_groups-aggregation.yml
  thanos-rules/autogenerated-key-metrics-thanos.yml
  thanos-rules/autogenerated-kube-state-metrics-recording-rules-gprd.yml
  thanos-rules/autogenerated-kube-state-metrics-recording-rules-ops.yml
  thanos-rules/autogenerated-kube-state-metrics-recording-rules-other.yml
  thanos-rules/autogenerated-service-level-alerts-thanos-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-thanos-ops.yml
  thanos-rules/autogenerated-service-level-alerts-thanos-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

remove thanos dahsboards
  dashboards/thanos/aux.shared.jsonnet
  dashboards/thanos/main.dashboard.jsonnet
  dashboards/thanos/memcached.shared.jsonnet
Due: none

Notes added by 'git notes add'
  89/7eb0ab23dced61be6222bfa10bf7b90ab8ebfe
Due: none

chore: remove traffic cessation alerts for pd-event-logger
  metrics-catalog/services/pd-event-logger.jsonnet
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-ops.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

fix: propagate runway severity to google_lb
  libsonnet/service-archetypes/runway-archetype.libsonnet
  mimir-rules/runway/glgo/autogenerated-runway-glgo-service-level-alerts.yml
  mimir-rules/runway/pd-event-logger-7760xa/autogenerated-runway-pd-event-logger-7760xa-service-level-alerts.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-ops.yml
  thanos-rules/autogenerated-service-level-alerts-glgo-other.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-ops.yml
  thanos-rules/autogenerated-service-level-alerts-pd-event-logger-7760xa-other.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Notes added by 'git notes add'
  c7/c0261b15d920aee6c1c48271bd0f088880b203
Due: none

Update variable `root_cause` query of Deployment Blockers dashboard
  dashboards/delivery/deployment_blockers.dashboard.jsonnet
Due: none

Apply 1 suggestion(s) to 1 file(s)
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Send analytics weekly error budget
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
