Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore(deps): update dependency gitlab-dangerfiles to v4.6.0
  Gemfile.lock
Due: none

Add metrics and dashboard for Atlantis
  dashboards/atlantis/main.dashboard.jsonnet
  docs/atlantis/README.md
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/atlantis.jsonnet
  rules/autogenerated-key-metrics-atlantis.yml
  rules/autogenerated-kube-state-metrics-recording-rules.yml
  rules/autogenerated-saturation.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-atlantis-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-atlantis-ops.yml
  thanos-rules/autogenerated-service-level-alerts-atlantis-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-saturation-gprd.yml
  thanos-staging-rules/autogenerated-saturation-ops.yml
  thanos-staging-rules/autogenerated-saturation-other.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Notes added by 'git notes add'
  92/daf00853592a1cc41ad457ec8a5dcb3872924a
Due: none

Update feature categories
  services/stage-group-mapping-crossover.jsonnet
  services/stage-group-mapping.jsonnet
  thanos-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
  thanos-staging-rules/autogenerated-stage-group-feature-category-mapping-rules.yml
Due: validate-service-mappings, check-stage-groups, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Add atlantis to Other page
  metrics-catalog/saturation/tamland.jsonnet
Due: none

feat: Removed unused old rules.
  rules/service_component_apdex.yml
  rules/service_saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production

Runbook updates for pkgs and artifact registry
  docs/gitlab-com-artifact-registry/overview.md
  docs/gitlab-com-pkgs/overview.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  1d/134c8e352a3cf1e63b73a85b17564ed8f7772b
Due: none

chore(tracing): Add corresponding definition to service catalog
  docs/tracing/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

chore(tracing): Add initial definition to metrics catalog
  dashboards/tracing/main.dashboard.jsonnet
  metrics-catalog/services/all.jsonnet
  metrics-catalog/services/tracing.jsonnet
  rules/autogenerated-key-metrics-tracing.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-service-level-alerts-tracing-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-tracing-ops.yml
  thanos-rules/autogenerated-service-level-alerts-tracing-other.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

chore(tracing): Add ingress SLO definitions for the service
  metrics-catalog/services/tracing.jsonnet
  rules/autogenerated-key-metrics-tracing.yml
  services/service-catalog.yml
  thanos-rules/autogenerated-feature-category-metrics-tracing.yml
  thanos-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-gprd.yml
  thanos-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-ops.yml
  thanos-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-other.yml
  thanos-rules/autogenerated-globally-aggregated-stage-group-metrics-gprd.yml
  thanos-rules/autogenerated-globally-aggregated-stage-group-metrics-ops.yml
  thanos-rules/autogenerated-globally-aggregated-stage-group-metrics-other.yml
  thanos-rules/autogenerated-key-metrics-tracing.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-service-level-alerts-tracing-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-tracing-ops.yml
  thanos-rules/autogenerated-service-level-alerts-tracing-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-feature-category-metrics-tracing.yml
  thanos-staging-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-gprd.yml
  thanos-staging-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-ops.yml
  thanos-staging-rules/autogenerated-globally-aggregated-service-component-stage-group-metrics-other.yml
  thanos-staging-rules/autogenerated-globally-aggregated-stage-group-metrics-gprd.yml
  thanos-staging-rules/autogenerated-globally-aggregated-stage-group-metrics-ops.yml
  thanos-staging-rules/autogenerated-globally-aggregated-stage-group-metrics-other.yml
  thanos-staging-rules/autogenerated-key-metrics-tracing.yml
  thanos-staging-rules/autogenerated-saturation-gprd.yml
  thanos-staging-rules/autogenerated-saturation-ops.yml
  thanos-staging-rules/autogenerated-saturation-other.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Fix redis diff script breakages
  Gemfile.lock
  scripts/redis_diff.rb
Due: rubocop, rspec

Remove transactional rates from experimental rules
  thanos-staging-rules-jsonnet/experimental-thanos-only-aggregations.jsonnet
  thanos-staging-rules/experimental/gprd/autogenerated-service-aggregation.yml
  thanos-staging-rules/experimental/gprd/web/autogenerated-key-metrics.yml
  thanos-staging-rules/experimental/ops/autogenerated-service-aggregation.yml
  thanos-staging-rules/experimental/ops/web/autogenerated-key-metrics.yml
  thanos-staging-rules/experimental/other/autogenerated-service-aggregation.yml
  thanos-staging-rules/experimental/other/web/autogenerated-key-metrics.yml
Due: generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging

Fix kube_container_cpu aggregation
  libsonnet/saturation-monitoring/kube_container_cpu.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
  reference-architectures/get-hybrid/config/prometheus-rules/rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
  rules/autogenerated-saturation.yml
  thanos-rules/autogenerated-saturation-gprd.yml
  thanos-rules/autogenerated-saturation-ops.yml
  thanos-rules/autogenerated-saturation-other.yml
  thanos-rules/autogenerated-thanos-self-monitoring-saturation.yml
  thanos-staging-rules/autogenerated-saturation-gprd.yml
  thanos-staging-rules/autogenerated-saturation-ops.yml
  thanos-staging-rules/autogenerated-saturation-other.yml
  thanos-staging-rules/autogenerated-thanos-self-monitoring-saturation.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Lower sidekiq_queuing SLO for urgent-authorized-projects to 0.94
  metrics-catalog/services/sidekiq.jsonnet
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
  thanos-staging-rules/autogenerated-service-slos.yml
Due: validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-thanos-rules:staging, deploy-thanos-rules:production

Breakdown hash into chunks of 10
  scripts/redis_diff.rb
Due: rubocop, rspec

Add example commands for diagnostic reports (listing, downloading)
  docs/web/diagnostic-reports.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Allow diff script to use keys input as arguments
  scripts/redis_diff.rb
Due: rubocop, rspec

Rubocop fix
  scripts/redis_diff.rb
Due: rubocop, rspec

Remove quantile95_1h override for tamland
  metrics-catalog/saturation/prom.libsonnet
Due: none

Add tracing service to Tamland page
  metrics-catalog/saturation/tamland.jsonnet
Due: none

Add yubikey-reset script
  scripts/reset-yubikey.sh
Due: none

removes details around workaround script
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add link to script in doc
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency google-cloud-storage to v1.45.0
  Gemfile.lock
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Due: none

feat(deps): update dependency vault to v1.15.2
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  c9/4d5ec6331a1a2a7b40231e8c2b559772f227de
Due: none

chore: Raise SLO and add runbook for Gitaly active nodes
  docs/gitaly/gitalyctl.md
  docs/kube/README.md
  libsonnet/saturation-monitoring/gitaly_active_node_available_space.libsonnet
  rules/autogenerated-saturation.yml
Due: markdownlint, validate-kibana-urls, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, test-periodic-queries

Use command executable to verify ykman installation
  scripts/reset-yubikey.sh
Due: none

chore(deps): update dependency gitlab-com/gl-infra/common-ci-tasks to v2.0.2
  .gitlab-ci.yml
Due: test-docker-image

chore(deps): update dependency gitlab-styles to v11
  Gemfile
  Gemfile.lock
Due: none

Alert to g_ai_framework Slack channel for llm_completion
  metrics-catalog/gitlab-slis/library.libsonnet
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  services/teams.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-staging-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-staging-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-staging-rules/autogenerated-aggregated-application-sli-metrics-other.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production

Add note about shared runners
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Updating istio runbook with logs and upgrade procedure
  docs/istio/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 3 suggestion(s) to 1 file(s)
  docs/istio/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Istio logs and dashboards added to service catalog
  docs/istio/README.md
  services/service-catalog.yml
Due: markdownlint, validate-service-catalog-schema, validate-service-mappings, reconcile-service-catalog-labels, validate-kibana-urls, validate-alerts

Refactor monitoringThresholds.component_node to monitoring
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  metrics-catalog/services/gitaly.jsonnet
  thanos-rules-jsonnet/service-component-alerts.jsonnet
Due: test-periodic-queries

Add runbook for timeout errors during repo draining
  docs/gitaly/multi-project-migration.md
Due: markdownlint, validate-kibana-urls, validate-alerts
