Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*

chore: add simple CI architecture diagram
  docs/ci-runners/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  2276c6deb4678e30e1fe4ca134509bb94fde65f3
Due: none

chore: Add CiRunnersServiceQueuingQueriesDurationApdexSLOViolation alert playbook
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Run make generate
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Run make generate
  docs/ci-runners/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove unnecessary comment
  docs/monitoring/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Add incident images, links and changes
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
  docs/ci-runners/img/dead_tuple_after_autovacum.png
  docs/ci-runners/img/dead_tuples.png
  docs/ci-runners/img/queing_queries_duration.png
  docs/ci-runners/img/queing_queries_sli.png
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Add incident images, links and changes
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Restructure the playbook
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Add severity details
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Run make generate
  docs/thanos/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update terraform monorepo to v1.10.4
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency connection_pool to v2.5.0
  Gemfile.lock
Due: none

chore(deps): update dependency super_diff to v0.15.0
  Gemfile.lock
Due: none

feat(deps): update dependency node to v22.13.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency nodejs/node to v22.13.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency mikefarah/yq to v4.45.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

feat(deps): update dependency yq to v4.45.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  bef47617abf62e4a065fa0b12d80817430ee52e9
Due: none

Notes added by 'git notes add'
  fed0a473bdb907e34a61269c89e4cd090112e250
Due: none

fix(deps): lock file maintenance
  Gemfile.lock
  elastic/query-perf/Gemfile.lock
  jsonnetfile.lock.json
  mimir-rules/metamonitoring/mimir/jsonnetfile.lock.json
  mixins-monitoring/hosted-runners/jsonnetfile.lock.json
  package-lock.json
  scripts/disaster-recovery/Gemfile.lock
Due: none

Update the Kubernetes runbook with instructions on how to connect to GKE clusters via NordLayer
  bin/kube
  docs/kube/k8s-oncall-setup.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  d2edbec5ce5a7223853b49753663c627956261da
Due: none

Add registry Background Migration metrics
  dashboards/registry/database.dashboard.jsonnet
Due: none

Update ClickHouse dashboard link
  docs/clickhouse/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Specify recommended setup steps for GNOME users
  docs/uncategorized/yubikey.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Display number of promoted packages instead of not promoted
  dashboards/delivery/auto_deploy_packages.jsonnet
Due: none

Fix unbound variable in bin/kube
  bin/kube
Due: none

Add Sentry error rate to SLI
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

Add networking images
  docs/ci-runners/README.md
  docs/ci-runners/ci-runner-networking.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply suggestions
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Move networking details and improve ci runner intro
  docs/about/README.md
  docs/api/README.md
  docs/ci-runners/README.md
  docs/ci-runners/ci-runner-networking.md
  docs/design/README.md
  docs/frontend/README.md
  docs/git/README.md
  docs/monitoring/README.md
  docs/thanos/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(tamland): increase historical days for forecasts
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

chore: Add CiRunnersServiceQueuingQueriesDurationApdexSLOViolation alert playbook
  docs/ci-runners/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
  docs/ci-runners/alerts/CiRunnersServiceQueuingQueriesDurationApdexSLOViolation.md
  docs/ci-runners/img/dead_tuple_after_autovacum.png
  docs/ci-runners/img/dead_tuples.png
  docs/ci-runners/img/queing_queries_duration.png
  docs/ci-runners/img/queing_queries_sli.png
  docs/thanos/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update docs with urgent shard for sidekiq.
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix markdownlint
  docs/duo-chat/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts
