Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

chore(deps): update grafana/mimirtool docker tag to v2.14.0
  Dockerfile
Due: test-docker-image

chore(deps): update python docker tag to v3.13
  .gitlab-ci.yml
Due: test-docker-image

feat(deps): update dependency vault to v1.18.0
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  6cfaea9f5ca2166f09f491f595f2aedf3d4c9821
Due: none

Disable external load balancer related SLIs for secret detection service
  metrics-catalog/services/secret-detection.jsonnet
  mimir-rules/runway/secret-detection/autogenerated-runway-secret-detection-component-aggregation.yml
  mimir-rules/runway/secret-detection/autogenerated-runway-secret-detection-feature_category-aggregation.yml
  mimir-rules/runway/secret-detection/autogenerated-runway-secret-detection-secret-detection-service-slos.yml
  mimir-rules/runway/secret-detection/autogenerated-runway-secret-detection-service-level-alerts.yml
  mimir-rules/runway/secret-detection/autogenerated-runway-secret-detection-sli-aggregations.yml
Due: none

feat(pingdom-exporter): add the pingdom-exporter-check tags to relevant checks
  docs/pingdom/pingdom.md
  pingdom/pingdom.yml
Due: markdownlint, validate-kibana-urls, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts

feat: define extraMaxAggregationLabels in resourceSaturationPoint
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  libsonnet/saturation-monitoring/max_concurrent_inferences.libsonnet
  libsonnet/saturation-monitoring/pgbouncer_pools.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: test-periodic-queries

Add request_content_json to mlops
  elastic/managed-objects/lib/index_mappings/mlops.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Notes added by 'git notes add'
  777921f58a5e1fd7ab17e26b2428e53bdb9dbfa8
Due: none

streamline tags and keep necessary checks only
  pingdom/pingdom.yml
Due: dry-run-pingdom-checks, deploy-pingdom-checks

Notes added by 'git notes add'
  975715477c0f9b71b9c52e5c559bb1f140f80b18
Due: none

postgres.ai postgres node performance overview
  dashboards/postgres-ai/node-performance-overview.json
Due: none

fix newline
  dashboards/postgres-ai/node-performance-overview.json
Due: none

Edit down info about analytics implementation
  docs/docs.gitlab.com/docsWebsite.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Revert "feat: define extraMaxAggregationLabels in resourceSaturationPoint"
  libsonnet/saturation-monitoring/gcp_quota_limit.libsonnet
  libsonnet/saturation-monitoring/max_concurrent_inferences.libsonnet
  libsonnet/saturation-monitoring/pgbouncer_pools.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: test-periodic-queries

Hardcode matcher labels for pgbouncer pool saturation query
  libsonnet/saturation-monitoring/pgbouncer_pools.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: test-periodic-queries

Use label_replace for database label to allow for correct joining
  libsonnet/saturation-monitoring/pgbouncer_pools.libsonnet
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni-ci/autogenerated-gitlab-gprd-patroni-ci-saturation.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gprd/patroni/autogenerated-gitlab-gprd-patroni-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer-ci/autogenerated-gitlab-gprd-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation-alerts.yml
  mimir-rules/gitlab-gprd/pgbouncer/autogenerated-gitlab-gprd-pgbouncer-saturation.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni-ci/autogenerated-gitlab-gstg-patroni-ci-saturation.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation-alerts.yml
  mimir-rules/gitlab-gstg/patroni/autogenerated-gitlab-gstg-patroni-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer-ci/autogenerated-gitlab-gstg-pgbouncer-ci-saturation.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation-alerts.yml
  mimir-rules/gitlab-gstg/pgbouncer/autogenerated-gitlab-gstg-pgbouncer-saturation.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni-ci/autogenerated-gitlab-pre-patroni-ci-saturation.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation-alerts.yml
  mimir-rules/gitlab-pre/patroni/autogenerated-gitlab-pre-patroni-saturation.yml
Due: test-periodic-queries

Remove redundant import
  libsonnet/saturation-monitoring/pgbouncer_pools.libsonnet
Due: test-periodic-queries

fix: Dynamic dimensions PromQL for kube_container_memory
  libsonnet/saturation-monitoring/kube_container_memory.libsonnet
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

Change type of request_content_json to flattened
  elastic/managed-objects/lib/index_mappings/mlops.jsonnet
Due: update-elastic-index-templates:log-gprd, update-elastic-index-templates:log-nonprod

Notes added by 'git notes add'
  920fbff1419d9581a5a82d385c5727c9f9fc71f8
Due: none

Update the Gitaly node creation times
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update SLOs to match blueprint
  metrics-catalog/services/topology-service-rest.jsonnet
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-component-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-regional_component-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-service-level-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-topology-rest-service-slos.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

chore: add security_policy_management_worker_db_duration
  mimir-rules/gitlab-gprd/security-policy-workers.yml
Due: none

Tamland's manifest and how it is connected to the metrics catalog
  metrics-catalog/saturation/tamland.md
Due: markdownlint, validate-kibana-urls

fix id
  dashboards/postgres-ai/node-performance-overview.json
Due: none

Labelling saturation dimensions
  libsonnet/capacity-planning/validator.libsonnet
  libsonnet/capacity-planning/validator_test.jsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  metrics-catalog/services/ci-runners.jsonnet
Due: test-periodic-queries

Add docs on the cert used for our statuspage
  docs/certificates/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Update database_peak_analysis.md to document CPU time by queryid
  docs/patroni/database_peak_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Fix spelling
  docs/patroni/database_peak_analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

use specific bucket threshold for metric
  metrics-catalog/services/topology-service-rest.jsonnet
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-component-aggregation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-regional_component-aggregation.yml
Due: none

chore: mark postgres-ai dashboard as managed
  dashboards/postgres-ai/postgres-ai.json
Due: none

added new snowplow instance
  pingdom/pingdom.yml
Due: dry-run-pingdom-checks, deploy-pingdom-checks

fixed yaml
  pingdom/pingdom.yml
Due: dry-run-pingdom-checks, deploy-pingdom-checks

add interim period section
  docs/uncategorized/snowplow/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat(deps): update terraform monorepo to v1.9.8
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

chore(deps): update dependency mixlib-shellout to v3.3.3
  scripts/disaster-recovery/Gemfile.lock
Due: none

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
