Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

feat: enable time series panel support for delivery dashboards
  dashboards/delivery/auto_deploy_environment_state.dashboard.jsonnet
  dashboards/delivery/auto_deploy_packages.jsonnet
  dashboards/delivery/delivery_metrics.jsonnet
  dashboards/delivery/deployment_health.dashboard.jsonnet
  dashboards/delivery/deployment_slo.dashboard.jsonnet
  dashboards/delivery/release_management.dashboard.jsonnet
  dashboards/delivery/rollback_info.dashboard.jsonnet
  dashboards/frontend/git.dashboard.jsonnet
Due: none

feat: enable time series panel support for alerts dashboards
  dashboards/alerts/gcplbunhealthy.dashboard.jsonnet
  dashboards/alerts/kube_containers_waiting.dashboard.jsonnet
  dashboards/alerts/missing_series_alerts.shared.jsonnet
  dashboards/alerts/pg_user_tables.shared.jsonnet
  dashboards/api/graphql.dashboard.jsonnet
  dashboards/ci-runners/autoscaling-algorithm.dashboard.jsonnet
  dashboards/ci-runners/dm-to-autoscaler-migration.dashboard.jsonnet
  dashboards/cloud-cost/open_ai.dashboard.jsonnet
  libsonnet/gitlab-dashboards/node_metrics.libsonnet
  libsonnet/gitlab-dashboards/saturation_detail.libsonnet
  libsonnet/stage-groups/verify-runner/api_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/autoscaling_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/database_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/fleeting_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/job_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/job_queue_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/resources_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/saturation_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/sidekiq_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/worker_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/workhorse_graphs.libsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  0cfd620d4d0c5f0ab1f10f300acb0eedf052cd18
Due: none

feat: add hosted runners SLOs dashboard with new SLOs
  mixins-monitoring/hosted-runners/dashboards/dashboards.libsonnet
  mixins-monitoring/hosted-runners/dashboards/nodes.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/nodes.libsonnet
  mixins-monitoring/hosted-runners/dashboards/panels/slos.libsonnet
  mixins-monitoring/hosted-runners/dashboards/slos.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-slos.json
Due: none

Notes added by 'git notes add'
  f164cec184f21c5d8425b8de7c86141c79232ee5
Due: none

fix: rename logging.json to hosted-runners-logging.json to avoid clash
  mixins-monitoring/hosted-runners/dashboards/logging.libsonnet
  reference-architectures/get-hybrid/config/dashboards/hosted-runners-logging.json
Due: none

Notes added by 'git notes add'
  49896dd8f0aac7c7abfd74039d090a1bd9d198dd
Due: none

Update recovery measurement after FY26 Q1 HAProxy/Traffic Routing DR Gameday
  docs/disaster-recovery/recovery-measurements.md
Due: markdownlint, validate-kibana-urls, validate-alerts

chore(deps): update dependency https://gitlab.com/gitlab-com/gl-infra/common-template-copier.git to v1.26.0
  .copier-answers.yml
Due: none

chore(deps): update dependency rubocop to v1.74.0
  Gemfile.lock
  scripts/disaster-recovery/Gemfile.lock
Due: none

fix: disable cache for CI
  .gitlab-ci.yml
Due: test-docker-image

kas: update runbooks
  docs/api/README.md
  docs/cloudflare/README.md
  docs/console/README.md
  docs/gitaly/README.md
  docs/kas/README.md
  docs/kas/kas-basic-troubleshooting.md
  docs/kas/kas-disable-integrations.md
  docs/kas/kubernetes-agent-disable-integrations.md
  docs/kube/README.md
  docs/logging/README.md
  docs/redis/README.md
  docs/web/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  7b49d24e8d0d91d1934689902841afceaaf1c666
Due: none

chore: Move all the alert docs to the alerts folder
  docs/ci-runners/alerts/ci-apdex-violating-slo.md
  docs/ci-runners/alerts/ci_pending_builds.md
  docs/ci-runners/alerts/ci_too_many_archiving_trace_failures.md
  docs/ci-runners/alerts/ci_workhorse-queuing.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  42408314d1fcd1e532a62061638019610020e6a5
Due: none

minor troubleshooting notes
  dashboards/README.md
Due: markdownlint, validate-kibana-urls

minor typos and link fixes
  docs/patroni/postgres.md
  docs/patroni/query-analysis.md
Due: markdownlint, validate-kibana-urls, validate-alerts

minor lint fixes
  docs/patroni/postgres.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: enable time series panel support for postgres dashboards
  dashboards/postgresql/pg-decomp.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
Due: test-periodic-queries

fix: adding missing fill paramerter to time series panels
  dashboards/ci-runners/dm-to-autoscaler-migration.dashboard.jsonnet
  dashboards/delivery/deployment_health.dashboard.jsonnet
  dashboards/general/egress_ingress.dashboard.jsonnet
  dashboards/kas/misc.dashboard.jsonnet
  dashboards/observability/dataingestion.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  dashboards/observability/ingress.dashboard.jsonnet
  dashboards/postgresql/pg-upgrade.dashboard.jsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  libsonnet/stage-groups/verify-runner/autoscaling_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/job_graphs.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

Notes added by 'git notes add'
  a1ecb9f5f7d67944a2398917fa9894bd6398975b
Due: none

Notes added by 'git notes add'
  d46de3622d58ed934744f30599ea1d67ecaedff6
Due: none

fix: adding missing drawStyle paramerter to time series panels
  dashboards/ci-runners/dm-to-autoscaler-migration.dashboard.jsonnet
  dashboards/gitaly/rebalancing.dashboard.jsonnet
  dashboards/logging/main.dashboard.jsonnet
  dashboards/patroni/marginalia-sampler.dashboard.jsonnet
  dashboards/runway/job.dashboard.jsonnet
  dashboards/sidekiq/concurrency.dashboard.jsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  libsonnet/stage-groups/verify-runner/api_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/job_graphs.libsonnet
Due: test-periodic-queries

fix: adding missing stack paramerter to time series panels
  dashboards/alerts/kube_containers_waiting.dashboard.jsonnet
  dashboards/ci-runners/dm-to-autoscaler-migration.dashboard.jsonnet
  dashboards/delivery/auto_deploy_packages.jsonnet
  dashboards/delivery/deployment_health.dashboard.jsonnet
  dashboards/kas/misc.dashboard.jsonnet
  dashboards/logging/main.dashboard.jsonnet
  dashboards/observability/dataingestion.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  dashboards/observability/ingress.dashboard.jsonnet
  dashboards/patroni/marginalia-sampler.dashboard.jsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  libsonnet/stage-groups/verify-runner/autoscaling_graphs.libsonnet
  libsonnet/stage-groups/verify-runner/job_graphs.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

docs: add cells provisioning guide
  docs/amp/README.md
  docs/api/README.md
  docs/cells/infra-development.md
  docs/cells/provisioning.md
  docs/console/README.md
  docs/mailgun/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix the details of the example run
  docs/cells/provisioning.md
Due: markdownlint, validate-kibana-urls, validate-alerts

add code blocks for the prepare error
  docs/cells/provisioning.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Remove kas ingress section
  docs/kas/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Notes added by 'git notes add'
  820402c42f3ed4c42cc18618ee543054ce97a51a
Due: none

fix: adding missing legend_hideEmpty paramerter to time series panels
  dashboards/general/egress_ingress.dashboard.jsonnet
  dashboards/observability/clickhouse.dashboard.jsonnet
  dashboards/observability/errortracking.dashboard.jsonnet
  libsonnet/gitlab-dashboards/kubernetes_pods_common.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/occurence-slas.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

review suggestions and fix the generated docs
  docs/amp/README.md
  docs/api/README.md
  docs/cells/provisioning.md
  docs/console/README.md
  docs/mailgun/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

review suggestion for style
  docs/cells/provisioning.md
Due: markdownlint, validate-kibana-urls, validate-alerts

fix: adding missing stableId paramerter to time series panels
  dashboards/ai-gateway/language.dashboard.jsonnet
  dashboards/alerts/kube_containers_waiting.dashboard.jsonnet
  dashboards/api/graphql.dashboard.jsonnet
  dashboards/cells/main.dashboard.jsonnet
  dashboards/git/main.dashboard.jsonnet
  dashboards/search/zoekt.dashboard.jsonnet
  dashboards/sidekiq/queue-detail.dashboard.jsonnet
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  dashboards/stage-groups/global_search.dashboard.jsonnet
  dashboards/stage-groups/pipeline_execution.dashboard.jsonnet
  dashboards/stage-groups/project_management.dashboard.jsonnet
  dashboards/stage-groups/static_analysis.dashboard.jsonnet
  dashboards/websockets/main.dashboard.jsonnet
  libsonnet/gitlab-dashboards/key_metrics.libsonnet
  libsonnet/gitlab-dashboards/kube_service_dashboards.libsonnet
  libsonnet/gitlab-dashboards/rails_controller_common.libsonnet
  libsonnet/gitlab-dashboards/saturation_detail.libsonnet
  libsonnet/grafana/time-series/panel.libsonnet
  libsonnet/key-metric-panels/single-metric-row.libsonnet
  libsonnet/key-metric-panels/time-series/apdex-panel.libsonnet
  libsonnet/key-metric-panels/time-series/error-ratio-panel.libsonnet
  libsonnet/key-metric-panels/time-series/operation-rate-panel.libsonnet
  libsonnet/key-metric-panels/time-series/utilization-rates-panel.libsonnet
  libsonnet/stage-groups/verify-continuous-integration/builds_queue_graphs.libsonnet
  reference-architectures/get-hybrid/config/dashboards/consul.json
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/gitlab-shell.json
  reference-architectures/get-hybrid/config/dashboards/kube.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/dashboards/redis.json
  reference-architectures/get-hybrid/config/dashboards/registry.json
  reference-architectures/get-hybrid/config/dashboards/sidekiq.json
  reference-architectures/get-hybrid/config/dashboards/triage.json
  reference-architectures/get-hybrid/config/dashboards/webservice.json
Due: test-periodic-queries

feat: add stage group panel in sidekiq worker page
  dashboards/sidekiq/worker-detail.dashboard.jsonnet
  libsonnet/grafana/basic.libsonnet
Due: test-periodic-queries

fix: remove pagespeed dashboard
  dashboards/general/pagespeed.json
Due: none

Notes added by 'git notes add'
  b189217c9ffa2b7b330d3099fbc1a5680915804f
Due: none

feat: add helper script to lookup the stage group for a given sidekiq worker
  scripts/sidekiq_help.sh
Due: none

Notes added by 'git notes add'
  6e340e3ed6c06f38ed289455af0cd3b16174d848
Due: none

docs: add cells patching guide
  docs/cells/patching.md
Due: markdownlint, validate-kibana-urls, validate-alerts

feat: Adding custom thresholds for sidekiq workers
  libsonnet/recording-rules/sidekiq-jobs-slos.libsonnet
  libsonnet/recording-rules/sidekiq-queue-rules.libsonnet
Due: test-periodic-queries

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
