Repository mattrussi/gitlab-com-runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-docker-image, markdownlint, rubocop, validate-service-catalog-schema, validate-service-mappings, check-stage-groups, rspec, reconcile-service-catalog-labels, validate-kibana-urls, update-elastic-ilm:log-gprd, update-elastic-watches:log-gprd, update-elastic-index-templates:log-gprd, update-elastic-cluster-settings:log-gprd, update-elastic-ilm:log-nonprod, update-elastic-watches:log-nonprod, update-elastic-index-templates:log-nonprod, update-elastic-cluster-settings:log-nonprod, update-elastic-cluster-settings:monitoring-es7, update-elastic-ilm:monitoring-es7, dry-run-pingdom-checks, deploy-pingdom-checks, validate-alerts, generate-prometheus-rules, validate-prom-rules, deploy-prometheus-rules:non-production, deploy-prometheus-rules:production, deploy-thanos-rules:staging, deploy-thanos-rules:production, test-periodic-queries

test-docker-image:
  image: docker:24.0.7
  tags:
  - gitlab-org-docker
  services:
  - docker:24.0.7-dind
  retry: 2
  variables:
    DOCKER_TLS_CERTDIR: ''
    IMAGE: ${CI_REGISTRY_IMAGE}
  ...

markdownlint:
  stage: validate
  needs: []
  script:
  - npm install
  - npm run markdownlint docs README.md

rubocop:
  stage: validate
  needs: []
  script:
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - bundle exec rubocop

validate-service-catalog-schema:
  stage: validate
  needs: []
  script:
  - npm install
  - ./scripts/compile_jsonnet.rb ./services/raw-catalog.jsonnet > ./services/service_catalog.json
  - npm run validate-service-catalog-schema -- -s ./services/service-catalog-schema.json -d ./services/service_catalog.json

validate-service-mappings:
  stage: validate
  needs: []
  script:
  - make validate-service-mappings

check-stage-groups:
  cache:
  - key:
      files:
      - jsonnetfile.lock.json
    paths:
    - vendor
  stage: test
  needs: []
  script:
  - make jsonnet-bundle update-feature-categories-ci
  - git diff --exit-code

rspec:
  stage: test
  needs:
  - job: prepare-service-health-dashboard-json
    artifacts: true
  script:
  - make jsonnet-bundle
  - gem install bundler --no-document -v $BUNDLER_VERSION
  - bundle install --with=test
  - cp service-health-dashboard-manifest/autogenerated-service-health-dashboards.json dashboards/
  ...

reconcile-service-catalog-labels:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  stage: deploy
  secrets:
    GITLAB_RECONCILE_SERVICE_LABELS_TOKEN:
      file: false
      vault: access_tokens/gitlab-com/gitlab-com/gl-infra/_group_access_tokens/runbooks-label-reconciler/token@ci
  script:
  ...

validate-kibana-urls:
  stage: validate
  needs: []
  script:
  - make validate-kibana-urls

update-elastic-ilm:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-watches:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

update-elastic-index-templates:log-gprd:
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://vault.gitlab.net
  secrets:
    MARQUEE_CUSTOMERS_TOP_LEVEL_DOMAINS:
      file: false
      vault: ${VAULT_SECRETS_PATH}/shared/marquee-customers/top_level_domains@ci
    ES_LOG_GPRD_URL:
      file: false
  ...

validate-alerts:
  stage: validate
  needs: []
  script:
  - make validate-alerts

validate-prom-rules:
  stage: validate
  needs:
  - job: generate-prometheus-rules
    artifacts: true
  script:
  - make validate-prom-rules

Update DR Documentation for EoCs and IMoCs
  docs/about/README.md
  docs/api/README.md
  docs/ci-runners/README.md
  docs/customersdot/README.md
  docs/disaster-recovery/README.md
  docs/disaster-recovery/recovery.md
  docs/frontend/README.md
  docs/gitaly/README.md
  docs/patroni/README.md
  docs/pgbouncer/README.md
  docs/redis/README.md
  docs/registry/README.md
  docs/web/README.md
  scripts/generate-reference-architecture-config.sh
Due: markdownlint, validate-kibana-urls, validate-alerts

Change channel name.
  elastic/managed-objects/log_gprd/watches/threat_insights_sbom_ingest_report_workers.jsonnet
  elastic/managed-objects/log_gprd/watches/threat_insights_storesecurityreportworker_failures.jsonnet
Due: update-elastic-watches:log-gprd

Notes added by 'git notes add'
  2c609611b5258b1d894c6e7244517719d1198938
Due: none

Notes added by 'git notes add'
  a5731bf8c299bd83f5de2aa29ec77df300596d13
Due: none

feat(logging): Remove marquee customer watches.
  .gitlab-ci.yml
  elastic/managed-objects/lib/update-scripts-functions.sh
Due: test-docker-image

adds changepoint so tamland saturation alerts recover more quickly
  metrics-catalog/services/patroni-ci.jsonnet
Due: none

Notes added by 'git notes add'
  e73065e68f60d9e7eb457cf78dbff4872e1791c3
Due: none

feat(logging): Fixed watch errors for new watches.
  elastic/managed-objects/log_gprd/watches/global_search_abusive_scopes.jsonnet
  elastic/managed-objects/log_gprd/watches/global_search_redacted_search_results.jsonnet
  elastic/managed-objects/log_gprd/watches/global_search_searchcontroller_high_db_count.jsonnet
  elastic/managed-objects/log_gprd/watches/threat_insights_sbom_ingest_report_workers.jsonnet
  elastic/managed-objects/log_gprd/watches/threat_insights_storesecurityreportworker_failures.jsonnet
Due: update-elastic-watches:log-gprd

Notes added by 'git notes add'
  6f55e4ad200d356a56404942417e053cf15e3b7e
Due: none

Notes added by 'git notes add'
  a6dbe56e2aa9dfba274a16111cb8c34907fe70be
Due: none

feat: add an SLI to ai-gateway for inferences using other providers
  metrics-catalog/services/ai-gateway.jsonnet
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-ai-gateway-service-slos.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-feature_category-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-regional_component-aggregation.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-service-level-alerts.yml
  mimir-rules/runway/ai-gateway/autogenerated-runway-ai-gateway-sli-aggregations.yml
Due: none

Reduce Sentry SLO
  .mise.toml
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

Notes added by 'git notes add'
  17b9807cf46348c3708364ca2ef4869ca9a07566
Due: none

dashboards: add dashboard for container registry teams' CI tool
  dashboards/registry-ci-tool/CI_Analitics.json
Due: none

Update teams.yml to reflect new stage name
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

Remove jsonnet-tool version
  .mise.toml
Due: none

feat(metrics-catalog): runway archetype tags
  libsonnet/service-archetypes/runway-archetype.libsonnet
Due: test-periodic-queries

feat(metrics-catalog): runway labkit go services
  metrics-catalog/services/sast-service.jsonnet
  metrics-catalog/services/topology-service-rest.jsonnet
Due: none

feat(saturation-monitoring): runway labkit go
  libsonnet/saturation-monitoring/runway_labkit_go.libsonnet
  metrics-catalog/saturation/all.libsonnet
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-metadata.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-metadata.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation.yml
Due: test-periodic-queries

refactor(metrics-catalog): reuse existing go_gorountine resource
  libsonnet/saturation-monitoring/go_goroutines.libsonnet
  libsonnet/saturation-monitoring/runway_labkit_go.libsonnet
  metrics-catalog/saturation/all.libsonnet
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-metadata.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-metadata.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation.yml
Due: test-periodic-queries

refactor(metrics-catalog): expand go_gorountine resource labels
  libsonnet/saturation-monitoring/go_goroutines.libsonnet
  mimir-rules/gitlab-gprd/gitaly/autogenerated-gitlab-gprd-gitaly-saturation-alerts.yml
  mimir-rules/gitlab-gprd/gitaly/autogenerated-gitlab-gprd-gitaly-saturation.yml
  mimir-rules/gitlab-gprd/monitoring/autogenerated-gitlab-gprd-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-gprd/monitoring/autogenerated-gitlab-gprd-monitoring-saturation.yml
  mimir-rules/gitlab-gprd/registry/autogenerated-gitlab-gprd-registry-saturation-alerts.yml
  mimir-rules/gitlab-gprd/registry/autogenerated-gitlab-gprd-registry-saturation.yml
  mimir-rules/gitlab-gprd/web-pages/autogenerated-gitlab-gprd-web-pages-saturation-alerts.yml
  mimir-rules/gitlab-gprd/web-pages/autogenerated-gitlab-gprd-web-pages-saturation.yml
  mimir-rules/gitlab-gstg/gitaly/autogenerated-gitlab-gstg-gitaly-saturation-alerts.yml
  mimir-rules/gitlab-gstg/gitaly/autogenerated-gitlab-gstg-gitaly-saturation.yml
  mimir-rules/gitlab-gstg/monitoring/autogenerated-gitlab-gstg-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-gstg/monitoring/autogenerated-gitlab-gstg-monitoring-saturation.yml
  mimir-rules/gitlab-gstg/registry/autogenerated-gitlab-gstg-registry-saturation-alerts.yml
  mimir-rules/gitlab-gstg/registry/autogenerated-gitlab-gstg-registry-saturation.yml
  mimir-rules/gitlab-gstg/web-pages/autogenerated-gitlab-gstg-web-pages-saturation-alerts.yml
  mimir-rules/gitlab-gstg/web-pages/autogenerated-gitlab-gstg-web-pages-saturation.yml
  mimir-rules/gitlab-ops/monitoring/autogenerated-gitlab-ops-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-ops/monitoring/autogenerated-gitlab-ops-monitoring-saturation.yml
  mimir-rules/gitlab-pre/gitaly/autogenerated-gitlab-pre-gitaly-saturation-alerts.yml
  mimir-rules/gitlab-pre/gitaly/autogenerated-gitlab-pre-gitaly-saturation.yml
  mimir-rules/gitlab-pre/monitoring/autogenerated-gitlab-pre-monitoring-saturation-alerts.yml
  mimir-rules/gitlab-pre/monitoring/autogenerated-gitlab-pre-monitoring-saturation.yml
  mimir-rules/gitlab-pre/registry/autogenerated-gitlab-pre-registry-saturation-alerts.yml
  mimir-rules/gitlab-pre/registry/autogenerated-gitlab-pre-registry-saturation.yml
  mimir-rules/gitlab-pre/web-pages/autogenerated-gitlab-pre-web-pages-saturation-alerts.yml
  mimir-rules/gitlab-pre/web-pages/autogenerated-gitlab-pre-web-pages-saturation.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation-alerts.yml
  mimir-rules/runway/sast-service/autogenerated-runway-sast-service-saturation.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation-alerts.yml
  mimir-rules/runway/topology-rest/autogenerated-runway-topology-rest-saturation.yml
  reference-architectures/get-hybrid/config/dashboards/gitaly.json
  reference-architectures/get-hybrid/config/dashboards/praefect.json
  reference-architectures/get-hybrid/config/prometheus-rules/auxiliary-rules.yml
  reference-architectures/get-hybrid/config/prometheus-rules/saturation-rules.yml
  reference-architectures/get-hybrid/config/tamland/manifest.json
Due: test-periodic-queries

Update teams.yml
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, validate-alerts

feat(deps): update dependency gitlab-com/gl-infra/jsonnet-tool to v1.16.1
  .gitlab-ci-asdf-versions.yml
  .tool-versions
Due: test-docker-image

Notes added by 'git notes add'
  974380133637b189f9d4877e68ce4163ec52f314
Due: none

Fix incorrect type label on Sentry CloudSQL metric
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

fix: remove the global label from occurrence SLA dashboard
  dashboards/general/occurence-slas.jsonnet
Due: none

Notes added by 'git notes add'
  054fc02843f4a4f70d12ca08e4dd8f2e7e0269ce
Due: none

add patroni-sec dashboard
  dashboards/patroni-sec/main.dashboard.jsonnet
Due: none

Remove unused Redis SLI
  metrics-catalog/services/sentry.jsonnet
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-component-aggregation.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sentry-service-slos.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-service-level-alerts.yml
  mimir-rules/gitlab-ops/sentry/autogenerated-gitlab-ops-sentry-sli-aggregations.yml
Due: none

chore: sync stages
  dashboards/stage-groups/duo_workflow.dashboard.jsonnet
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gprd/autogenerated-gitlab-gprd-stage-group-ignored-components.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-feature-category-mapping.yml
  mimir-rules/gitlab-gstg/autogenerated-gitlab-gstg-stage-group-ignored-components.yml
  services/stage-group-mapping-overrides.jsonnet
  services/stage-group-mapping-with-overrides_test.jsonnet
  services/stage-group-mapping.jsonnet
  services/teams.yml
Due: validate-service-catalog-schema, validate-service-mappings, check-stage-groups, validate-alerts

feat: Add tooling links to the http-router dashboard
  libsonnet/toolinglinks/cloudflare.libsonnet
  libsonnet/toolinglinks/toolinglinks.libsonnet
  metrics-catalog/services/http-router.jsonnet
Due: test-periodic-queries

Notes added by 'git notes add'
  c56f39ba18df3ed4d644371b5f1a2b1d9ed78d31
Due: none

chore(wip): file name needs to uncache
  dashboards/postgres-ai/postgres-aggregated-query-performance-analysis.json
Due: none

chore(wip): shorten filename to shorten UID
  dashboards/postgres-ai/postgres-agg-query-perf-analysis.json
Due: none

chore(wip): shorten filename to shorten UID even further
  dashboards/postgres-ai/agg-query-perf-analysis.json
Due: none

Update runbook instructions for importing Cloudflare http logs into BigQuery
  docs/cloudflare/logging.md
  docs/cloudflare/schema-http.json
Due: markdownlint, validate-kibana-urls, validate-alerts

chore: Excluding quarantine shard from capacity planning
  metrics-catalog/services/lib/sidekiq-helpers.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
Due: none

Add registry DB load balancing metrics
  dashboards/registry/database.dashboard.jsonnet
Due: none

docs: http-router deployments
  docs/http-router/README.md
  docs/http-router/deployments.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Path conditions:
  test-docker-image: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  markdownlint: any of: **/*.md
  rubocop: any of: **/*.rb
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-service-mappings: any of: services/**/*
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  rspec: any of: **/*.rb
  reconcile-service-catalog-labels: any of: services/service-catalog.yml
  validate-kibana-urls: any of: **/*.md
  update-elastic-ilm:log-gprd: any of: elastic/managed-objects/log_gprd/ILM/*
  update-elastic-watches:log-gprd: any of: elastic/managed-objects/log_gprd/watches/*
  update-elastic-index-templates:log-gprd: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-gprd: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update-elastic-ilm:log-nonprod: any of: elastic/managed-objects/nonprod-log/ILM/*
  update-elastic-watches:log-nonprod: any of: elastic/managed-objects/nonprod-log/watches/*
  update-elastic-index-templates:log-nonprod: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update-elastic-cluster-settings:log-nonprod: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update-elastic-cluster-settings:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update-elastic-ilm:monitoring-es7: any of: elastic/managed-objects/monitoring-es7/ILM/*
  dry-run-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  deploy-pingdom-checks: any of: pingdom/go.mod, pingdom/go.sum, pingdom/pingdom.go, pingdom/pingdom.yml
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  generate-prometheus-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*, thanos-staging-rules/**/*
  deploy-prometheus-rules:non-production: any of: rules/**/*
  deploy-prometheus-rules:production: any of: rules/**/*
  deploy-thanos-rules:staging: any of: thanos-staging-rules/**/*, thanos-rules/**/*
  deploy-thanos-rules:production: any of: thanos-rules/**/*
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
